<div class="markdown-chart-container panel--bottom-mar print--avoid-break">
  <h4 class="flush--third--vertical">{{{sub (sup title)}}}</h4>
    {{#if subtitle}}
        <h5 class="flush--third--bottom">{{{sub (sup subtitle)}}}</h5>
    {{/if}}
  <div id="chart-{{filename}}" data-filename="{{filename}}" data-uri="{{uri}}" class="markdown-chart">
      <!--[if gt IE 8]><!--><noscript><![endif]-->
      <img src="/chartimage?uri={{uri}}&width={{width}}" alt="{{alt-text}}">
      <!--[if gt IE 8]><!--></noscript><![endif]-->
  </div>
  {{#if source}}<h5 class="flush--third--bottom font-size--h6">Source: {{source}}</h5>{{/if}}
  {{#if notes}}
      <h6 class="flush--third--bottom">Notes:</h6>
      {{md notes}}
  {{/if}}
  
    <h5 class="print--hide font-size--h6">Download this chart</h5>

    <a class="btn btn--primary download-chart-image" href="/chartimage?uri={{uri}}">Image</a>
    {{> partials/highcharts/download format='csv'}}
    {{> partials/highcharts/download format='xls'}}
</div>
