{{#if_eq chartType "small-multiples"}}


  <div class="markdown-chart-container panel--bottom-mar print--avoid-break">
          <h4 class="flush--third--vertical">{{{sub (sup title)}}}</h4>
          {{#if subtitle}}
              <h5 class="flush--third--bottom">{{{sub (sup subtitle)}}}</h5>
          {{/if}}
   <div class="sm-multiple-holder">
  {{#each series}}
    <div class="sm-multiple">
        
      <div id="chart-{{filename}}-{{@index}}" data-filename="{{filename}}" data-uri="{{uri}}" class="markdown-chart" data-series="{{this}}">
        <!--[if gt IE 8]><!--><noscript><!--[endif]-->
        <img src="/chartimage?uri={{uri}}&width={{width}}" alt="{{alt-text}}" />
        <!--[if gt IE 8]><!--></noscript><!--[endif]-->
      </div>
    </div>
  {{/each}}
  </div>


{{else}}


  {{#if_eq chartType "table"}}
  <div class="markdown-table-container panel--bottom-mar print--avoid-break">
    <h4 class="flush--third--vertical">{{{sub (sup title)}}}</h4>
    {{#if subtitle}}
        <h5 class="flush--third--bottom">{{{sub (sup subtitle)}}}</h5>
    {{/if}}

    <table class="t1 table-chart">
      <thead>
          <tr>
              {{#each headers}}<th scope ='col'>{{{sub (sup this)}}}</th>{{/each}}
          </tr>
      </thead>
      <tfoot>
          <tr>
              {{!-- //footer goes here --}}
          </tr>
      </tfoot>

      <tbody>
      {{#each data as |datum line|}}
          <tr>
              <th class="left" scope='row'>{{lookup ../categories @index}}</th>{{#each series as |header col|}}
              <td>{{num (lookup this header)}}</td>{{/each}}
          </tr>
          {{/each}}
      </tbody>
    </table>

  {{else}}

    <div class="markdown-chart-container panel--bottom-mar print--avoid-break">

      <h4 class="flush--third--vertical">{{{sub (sup title)}}}</h4>
        {{#if subtitle}}
            <h5 class="flush--third--bottom">{{{sub (sup subtitle)}}}</h5>
        {{/if}}

      <div class="scrollable-container">
        <div id="chart-{{filename}}" data-filename="{{filename}}" data-uri="{{uri}}" class="markdown-chart">
            <!--[if gt IE 8]><!--><noscript><!--[endif]-->
            <img src="/chartimage?uri={{uri}}&width={{width}}&hideSource=true" alt="{{alt-text}}" />
            <!--[if gt IE 8]><!--></noscript><!--[endif]-->
        </div>
      </div>
  
  {{/if_eq}}


{{/if_eq}}



  {{#if source}}<h5 class="flush--third--bottom font-size--h6 clear-left">Source: {{source}}</h5>{{/if}}
      <div id="notes-{{filename}}" class="notes-holder-js">
  {{#if notes}}
      <h6 class="flush--third--bottom js-notes-title">Notes:</h6>
      {{md notes}}
  {{/if}}
      </div>
  
    <h5 class="print--hide font-size--h6 clear-left"><span role="text">Download this chart <span class="visuallyhidden">{{title}}</span></span></h5>
{{#if_ne chartType "small-multiples"}}
    <a class="btn btn--primary print--hide js-chart-image-src" data-filename="{{filename}}" href="/chartimage?uri={{uri}}" download="{{{sub (sup title)}}}" data-gtm-title="{{{sub (sup title)}}}" data-gtm-type="download-chart-image"  aria-label="Download {{title}} as an image">Image</a>
      {{else}}
    {{#unless is_publishing}}
        <a class="btn btn--primary print--hide js-chart-image-src" id="export-png" aria-label="Download {{title}} as an image">Image</a>
    {{/unless}}
{{/if_ne}}
    {{> partials/highcharts/download format='csv'}}
    {{> partials/highcharts/download format='xls'}}

</div>
