<a class="btn btn--primary print--hide" title="Download as {{format}}"
    href="/generator?uri={{uri}}&format={{format}}" 
    data-gtm-title="{{{sub (sup title)}}}" 
    data-gtm-type="download-chart-{{format}}"
    data-gtm-download-file="timeseries-generated-file"
    data-gtm-download-type="{{format}}"
    aria-label="Download {{title}} as {{format}}"
>
    .{{format}}
</a>