<div class="sparkline" style="height:100%" data-sparkline-{{description.cdid}} data-uri="{{uri}}">

    <!--[if gt IE 8]><!--><noscript><![endif]-->
	    <img class="{{#if_eq type 'home_page'}}stat__image--home{{else}}full-width{{/if_eq}}" class="js-enhance--hide" src="{{uri}}/sparklineimage">
    <!--[if gt IE 8]><!--></noscript><![endif]-->
</div>
{{!-- Dynamically generated linechart configuration file --}}
<script type="text/javascript" src="{{uri}}/sparklineconfig"></script>