<div class="clickable-wrap">
	<li class="col {{#if (eq highlightedLinks.size 2)}}col--md-half col--lg-half{{/if}} tiles__item tiles__item--nav-type-fixed">
		<h3 class="tiles__title-h3 tiles__title-h3--nav">
			<a href="{{uri}}">{{description.title}}{{#if description.edition}}: {{description.edition}}{{/if}}</a>
		</h3>
		<div class="tiles__content tiles__content--nav">
			<p>{{#if description.summary}}{{description.summary}}{{else}}description._abstract{{/if}}</p>
		</div>
	</li>
</div>
