<head>
	<link rel="stylesheet" href="../../node_modules/ONS-Pattern-Library/dist/css/main.min.css"/>
	<script src="../../node_modules/ONS-Pattern-Library/dist/js/header.js"></script>
</head>

<div class="page-header slate">
	<div class="wrapper [panel--small]" >
		<ol class="nav nav--heavy breadcrumb breadcrumb_hero mini">
			<li>
				Need to add breadcrumb partial
			</li>
		</ol>
		<!-- /breadcrumb -->
	</div>
	<!-- /wrapper -->

	<div class="wrapper">
	  <h1 class="page-header__title flush--half--bottom">{{name}}</h1>
	  <div class="lede content-reveal">
			<p>
				{{{lede}}}
			</p>
		</div>
		<!-- /lede -->

		<div class="grid-wrap">
			<div class="grid-col tablet-grid-one-half headline--box-container">
				<div class="box--padded solid panel--bottom-mar">
					<h2>Latest data</h2>
					<header class="box___section">
							<h3 class="navpanel-list-heading lede box--padded-bottom-small">
								<a href="">{{headline.name}}</a>
							</h3>
					</header>
					<div class="grid-wrap">
							<div class="grid-col grid-two-thirds">
									<div class="box box--padded--small headline--stat-centred">
											[sparkline goes here]
									</div>
							</div>
							<div class="grid-col grid-one-third">
									<div class="stat">
											<div class="stat__figure ">
													<div>
															{{headline.figure}}<span class="stat__figure__unit">{{headline.unit}}</span>
													</div>
													<div class="stat__description">
														{{headline.period}}
													</div>
											</div>
									</div>
									<dl class="micro definition-list definition-list--inline flush--half--vertical">
											<dt>Last updated:</dt>
											<dd>{{headline.lastUpdate}}</dd>
											<dt>Next update:</dt>
											<dd class="[red_highlight]">{{headline.nextUpdate}}</dd>
									</dl>
							</div>
							<!-- /grid-col -->
					</div>
					<!-- /grid-wrap -->
				</div>
				<!-- /box--padded -->
        <a href="#" class="btn btn--primary">view latest data
            <span class="icon icon-down-open-big icon--button-inline"></span>
        </a>
			</div>
			<!-- /grid-col -->

			<div class="grid-col tablet-grid-one-half headline--box-container">
				<div class="panel--bottom-mar box--padded solid">
					<h2>Latest statistical bulletin</h2>
					<header class="box___section">
							<h3 class="navpanel-list-heading lede box--padded-bottom-small">
							<a href="{{statsBulletinHeadline.uri}}">{{statsBulletinHeadline.name}}</a>
							</h3>
					</header>
					<h3>What's in the bulletin?</h3>
					<ul class="list--bullet mini flush--half--top navpanel-list headline--box-container-text">
						{{#each statsBulletinHeadline.data}}
						<li>
							{{item}}
						</li>
						{{/each}}
					</ul>
				</div>
				<a href="#" class="btn btn--primary">view latest reports
					<span class="icon icon-down-open-big icon--button-inline"></span>
				</a>
			</div>
			<!-- /grid-col -->
		</div>
		<!-- /grid-wrap -->
	</div>
	<!-- /wrapper -->
</div>
<!-- /page-header -->

<!-- Body sections -->
<section class="panel wrapper panel--bottom-mar">
	<div class="box box--green box--green--separated--left" >
		<div class="box__inner border box--padded">
			<div class="box__section">
			</div>
			<!-- /box-section -->
		</div>
		<!-- /box__inner -->
	</div>
	<!-- /box -->
</section>
<!-- /panel wrapper -->
