<!DOCTYPE html>
<html>
	<head>
		<title>Search Experiment</title>
		<link rel="stylesheet" type="text/css" href="{{#if is_dev}}http://localhost:9000/dist/css/main.css{{else}}/node_modules/sixteens/dist/css/main.css{{/if}}">
	</head>
	<body>
		<div class="search search--results-page print--hide" id="searchBar">
			<div class="wrapper">
				<form class="col-wrap search__form" id="searchBar"  {{#if_any (eq listType "searchdata") (eq listType "searchpublication")}}action="{{location.pathname}}"{{else}}action="/searchtest"{{/if_any}}>
					<label for="nav-search"><h1>Search for keyword(s) or time series ID</h1></label>
					<input type="search" autocomplete="off" class="search__input search__input--results-page col col--md-29 col--lg-29" id="nav-search" name="q" value="{{parameters.q.0}}">
					<button type="submit" class="search__button search__button--results-page col--md-3 col--lg-3" id="nav-search-submit">
					<span class="visuallyhidden"{>{{labels.search}}</span>
					<span class="icon icon-search--light"></span>
					</button>
				</form>
			</div>
		</div>

		{{alt contents.numberOfResults 0}} results in {{contents.took}} ms. Showing first 50 results

		{{#if featured.results.0}}
			<div class="headline-result clickable-wrap col-wrap">
				{{#resolve featured.results.0.uri}}
					<div class="col col--md-36 col--lg-40 tiles__item">
						{{!-- Sparkline --}}
						<div class="col col--md-17 col--lg-20">
							{{#resolve items.0.uri assign="series" filter="series"}}
								<a href="{{../uri}}">
									<div class="tiles__image--search-sparkline">
										{{>partials/highcharts/sparkline}}
									</div>
								</a>
							{{/resolve}}
						</div>
						{{!-- Summary --}}
						<div class="col {{#if series}}col--md-17 col--lg-20 tiles__item--nav-type-fixed{{else}}col--md-34 col--lg-40 tiles__item--nav-type{{/if}}">
							<h3 class="tiles__title-h3 tiles__title-h3--nav"><a href="{{uri}}">{{{featured.results.0.description.title}}}</a></h3>
							<div class="tiles__content tiles__content--nav">
								<p>{{{featured.results.0.description.summary}}}</p>
							</div>
						</div>
					</div>
				{{/resolve}}
			</div>
		{{/if}}


		{{#each contents.results}}
		<li class="search-results__item">
			{{> list/partials/results-title showEdition=true}}
			{{> list/partials/results-meta}}
			{{> list/partials/results-summary}}
			{{> list/partials/results-keywords}}
		</li>
		{{/each}}
	</body>
</html>