{{#partial "block-title-wrapper"}}
{{/partial}}

{{#partial "block-search-bar"}}
	{{> list/partials/search-header}}
	<div class="background--ship-gray padding-top-sm--2">
		<div class="wrapper">
			{{> list/partials/tabs}}
		</div>
	</div>
{{/partial}}

{{#partial "block-list-tabs"}}
	{{> list/partials/search-tabs docCounts=counts.docCounts total=counts.numberOfResults}}
{{/partial}}

{{#partial "block-filters"}}
	{{> list/filters/all-results docCounts=counts.docCounts}}
	<input class="sort__input" type="hidden" name="q" value="{{parameters.q.0}}">
{{/partial}}

{{#partial "block-featured-result"}}



{{!-- HEADLINE RESULTS --}}
{{#if featuredResult.results.0}}
	<div class="search-results__headline js-hover-click">
		{{#resolve featuredResult.results.0.uri}}
            {{!-- Sparkline --}}
            <div class="col col--md-17 col--lg-20">
                {{#resolve items.0.uri assign="series" filter="series"}}
                {{!-- <a href="{{../uri}}"> --}}
                        <div class="height--31 width-md--17 width-lg--20 border-top--iron-light-md border-right--iron-light-md border-bottom--iron-light-md border-left--iron-light-md flush image-background">
                            {{>partials/highcharts/sparkline}}
                        </div>
                {{!-- </a> --}}
                {{/resolve}}
            </div>
            {{!-- Summary --}}
            <div class="col {{#if series}}col--md-17 col--lg-20 height--31-indented-ellipsis{{else}}col--md-34 col--lg-40 height--31{{/if}} background--mercury">
                <div class="min-height--10 background--gallery padding-top--2 padding-left--1 padding-right--1">
                    <h3 class="flush"><a href="{{uri}}">{{{featuredResult.results.0.description.title}}}</a></h3>
                </div>
                <div class="box__content padding-top--1 padding-right--1 padding-bottom--1 padding-left--1 border-top--iron-sm border-top--iron-md">
                    <p>{{#if featuredResult.results.0.description.summary}}{{{featuredResult.results.0.description.summary}}}{{else}}{{{featuredResult.results.0.description.metaDescription}}}{{/if}}</p>
                </div>
            </div>
		{{/resolve}}
	</div>
{{/if}}

{{!-- External departments link --}}
{{> list/partials/department}}

{{/partial}}


{{!-- Inheriting from base list template --}}
{{> list/base/list tabs=true}}