<main id="main" role="main" tabindex="-1">
{{!-- {{#if parameters.q.0}} --}}
<h1 class="visuallyhidden">Search results</h1>
{{!-- {{json this}} --}}
<div class="page-content">
	<div class="wrapper">
		<form>
			<input class="sort__input" type="hidden" name="q" value="{{parameters.q.0}}">
			<div class="col-wrap print-hidden">
				<div class="col col--md-37 col--lg-46 margin-left">
					&nbsp;
				</div>
				<div class="col col--md-10 col--lg-13">
					{{> list/filters/sort}}
				</div>
			</div>
			{{!-- FILTERS --}}
			<div class="col col--md-12 col--lg-18 margin-bottom">
				<div class="tiles__title-h3 tiles__title-h3--nav">
					<h3 class="inline">Refine results</h3>
					<a href="/search?q={{parameters.q.0}}" value="Reset" class="btn btn--primary btn--thin btn--narrow btn--small float-right">{{labels.search-refine-clear}}</a>
				</div>
				<div class="tiles__content tiles__content--nav">
					<h4>{{labels.search-refine-types}}</h4>
					<ul class="list--neutral">
						<li>
							<input type="checkbox" name="filter" value="bulletin" id="checkbox-statsbulletin" {{#contains parameters.filter 'bulletin'}}checked{{/contains}} >
							<label for="checkbox-statsbulletin">
								{{labels.bulletin}}
							</label>
						</li>
						<li>
							<input type="checkbox" name="filter" value="article" id="checkbox-article" {{#contains parameters.filter 'article'}}checked{{/contains}}>
							<label for="checkbox-article">
								{{labels.article}}
							</label>
						</li>
						<li>
							<input type="checkbox" name="filter" value="compendia" id="checkbox-compendia" {{#contains parameters.filter 'compendia'}}checked{{/contains}}>
							<label for="checkbox-compendia">
								Compendia
							</label>
						</li>
						{{!-- <li>
							<input type="checkbox" name="timeseries" value="1" id="checkbox-timeseries" {{#if parameters.timeseries}}checked{{/if}}>
							<label for="checkbox-timeseries">
								Time series
							</label>
						</li> --}}
						<li>
							<input type="checkbox" name="filter" value="large_dataset" id="checkbox-dataset" {{#contains parameters.filter 'large_dataset'}}checked{{/contains}}>
							<label for="checkbox-dataset">
								Large datasets
							</label>
						</li>
						<li>
							<input type="checkbox" name="filter" value="methodology" id="checkbox-methodology" {{#contains parameters.filter 'methodology'}}checked{{/contains}} >
							<label for="checkbox-methodology">
								{{labels.methodology}}
							</label>
						</li>
					</ul>
					<p class="flush-bottom">{{labels.search-expand}}:</p>
					<input type="checkbox" name="includeStatics" value="1" id="checkbox-all-content" {{#if parameters.includeStatics.0}}checked{{/if}}>
					<label for="checkbox-all-content">
						{{labels.search-expand-all}}</br>
						({{labels.search-expand-types}})
					</label>
					<button type="submit" class="btn btn--primary btn--block btn--thick margin-top">{{labels.search-filter}}</button>
				</div>
			</div>
			{{!-- RESULTS --}}
			<div class="results col col--md-34 col--lg-40 margin-left">
				{{> list/partials/search-results-text}}
				{{!-- HEADLINE RESULTS --}}
				{{#resolve featuredResult.results.0.uri assign="featured" }}
				<div class="col col--md-36 col--lg-40 tiles__item flush-col">
					{{!-- Sparkline --}}
					<div class="col col--md-17 col--lg-20">
						{{#resolve items.0.uri assign="series" filter="series"}}
						<a href="{{../uri}}">
							<div class="tiles__image--search-sparkline">
								{{>partials/highcharts/sparkline}}
							</div>
						</a>
						{{/resolve}}
					</div>
					{{!-- Summary --}}
					<div class="col {{#if series}}col--md-17 col--lg-20{{else}}col--md-34 col--lg-40{{/if}} tiles__item--nav-type-fixed">
						<h3 class="tiles__title-h3 tiles__title-h3--nav"><a href="{{uri}}">{{{featuredResult.results.0.description.title}}}</a></h3>
						<p class="tiles__content tiles__content--nav">{{{featuredResult.results.0.description.summary}}}</p>
					</div>
				</div>
				{{/resolve}}
				{{#if results}}
				{{!-- MAIN RESULTS --}}
				<!-- /desktop-grid-one-third -->
				{{> list/partials/results}}
				{{> list/partials/paginator}}
				<!-- /desktop-grid-two-thirds -->
				{{/if}}
			</div>
		</div>
	</form>
</div>
{{!-- {{/if}} --}}
</main>
