{{#partial "block-main"}}
{{!-- {{#if parameters.q.0}} --}}
{{!-- {{json this}} --}}
<div class="tab">
    <div class="wrapper">
        <ul class="list--neutral list--inline flush">
            <li>
                <a href="/search?q={{parameters.q.0}}" class="tab__item tab__item--active">
                    Search results
                </a>
            </li>
            <li>
                <a href="/dataexplorer?q={{parameters.q.0}}" class="tab__item">
                    Explore our data
                </a>
            </li>
        </ul>
    </div>
</div> {{!-- /tab --}}
<div class="page-content">
	<div class="wrapper">
		<form>
			<div class="col-wrap print-hidden">
				<div class="col">
                    <div class="col col--md-28 col--lg-38">
                        <h1 class="search-page__title">Search results</h1>
                        {{> list/partials/search-results-text-number result}}
                    </div>
                    {{#if result.results}}
                        <div class="float-right">
                            {{> list/filters/sort}}
                        </div>
                    {{/if}}
				</div>
			</div>
			{{!-- FILTERS --}}
            {{#if_any result.results parameters.filter parameters.time_series}}
			<div class="col col--md-12 col--lg-18 margin-bottom">
				<input class="sort__input" type="hidden" name="q" value="{{parameters.q.0}}">
				<div class="tiles__title-h3 tiles__title-h3--nav">
					<h3 class="inline">Refine results</h3>
					<a href="{{location.pathname}}?q={{parameters.q.0}}" value="Reset" class="btn btn--primary btn--thin btn--narrow btn--small float-right">{{labels.search-refine-clear}}</a>
				</div>
				<div class="tiles__content tiles__content--nav">
                    <div class="filters">
                        <h4 class="filters__title">{{labels.search-refine-types}}</h4>
                        <h5 class="filters__sub-title">Publications</h5>
                        <ul class="list--neutral flush-top">
                            <li class="filters__item">
                                <div class="filters__field">
                                    <input type="checkbox" name="filter" value="bulletin" id="checkbox-statsbulletin" {{#contains parameters.filter 'bulletin'}}checked{{/contains}} >
                                    <label for="checkbox-statsbulletin">
                                        {{labels.bulletin}}
                                    </label>
                                </div>
                            </li>
                            <li class="filters__item">
                                <div class="filters__field">
                                    <input type="checkbox" name="filter" value="article" id="checkbox-article" {{#contains parameters.filter 'article'}}checked{{/contains}}>
                                    <label for="checkbox-article">
                                        {{labels.article}}
                                    </label>
                                </div>
                            </li>
                            <li class="filters__item">
                                <div class="filters__field">
                                    <input type="checkbox" name="filter" value="compendia" id="checkbox-compendia" {{#contains parameters.filter 'compendia'}}checked{{/contains}}>
                                    <label for="checkbox-compendia">
                                        Compendia
                                    </label>
                                </div>
                            </li>
                        </ul>
                        <h5 class="filters__sub-title">Data</h5>
                        <ul class="list--neutral flush-top">
                            <li class="filters__item">
                                <div class="filters__field">
                                    <input type="checkbox" name="time_series" value="1" id="checkbox-timeseries" {{#if parameters.time_series}}checked{{/if}}>
                                    <label for="checkbox-timeseries">
                                        Time series data
                                    </label>
                                </div>
                            </li>
                            <li class="filters__item">
                                <div class="filters__field">
                                    <input type="checkbox" name="filter" value="large_dataset" id="checkbox-dataset" {{#contains parameters.filter 'large_dataset'}}checked{{/contains}}>
                                    <label for="checkbox-dataset">
                                        Spreadsheets
                                    </label>
                                </div>
                            </li>
                        </ul>
                        <h5 class="filters__sub-title">Other</h5>
                        <ul class="list--neutral flush-top">
                            <li class="filters__item">
                                <div class="filters__field">
                                    <input type="checkbox" name="filter" value="methodology" id="checkbox-methodology" {{#contains parameters.filter 'methodology'}}checked{{/contains}} >
                                    <label for="checkbox-methodology">
                                        {{labels.methodology}}
                                    </label>
                                </div>
                            <li class="filters__item">
                        </ul>
                        <p class="margin-bottom-sm--1 margin-bottom-md--1">{{labels.search-expand}}:</p>
                        <div class="filters__field">
                            <input type="checkbox" name="includeStatics" value="1" id="checkbox-all-content" {{#if parameters.includeStatics.0}}checked{{/if}}>
                            <label for="checkbox-all-content">
                                    {{labels.search-expand-all}}</br>
                                ({{labels.search-expand-types}})
                            </label>
                        </div>
					<button type="submit" class="btn btn--primary btn--thick margin-top-sm--2 margin-top-md--2">{{labels.search-filter}}</button>
				</div>
			</div>
		</div>
        {{/if_any}}
		{{!-- RESULTS --}}
            <div class="results col col--md-34 col--lg-40 {{#if_any result.results parameters.filter parameters.time_series}}margin-left-md--1{{/if_any}}">
            {{> list/partials/search-results-text-help result}}

				{{!-- HEADLINE RESULTS --}}
				{{#if showFeaturedResult}}
                <div class="headline-result clickable-wrap">
				{{#resolve featuredResult.results.0.uri}}
				<div class="col col--md-36 col--lg-40 tiles__item flush-col flush-top">
					{{!-- Sparkline --}}
					<div class="col col--md-17 col--lg-20">
						{{#resolve items.0.uri assign="series" filter="series"}}
						<a href="{{../uri}}">
							<div class="tiles__image--search-sparkline">
								{{>partials/highcharts/sparkline}}
							</div>
						</a>
						{{/resolve}}
					</div>
					{{!-- Summary --}}
					<div class="col {{#if series}}col--md-17 col--lg-20 tiles__item--nav-type-fixed{{else}}col--md-34 col--lg-40 tiles__item--nav-type{{/if}}">
						<h3 class="tiles__title-h3 tiles__title-h3--nav"><a href="{{uri}}">{{{featuredResult.results.0.description.title}}}</a></h3>
						<div class="tiles__content tiles__content--nav">
                            <p>{{{featuredResult.results.0.description.summary}}}</p>
                        </div>
					</div>
				</div>
				{{/resolve}}
                </div>
				{{/if}}
			{{!-- MAIN RESULTS --}}
			<!-- /desktop-grid-one-third -->
			<div class="search-results">
				{{> list/partials/results}}
			</div>
			{{> list/partials/paginator}}
			<!-- /desktop-grid-two-thirds -->
		</div>
	</form>
</div>
</div>
{{!-- {{/if}} --}}
{{/partial}}
{{!-- Inheriting from base list template --}}
{{> list/base/list}}