<main id="main" role="main" tabindex="-1">
{{!-- {{#if parameters.q.0}} --}}
<h1 class="visuallyhidden">Search results</h1>
{{!-- {{json this}} --}}
<div class="page-content">
	<div class="wrapper">
		<form>
			<input class="sort__input" type="hidden" name="q" value="{{parameters.q.0}}">
			{{!-- NUMBER OF RESULTS --}}
			<div class="col-wrap margin-bottom">
				{{#if results}}
					<div class="col col--md-37 col--lg-46 margin-left">
					<h2>
						{{#if suggestionBased}}
						{{labels.search-no-results}} '{{parameters.q.0}}'.
						</br>
						{{labels.search-showing-lrg}} {{numberOfResults}} {{labels.search-result}} '{{suggestion}}'
						{{#if types}}
						{{labels.search-showing-sml}}
						{{#each types}}
						{{#if_eq this 'bulletin'}}
						statistical bulletin
						{{/if_eq}}
						{{#if_eq this 'compendium_landing_page'}}
						compendia
						{{/if_eq}}
						{{#if_ne this 'bulletin'}}
						{{this}}
						{{/if_ne}}
						{{/each}}
						{{/if}}. {{!-- /if types --}}
						{{else}}
						{{numberOfResults}} {{labels.search-result}} '{{parameters.q.0}}'
						{{#if parameters.type}}
						{{labels.search-showing-sml}}
						{{#each parameters.type}}
						{{#if_eq this 'bulletin'}}
						statistical bulletins
						{{/if_eq}}
						{{#if_ne this 'bulletin'}}
						{{this}}
						{{/if_ne}}
						{{/each}}
						{{/if}}. {{!-- /if parameters.type --}}
						{{/if}} {{!-- /if suggestionBased --}}
					</h2>
					</div>
					<div class="col col--md-10 col--lg-13">
					{{> list/filters/sort}}
					</div>
				{{else}}
					<div class="col">
						<p>
							{{labels.search-no-results}} '{{parameters.q.0}}'.
						</p>
					</div>
				{{/if}} {{!-- /if results --}}
			</div>
			{{!-- FILTERS --}}
			<div class="col col--md-12 col--lg-18 margin-bottom">
				<div class="col col--md-10 col--lg-12">
					<h3 class="tiles__title-h3 tiles__title-h3--nav">Refine results</h3>
				</div>
				<div class="col col--md-6 col--lg-6 tiles__title-h3 tiles__title-h3--nav">
					<a href="/search?q={{parameters.q.0}}" value="Reset" class="btn btn--thin btn--narrow btn--small">{{labels.search-refine-clear}}</a>
				</div>
				<div class="tiles__content tiles__content--nav">
					<h4>{{labels.search-refine-types}}</h4>
					<ul class="list--neutral">
						<li>
							<input type="checkbox" name="type" value="bulletin" id="checkbox-statsbulletin" {{#contains parameters.type 'bulletin'}}checked{{/contains}} >
							<label for="checkbox-statsbulletin">
								{{labels.bulletin}}
							</label>
						</li>
						<li>
							<input type="checkbox" name="type" value="article" id="checkbox-article" {{#contains parameters.type 'article'}}checked{{/contains}}>
							<label for="checkbox-article">
								{{labels.article}}
							</label>
						</li>
						<li>
							<input type="checkbox" name="type" value="compendium_landing_page" id="checkbox-compendia" {{#contains parameters.type 'compendium_landing_page'}}checked{{/contains}}>
							<label for="checkbox-compendia">
								Compendia
							</label>
						</li>
						<li>
							<input type="checkbox" name="type" value="timeseries" id="checkbox-timeseries" {{#contains parameters.type 'timeseries'}}checked{{/contains}}>
							<label for="checkbox-timeseries">
								Time series
							</label>
						</li>
						<li>
							<input type="checkbox" name="type" value="dataset" id="checkbox-dataset" {{#contains parameters.type 'dataset'}}checked{{/contains}}>
							<label for="checkbox-dataset">
								{{labels.dataset}}
							</label>
						</li>
						<li>
							<input type="checkbox" name="methodology" value="1" id="checkbox-methodology" {{#if parameters.methodology.0}}checked{{/if}} >
							<label for="checkbox-methodology">
								{{labels.methodology}}
							</label>
						</li>
					</ul>
					<p class="flush-bottom">{{labels.search-expand}}:</p>
					<input type="checkbox" name="includeStatics" value="1" id="checkbox-all-content" {{#if parameters.includeStatics.0}}checked{{/if}}>
					<label for="checkbox-all-content">
						{{labels.search-expand-all}}</br>
						({{labels.search-expand-types}})
					</label>
					<button type="submit" class="btn btn--block btn--thick margin-top">{{labels.search-filter}}</button>
				</div>
			</div>
			{{!-- RESULTS --}}
			<div class="results col col--md-34 col--lg-40 margin-left">
				{{#if results}}
				{{!-- HEADLINE RESULTS --}}
				{{#resolve featuredResult.results.0.uri}}
				<div class="col col--md-36 col--lg-40 tiles__item flush-col">
					{{!-- Sparkline --}}
					<div class="col col--md-17 col--lg-20">
						{{#resolve items.0.uri assign="series" filter="series"}}
						<a href="{{../uri}}">
							<div class="tiles__image--search-sparkline">
								{{>partials/highcharts/sparkline}}
							</div>
						</a>
						{{/resolve}}
					</div>
					{{!-- Summary --}}
					{{#if series}}
						<div class="col col--md-17 col--lg-20 tiles__item--nav-type-fixed">
					{{else}}
						<div class="col col--md-34 col--lg-40 tiles__item--nav-type-fixed">
					{{/if}}
					<h3 class="tiles__title-h3 tiles__title-h3--nav"><a href="{{uri}}">{{description.title}}</a></h3>
					<p class="tiles__content tiles__content--nav">{{description.summary}}</p>
					</div>
					</div>
					{{/resolve}}
					{{!-- MAIN RESULTS --}}
					{{> list/partials/results}}
					{{> list/partials/paginator}}
				</div>
				{{!-- NO RESULTS --}}
				{{else}}
				{{#if parameters.q}}
				<div class="col col--lg-42">
					{{labels.search-no-results}} ‘{{parameters.q.0}}’ </br>
					{{labels.search-try-other}}:
					<ul>
						<li>{{labels.search-diff-words}}</li>
						<li>{{labels.search-remove-filters}}</li>
						{{#unless parameters.includeStatics}}
						<li><a href="/search?q={{parameters.q.0}}{{#each parameters.type}}&type={{this}}{{/each}}{{#if parameters.methodology.0}}&methodology=1{{/if}}&includeStatics=1">{{labels.search-expand-all}}</a></li>
						{{/unless}}
					</ul>
				</div>
				{{/if}}
				{{/if}}
			</div>
		</form>
	</div>
	{{!-- {{/if}} --}}
	</main>
