{{#partial "block-title-wrapper" background="background--gallery"}}{{/partial}}

{{!-- {{#partial "block-title"}}
 Release calendar
 {{/partial}} --}}

{{#partial "block-list-tabs"}}
	<li class="tab__item">
        {{#unless parameters.view.0}}
            <span class="tab__link tab__link--active">Published releases</span>
        {{else}}
		    <a href="/releasecalendar" class="tab__link">Published releases</a>
        {{/unless}}
	</li>
	<li class="tab__item">
        {{#if_eq parameters.view.0 "upcoming"}}
            <span class="tab__link tab__link--active">Upcoming releases</span>
        {{else}}
		    <a href="/releasecalendar?view=upcoming" class="tab__link">Upcoming releases</a>
        {{/if_eq}}
	</li>
{{/partial}}

{{#partial "block-alert"}}

{{/partial}}

{{#partial "block-results-text"}}
	<div class="col col--md-20 col--lg-32">
		{{> list/partials/list-results-text-number result resultsLabel="releases"}}
	</div>
{{/partial}}

{{#partial "block-results-extra"}}
	<p class="float-right margin-top-sm--0 margin-top-md--3 margin-bottom-sm--0 margin-bottom-md--0">
        <a id="rss-calendar-link" class="margin-right--2" href="feed://{{location.host}}{{location.pathname}}?rss{{#if parameters.view.0}}&view={{parameters.view.0}}{{/if}}{{#if parameters.query.0}}&query={{parameters.query.0}}{{/if}}"><span class="icon icon-rss--dark-small"></span>RSS feed</a>
		<a class="margin-right--2 icon--hide" href="https://public.govdelivery.com/accounts/UKONS/subscribers/new">
            <span class="icon icon-email--dark-small"></span>
            Email alerts
        </a>
        <a href="/calendar{{uri}}">
			<span class="icon icon-calendar--dark-small"></span>
			Add to your calendar (ICS)
		</a>
	</p>
{{/partial}}

{{#partial "block-filters"}}
	{{> list/filters/keywords}}
	{{> list/filters/publish-date}}
	<input class="js-auto-submit__input" type="hidden" name="view" value="{{parameters.view.0}}">
{{/partial}}

{{#partial "block-results"}}
	<ul class="list--neutral">
		{{#each result.results}}
		<li class="search--result-item margin-bottom-md--2 margin-bottom-sm--2">
			{{> list/partials/results-title showEdition=true}}
			<p class="flush">
				{{#if description.provisionalDate}}
					{{description.provisionalDate}}
				{{else}}
					{{df description.releaseDate}}
				{{/if}}
				<span>
					{{#if description.cancelled}}
						(cancelled)
					{{else}}
						{{#if description.finalised}}
							(confirmed)
						{{else}}
							(provisional)
						{{/if}}
					{{/if}}
				</span>
				{{!-- Amended date notice --}}
				{{#resolve this.uri}}
					{{!-- {{#if dateChanges}} --}}
						{{#last dateChanges}}
							<br>
							<span class="flush">
								<a href="{{uri}}#datechanges">This date has been changed
								from {{df previousDate}}</a>
							</span>
						{{/last}}
					{{!-- {{/if}} --}}
				{{/resolve}}
			</p>
		</li>
		{{/each}}
	</ul>
{{/partial}}

{{!-- Inheriting from base list template --}}
{{> list/base/list tabs=true showBreadcrumb=true hideSort=true breadcrumbLabel="Release calendar"}}