{{#partial "block-title"}}
Release calendar
{{/partial}}

{{#partial "block-tab-menu"}}
<p class="float-right flush-bottom">
	<a href="/calendar{{uri}}">
		<span class="icon icon-calendar--dark-small margin-right-md--1"></span>
		Add releases to your calendar (ICS)
	</a>
</p>
{{/partial}}

{{#partial "block-list-tabs"}}
	<li>
		<a href="/releasecalendar" class="tab__item {{#unless parameters.view.0}}tab__item--active{{/unless}}">
			Published releases
		</a>
	</li>
	<li>
		<a href="/releasecalendar?view=upcoming" class="tab__item {{#if_eq parameters.view.0 "upcoming"}}tab__item--active{{/if_eq}}">
			Upcoming releases
		</a>
	</li>
{{/partial}}

{{#partial "block-alert"}}
	<div class="alert">
		<div class="wrapper">
			<div class="col-wrap">
				<div class="col">
					<p class="alert__content--large flush-bottom">This calendar is not being maintained and should not be used in place of the current one</p>
				</div>
			</div>
		</div>
	</div>
{{/partial}}

{{#partial "block-results-text"}}
	<div class="col col--md-28 col--lg-38">
		{{> list/partials/list-results-text-number result resultsLabel="releases"}}
	</div>
{{/partial}}

{{#partial "block-sort"}}

{{/partial}}

{{#partial "block-filters"}}
	{{> list/filters/keywords}}
	{{> list/filters/publish-date}}
{{/partial}}

{{#partial "block-results"}}
	<ul class="list--neutral">
		{{#each result.results}}
		<li class="search--result-item margin-bottom-md--2 margin-bottom-sm--2">
			{{> list/partials/results-title showEdition=true}}
			<p class="flush">
				{{#if description.provisionalDate}}
					{{description.provisionalDate}}
				{{else}}
					{{df description.releaseDate}}
				{{/if}}
				<span>
					{{#if description.cancelled}}
						(cancelled)
					{{else}}
						{{#if description.finalised}}
							(confirmed)
						{{else}}
							(provisional)
						{{/if}}
					{{/if}}
				</span>
				{{!-- Amended date notice --}}
				{{#resolve this.uri}}
					{{!-- {{#if dateChanges}} --}}
						{{#last dateChanges}}
							<br>
							<span class="flush">
								<a href="{{uri}}#datechanges">This date has been changed
								from {{df previousDate}}</a>
							</span>
						{{/last}}
					{{!-- {{/if}} --}}
				{{/resolve}}
			</p>
		</li>
		{{/each}}
	</ul>
{{/partial}}

{{!-- Inheriting from base list template --}}
{{> list/base/list tabs=true showBreadcrumb=true hideSort=true breadcrumbLabel="Release calendar"}}