{{json}}


{{#partial "block-title"}}
Time series data explorer
{{/partial}}

{{#partial "block-filters"}}
	{{> list/filters/keywords}}
	{{> list/filters/topics}}
	{{> list/filters/publish-date}}
{{/partial}}

{{#partial "block-featured-result"}}

    <div class="width--md-35 width--lg-41 background--iron-light padding-top-md--3 padding-right--md-1 padding-bottom-md--3 padding-left-md--1">

        <p class="flush inline">Download all series</p>

        {{!-- Excel download --}}
        <form method="get" action="/generator" class="inline print--hide">
            <button type="submit" title="Download XLS" class="btn btn--primary download-analytics">
                Download .xls
            </button>
            <input type="hidden" name="format" value="xls"/>
            <input type="hidden" name="uri" value="{{absolute uri}}"/>
        </form>

        {{!-- CSV download --}}
        <form method="get" action="/generator" class="inline print--hide">
            <button type="submit" title="Download CSV" class="btn btn--primary download-analytics">
                Download .csv
            </button>
            <input type="hidden" name="format" value="csv"/>
            <input type="hidden" name="uri" value="{{absolute uri}}"/>
        </form>

    </div>

{{/partial}}


{{#partial "block-results"}}


        {{#each result.results}}
        <div class="col-wrap padding-top-md--2 padding-bottom-md--2">

            <div class="col col--md-2 col--lg-2 margin-left-md--1">
                <input type="checkbox" name="" value="">
            </div>

            <div class="col col--md-20 col--lg-22">
                <a href="{{uri}}">{{{description.title}}}</a>
            </div>

            <div class="col col--md-3 col--lg-3">
                {{description.cdid}}
            </div>

            <div class="col col--md-4 col--lg-5">
                {{#if description.unit}}
                    {{description.unit}}
                {{else}}
                    &nbsp;
                {{/if}}
            </div>

            <div class="col col--md-4 col--lg-6">
                {{df description.releaseDate}}
            </div>

            <div class="col col--md-2 col--lg-2">
                NEW
            </div>

        </div>
        {{/each}}


{{/partial}}

{{!-- Inheriting from base list template --}}
{{> list/base/list }}