{{!-- Resolve parents of current uri for and assign to variable breadcrumb for building breadcrumb --}}
{{resolveParents uri assign="breadcrumb"}}
{{!-- Resolve navigation fetching children of root uri "/" with depth 2 --}}
{{resolveTaxonomy depth=2 assign="navigation"}}

{{> partials/header}}


	<div class="wrapper panel--top-mar">
		{{> partials/breadcrumb}}
		<p class="page-header__title">
			Articles
		</p>
		{{#each breadcrumb}}
			{{#if @last}}
				<h1 class="page-header__title flush--half--bottom">{{description.title}} articles</h1>
			{{/if}}
		{{/each}}
		<p>
		{{#if statisticsSearchResult.results}}
		<span class="stand-out-text">
			{{statisticsSearchResult.numberOfResults}}</span> results for <strong>articles</strong> related to <strong>{{#each breadcrumb}}{{#if @last}}{{description.title}}{{/if}}{{/each}}</strong>. You have chosen to expand these results to <strong>include all releases over time</strong><span class="icon icon-cancel" role="presentation"></span>
		{{else}}
		Sorry, there are no <strong>articles</strong> for <strong>{{#each breadcrumb}}{{#if @last}}{{description.title}}{{/if}}{{/each}}</strong>.
		{{/if}}
		</p>
	</div>
</div>
<!-- /wrapper -->
<div class="wrapper panel--mar print-links">
	{{#if statisticsSearchResult.results}}
	<div class="grid-wrap panel--bottom-mar print-hidden">
			<div class="grid-col desktop-grid-one-quarter desktop-grid-push-three-quarters tablet-grid-full-width">
				<label for="select" class="inline description">Sort by
						<select class="input inline width-auto" id="select" name="" disabled>
							<option value="1" selected>Relevance</option>
							<option value="2">Release date</option>
							<option value="3">Title</option>
						</select>
						<a href="#" class="btn btn--primary btn-tooltip tooltip nojs--hide" title="This option will not be available on the prototype, however in the future you will be able to sort search results by relevance or release date" aria-label="This option will not be available on the prototype, however in the future you will be able to sort search results by relevance or release date">? </a>
				</label>
				</div>
		</div>
		<div class="grid-wrap">
			<div class="grid-col desktop-grid-one-third">
					<article class="box box--padded sectioned print-hidden">
						<form id="filters">
								<div class="panel panel--bottom-pad panel--separated--bottom flush">
									<h3 class="flush float-left">Refine results</h3>
										<button type="reset" value="Reset" class="btn btn--primary btn--small btn--thin btn--narrow btn--clear-results float-right">Clear</button>
								</div>
					<div class="box__content">
						<p>
										You can also expand these results to include the following:
										</p>
										<input type="checkbox" name="all-releases" value="1" checked>
										<label for="checkbox">
												Show all releases over time
										</label>
						</div>
						<div>
							<button type="submit" class="btn btn--primary btn--small panel--mar-small">Filter</button>
						</div>
						</form>
					</article>
					<!-- /box 'refine results -->
			<article class="box box--purple box--purple--separated--left">
				<div class="box__inner border box--padded">
					<header class="box__header">
						<h3 class="gamma">Need an earlier release?</h3>
					</header>
					<div class="box__content">
						<p>
							We moved them to <a href="#">The National Archives</a> website, to keep this website as responsive as possible.
						</p>
						<p>
							<strong>Please note: </strong>all historical data is still on this website.
						</p>
					</div>
				</div>
				<!-- /box__inner -->
			</article>
			<!-- /box -->
		</div>
		<!-- /desktop-grid-one-third -->
		<div class="grid-col desktop-grid-two-thirds">
			<ul class="list--neutral">
				{{#each statisticsSearchResult.results}}
				<li>
					<h3 class="flush"><a href="{{uri}}">{{description.title}}
					{{#if description.edition}}
						{{#if_ne description.edition 'yes'}}: {{description.edition}}{{/if_ne}}
					{{/if}}</a></h3>
					<p class="mini flush description">
						Released: {{df description.releaseDate}}
					</p>
					{{md description.metaDescription}}
				</li>
				{{/each}}
			</ul>
			{{!-- Paginator --}}
			{{#if_ne numberOfPages 1}}
			<nav>
				<ul class="nav nav--inline-block">
					{{#if_ne currentPage startPage}}
					<li>
						<a href="articles?page={{decrement currentPage}}" class="page-link previous">Prev</a>
					</li>
					{{/if_ne}}
					{{#each pages}}
					<li>
						{{#if_eq this currentPage}}<span>{{this}}</span>{{/if_eq}}
						{{#if_ne this currentPage}}<a href="articles?page={{this}}" class="page-link" >{{this}}</a>{{/if_ne}}
					</li>
					{{/each}}
					{{#if_ne currentPage endPage}}
					<li>
						<a href="articles?page={{increment currentPage}}" class="page-link next" >Next</a>
					</li>
					{{/if_ne}}
				</ul>
			</nav>
			{{/if_ne}}
		</div>
		<!-- /desktop-grid-two-thirds -->
		{{/if}}
	</div>
	<!-- /grid-wrap -->
</div>
	<!-- /wrapper panel--mar -->

{{> partials/footer}}
