{{#partial "block-main"}}
    <div class="page-intro">
		<div class="wrapper">
			<div class="col-wrap">
				<div class="col one">
					{{> list/partials/list-page-breadcrumb label=labels.previous}}
					<h1 class="page-intro__title">{{result.results.0.description.title}} {{> type-label type_code=result.results.0.type plural=true}}</h1>
                    <p class="page-intro__content col col--md-47 col--lg-48">
						{{result.results.0.description.summary}}
					</p>
				</div>
			</div>
		</div>
	</div>
    <div class="wrapper print-links">
        <div class="col-wrap">
            <div class="col col--md-two-thirds col--lg-two-thirds">
				{{#if result.results.0.description.frequency}}
					<p>
						<strong>Frequency: </strong>{{result.results.0.description.frequency}}
					</p>
				{{/if}}
                <ul class="list--neutral">
					{{#each result.results}}
					<li {{#if_all @first (eq result.paginator.currentPage 1)}}class="margin-bottom--double"{{/if_all}}>
                    {{#if_all @first (eq result.paginator.currentPage 1)}}<h3 class="flush">{{labels.previous-latest}}</h3>
						<h2 class="flush stand-out-text font-size--h3">
					{{else}}
						<h2 class="flush font-size--h3">
					{{/if_all}}
						<a href="{{uri}}">{{description.title}}
							{{#if description.edition}}
							{{#if_ne description.edition 'yes'}}: {{description.edition}}{{/if_ne}}
							{{/if}}
						</a>
						</h3>
						<p class="flush {{#if @first}}stand-out-text{{/if}}">
							{{labels.released}}: {{df description.releaseDate}}
						</p>
					</li>
					{{/each}}
				</ul>
                {{> list/partials/paginator paginator=result.paginator }}
            </div>
            <div class="col col--md-two-thirds col--lg-two-thirds margin-bottom">
                {{> partials/archives-box}}
            </div>
        </div>
    </div>
{{/partial}}
  
{{!-- Inheriting from base list template --}}
{{> base/base}}