
<div class="wrapper panel--top-mar">
	{{> list/partials/list-page-breadcrumb label=labels.previous}}
	<p class="page-header__title">
		{{labels.previous}}
	</p>
	<h1 class="page-header__title flush--half--bottom">{{results.0.description.title}} {{> type-label type=results.0.type plural=true}}</h1>
	<div class="grid-wrap">
		<p class="grid-col desktop-grid-two-thirds">
			<strong>Frequency: </strong>{{results.0.description.frequency}}
		</p>
	</div>
	<div class="grid-wrap">
		<p class="grid-col desktop-grid-two-thirds print-links">
			{{results.0.description.summary}}
		</p>
	</div>
	<div class="grid-wrap print-links">
		<div class="grid-col desktop-grid-two-thirds">
			<div class="panel panel--separated--top">
				<ul class="list--neutral">
					{{#each results}}
					<li>
					{{#if @first}}
						<h3 class="flush">{{labels.previous-latest}}</h3>
						<h3 class="flush stand-out-text">
					{{else}}
						<h3 class="flush">
					{{/if}}
						<a href="{{uri}}">{{description.title}}
							{{#if description.edition}}
							{{#if_ne description.edition 'yes'}}: {{description.edition}}{{/if_ne}}
							{{/if}}
						</a>
						</h3>
						<p {{#if @first}}class="stand-out-text"{{/if}}>
							{{labels.released}}: {{df description.releaseDate}}
						</p>
					</li>
					{{/each}}
				</ul>
				{{> list/partials/paginator}}
			</div>
			<!-- /panel -->
		</div>
		<!-- /desktop-grid-two-thirds -->
	</div>
	{{> partials/archives-box}}
</div>
<!-- /wrapper -->
