{{#partial "block-title-wrapper" background="background--gallery"}}{{/partial}}

{{!-- {{#partial "block-title"}}
 	All publications related to {{> partials/location }}
 {{/partial}} --}}

{{#partial "block-list-tabs"}}
	<li class="tab__item">
		<a href="datalist{{#if parameters.query.0}}?query={{parameters.query.0}}{{/if}}" class="tab__link">
			Data  {{!-- ({{nf (add counts.docCounts.timeseries counts.docCounts.dataset_landing_page counts.docCounts.reference_tables counts.docCounts.static_adhoc) alt=0}}) --}}
		</a>
	</li>
	<li class="tab__item">
		<span class="tab__link tab__link--active">
			Publications {{!-- ({{nf (add counts.docCounts.bulletin counts.docCounts.article counts.docCounts.article_download counts.docCounts.compendium_landing_page) alt=0}}) --}}
		</span>
	</li>
{{/partial}}

{{#partial "block-results-text"}}
	<div class="col col--md-28 col--lg-38">
		{{> list/partials/list-results-text-number result resultsLabel="publications" showLocation=true}}
	</div>
{{/partial}}

{{#partial "block-results-extra"}}
    <div class="float-right">
        <a id="rss-list-link" class="margin-right--2" href="feed://{{location.host}}{{location.pathname}}?rss{{#if parameters.query.0}}&query={{parameters.query.0}}{{/if}}{{#each parameters.filter}}&filter={{this}}{{/each}}"><span class="icon icon-rss--dark-small"></span>RSS Feed</a>
        {{> list/filters/sort }}
    </div>
{{/partial}}

{{#partial "block-filters"}}
	{{> list/filters/keywords}}
    <fieldset class="filters__fieldset">
        <legend class="filters__title">Content types to show</legend>
        {{> list/filters/publications docCounts=counts.docCounts}}
    </fieldset>
	{{> list/filters/all-releases }}
{{/partial}}

{{!-- Inheriting from base list template --}}
{{> list/base/list tabs=true showBreadcrumb=true breadcrumbLabel="Publications" }}