{{#partial "block-main"}}
    <div class="page-intro">
        <div class="wrapper">
            <div class="col-wrap">
                <div class="col one">
                    {{> list/partials/list-page-breadcrumb label="Publications"}}
                    {{#each breadcrumb}}
                    {{#if @last}}
                    <h1 class="page-intro__title margin-bottom--double">{{description.title}} publications</h1>
                    {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div> {{!-- /page-intro --}}

    <div class="wrapper print-links">
        <form id="filters">
            <div class="col-wrap print-hidden">
				<div class="col">
					<div class="float-right">
						{{> list/filters/sort}}
					</div>
				</div>
			</div>
            <div class="col col--md-12 col--lg-18 margin-bottom">
                <div class="tiles__item tiles__item--nav-type flush-col print--hide">
                    <div class="tiles__title-h3 tiles__title-h3--nav">
                        <h3 class="inline">Refine results</h3>
                        <a href="{{location.pathname}}" value="Reset" class="btn btn--primary btn--thin btn--narrow btn--small float-right">{{labels.search-refine-clear}}</a>
                    </div>
                    <div class="tiles__content tiles__content--nav">
                        <div class="filters">
                            {{> list/filters/keywords}}
                            <h4 class="filters__title">{{labels.search-refine-types}}</h4>
                            <ul class="list--neutral">
                                <li>
                                    <div class="filters__field">
                                        <input id="checkbox-statsbulletin" type="checkbox" name="filter" value="bulletin" {{#contains parameters.filter 'bulletin'}}checked{{/contains}} >
                                        <label for="checkbox-statsbulletin">
                                            Statistical bulletin
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="filters__field">
                                        <input id="checkbox-article" type="checkbox" name="filter" value="article" {{#contains parameters.filter 'article'}}checked{{/contains}}>
                                        <label for="checkbox-article">
                                            Article
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="filters__field">
                                        <input id="checkbox-compendia" type="checkbox" name="filter" value="compendia" {{#contains parameters.filter 'compendia'}}checked{{/contains}}>
                                        <label for="checkbox-compendia">
                                            Compendia
                                        </label>
                                    </div>
                                </li>
                            </ul>
                            {{> list/filters/all-releases}}
                            <button type="submit" class="btn btn--primary btn--thick margin-top--double">{{labels.search-filter}}</button>
                        </div>
                    </div>
                </div>
                {{> partials/archives-box}}
            </div>

			{{!-- RESULTS --}}
            <div class="results col col--md-34 col--lg-40 margin-left-md--1">
                {{> list/partials/results-text}}
                {{> list/partials/results}}
                {{> list/partials/paginator}}
            </div>
        </form>
    </div>
    {{/partial}}

    {{!-- Inheriting from base list template --}}
    {{> list/base/list}}