{{#partial "block-title-wrapper" background="background--gallery"}}{{/partial}}

{{!-- {{#partial "block-title"}}
     All data related to {{> partials/location }}
 {{/partial}} --}}

{{#partial "block-list-tabs"}}
	<li class="tab__item">
		<span class="tab__link tab__link--active">
			Data {{!-- ({{nf (add counts.docCounts.timeseries counts.docCounts.dataset_landing_page counts.docCounts.reference_tables counts.docCounts.static_adhoc) alt=0}}) --}}
		</span>
	</li>
	<li class="tab__item">
		<a href="publications{{#if parameters.query.0}}?query={{parameters.query.0}}{{/if}}" class="tab__link">
			Publications {{!-- ({{nf (add counts.docCounts.bulletin counts.docCounts.article counts.docCounts.article_download counts.docCounts.compendium_landing_page) alt=0}}) --}}
		</a>
	</li>
{{/partial}}

{{#partial "block-results-text"}}
	<div class="col col--md-25 col--lg-36">
		{{> list/partials/list-results-text-number result resultsLabel="data results" showLocation=true}}
	</div>
{{/partial}}

{{#partial "block-results-extra"}}
	<div class="float-right">
        <a id="rss-list-link" class="margin-right-md--1 margin-right-lg--2" href="feed://{{location.host}}{{location.pathname}}?rss{{#if parameters.query.0}}&query={{parameters.query.0}}{{/if}}{{#each parameters.filter}}&filter={{this}}{{/each}}"><span class="icon icon-rss--dark-small"></span>RSS Feed</a>
        {{> list/filters/sort }}
    </div>
{{/partial}}

{{#partial "block-filters"}}
	{{> list/filters/keywords}}
    <fieldset class="filters__fieldset">
        <legend class="filters__title">Content types to show</legend>
        {{> list/filters/data docCounts=counts.docCounts}}
    </fieldset>
	{{> list/filters/publish-date }}
{{/partial}}

{{#partial "block-featured-result"}}
	{{#if counts.docCounts.timeseries}}
		{{#assign "path"}}/timeseriestool?topic={{parentPath uri}}{{/assign}}
		{{> partials/related/timeseries-tool href=path}}
	{{/if}}
{{/partial}}

{{!-- Inheriting from base list template --}}
{{> list/base/list tabs=true showBreadcrumb=true breadcrumbLabel="Data"}}