<h1 class="page-intro__title {{#if_any description._abstract description.summary}}{{else}}margin-bottom-sm--4 margin-bottom-md--4{{/if_any}}{{#if_eq type "home_page_census"}}h1--census{{/if_eq}}">{{#if typeLabel}}<span class="page-intro__type">{{typeLabel}}:</span>{{/if}}{{description.title}}{{#if description.edition}}: {{description.edition}}{{/if}}</h1>
{{#if description._abstract}}
<p class="page-intro__content">{{description._abstract}}</p>
{{else}}
{{#if description.summary}}
<p class="page-intro__content">{{description.summary}}</p>
{{/if}}
{{/if}}