<div class="{{class}}">
	<h1 class="page-intro__title">{{#if showType}}<span class="page-intro__type">{{>type-label type_code=type}}:</span>{{/if}}{{description.title}}{{#if description.edition}}: {{description.edition}}{{/if}}</h1>
	<p class="page-intro__content">
		{{#if description._abstract}}{{description._abstract}}{{else}}{{description.summary}}{{/if}}
	</p>
</div>