<div class="wrapper">
    <div class="col-wrap alert-release-banner-col">
        {{#block "compendium_landing_page"}}
            {{#unless (endsWith (parentPath uri) "previous")}} 
                {{!-- If not a previous version workout the latest link --}}
                {{#if description.latestRelease}}
                    <div class="col alert-release-banner alert-release-banner__latest">
                        <p class="alert-release-banner__title">{{labels.this-is-the-latest-release}}
                        <a href="{{parentPath uri}}/previousReleases">{{labels.view-previous-releases}}</a></p>
                    </div>
                {{else}}
                    {{#resolve (concat (parentPath uri) "/latest") filter="title"}}
                        <div class="col alert-release-banner alert-release-banner__not-latest">
                            <p class="alert-release-banner__title">{{labels.this-is-not-the-latest-release}}
                            <a class="alert-release-banner__link" href="{{uri}}">{{labels.view-latest-release}}</a></p>
                        </div>
                    {{/resolve}}
                {{/if}}
            {{else}}
                {{!-- If an older version of any release link to latest version of that release --}}
                <div class="col alert-release-banner alert-release-banner__not-latest">
                    <p class="alert-release-banner__title">{{labels.this-has-been-superseded}} <a class="alert-release-banner__link" href="{{parentPath (parentPath uri)}}">{{labels.view-corrected-version}}</a></p>
                </div>
            {{/unless}}
        {{/block}}
    </div>
</div>