{{#if relatedArticles}}
	<div class="tiles__item tiles__item--nav-type flush-col">
		<h3 class="tiles__title-h3 tiles__title-h3--nav">{{labels.bulletin-related-bulletins}}</h3>
		<div class="tiles__content tiles__content--nav">
			<ul class="list--neutral">
				{{#each relatedBulletins}}
					{{#resolve this.uri filter="description"}}
						<li>
							<h3>
								<a href="{{uri}}">{{description.title}}{{#if description.edition}}: {{description.edition}}{{/if}}</a>
							</h3>
							{{md description._abstract}}
						</li>
					{{/resolve}}
				{{/each}}
			</ul>
		</div>
	</div>
{{/if}}