{{#if downloads}}
    <div class="tiles__item tiles__item--nav-type flush-col print--hide">
        <h3 class="tiles__title-h3 tiles__title-h3--nav">{{labels.related-downloads}}</h3>
        <div class="tiles__content tiles__content--nav">
            <ul class="list--neutral">
                {{#each downloads}}
                    <li>
                        <a data-gtm-title="{{title}}"
                           data-gtm-type="related-download"
                           aria-label="Download {{title}} as {{fe(concat uri "/" file)}} ({{fs(concat uri "/" file)}})"
                           href="/file?uri={{absolute (concat uri "/" file)}}">{{title}} ({{fs(concat uri "/" file)}} {{fe(concat uri "/" file)}})</a>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
{{/if}}