{{#if_any relatedMethodology}}
	<div class="tiles__item tiles__item--nav-type flush-col print--hide flex flex-direction--column height--fill margin--0">
		<h3 class="tiles__title-h3 tiles__title-h3--nav">{{labels.methodology}}</h3>
		<div class="tiles__content tiles__content--nav flex--1">
			<ul class="list--neutral">
				{{#each relatedMethodology}}
					{{#resolve this.uri filter="title"}}
						<li>
							<a href="{{uri}}"
                               data-gtm-title="{{title}}"
                               data-gtm-type="related-methodology">{{title}}</a>
						</li>
					{{/resolve}}
				{{/each}}
                {{#each relatedMethodologyArticle}}
                    {{#resolve this.uri filter="title"}}
                        <li>
                            <a href="{{uri}}"
                               data-gtm-title="{{title}}"
                               data-gtm-type="related-methodology">{{title}}</a>
                        </li>
                    {{/resolve}}
                {{/each}}
			</ul>
		</div>
	</div>
{{/if_any}}