
{{#if_all relatedDatasets showDataList}}
	<div class="print--hide">
		{{> partials/related/data-list}}
	</div>
{{/if_all}}

{{#if_any relatedData relatedDatasets datasets (eq type "dataset_landing_page") (eq type "timeseries")}}
	<div class="{{#if_all relatedDatasets showDataList}}background--grey4 padding-left-sm--1 padding-left-md--1 padding-right-sm--1 padding-right-md--1 padding-bottom-sm--2 padding-bottom-md--2{{/if_all}} margin-bottom-sm--2 margin-bottom-md--2 print--hide">
		<a class="btn btn--primary btn--full-width" href="{{relatedUri}}" data-gtm-title="" data-gtm-type="related-data">
			{{!-- if "parent" get the parent title --}}
			{{#if_eq relatedTitle "parent"}}
				{{#last breadcrumb}}
					{{labels.view-all-data-related-to}} {{description.title}}
				{{/last}}
			{{/if_eq}}

			{{!-- if "self" use page title and edition if one exists --}}
			{{#if_eq relatedTitle "self"}}
				{{labels.view-all-data-used-in-this}} <span class="lowercase">{{> type-label type_code=type}}</span>
			{{/if_eq}}

			{{!-- if not "self" or "parent" use custom title --}}
			{{#if_all (ne relatedTitle "parent") (ne relatedTitle "self")}}
				{{relatedTitle}}
			{{/if_all}}
		</a>
	</div>
{{/if_any}}