{{#if links}}
	<div class="tiles__item tiles__item--nav-type flush-col">
		<h2 class="font-size--21 tiles__title-h3 tiles__title-h3--nav">
			{{labels.you-might-also-be-interested-in}}:
		</h2>
		<div class="tiles__content--nav">
			<ul class="list--neutral">
				{{#each links}}
                    {{#if title}}
                        <li><a href="{{uri}}"
                               data-gtm-title="{{title}}"
                               data-gtm-type="related-link">{{title}}</a></li>
                    {{else}}
                        {{#resolve this.uri}}
                            <li><a href="{{uri}}"
                                   data-gtm-title="{{description.title}}{{#if description.edition}}: {{description.edition}}{{/if}}"
                                   data-gtm-type="related-link">{{description.title}}{{#if description.edition}}: {{description.edition}}{{/if}}
                            </a></li>
                        {{/resolve}}
                    {{/if}}
				{{/each}}
			</ul>
		</div>
	</div>
{{/if}}