<li class="filters__a-z-list-item {{#if (eq (lowercase parameters.az.0) letter)}}filters__a-z-list-item--active"{{/if}}">{{#if (get result.docCounts letter)}}<a href="/atoz?az={{letter}}&query={{parameters.query.0}}" >{{capitalize letter}}</a>{{else}}<span>{{capitalize letter}}</span>{{/if}}</li>
