<button class="btn btn--narrow btn--small datepicker__icon nojs--hide" aria-hidden="true" tabindex="-1" id={{buttonId}} type="button"><span class="icon icon-calendar--dark-small"></span></button>
<div id={{datepickerId}} class="datepicker" aria-hidden="true">
    <button class="datepicker__btn datepicker__btn--prev js-datepicker__prev" aria-labelledby="{{datepickerId}}-bn_prev-label"
            tabindex="0"><span class="icon icon-arrow-left--light"></span></button>
    <div class="datepicker__month js-datepicker__month" role="heading" id="{{datepickerId}}-month-year" aria-live="assertive"
         aria-atomic="true">February 2011
    </div>
    <button class="datepicker__btn datepicker__btn--next js-datepicker__next" aria-labelledby="{{datepickerId}}-bn_next-label"
            tabindex="0"><span class="icon icon-arrow-right--light"></span></button>
    <table class="datepicker__grid js-datepicker__grid" role="grid" aria-labelledby="{{datepickerId}}-month-year" tabindex="0">
        <thead>
        <tr>
            <th class="datepicker__grid-header"><abbr title="Sunday">Sun</abbr></th>
            <th class="datepicker__grid-header"><abbr title="Monday">Mon</abbr></th>
            <th class="datepicker__grid-header"><abbr title="Tuesday">Tue</abbr></th>
            <th class="datepicker__grid-header"><abbr title="Wednesday">Wed</abbr></th>
            <th class="datepicker__grid-header"><abbr title="Thursday">Thu</abbr></th>
            <th class="datepicker__grid-header"><abbr title="Friday">Fri</abbr></th>
            <th class="datepicker__grid-header"><abbr title="Saturday">Sat</abbr></th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <button type="button" class="btn btn--primary btn--thin btn--narrow btn--small datepicker__clear js-datepicker__clear" aria-labelledby="{{datepickerId}}-clear-label">Clear date</button>
    <div id="{{datepickerId}}-clear-label" class="visuallyhidden">Clear values from inputs</div>
    <div id="{{datepickerId}}-bn_prev-label" class="visuallyhidden">Go to previous month</div>
    <div id="{{datepickerId}}-bn_next-label" class="visuallyhidden">Go to next month</div>
</div>