{{#if departments.results.0}}
<div class="col col--md-34 col--lg-40 height--20 margin-top-sm--0 margin-top-md--0 margin-bottom-sm--2 margin-bottom-md--2 background--alabaster border-top--iron-sm border-right--iron-sm border-bottom--iron-sm border-left--iron-sm border-top--iron-md border-right--iron-md border-bottom--iron-md border-left--iron-md padding-top--2 padding-right--1 padding-bottom--1 padding-left--1">
    <!--<div class="box padding-top--2 padding-right--1 padding-bottom--1 padding-left--1">-->
        <h3 class="flush">{{labels.did-you-know}}</h3>
        <p class="margin-top-sm--0 margin-top-md--0 margin-bottom-md--2 float-left width-md--18 width-lg--24"><a class="underline-link" href="{{departments.results.0.url}}">{{departments.results.0.name}}</a> {{labels.also-produce-statistics-relating-to}} {{{departments.results.0.match}}}.</p>
    <img src="../../img/{{departments.results.0.code}}.png" alt="{{departments.results.0.name}} logo" class="hide--sm {{#if_any (eq departments.results.0.code 'fc') (eq departments.results.0.code 'nhs') (eq departments.results.0.code 'nie')}}width-md--10{{else}}height-md--11{{/if_any}} float-right margin-right-md--1 margin-bottom-md--2"/>
    <!--</div>-->
</div>
{{/if}}