<li class="filters__item">
	<div class="filters__field">
		<input id="checkbox-{{id}}" class="js-auto-submit__input" type="checkbox" name="filter" value="{{value}}" {{#contains parameters.filter value}}checked{{/contains}} {{#unless docCount}}disabled{{/unless}}>
		<label for="checkbox-{{id}}">
			{{label}} ({{nf docCount alt=0}}) 
			{{#if explanation}}
			<br>
			({{explanation}})
			{{/if}}
		</label>
	</div>
</li>