<h2 aria-live="polite" class="search-page__results-text {{#if_eq listType "timeseriestool"}}search-page__results-text--timeseries{{/if_eq}}">
	{{!-- Show copy denoting all results are shown if there are no results starting with selected letter and page is not filtered with keyword--}}
	{{#if parameters.az.0}} 
		{{#unless parameters.query.0}}
			{{#unless (lookup counts.docCounts parameters.az.0) }}
			<span>There are no statistical bulletins that begin with the letter <strong>'{{parameters.az.0}}'</strong>. Showing all statistical bulletins.</span></br></br>
			{{/unless}}
		{{/unless}}
	{{/if}}

	{{#if_any results timeSeriesCount}}
		<span class="stand-out-text">{{nf numberOfResults}}</span> {{#if parameters.filter}}<strong><span
            class="lowercase">{{> list/filters/filters-type-list}}</span></strong>{{else}}{{resultsLabel}}{{/if}}{{#if parameters.query.0}} containing <strong>'{{parameters.query.0}}'</strong>{{/if}}
	{{else}}
		There are no {{#if parameters.filter}}<strong><span
            class="lowercase">{{> list/filters/filters-type-list}}</span></strong>{{else}}{{resultsLabel}}{{/if}}{{#if parameters.query.0}} containing <strong>'{{parameters.query.0}}'</strong>{{/if}}
	{{/if_any}}
	{{#if showLocation}}
		that are related to {{> partials/location }}
	{{/if}}
	{{#if_all showTopic parameters.topic.0 (ne parameters.topic.0 "Home")}}
		that are related to {{#resolve parameters.topic.0}}<span class="lowercase"><strong>{{description.title}}</strong></span>{{/resolve}}
	{{/if_all}}
	{{#if_all atoz parameters.az.0 (lookup couts.docCounts parameters.az.0)}}
		that begin with the letter <strong>'{{parameters.az.0}}'</strong>
	{{/if_all}}

    {{!-- DATE PARAMETERS --}}
	{{#if_any parameters.fromDateDay.0 parameters.fromDateMonth.0 parameters.fromDateYear.0 parameters.toDateDay.0 parameters.toDateMonth.0 parameters.toDateYear.0}} published
		{{#if_any parameters.fromDateDay.0 parameters.fromDateMonth.0 parameters.fromDateYear.0}}
			after <strong>{{df parameters.fromDateDay.0 outputFormat="dd" inputFormat="d"}} {{df parameters.fromDateMonth.0 outputFormat="MMMM" inputFormat="M"}} {{df parameters.fromDateYear.0 outputFormat="yyyy" inputFormat="yyyy"}}</strong>
		{{/if_any}}
		{{#if_any parameters.toDateDay.0 parameters.toDateMonth.0 parameters.toDateYear.0}}
			{{#if_any parameters.fromDateDay.0 parameters.fromDateMonth.0 parameters.fromDateYear.0}}
				and
			{{/if_any}}
			before <strong>{{df parameters.toDateDay.0 outputFormat="dd" inputFormat="d"}} {{df parameters.toDateMonth.0 outputFormat="MMMM" inputFormat="M"}} {{df parameters.toDateYear.0 outputFormat="yyyy" inputFormat="yyyy"}}</strong>
		{{/if_any}}
	{{/if_any}}

    {{!-- SORTING PARAMETERS --}}
	{{#if_any results}}
		{{#unless hideSort}}
			{{#if result.sortBy}}
				, sorted by <strong>
				{{#if_eq result.sortBy "release_date"}}release date{{/if_eq}}
				{{#if_eq result.sortBy "title"}}title{{/if_eq}}
				{{#if_eq result.sortBy "relevance"}}relevance{{/if_eq}}
                </strong>
			{{/if}}
		{{/unless}}
	{{/if_any}}
</h2>