<h3 class="search-results__title">
        <a href="/redir?url={{uri}}&term={{parameters.query.0}}{{parameters.q.0}}&pageIndex={{result.paginator.currentPage}}&linkIndex={{@index_1}}&type={{listType}}">{{{description.title}}}{{#if_all description.edition showEdition}}{{#if_all (ne description.edition 'yes') (ne description.edition '<strong>yes</strong>')}}: {{{description.edition}}}{{/if_all}}{{/if_all}} {{#if description.latestRelease}}({{labels.latest-release}}){{/if}}</a>
</h3>