<p>
	{{#if result.results}}
	<span class="stand-out-text">
	{{nf result.numberOfResults}}</span> results
	{{else}}
	Sorry, there were no results
	{{/if}}
	{{#if parameters.filter}}
	for <strong>{{#each parameters.filter}}{{> filter-label this}}{{#unless @last}},{{/unless}}{{/each}}</strong>
	{{/if}}
	{{#if global}}
	{{#if parameters.topic.0}}
	related to
	{{topics.[(parameters.topic.0)]}}
	{{/if}}
	{{else}}
	related to
	<strong>{{#each breadcrumb}}{{#if @last}}{{description.title}}{{/if}}{{/each}}</strong>
	{{/if}}
	{{#if parameters.query.0}}
	containing <strong>‘{{parameters.query.0}}‘</strong>
	{{/if}}.
	{{#if_any parameters.fromDate.0 parameters.toDate.0}}
		You have chosen to show results published
		{{#if parameters.fromDate.0}}
		after <strong>{{df parameters.fromDate.0 outputFormat="dd MMMM yyyy" inputFormat="dd/MM/yyyy"}}</strong>
		{{/if}}
		{{#if parameters.toDate.0}}
			{{#if parameters.fromDate.0}}
			and
			{{/if}}
		before <strong>{{df parameters.toDate.0 outputFormat="dd MMMM yyyy" inputFormat="dd/MM/yyyy"}}</strong>
		{{/if}}
	{{/if_any}}
	{{#if parameters.allReleases}}
	You have chosen to expand these results to <strong>include all releases over time</strong>
	{{/if}}
	{{#unless result.results}}
	<div class="col col--lg-42">
		{{labels.search-try-other}}
		<ul>
			<li>{{labels.search-diff-words}}</li>
			<li>{{labels.search-remove-filters}}</li>
		</ul>
	</div>
	{{/unless}}
</p>