<ul class="list--neutral">
	{{#each results}}
	<li>
		<h3 class="inline"><a href="{{uri}}">{{description.title}}
			{{#if description.edition}}
			{{#if_ne description.edition 'yes'}}: {{description.edition}}{{/if_ne}}
		{{/if}}</a></h3>
		<span class="lozenge">{{> type-label type=this.type}}</span>
		{{#if partOf}}
		<p>
			<a href="{{uri}}">[{{description.title}}]</a><span class="icon-search-1"></span>
		</p>
		{{/if}}
		<p class="flush">
			Released: {{df description.releaseDate}} {{#if description.reference}}Ref: {{description.reference}}{{/if}}
		</p>
		{{md description.summary}}
		<p class="flush">
		  Keywords: {{#each description.keywords}}{{this}}  {{/each}}
		</p>
	</li>
	{{/each}}
</ul>