<p class="search-results__meta">
	{{> type-label type_code=this._type }}
    {{#if description.datasetId}}
        | Dataset ID: {{description.datasetId}}
    {{/if}}
	{{#if description.cdid}}
	    | Series ID: {{{description.cdid}}}
	{{/if}}
	{{#if_any description.releaseDate description.lastRevised}} |
		{{#if description.releaseDate}}{{labels.released-on}} {{df description.releaseDate}}
		{{else}}{{labels.revised-on}} {{df description.lastRevised}}
		{{/if}}
	{{/if_any}}
	{{#if description.reference}}| {{labels.ref}}: {{{description.reference}}}{{/if}}
</p>