<p>
	{{#if result.results}}
	<span class="stand-out-text">
	{{result.numberOfResults}}</span> results
	{{else}}
	Sorry, there were no results
	{{/if}}
	{{#if parameters.filter}}
	for <strong>{{#each parameters.filter}}{{> filter-label this}}{{#unless @last}},{{/unless}}{{/each}}</strong>
	{{/if}}
	{{#unless global}}
	related to
	<strong>{{#each breadcrumb}}{{#if @last}}{{description.title}}{{/if}}{{/each}}</strong>.
	{{/unless}}
	{{#if parameters.allReleases}}
	You have chosen to expand these results to <strong>include all releases over time</strong>
	{{/if}}
	{{#unless result.results}}
	<div class="col col--lg-42">
		{{labels.search-try-other}}
		<ul>
			<li>{{labels.search-diff-words}}</li>
			<li>{{labels.search-remove-filters}}</li>
		</ul>
	</div>
	{{/unless}}
</p>