<ul class="list--neutral search-results">
{{!-- 	{{#if_all featuredResult parameters.timeseries}}
	<li class="search-results__item">
		<h3 class="search-results__title"> <a href="/datalist?type=timeseries&query={{parameters.q.0}}">{{{featuredResult.results.0.description.title}}} time series collection
			{{#if featuredResult.results.0.description.edition}}
			{{#if_all (ne featuredResult.results.0.description.edition 'yes') (ne featuredResult.results.0.description.edition '<strong>yes</strong>')}}: {{{featuredResult.results.0.description.edition}}}{{/if_all}}
		{{/if}}</a></h3>
		<p class="search-results__meta">Time series</p>
		<div class="search-results__summary">
			<p>Contains all single time series covering {{{featuredResult.results.0.description.title}}}</p>
		</div>
		{{#if featuredResult.results.0.description.keywords}}
		<p class="flush">
			Keywords: {{#each featuredResult.results.0.description.keywords}}{{{this}}}  {{/each}}
		</p>
		{{/if}}
	</li>
	{{/if_all}} --}}

	{{#each results}}
	<li class="search-results__item">
		<h3 class="search-results__title"><a href="{{uri}}">{{{description.title}}}
			{{#if description.edition}}
			{{#if_all (ne description.edition 'yes') (ne description.edition '<strong>yes</strong>')}}: {{{description.edition}}}{{/if_all}}
		{{/if}}</a></h3>
		{{#if partOf}}
		<p>
			<a href="{{uri}}">{{{description.title}}}</a><span class="icon-search-1"></span>
		</p>
		{{/if}}
		<p class="search-results__meta">
			{{> type-label type=this.type}} | Released on {{df description.releaseDate}} {{#if description.reference}}Ref: {{{description.reference}}}{{/if}}
		</p>

		<div class="search-results__summary">
			{{md description.summary}}
		</div>
		{{#if description.keywords}}
		<p class="search-results__keywords">
			Keywords: {{#each description.keywords}}{{{this}}}  {{/each}}
		</p>
		{{/if}}
	</li>
	{{/each}}
</ul>
