<p>
	{{#if_any results showFeaturedResult timeSeriesCount}}
	<span class="stand-out-text">
	{{nf numberOfResults}}</span> results for
	{{else}}
	Sorry, no results were found for
	{{/if_any}}
	<strong>‘{{parameters.q.0}}’</strong>
	{{#if parameters.filter}}
	showing <strong>{{#each parameters.filter}}{{> filter-label this}}{{!--<span class="icon icon-cancel js--show" role="presentation"></span> --}}{{#unless @last}},{{/unless}}{{/each}}</strong>
	{{/if}}.
	{{#if parameters.includeStatics}}
	You have chosen to expand these results to include <strong>all other website content</strong>{{!-- <span class="icon icon-cancel js--show" role="presentation"></span> --}}
	{{/if}}
	{{#unless results}}
	{{#unless showFeaturedResult}}
	{{#unless timeSeriesCount}}
	<div class="col col--lg-42">
		{{labels.search-try-other}}
		<ul>
			<li>{{labels.search-diff-words}}</li>
			<li>{{labels.search-remove-filters}}</li>
		</ul>
	</div>
	{{/unless}}
	{{/unless}}
	{{/unless}}
</p>