<h2 aria-live="polite" class="search-page__results-text">
	{{#if_any results showFeaturedResult timeSeriesCount}}
	<span class="stand-out-text">
		{{nf numberOfResults}}</span> {{#if parameters.filter}}<strong><span
            class="lowercase">{{> list/filters/filters-type-list}}</span></strong>{{else}}{{labels.results}}{{/if}} {{labels.containing}}
	{{else}}
        {{labels.sorry-no-results-were-found-that-contain}}
	{{/if_any}}
	<strong>‘{{parameters.q.0}}’</strong>{{!-- Have to put if inline or else spaced added after query --}}{{#if results}},
    <span class="lowercase">{{labels.sorted-by}} <strong>
		{{#if result.sortBy}}
			{{#if_eq result.sortBy "release_date"}}{{labels.release-date}}{{/if_eq}}
			{{#if_eq result.sortBy "title"}}{{labels.title}}{{/if_eq}}
			{{#if_eq result.sortBy "relevance"}}{{labels.relevance}}{{/if_eq}}
		{{/if}}
	</strong>
    </span>
	{{/if}}.

    {{#if result.suggestions}}{{labels.did-you-mean}} <a href="{{location.pathname}}?q={{result.suggestions.0}}" class="underline-link">{{{result.suggestions.0}}}</a>?{{/if}}
	{{!-- {{#if_any parameters.fromDate.0 parameters.toDate.0}}
 		You have chosen to show results published
 		{{#if parameters.fromDate.0}}
 		after <strong>{{df parameters.fromDate.0 outputFormat="dd MMMM yyyy" inputFormat="dd/MM/yyyy"}}</strong>
 		{{/if}}
 		{{#if parameters.toDate.0}}
 			{{#if parameters.fromDate.0}}
 			and
 			{{/if}}
 		before <strong>{{df parameters.toDate.0 outputFormat="dd MMMM yyyy" inputFormat="dd/MM/yyyy"}}</strong>
 		{{/if}}
 	{{/if_any}} --}}
</h2>