{{#unless result.results}}
<h2 class="margin-top-sm--0 margin-top-md--2 margin-top-lg--2">
	{{#unless results}}
	{{#unless showFeaturedResult}}
	{{#unless timeSeriesCount}}
	<div class="col col--lg-42">
		{{labels.search-try-other}}
		<ul>
			<li>{{labels.search-diff-words}}</li>
            {{#if_any parameters.filter parameters.topic parameters.toDate parameters.fromDate}}
            <li>{{labels.search-remove-filters}}</li>
            {{/if_any}}
			{{#unless parameters.includeStatics}}
                {{#if_eq type "search"}}
			        <li><a href="{{query_string}}includeStatics=1">{{labels.search-expand-all}}</a></li>
                {{/if_eq}}
			{{/unless}}
		</ul>
	</div>
	{{/unless}}
	{{/unless}}
	{{/unless}}
</h2>
{{/unless}}