<h2 aria-live="assertive" class="search-page__results-text">
	{{#if_any results showFeaturedResult timeSeriesCount}}
	<span class="stand-out-text">
		{{nf numberOfResults}}</span> {{#if parameters.filter}}<strong>{{> list/filters/filters-type-list}}</strong>{{else}}results{{/if}} containing
	{{else}}
	Sorry, no results were found that contain
	{{/if_any}}
	<strong>‘{{parameters.q.0}}’</strong>{{!-- Have to put if inline or else spaced added after query --}}{{#if results}}, sorted by <strong>
		{{#if result.sortBy}}
			{{#if_eq result.sortBy "release_date"}}release date{{/if_eq}}
			{{#if_eq result.sortBy "title"}}title{{/if_eq}}
			{{#if_eq result.sortBy "relevance"}}relevancy{{/if_eq}}
		{{/if}}
	</strong>.
	{{/if}}
	{{!-- {{#if_any parameters.fromDate.0 parameters.toDate.0}}
 		You have chosen to show results published
 		{{#if parameters.fromDate.0}}
 		after <strong>{{df parameters.fromDate.0 outputFormat="dd MMMM yyyy" inputFormat="dd/MM/yyyy"}}</strong>
 		{{/if}}
 		{{#if parameters.toDate.0}}
 			{{#if parameters.fromDate.0}}
 			and
 			{{/if}}
 		before <strong>{{df parameters.toDate.0 outputFormat="dd MMMM yyyy" inputFormat="dd/MM/yyyy"}}</strong>
 		{{/if}}
 	{{/if_any}} --}}
</h2>