<li class="tab__item width-sm--6">
    {{#if active}}
        <a href="{{href}}?{{#if parameters.q}}q={{parameters.q.0}}{{else}}query={{parameters.query.0}}{{/if}}"
                aria-current="page" aria-label="{{name}} ({{nf count alt=0}}). Current page.">
            <span class="tab__link tab__link--active">{{name}} ({{nf count alt=0}})</span>
        </a>
    {{else}}
        <a href="{{href}}?{{#if parameters.q}}q={{parameters.q.0}}{{else}}query={{parameters.query.0}}{{/if}}" class="tab__link"
                aria-label="Search '{{name}}' results for '{{#if parameters.q}}{{parameters.q.0}}{{else}}{{parameters.query.0}}{{/if}}' ({{nf count alt=0}} results)">
            {{name}} ({{nf count alt=0}})
        </a>
    {{/if}}
</li>