<li class="tab__item width-sm--6">
    {{#if active}}
        <span class="tab__link tab__link--active">{{name}} ({{nf count alt=0}})</span>
    {{else}}
        <a href="{{href}}?{{#if parameters.q}}q={{parameters.q.0}}{{else}}query={{parameters.query.0}}{{/if}}" class="tab__link">
            {{name}} ({{nf count alt=0}})
        </a>
    {{/if}}
</li>