<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie8 lt-ie7" {{> partials/subdomain-lang }}><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie8 ie7"  {{> partials/subdomain-lang }}><![endif]-->
<!--[if IE 8]><html class="ie8" {{> partials/subdomain-lang }}><![endif]-->
<!--[if gt IE 8]><!--><!-->
<html {{> partials/subdomain-lang }}>
	<!--<![endif]-->
	<head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>{{> partials/page-title }} - Office for National Statistics</title>
        <meta charset="utf-8" />
        <meta content="width=device-width,initial-scale=1.0,user-scalable=1" name="viewport">
        <meta content="on" http-equiv="cleartype" />
        <meta name="theme-color" content="#58595B">
        <meta name="apple-mobile-web-app-status-bar-style" content="#58595B">

        {{#if_any description.metaDescription description.summary description._abstract}}<meta name="description" content="{{#if description.metaDescription}}{{description.metaDescription}}{{else}}{{#if description.summary}}{{description.summary}}{{else}}{{description._abstract}}{{/if}}{{/if}}">{{/if_any}}

        {{#if_any (eq type "bulletin") (eq type "article") (eq type "compendium_landing_page") (eq type "compendium_chapter")}}
            <link rel="canonical" href="{{uri}}" />
        {{/if_any}}

		<!--[if IE]><![endif]-->
		<!--[if lte IE 8]>
		<link rel="stylesheet" href="{{#if is_dev}}http://{{location.hostname}}:9000/dist{{else}}//cdn.ons.gov.uk/sixteens/7b354cb{{/if}}/css/old-ie.css"/>
		<![endif]-->
        <!--[if IE 9]>
              <link rel="stylesheet" type="text/css" href="{{#if is_dev}}http://{{location.hostname}}:9000/dist{{else}}//cdn.ons.gov.uk/sixteens/7b354cb{{/if}}/css/ie-9.css">
        <![endif]-->
		<!--[if gt IE 9]><!-->
        <link rel="stylesheet" type="text/css" href="{{#if is_dev}}http://{{location.hostname}}:9000/dist{{else}}//cdn.ons.gov.uk/sixteens/7b354cb{{/if}}/css/main.css">
		{{#if pdf_style}}<link rel="stylesheet" type="text/css" href="{{#if is_dev}}http://localhost:9000/dist{{else}}//cdn.ons.gov.uk/sixteens/7b354cb{{/if}}/css/pdf.css">{{/if}}
        <![endif]-->
        
        {{> partials/gtm-data-layer }}

        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-MBCBVQS');</script>
        <!-- End Google Tag Manager -->

	</head>
	<body class="{{type}}">

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MBCBVQS"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

        {{!-- Sends a message out of window - for Florance preview use, so that she can see when the preview window is loading (rather than looking for the iframe onload event which is only fired after all JS has loaded) --}}
        {{#if is_publishing}}
             <script>
                 window.onunload = function(){
                     top.postMessage('load', '*');
                 }
             </script>
        {{/if}}
		{{#if is_dev}}
			<script>
				document.secureCookies = false;
			</script>
		{{/if}}

		{{!-- Main handlebars is the main file rendered by handlebars.
		performs type check on content type and decides which template to render  --}}

		{{!-- Content --}}
		{{#if_eq type "home_page"}} 						{{> content/t1}}
		{{else if_eq type "home_page_census"}} 				{{> content/t1-2}}
		{{else if_eq type "taxonomy_landing_page"}} 		{{> content/t2}}
		{{else if_eq type "product_page"}}
			{{#if_eq parameters.test.0 "B"}} 				{{> content/t3-new}}
			{{else}} 						 				{{> content/t3}}
			{{/if_eq}}
		{{else if_eq type "bulletin"}} 						{{> content/t4-1}}
		{{else if_eq type "article"}}
            {{#if isPrototypeArticle}}                      {{> content/t4-3}}
            {{else}}                                        {{> content/t4-2}}
            {{/if}}
        {{else if_eq type "article_download"}} 				{{> content/t4-2}}
		{{else if_eq type "timeseries"}}
			{{#if previous}} 								{{> content/t12-2}}
			{{else}}
															{{> content/t5-1}}
			{{/if}}
		{{else if_eq type "compendium_landing_page"}} 		{{> content/t6-1}}
		{{else if_eq type "compendium_chapter"}} 			{{> content/t6-2}}
		{{else if_eq type "compendium_data"}} 				{{> content/t6-3}}
		{{else if_eq type "reference_tables"}} 				{{> content/t8-1}}
		{{else if_eq type "dataset_landing_page"}} 			{{> content/t8-3}}
		{{else if_eq type "dataset"}} 						{{> content/t12}}
		{{else if_eq type "timeseries_dataset"}} 			{{> content/t12}}
		{{else if_eq type "static_landing_page"}} 			{{> content/t7-4-1}}
		{{else if_eq type "static_page"}} 					{{> content/t7-5}}
		{{else if_eq type "static_article"}} 				{{> content/t7-6}}
		{{else if_eq type "static_methodology"}} 			{{> content/t7-6}}
        {{else if_eq type "static_methodology_download"}} 	{{> content/t7-6}}
		{{else if_eq type "static_qmi"}} 					{{> content/t7-1}}
		{{else if_eq type "static_adhoc"}} 					{{> content/t7-2}}
		{{else if_eq type "static_foi"}} 					{{> content/t7-3}}
		{{else if_eq type "release"}} 						{{> content/t16}}
		{{!-- Charts and tables and images--}}
		{{else if_eq type "chart"}} 						{{> highcharts/chart}}
		{{else if_eq type "table"}} 						{{> table}}
		{{else if_eq type "equation"}} 						{{> partials/equation}}

		{{!-- List Pages --}}
		{{else if_eq type "list"}}
			{{#if_eq listType "alladhocs"}} 						{{> list/t9-12}}
				{{else if_eq listType "allmethodologies"}} 			{{> list/t9-11}}
				{{else if_eq listType "atoz"}} 						{{> list/t9-14}}
				{{else if_eq listType "staticlist"}} 				{{> list/t9-13}}
				{{else if_eq listType "publishedrequests"}} 		{{> list/t9-2}}
				{{else if_eq listType "previousreleases"}} 			{{> list/t9-6}}
				{{else if_eq listType "topicspecificmethodology"}} 	{{> list/t9-7}}
				{{else if_eq listType "publications"}} 				{{> list/t9-8}}
				{{else if_eq listType "datalist"}} 					{{> list/t9-9}}
				{{else if_eq listType "search"}} 					{{> list/t10}}
				{{else if_eq listType "searchdata"}} 				{{> list/t10-2}}
				{{else if_eq listType "searchpublication"}} 		{{> list/t10-3}}
				{{else if_eq listType "relateddata"}} 				{{> list/t9-16}}
				{{else if_eq listType "releasecalendar"}} 			{{> list/t11}}
				{{else if_eq listType "timeseriestool"}} 			{{> list/t13}}
			{{/if_eq}}

		{{!-- Error pages --}}
		{{else if_eq type "error"}}
			{{#if_eq code 404}}{{> error/404}}
				{{else if_eq code 401}}{{> error/401}}
				{{else if_eq code 500}}{{> error/500}}
                {{else if_eq code 501}}{{> error/501}}
			{{/if_eq}}
		{{/if_eq}}


        <!--[if gt IE 8]><!-->
        <script type="text/javascript" src="{{#if is_dev}}//{{location.hostname}}:9000/dist{{else}}//cdn.ons.gov.uk/sixteens/7b354cb{{/if}}/js/main.js"></script>
        <script type="text/javascript" src="/js/app.js"></script>

        {{!-- Add extra highcharts source files if page contains any charts --}}
        {{#if charts.0}}
            <script type="text/javascript" src="/js/third-party/highcharts-annotations-5.0.7.js"></script>
            <script type="text/javascript" src="/js/third-party/highcharts-broken-axis-5.0.7.js"></script>
            <script type="text/javascript" src="/js/third-party/highcharts-heatmap-5.0.7.js"></script>
            <script type="text/javascript" src="/js/third-party/highcharts-exporting-5.0.7.js"></script>
        {{/if}}

        <![endif]-->


	</body>
</html>