<!--[if IE]><![endif]-->
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie8 ie7"><![endif]-->
<!--[if IE 8]><html class="ie8"><![endif]-->
<!--[if gt IE 8]><!--><!-->
<html>
	<!--<![endif]-->
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title>{{> partials/page-title }} - Office for National Statistics</title>
		<meta charset="utf-8" />
		<meta content="width=device-width,initial-scale=1.0" name="viewport" />
		<meta content="on" http-equiv="cleartype" />
		<meta name="format-detection" content="telephone=no">
		<meta name="theme-color" content="#58595B">
		<meta name="apple-mobile-web-app-status-bar-style" content="#58595B">
	    <meta http-equiv="X-Frame-Options" content="SAMEORIGIN">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />


		<!--[if IE]><![endif]-->
		<!--[if lte IE 8]>
		<link rel="stylesheet" href="{{#if_any (eq 'localhost' location.hostname) (eq '127.0.0.1' location.hostname)}}http://localhost:9000/dist/css/old-ie.css{{else}}/node_modules/sixteens/dist/css/old-ie.css{{/if_any}}"/>
		<![endif]-->
		<!--[if gt IE 8]><!-->
		{{!-- {{#if_any (eq type "taxonomy_landing_page") (eq type "product_page") (eq type "bulletin") (eq type "article") (eq type "timeseries") (eq type "timeseries") }}
		<link rel="stylesheet" type="text/css" href="{{#if_any (eq 'localhost' location.hostname) (eq '127.0.0.1' location.hostname)}}http://localhost:9000/dist/css/main.css{{else}}/node_modules/sixteens/dist/css/main.css{{/if_any}}">
		{{else}}
		<link rel="stylesheet" href="/node_modules/ONS-Pattern-Library/dist/css/main.min.css"/>
		{{/if_any}} --}}
		{{!-- <link rel="stylesheet" href="/node_modules/ONS-Pattern-Library/dist/css/main.min.css"/> --}}
		<link rel="stylesheet" type="text/css" href="{{#if is_dev}}http://localhost:9000/dist/css/main.css{{else}}/node_modules/sixteens/dist/css/main.css{{/if}}">
		{{#if pdf_style}}<link rel="stylesheet" type="text/css" href="{{#if is_dev}}http://localhost:9000/dist/css/pdf.css{{else}}/node_modules/sixteens/dist/css/pdf.css{{/if}}">{{/if}}
		{{!-- <link rel="stylesheet" type"text/css" href="{{#if is_dev}}http://localhost:9000/dist/css/print.css{{else}}/node_modules/sixteens/dist/css/print.css{{/if}}" media="print"> --}}

		{{!-- <link rel="stylesheet" href="/css/js-enhance.css"/> --}}
		{{!-- <link rel="stylesheet" href="/css/c3.css"/> --}}
		{{!-- <script src="/node_modules/ONS-Pattern-Library/dist/js/header.js"></script> --}}
		<!-- Bugherd integration script: http://bugherd.com/documentation/installing-the-sidebar/ -->
		<script type='text/javascript'>
			var BugHerdConfig = {"feedback":{"hide":true}};
		(function(d, t) {
		var bh = d.createElement(t),
		s = d.getElementsByTagName(t)[0];
		bh.type = 'text/javascript';
		bh.src = '//www.bugherd.com/sidebarv2.js?apikey=cwz4globzxvnj84jsovora';
		s.parentNode.insertBefore(bh, s);
		})(document, 'script');
		</script>
        <![endif]-->
        <!-- Google Analytics Content Experiment code -->
        {{#if_eq uri "/economy/inflationandpriceindices"}}{{#unless (eq parameters.test.0 "B")}}<script>function utmx_section(){}function utmx(){}(function(){var
                k='104040341-0',d=document,l=d.location,c=d.cookie;
            if(l.search.indexOf('utm_expid='+k)>0)return;
            function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
                    indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
                    length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
                    '<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
                            '://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
                    '&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
                            valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
                    '" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
        </script><script>utmx('url','A/B');</script>{{/unless}}{{/if_eq}}
        <!-- End of Google Analytics Content Experiment code -->
	</head>
	<body>
		{{#unless is_dev}}
			<script>
				document.secureCookies = true;
			</script>
		{{/unless}}

        <!--[if gt IE 8]><!-->
		<script type="text/javascript" src="/js/js-enhance-loading.js"></script>

        <![endif]-->
		{{!-- Main handlebars is the main file rendered by handlebars.
		performs type check on content type and decides which template to render  --}}

		{{!-- TODO: --}}
		{{!-- In order to keep the code cleaner if statements are used for all cases rather than indented if else statements.
		This means the comparison actually happens for all conditions listed below.
		Handlebars 3.0.0 supports chained else if statements which is a syntactic sugar for indented if else statements, as soon as Handlebars.java 3.0 comes out an update and using chained if statements would be nice.
		Follow on:   --}}

		{{!-- Content --}}
		{{#if_eq type "home_page"}}{{> content/t1}}{{/if_eq}}
		{{#if_eq type "home_page_census"}}{{> content/t1-2}}{{/if_eq}}
		{{#if_eq type "taxonomy_landing_page"}}{{> content/t2}}{{/if_eq}}

		{{#if_eq type "product_page"}}
			{{#if_eq parameters.test.0 "B"}}
				{{> content/t3-new}}
			{{else}}
				{{> content/t3}}
			{{/if_eq}}
		{{/if_eq}}

		{{#if_eq type "bulletin"}}{{> content/t4-1}}{{/if_eq}}
		{{#if_eq type "article"}}{{> content/t4-2}}{{/if_eq}}
        {{#if_eq type "article_download"}}{{> content/t4-2}}{{/if_eq}}
		{{#if_eq type "timeseries"}}
			{{#if previous}}
				{{> content/t12-2}}
			{{else}}
				{{> content/t5-1}}
			{{/if}}
		{{/if_eq}}
		{{#if_eq type "compendium_landing_page"}}{{> content/t6-1}}{{/if_eq}}
		{{#if_eq type "compendium_chapter"}}{{> content/t6-2}}{{/if_eq}}
		{{#if_eq type "compendium_data"}}{{> content/t6-3}}{{/if_eq}}
		{{#if_eq type "reference_tables"}}{{> content/t8-1}}{{/if_eq}}
		{{#if_eq type "dataset_landing_page"}}{{> content/t8-3}}{{/if_eq}}
		{{#if_eq type "dataset"}}{{> content/t12}}{{/if_eq}}
		{{#if_eq type "timeseries_dataset"}}{{> content/t12}}{{/if_eq}}
		{{#if_eq type "static_landing_page"}}{{> content/t7-4-1}}{{/if_eq}}
		{{#if_eq type "static_page"}}{{> content/t7-5}}{{/if_eq}}
		{{#if_eq type "static_article"}}{{> content/t7-6}}{{/if_eq}}
		{{#if_eq type "static_methodology"}}{{> content/t7-6}}{{/if_eq}}
        {{#if_eq type "static_methodology_download"}}{{> content/t7-6}}{{/if_eq}}
		{{#if_eq type "static_qmi"}}{{> content/t7-1}}{{/if_eq}}
		{{#if_eq type "static_adhoc"}}{{> content/t7-2}}{{/if_eq}}
		{{#if_eq type "static_foi"}}{{> content/t7-3}}{{/if_eq}}
		{{#if_eq type "release"}}{{> content/t16}}{{/if_eq}}
		{{!-- Charts and tables and images--}}
		{{#if_eq type "chart"}}{{> highcharts/chart}}{{/if_eq}}
		{{#if_eq type "table"}}{{> table}}{{/if_eq}}

		{{!-- List Pages --}}
		{{#if_eq type "list"}}
			{{#if_eq listType "alladhocs"}}{{> list/t9-12}}{{/if_eq}}
			{{#if_eq listType "allmethodologies"}}{{> list/t9-11}}{{/if_eq}}
			{{#if_eq listType "atoz"}}{{> list/t9-14}}{{/if_eq}}
			{{#if_eq listType "staticlist"}}{{> list/t9-13}}{{/if_eq}}
			{{#if_eq listType "publishedrequests"}}{{> list/t9-2}}{{/if_eq}}
			{{#if_eq listType "previousreleases"}}{{> list/t9-6}}{{/if_eq}}
			{{#if_eq listType "topicspecificmethodology"}}{{> list/t9-7}}{{/if_eq}}
			{{#if_eq listType "publications"}}{{> list/t9-8}}{{/if_eq}}
			{{#if_eq listType "datalist"}}{{> list/t9-9}}{{/if_eq}}
			{{#if_eq listType "search"}}{{> list/t10}}{{/if_eq}}
			{{#if_eq listType "searchdata"}}{{> list/t10-2}}{{/if_eq}}
			{{#if_eq listType "searchpublication"}}{{> list/t10-3}}{{/if_eq}}
			{{#if_eq listType "relateddata"}}{{> list/t9-16}}{{/if_eq}}
			{{#if_eq listType "releasecalendar"}}{{> list/t11}}{{/if_eq}}
			{{#if_eq listType "timeseriestool"}}{{> list/t13}}{{/if_eq}}
		{{/if_eq}}



		{{!-- Error pages --}}
		{{#if_eq type "error"}}
			{{#if_eq code 404}}{{> error/404}}{{/if_eq}}
			{{#if_eq code 401}}{{> error/401}}{{/if_eq}}
			{{#if_eq code 500}}{{> error/500}}{{/if_eq}}
		{{/if_eq}}

        <!--[if gt IE 8]><!-->
		<script type="text/javascript" src="{{#if is_dev}}http://localhost:9000/dist/js/main.js{{else}}/node_modules/sixteens/dist/js/main.js{{/if}}"></script>
        <![endif]-->
		{{!-- <link rel="stylesheet" type="text/css" href="{{#if_any (eq 'localhost' location.hostname) (eq '127.0.0.1' location.hostname)}}http://localhost:9000/dist/css/main.css{{else}}/node_modules/sixteens/dist/css/main.css{{/if_any}}"> --}}
		{{!-- <script type="text/javascript" src="/ui/js/lib/jquery.tooltipster.min.js"></script>
		<script type="text/javascript" src="/ui/js/lib/highcharts.js"></script>
		<script type="text/javascript" src="/js/linechart.js"></script>
		<script type="text/javascript" src="/js/sparkline.js"></script>
		<script type="text/javascript" src="/js/chartRenderer.js"></script>
		<script type="text/javascript" src="/js/js-enhance.js"></script> --}}
            <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-56892037-3', {'allowAnchor': true});
            ga('send', 'pageview', {'page': location.pathname + getSearch() + location.hash});
            function getSearch(){
                if(location.pathname === '/search'){
                    var numberOfResults = {{#if numberOfResults}} {{numberOfResults}} {{else}} 0 {{/if}};
                    return location.search + '&numberOfResults=' + numberOfResults;
                } else {
                    return location.search;
                }
            }
            </script>
	</body>
</html>