{{> partials/header}}

<div class="page-header">
    <div class="wrapper">
        <h1 class="page-header__title flush--half--bottom">Welcome to the Office for National Statistics</h1>

       <p>{{md description.summary}}</p>
       <!--<p>-->
           <!--The UK’s largest independent producer of official statistics and the recognised national statistical institute of the UK, producing a variety of statistics covering <a href="/businessindustryandtrade" >business and industry</a>, the <a href="/economy">UK economy</a>, <a href="/employmentandlabourmarket">employment</a> and the <a href="/peoplepopulationandcommunity">population</a>.-->
       <!--</p>-->
    </div>
    <!-- / wrapper -->
</div>
<!-- panel -->

{{!-- Hardcoded stastical highlights --}}
{{!-- <div class="wrapper panel--mar">
    <!-- grid-wrap -->
    <h2>Statistical highlights</h2>

    <div class="grid-wrap grid-wrap--home-hero panel--separated--bottom">
      <!-- grid-col -->

        <div class="grid-col grid-col--home-hero tablet-wide-grid-one-fifth">
            <article class="nav-panel nav-panel--stats nav-panel--home-hero sectioned">
                <div class="stat__wrap--home">
                    <header class="nav-panel__header">
                        <h2 class="gamma flush">CPI: Consumer Prices Index (% change)</h2>
                    </header>
                    <div class="stat__figure--home">
                        0.1%
                    </div>
                    <div class="stat__description">
                        May 2015
                    </div>
                    <img class="stat__image--home" src="../../img/t1-sparkline-1-cpi.png" alt="{{statistics.description.title}}">

                    <a class="js-enhance--hide" href="{{statistics.uri}}">More info</a>
                </div>
                <footer class="nav-panel__footer-home-hero">
                    <a href="{{theme.uri}}">Explore {{theme.description.title}}</a>
                </footer>
            </article>
        </div>


        <div class="grid-col grid-col--home-hero tablet-wide-grid-one-fifth">
            <article class="nav-panel nav-panel--stats nav-panel--home-hero sectioned">
                <div class="stat__wrap--home">
                    <header class="nav-panel__header">
                        <h2 class="gamma flush">GDP quarter on quarter growth - CVM</h2>
                    </header>
                    <div class="stat__figure--home">
                        0.3%
                    </div>
                    <div class="stat__description">
                        Q1 2015
                    </div>
                    <img class="stat__image--home" src="../../img/t1-sparkline-2-gdp.png" alt="{{statistics.description.title}}">

                    <a class="js-enhance--hide" href="{{statistics.uri}}">More info</a>
                </div>
                <footer class="nav-panel__footer-home-hero">
                    <a href="{{theme.uri}}">Explore {{theme.description.title}}</a>
                </footer>
            </article>
        </div>

        <div class="grid-col grid-col--home-hero tablet-wide-grid-one-fifth">
            <article class="nav-panel nav-panel--stats nav-panel--home-hero sectioned">
                <div class="stat__wrap--home">
                    <header class="nav-panel__header">
                        <h2 class="gamma flush">Trade in goods and services deficit (or surplus)</h2>
                    </header>
                    <div class="stat__figure--home">
                        -6.0bn
                    </div>
                    <div class="stat__description">
                        Q4 2014
                    </div>
                    <img class="stat__image--home" src="../../img/t1-sparkline-3-trade.png" alt="{{statistics.description.title}}">

                    <a class="js-enhance--hide" href="{{statistics.uri}}">More info</a>
                </div>
                <footer class="nav-panel__footer-home-hero">
                    <a href="{{theme.uri}}">Explore {{theme.description.title}}</a>
                </footer>
            </article>
        </div>

        <div class="grid-col grid-col--home-hero tablet-wide-grid-one-fifth">
            <article class="nav-panel nav-panel--stats nav-panel--home-hero sectioned">
                <div class="stat__wrap--home">
                    <header class="nav-panel__header">
                        <h2 class="gamma flush">Employment rate (aged 16 to 64)</h2>
                    </header>
                    <div class="stat__figure--home">
                        73.4%
                    </div>
                    <div class="stat__description">
                        Feb-Apr 2015
                    </div>
                    <img class="stat__image--home" src="../../img/t1-sparkline-4-employment.png" alt="{{statistics.description.title}}">

                    <a class="js-enhance--hide" href="{{statistics.uri}}">More info</a>
                </div>
                <footer class="nav-panel__footer-home-hero">
                    <a href="{{theme.uri}}">Explore {{theme.description.title}}</a>
                </footer>
            </article>
        </div>

        <div class="grid-col grid-col--home-hero tablet-wide-grid-one-fifth">
            <article class="nav-panel nav-panel--stats nav-panel--home-hero sectioned">
                <div class="stat__wrap--home">
                    <header class="nav-panel__header">
                        <h2 class="gamma flush">UK population</h2>
                    </header>
                    <div class="stat__figure--home">
                        64.6m
                    </div>
                    <div class="stat__description">
                        Mid-2014
                    </div>
                    <img class="stat__image--home" src="../../img/t1-sparkline-5-population.png" alt="{{statistics.description.title}}">

                    <a class="js-enhance--hide" href="{{statistics.uri}}">More info</a>
                </div>
                <footer class="nav-panel__footer-home-hero">
                    <a href="{{theme.uri}}">Explore {{theme.description.title}}</a>
                </footer>
            </article>
        </div>


    </div>
</div> --}}


{{!-- Dynamic stastical highlights --}}
<div class="wrapper panel--mar">
    <!-- grid-wrap -->
    {{!-- <h2>Statistical highlights</h2> --}}

    <div class="grid-wrap grid-wrap--home-hero panel--separated--bottom">
      <!-- grid-col -->
        {{#each sections}}
        <div class="grid-col grid-col--home-hero tablet-wide-grid-one-fifth">
            <article class="nav-panel nav-panel--stats nav-panel--home-hero sectioned">
                <div class="stat__wrap--home">
                    <!-- add to dl -->
                    <!-- change to dt -->
                    <dl>
                        <dt class="nav-panel__header gamma flush">
                            {{statistics.description.title}}
                        </dt>
                        <!-- change to dd's -->
                        <dd>
                            <span class="stat__figure--home block">
                                {{statistics.description.preUnit}} {{statistics.description.number}} {{statistics.description.unit}}
                            </span>
                            <span class="stat__description block">
                                {{statistics.description.date}}
                            </span>
                            <img class="stat__image--home" src="{{statistics.uri}}/sparkline" alt="{{statistics.description.title}}">

                            <a class="js-enhance--hide" href="{{statistics.uri}}">More info</a>
                        </dd>
                    </dl>
                </div>
                <footer class="nav-panel__footer-home-hero">
                    <a href="{{theme.uri}}">Explore {{theme.description.title}}</a>
                </footer>
            </article>
            <!-- grid-col -->
        </div>
        {{/each}}
        <!-- /grid-wrap -->
        <!-- /panel-->
    </div>
</div>


{{!-- <div class="panel wrapper">
    <div class="panel--top-mar panel--separated--bottom">
        <h2 class="delta flush">New this week</h2>
        <div class="grid-wrap">
            <ul class="list--neutral">
    			<li class="grid-col desktop-grid-one-third">
    				<h3 class="flush"><a href="#" title="Item 1">Item 1</a></h3>
    				<p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam convallis laoreet diam ac iaculis. Ut non diam suscipit, aliquet ligula a, tincidunt mauris.
    				</p>
    			</li>
                <li class="grid-col desktop-grid-one-third">
                    <h3 class="flush"><a href="#" title="Item 2">Item 2</a></h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam convallis laoreet diam ac iaculis. Ut non diam suscipit, aliquet ligula a, tincidunt mauris.
                    </p>
                </li>
                <li class="grid-col desktop-grid-one-third">
                    <h3 class="flush"><a href="#" title="Item 3">Item 3</a></h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam convallis laoreet diam ac iaculis. Ut non diam suscipit, aliquet ligula a, tincidunt mauris.
                    </p>
                </li>
            </ul>

        </div>
        <p><a href="#">View new and upcoming releases</a></p>

    </div>
</div> --}}


<div class="panel wrapper">
    <div class="panel--top-mar">
        <div class="grid-wrap">
            <article class="grid-col desktop-grid-one-third nav--block-home-highlighted-content">
                <h2 class="delta flush"><a href="/calendar">What’s coming and when? <span class="img-block"><img src="../../img/t1-cal.png" alt=""></span></a></h2>
                <p>Find out when our statistics are released and sign-up to receive notifications.</p>
            </article>
            <article class="grid-col desktop-grid-one-third nav--block-home-highlighted-content">
                <h2 class="delta flush"><a href="https://www.gov.uk/government/statistics ">Other official statistics <span class="img-block"><img src="../../img/t1-gov-uk--black.png" alt="" class="no-border"></span></a></h2>
                <p>Find official statistics produced by other government departments.</p>
            </article>
            <article class="grid-col desktop-grid-one-third nav--block-home-highlighted-content">
                <h2 class="delta flush"><a href="/localstats">Looking for local statistics? <span class="img-block"><img src="../../img/t1-local.png" alt=""></span></a></h2>
                <p>A handy guide to let you know where to find local statistics.</p>
            </article>
            <article class="grid-col desktop-grid-one-half nav--block-home-highlighted-content oldie-clearleft">
                <h2 class="delta flush"><a href="http://www.ons.gov.uk/ons/guide-method/census/2011/index.html">Census <span class="img-block"><img src="../../img/t1-census.png" alt=""></span></a></h2>
                <p>Discover how our census statistics help paint a picture of the nation and how we live.</p>
            </article>
            <article class="grid-col desktop-grid-one-half nav--block-home-highlighted-content">
                <h2 class="delta flush"><a href="http://visual.ons.gov.uk ">Visual.ONS <span class="img-block"><img src="../../img/t1-visual-ons.png" alt=""></span></a></h2>
                <p>Visual.ONS is a website exploring new approaches to making ONS statistics accessible and relevant to a wide public audience.</p>
            </article>

            <!-- /grid-wrap -->
        </div>
        <!-- /section -->
    </div>
</div>
<!-- wrapper -->

{{> partials/footer}}
