{{> partials/header}}
<div class="wrapper panel--top-mar">
	<h3 class="page-header__title">Search results</h3>
</div>
<!-- /wrapper -->
<div class="wrapper panel--mar print-links">
	<div class="grid-wrap panel--bottom-mar print-hidden">
		<div class="grid-col desktop-grid-one-quarter desktop-grid-push-three-quarters tablet-grid-full-width">
			<label for="select">Sort by
				<div class="field">
					<select class="input " id="select" name="">
						<option value="1" selected>Relevance</option>
						<option value="2">Release date</option>
						<option value="3">Title</option>
					</select>
				</div>
			</label>
		</div>
	</div>
	<!-- /grid-wrap -->
	<div class="grid-wrap">
		<div class="grid-col desktop-grid-one-third">
			<article class="box box--padded sectioned print-hidden">
				<form id="fitlers" action="/search">
					<div class="panel panel--bottom-pad panel--separated--bottom flush">
						<h3 class="flush float-left">Refine results</h3>
						<a href="/search?q={{searchTerm}}" value="Reset" class="btn btn--primary btn--small btn--thin btn--narrow btn--clear-results float-right">Clear</a>
					</div>
					<div class="box__content">
						<p class="panel panel--separated--bottom">Content types to show</p>
						<ul class="list--neutral">
							<li>
								<input type="checkbox" name="type" value="bulletin" {{#contains types 'bulletin'}}checked{{/contains}} >
								<label for="checkbox-statsbulletin">
									Statistical bulletin
								</label>
							</li>
							<li>
								<input type="checkbox" name="type" value="article" {{#contains types 'article'}}checked{{/contains}}>
								<label for="checkbox-article">
									Article
								</label>
							</li>
							<li>
								<input type="checkbox" name="type" value="dataset" {{#contains types 'dataset'}}checked{{/contains}}>
								<label for="checkbox-dataset">
									Dataset
								</label>
							</li>
							<li>
								<input type="checkbox" name="type" value="methodology" {{#contains types 'methodology'}}checked{{/contains}} >
								<label for="checkbox-methodology">
									Methodology
								</label>
							</li>
							{{!-- <li>
								<input type="checkbox" name="type" value="timeseries" {{#contains types 'timeseries'}}checked{{/contains}}>
								<label for="checkbox-timeseries">
									Time series and data slices
								</label>
							</li> --}}
						</ul>
						<p class="panel--mar-small">You can also expand your search results to include the following:</p>
						<div class="panel--mar-small">
							<input type="checkbox" name="includeAllData" value="1" {{#if includeAllData}}checked{{/if}}>
							<label for="checkbox">
								Include{{!-- all --}} individual time series data and data slices </br>
								{{!-- <span class="micro">(currently max 5 shown by default)</span> --}}
							</label>
						</div>
						<div class="panel--mar-small">
							<input type="checkbox" name="includeStatics" value="1" {{#if includeStatics}}checked{{/if}}>
							<label for="checkbox">
								Include all other website content </br>
								<span class="micro">(User requested data, about us, media releases, freedom of information (FOI) requests etc.)</span>
							</label>
						</div>
					</div>
					<div>
						<button type="submit" name="q" value="{{searchTerm}}" class="btn btn--primary btn--small panel--mar-small">Filter</button>
					</div>
					<!-- /box__content -->
				</form>
			</article>
			<!-- /box 'refine results' -->
			{{!--
			<article class="box box--purple box--purple--separated--left">
				<div class="ox__inner border box--padded">
					<header class="box__header">
						<h3 class="gamma">Time series and data slice explorer</h3>
					</header>
					<div class="box__content">
						<p>
							<a href="#">Find and download multiple time series and data slices using our time series search tool</a>
						</p>
					</div>
				</div>
				<!-- /box__inner -->
			</article>
			<!-- /box -->
			--}}
		</div>
		<!-- /grid-desktop-one-third -->
		<div class="grid-col desktop-grid-two-thirds">
			{{#if statisticsSearchResult.results}}
			<p class="flush--half--bottom">
				{{#if statisticsSearchResult.results}}
				{{#if suggestionBased}}
				Sorry, there were no results for <strong>'{{searchTerm}}'</strong>.</br>
				Showing <span class="stand-out-text">{{statisticsSearchResult.numberOfResults}}</span> results for <strong>'{{suggestion}}'</strong> {{#if types}}showing{{#each types}} <strong>{{#eq this 'bulletin'}}statistical bulletins{{/eq}}{{#ne this 'bulletin'}}{{this}}{{/ne}}</strong><span class="icon-cancel"></span>{{/each}}{{/if}}.
				{{else}}
				<span class="stand-out-text">{{statisticsSearchResult.numberOfResults}}</span> results for <span class="stand-out-text">'{{searchTerm}}'</span> {{#if types}}showing{{#each types}} <strong>{{#eq this 'bulletin'}}statistical bulletins{{/eq}}{{#ne this 'bulletin'}}{{this}}{{/ne}}</strong><span class="icon-cancel"></span>{{/each}}{{/if}}.
				{{/if}}
				{{else}}
				Sorry, there were no results for <span class="stand-out-text">'{{searchTerm}}'</span>.
				{{/if}}
			</p>
			{{#if headlinePage}}
			<article class="box box--padded--med sectioned">
				<div class="box__content">
					<div class="grid-wrap">
						{{#ifany headlinePage.items.0.data.years headlinePage.items.0.data.quarters headlinePage.items.0.data.months}}
						<div class="grid-col desktop-grid-one-half">
							<p class="alpha">
								<a href="{{headlinePage.items.0.data.uri}}"><img src="{{headlinePage.items.0.data.uri}}/searchchart" alt="{{headlinePage.items.0.data.title}}"></a>
							</p>
						</div>
						{{/ifany}}
						<div class="grid-col {{#ifany headlinePage.items.0.data.years headlinePage.items.0.data.quarters headlinePage.items.0.data.months}}desktop-grid-one-half{{/ifany}} box--padded-vertical nav--block-landing">
							<h3><a href="{{headlinePage.uri}}">{{headlinePage.description.title}}</a></h3>
							{{md headlinePage.description.summary}}
						</div>
						<!-- /desktop-grid -->
					</div>
					<!-- /grid-wrap -->
				</div>
				<!-- /box__content -->
			</article>
			{{/if}}
			{{#each statisticsSearchResult.results}}
			<ul class="list--neutral">
				<li>
					<h3 class="flush inline">
						<a href="{{uri}}">{{description.title}}
						{{#if description.edition}}
							{{#ne description.edition 'yes'}}: {{description.edition}}{{/ne}}
						{{/if}}
						</a>
					</h3>
					<span class="lozenge">{{#eq type 'bulletin'}}statistical bulletin{{/eq}}{{#ne type 'bulletin'}}{{type}}{{/ne}}</span>
					{{#if partOf}}
					<p class="micro flush">
						<a href="{{uri}}">[{{description.title}}]</a><span class="icon-search-1"></span>
					</p>
					{{/if}}
					<p class="mini description flush">
						Released {{df description.releaseDate}}
					</p>
					{{md description.summary}}
				</li>
			</ul>
			{{/each}}
			{{!-- Paginator --}}
			{{#ne numberOfPages 1}}
			<nav>
				<ul class="nav nav--inline-block">
					{{#ne currentPage startPage}}
					<li>
						<a href="/search?q={{searchTerm}}{{#each types}}&type={{this}}{{/each}}&page={{decrement currentPage}}{{#if includeStatics}}&includeStatics=1{{/if}}{{#if includeAllData}}&includeAllData=1{{/if}}" class="page-link previous">Prev</a>
					</li>
					{{/ne}}
					{{#each pages}}
					<li>
						{{#eq this currentPage}}<span>{{this}}</span>{{/eq}}
						{{#ne this currentPage}}<a href="/search?q={{searchTerm}}{{#each types}}&type={{this}}{{/each}}&page={{this}}{{#if includeStatics}}&includeStatics=1{{/if}}{{#if includeAllData}}&includeAllData=1{{/if}}" class="page-link" >{{this}}</a>{{/ne}}
					</li>
					{{/each}}
					{{#ne currentPage endPage}}
					<li>
						<a href="/search?q={{searchTerm}}{{#each types}}&type={{this}}{{/each}}&page={{increment currentPage}}{{#if includeStatics}}&includeStatics=1{{/if}}{{#if includeAllData}}&includeAllData=1{{/if}}" class="page-link next" >Next</a>
					</li>
					{{/ne}}
				</ul>
			</nav>
			{{/ne}}
			{{else}}
			{{#if searchTerm}}
			<div>
				Sorry, no results were found for <strong>‘{{searchTerm}}’</strong></br></br>
				<strong>You could try one of the following:</strong>
				<ul>
					<li>search again using different words</li>
					<li>remove any filters selected</li>
					{{#unless includeAllData}}
					<li><a href="/search?q={{searchTerm}}{{#each types}}&type={{this}}{{/each}}&page={{currentPage}}{{#if includeStatics}}&includeStatics=1{{/if}}&includeAllData=1">include individual time series data and data slices</a></li>
					{{/unless}}
					{{#unless includeStatics}}
					<li><a href="/search?q={{searchTerm}}{{#each types}}&type={{this}}{{/each}}&page={{currentPage}}{{#if includeAllData}}&includeAllData=1{{/if}}&includeStatics=1">include all other website content</a></li>
					{{/unless}}
				</ul>
			</div>
			{{/if}}
			{{/if}}
		</div>
		<!-- /desktop-grid-two-thirds -->
	</div>
	<!-- /grid-wrap -->
</div>
<!-- /wrapper -->
{{> partials/footer}}
