{{> templates/handlebars/partials/header}}
<div class="wrapper panel--top-mar">
	<h1 class="page-header__title flush--half--bottom">{{title}}</h1>
	<p>
		{{#if contentSearchResult.results}}
		<span class="stand-out-text">{{contentSearchResult.numberOfResults}}</span> results for <strong>'cpi'</strong> showing <strong>statistical bulletins</strong><span class="icon-cancel"></span> and <strong>datasets</strong><span class="icon-cancel"></span>.
		{{else}}
		Sorry, there were no results for <span class="stand-out-text">'cpi'</span>.
		{{/if}}
	</p>
</div>
<!-- /wrapper -->
{{#if contentSearchResult.results}}
<div class="wrapper panel--mar">
	<div class="grid-wrap panel--bottom-mar">
    	<div class="grid-col desktop-grid-one-quarter desktop-grid-push-three-quarters tablet-grid-full-width">
        	<label for="select">Sort by
        		<div class="field">
					<select class="input " id="select" name="">
						<option value="1" selected>Relevance</option>
						<option value="2">Release date</option>
						<option value="3">Title</option>
					</select>
            	</div>
        	</label>
        </div>
    </div>
	<!-- /grid-wrap -->
	<div class="grid-wrap">
		<div class="grid-col desktop-grid-one-third">
			<article class="box box--padded sectioned">
				<form id="fitlers">
					<div class="panel panel--bottom-pad panel--separated--bottom flush">
						<h3 class="flush float-left">Refine results</h3>
						<button type="reset" value="Reset" class="btn btn--primary btn--small btn--thin btn--narrow btn--clear-results float-right">Clear</button>
					</div>
					<div class="box__content">
						<p class="panel panel--separated--bottom">Content types to show</p>
						<ul class="list--neutral">
							<li>
								<input type="checkbox" name="checkbox-statsbulletin" value="1" checked>
									<label for="checkbox-statsbulletin">
										Statistical bulletin
									</label>
							</li>
							<li>
								<input type="checkbox" name="checkbox-article" value="1">
									<label for="checkbox-article">
										Article
									</label>
							</li>
							<li>
								<input type="checkbox" name="checkbox-dataset" value="1" checked>
									<label for="checkbox-dataset">
										Dataset
									</label>
							</li>
							<li>
								<input type="checkbox" name="checkbox-methodology" value="1">
									<label for="checkbox-methodology">
										Methodology
									</label>
							</li>
							<li>
								<input type="checkbox" name="checkbox-timeseries" value="1">
									<label for="checkbox-timeseries">
										Time series and data slices
									</label>
							</li>
						</ul>
						<p class="panel--mar-small">You can also expand your search results to include the following:</p>
						<div class="panel--mar-small">
							<input type="checkbox" name="checkbox" value="1">
							<label for="checkbox">
								Include all individual time series data and data slices </br>
								<span class="micro">(currently max 5 shown by default)</span>
							</label>
						</div>
						<div class="panel--mar-small">
							<input type="checkbox" name="checkbox" value="1">
							<label for="checkbox">
								Include all other website content </br>
								<span class="micro">(User requested data, about us, media releases, freedom of information (FOI) requests etc.)</span>
							</label>
						</div>
					</div>
				<!-- /box__content -->
				</form>
			</article>
			<!-- /box 'refine results' -->
			<article class="box box--purple box--purple--separated--left">
				<div class="ox__inner border box--padded">
					<header class="box__header">
						<h3 class="gamma">Time series and data slice explorer</h3>
					</header>
					<div class="box__content">
						<p>
							<a href="#">Find and download multiple time series and data slices using our time series search tool</a>
						</p>
					</div>
				</div>
				<!-- /box__inner -->
			</article>
			<!-- /box -->
		</div>
		<!-- /grid-desktop-one-third -->
		<div class="grid-col desktop-grid-two-thirds">
			{{#if homeSearchResult.results}}
				{{#each}}
				<article class="box box--padded sectioned">
					<div class="box__content">
						<div class="grid-wrap">
							<div class="grid-col desktop-grid-one-half">
								<p class="alpha">
									Chart
								</p>
							</div>
							<div class="grid-col desktop-grid-one-half nav--block-landing box--padded-vertical">
								<h3><a href="{{url}}">{{title}}</a></h3>
								{{md lede}}
							</div>
							<!-- /desktop-grid -->
						</div>
						<!-- /grid-wrap -->
					</div>
					<!-- /box__content -->
				</article>
				{{/each}}
			{{/if}}
			{{#each contentSearchResult.results}}
			<ul class="list--neutral">
				<li>
					<h3 class="flush inline"><a href="{{url}}">{{title}}</a></h3>
					<span class="lozenge">{{type}}</span>
					{{#if partOf}}
					<p class="micro flush">
						<a href="{{url}}">[{{title}}]</a><span class="icon-search-1"></span>
					</p>
					{{/if}}
					<p class="mini description flush">
						Released {{df releaseDate}}
					</p>
					{{md summary}}
				</li>
			</ul>
			{{/each}}
		</div>
		<!-- /desktop-grid-two-thirds -->
	</div>
	<!-- /grid-wrap -->
</div>
<!-- /wrapper -->
{{/if}}
{{> templates/handlebars/partials/footer}}
