{{> partials/header}}
<div class="page-header slate">
	<div class="wrapper">
		{{> partials/breadcrumb}}
		<h1 class="page-header__title flush--half--bottom">{{description.title}}</h1>
		<div class="content-reveal lede">
			<p>
				{{description.summary}}
			</p>
		</div>
	</div>
	<!-- /wrapper -->
</div>
<!-- /page-header -->
<div class="wrapper">
	<div class="grid-wrap">
		<ul class="list--neutral">
			{{#each sections}}
				{{#if data.items}}
					{{> partials/t2-section}}
				{{else}}
					{{#if data.datasets}}
						{{> partials/t2-section}}
					{{else}}
						{{#if data.statsBulletins}}
							{{> partials/t2-section}}
						{{else}}
							{{#if data.relatedArticles}}
								{{> partials/t2-section}}
							{{else}}
							{{/if}}
						{{/if}}
					{{/if}}
				{{/if}}
			{{/each}}
		</ul>
		<div class="grid-col desktop-grid-one-third tablet-grid-one-half clear-left box--padded-vertical">
			{{> partials/local-box}}
		</div>
		<!-- /grid-col -->
	</div>
	<!-- /grid-wrap -->
</div>
<!-- /wrapper -->
{{> partials/footer}}