{{> partials/header}}
<main id="main" role="main" tabindex="-1">
	<div class="page-header slate slate--grey-bar">
		<div class="wrapper" >
			{{> partials/breadcrumb}}
			<p class="page-header__title page-header--stat-bulletin-desc">
				Article
			</p>
			<h1 class="page-header__title flush--half--bottom">{{description.title}}{{#if description.edition}}: {{description.edition}}{{/if}}</h1>
			<div class="grid-wrap">
				<p class="grid-col tablet-grid-one-quarter {{#if description.nationalStatistic}}page-header__meta-block-with-img{{/if}}">
					{{#if description.nationalStatistic}}
				    <img src="/node_modules/ONS-Pattern-Library/dist/img/national-statistics.png" alt="National Statistics logo" />
				    {{/if}}
					<span>Contact: </span><br/><a href="mailto:{{description.contact.email}}">{{#if description.contact.name}}{{description.contact.name}}{{else}}{{description.contact.email}}{{/if}}</a>
				</p>
				<p class="grid-col tablet-grid-one-quarter divider--border-left">
					<span>Release date: </span><br/>{{df description.releaseDate}}<br/>
				  <a class="print-hidden" href="previousreleases">previous releases</a>
				</p>
				<p class="grid-col tablet-grid-one-quarter divider--border-left">
					<span>Next release: </span><br/>{{description.nextRelease}}
				</p>
				<p class="grid-col tablet-grid-one-quarter divider--border-left print-hidden">
					<a href="" id="jsEnhancePrint" class="link-complex nojs-hidden js-enhance--show">
						<span class="icon-print"></span>
						<span class="link-complex__target">Print full report</span>
					</a>
					<br class="nojs-hidden js-enhance--show"/>
					<a href="#" class="link-complex">
						<span class="icon-download" role="presentation"></span>
						<span class="link-complex__target">Download PDF</span>
						<span>(??KB)</span>
					</a>
				</p>
			</div>
		</div>
	</div>
	<!-- Table of contents -->
	<div class="wrapper">
		<p class="lede">{{description.summary}}</p>
		<div class="panel--separated--bottom">
			<h2>Table of contents</h2>
			<ol id="toc" class="table-of-contents-ordered-list">
				{{#each sections}}
				<li>
					<a href="#{{slugify title}}">{{title}}</a>
				</li>
				{{/each}}
				{{#if accordion}}
					{{#each accordion}}
					<li>
						<a href="#{{slugify title}}" class="footnote-body">{{title}}</a>
					</li>
					{{/each}}
				{{/if}}
			</ol>
		</div>
	</div>
	<!-- Body Sections -->
	<div class="wrapper panel--bottom-mar print-links">
		<div class="grid-wrap">
			<article class="grid-col desktop-grid-two-thirds tablet-grid-full-width">
				{{#each sections}}
					{{!-- Prevent bottom border on last section before accordian --}}
					{{#if @last}}
					<section id="{{slugify title}}" class="panel--pad">
					{{else}}
					<section id="{{slugify title}}" class="panel--separated--bottom panel--pad">
					{{/if}}
						<header>
							<h2>{{@index_1}}. {{title}}</h2>
						</header>
						{{md markdown}}
						<a class="print-hidden" href="#toc" title="Back to table of contents">Back to table of contents</a>
					</section>
				{{/each}}
				<!-- Accordion -->
				{{#if accordion}}
				<div class="panel--mar">
					{{#each accordion}}
					<section id="{{slugify title}}" class="accordion is-collapsed">
						<h2 class="accordion__title" aria-controls="content-{{@index}}">{{title}}</h2>
						<div class="accordion__content panel--bottom-mar-small" aria-labelledby="sc-{{@index}}">
							{{md markdown}}
							<a class="print-hidden" href="#toc" title="Back to table of contents">Back to table of contents</a>
						</div>
					</section>
					{{/each}}
				</div>
				{{/if}}
			</article>
			<!-- Sidebar -->
			<div class="grid-col desktop-grid-one-third tablet-grid-full-width panel--top-mar">
				<!-- article__content -->
				{{#if relatedData}}
				<div class="box box--green box--green--separated--left">
					<div class="box__inner border box--padded">
						<header class="box__header">
							<h3>Data in this article</h3>
						</header>
						<div class="box__content">
							<ul class="list--neutral">
								{{#each relatedData}}
								<li class="flush--third--bottom"><a href="{{uri}}">{{description.title}}</a></li>
								{{/each}}
							</ul>
						</div>
					</div>
				</div>
				{{/if}}
				<!-- /article__content -->
		        <div class="box__inner border box--padded">
		            <header class="box__header">
		                <h3>Contact details for this article</h3>
		            </header>
		            <!-- /box__header -->
		            <div class="box__content">
		                <address>
											{{#if description.contact.name}}{{description.contact.name}}</br>{{/if}}
	                		<a href="mailto:{{description.contact.email}}">{{description.contact.email}}</a></br>
	                		{{#if description.contact.telephone}}Telephone: {{description.contact.telephone}}{{/if}}
		                </address>
		            </div>
		            <!-- /box__content -->
		        </div>
		        <!-- /box -->
			</div>
		</div>
	</div>
	<!-- panel -->
	<div class="slate--mid-grey">
		<!-- wrapper -->
		<div class="wrapper panel--top-pad print-links">
			<!-- grid-wrap -->
			<div class="grid-wrap">
				<div class="grid-col desktop-grid-two-thirds tablet-grid-full-width">
					{{#if relatedArticles}}
					<article class="box box--teal--separated--left">
						<div class="box__inner border box--padded solid">
							<h3>Related articles</h3>
							<ul class="list--neutral">
								{{#each relatedArticles}}
								<li>
									<h3 class="flush--bottom">
									<a href="{{uri}}">{{description.title}}</a>
									</h3>
									{{md description.summary}}
								</li>
								{{/each}}
							</ul>
						</div>
					</article>
					{{/if}}
				</div>
        		<div class="grid-col desktop-grid-one-third tablet-grid-full-width">
         			{{> partials/local-box}}
        		</div>
			</div>
		</div>
	</div>
</main>
{{> partials/footer}}