{{> partials/header}}
<main id="main" role="main" tabindex="-1">
	<div class="page-header slate slate--blue">
		<div class="wrapper">
			{{> partials/breadcrumb}}
			<p class="page-header__title">
				Compendium
			</p>
			<h1 class="page-header__title flush--half--bottom">{{description.title}}{{#if description.edition}}: {{description.edition}}{{/if}}</h1>
			<div class="grid-wrap mini">
				<p class="grid-col tablet-grid-one-quarter {{#if description.nationalStatistic}}page-header__meta-block-with-img{{/if}}">
					{{#if description.nationalStatistic}}
					<img src="/node_modules/ONS-Pattern-Library/ui/img/national-statistics.png" alt="National Statistics logo">
					{{/if}}
					<span>Contact: </span></br>
					<a href="mailto:{{description.contact.email}}">{{#if description.contact.name}}{{description.contact.name}}{{else}}{{description.contact.email}}{{/if}}</a>
				</p>
				<p class="grid-col tablet-grid-one-quarter divider--border-left">
					<span>Release date: </span></br>{{df description.releaseDate}}
					</br>
					<a class="print-hidden" href="#">previous versions</a>
				</p>
				{{#if description.nextRelease}}
				<p class="grid-col tablet-grid-one-quarter divider--border-left">
					<span>Next release: </span></br>{{description.nextRelease}}
				</p>
				{{/if}}
				<p class="grid-col tablet-grid-one-quarter divider--border-left print-hidden">
					<a href="" id="jsEnhancePrintCompendium" class="link-complex nojs-hidden js-enhance--show">
						<span class="icon-print"></span>
						<span class="link-complex__target print-analytics">Print full report</span>
					</a>
					{{!--<br class="nojs-hidden js-enhance--show"/>
					<a href="#" class="link-complex">
						<span class="icon-download" role="presentation"></span>
						<span class="link-complex__target">Download PDF</span>--}}
					</a>
				</p>
			</div>
			<!-- /grip-wrap -->
		</div>
		<!-- /wrapper -->
	</div>
	<!-- /page-header -->
	<div class="wrapper panel--mar print-content">
		<div class="grid-wrap">
			<div class="grid-col desktop-grid-full-width">
				<div class="lede print-links">
					{{md summary}}
				</div>
				<h2>What's in this compendium?</h2>
				<section class="accordion is-collapsed">
					<h3 id="sc-{{@index}}" class="accordion__title" aria-controls="content-{{@index}}">Chapters</h3>
					<div id="content-{{@index}}" class="accordion__content" aria-labelledby="sc-{{@index}}">
						<ul class="list--neutral">
							{{#each chapters}}
							<li>
								<h4 class="flush" ><a href="{{uri}}" class="chapter">{{description.title}}</a></h4>
								<p>{{description.headline}}</p>
							</li>
							{{/each}}
						</ul>
					</div>
				</section>
				<!-- /accordion -->
				<section>
				<!--<section class="accordion is-collapsed">-->
					<!--<h3 id="sc-{{@index}}" class="accordion__title" aria-controls="content-{{@index}}">Data</h3>-->
					<h3 class="accordion__title">Data</h3>
					<!--<div id="content-{{@index}}" class="accordion__content" aria-labelledby="sc-{{@index}}">-->
					<div class="accordion__content">
						<ul class="list--neutral">
							{{#each datasets}}
							<li>
								<h4 class="flush"><a href="{{uri}}">{{description.title}}</a></h4>
               					<p>All the time series data in this compendium.</p>
							</li>
							{{/each}}
						</ul>
					</div>
				</section>
				<!-- /accordion -->
				<div class="grid-wrap panel--top-pad-large">
					<div class="grid-col desktop-grid-one-half">
						<article class="box box--padded sectioned">
							<h3 class="box__section__header">Methodology</h3>
							<div class="box__content">
								<ul class="list--neutral">
									{{#each methodology}}
									<li class="flush--third--bottom">
										<a href="{{uri}}">{{title}}</a>
									</li>
									{{/each}}
								</ul>
							</div>
						</article>
					</div>
					<!-- /grid-desktop-one-half -->
					<div class="grid-col desktop-grid-one-half">
						<div class="box box--padded sectioned">
							<h3 class="box__section__header">Contact details</h3>
							<div class="box__content">
								<address>
									{{#if description.contact.name}}{{description.contact.name}}</br>{{/if}}
		                      		<a href="mailto:{{description.contact.email}}">{{description.contact.email}}</a></br>
		                      		{{#if description.contact.telephone}}Telephone: {{description.contact.telephone}}{{/if}}
								</address>
							</div>
						</div>
						<!-- /box -->
					</div>
					<!-- /grid-desktop-one-half -->
				</div>
				<!-- /grid-wrap panel--top -->
			</div>
			<!-- /desktop-grid-full-width -->
		</div>
		<!-- /grid-wrap -->
	</div>
	<!-- /wrapper -->
</main>
{{> partials/footer}}
