{{> partials/header}}
<main id="main" role="main" tabindex="-1">
	<div class="page-header slate slate--red">
		<div class="wrapper">
		{{> partials/breadcrumb}}
			<p class="page-header__title">
				Quality and methodology information
			</p>
			<h1 class="page-header__title flush--half--bottom">{{description.title}}{{#if description.edition}}: {{description.edition}}{{/if}}</h1>
			<div class="grid-wrap mini">
				<p class="grid-col tablet-grid-one-quarter">
					<span>Contact: </span></br>
					<a href="mailto:{{description.contact.email}}">{{#if description.contact.name}}{{description.contact.name}}{{else}}{{description.contact.email}}{{/if}}</a>
				</p>
				<p class="grid-col tablet-grid-one-quarter divider--border-left">
					<span>Last revised: </span><br/>{{df description.lastRevised}}
				</p>
				<p class="grid-col tablet-grid-one-half divider--border-left">
					<a class="link-complex" href="{{download.uri}}">
						<span class="icon icon-download"></span>
						<span class="link-complex__target">{{download.title}}</span>
					</a> (??MB)
				</p>
			</div>
			<h2 class="gamma">Methodology background</h2>
			<div class="grid-wrap">
				<p class="grid-col tablet-grid-one-quarter {{#if description.nationalStatistic}}page-header__meta-block-with-img{{/if}}">
					{{#if description.nationalStatistic}}
					<img src="../../node_modules/ONS-Pattern-Library/ui/img/national-statistics.png" alt="National Statistics logo" />
					{{/if}}
					<span>Survey name: </span><br/>{{description.surveyName}}
				</p>
				<p class="grid-col tablet-grid-one-quarter divider--border-left">
					<span>Frequency: </span><br/>{{description.frequency}}
				</p>
				<p class="grid-col tablet-grid-one-quarter divider--border-left">
					<span>How compiled: </span><br/>{{description.dataSource}}
				</p>
				<p class="grid-col tablet-grid-one-quarter divider--border-left">
					<span>Graphical coverage: </span><br/>{{description.coverage}}
				</p>
			</div>
		</div>
	</div>
	<!-- /page-header 'slate' -->
	<div class="wrapper panel--mar">
		<div class="grid-wrap">
			<article class="grid-col desktop-grid-two-thirds">
				{{md markdown}}
			</article>
			<!-- /grid-two-thirds -->
			<div class="grid-col desktop-grid-one-third">
				{{#if relatedDocuments}}
				<article class="box solid box--teal--separated--left">
					<div class="box__inner border box--padded">
						<h3 class="box__section__header">
							This methodology is used for
						</h3>
						<!-- /box__header -->
						<div class="box__content">
							<ul class="list--neutral">
								{{#each relatedDocuments}}
								<li class="flush--third--bottom"><a href="{{uri}}">{{description.title}}{{#if description.edition}}: {{description.edition}}{{/if}}</a></li>
								{{/each}}
							</ul>
						</div>
						<!-- /box__content -->
					</div>
					<!-- /box__inner -->
				</article>
				{{/if}}
				<!-- /box -->
				<div class="box box--padded sectioned">
					<h3 class="box__section__header">
						Contact details for this methodology
					</h3>
					<!-- /box__header -->
					<div class="box__content">
						<address>
							{{#if description.contact.name}}{{description.contact.name}}<br/>{{/if}}
		                    <a href="mailto:{{description.contact.email}}">{{description.contact.email}}</a><br/>
		                    {{#if description.contact.telephone}}Telephone: {{description.contact.telephone}}{{/if}}
						</address>
					</div>
					<!-- /box__content -->
				</div>
				<!-- /box -->
			</div>
			<!-- /desktop-grid-one-third -->
		</div>
		<!-- /grid-wrap -->
		<div class="grid-wrap">
			<div class="grid-col desktop-grid-one-third">
				<div class="box solid box--purple--separated--left">
					<div class="box__inner border box--padded">
						<h3 class="box__section__header">
							Download this methodology
						</h3>
						<!-- /box__header -->
						<div class="box__content">
							<ul class="list--neutral">
								{{#each downloads}}
								<li class="flush--third--bottom">
									<a href="{{downloads.uri}}" title="{{download.title}}">{{downloads.title}}</a>
								</li>
								{{/each}}
							</ul>
						</div>
						<!-- /box__content -->
					</div>
					<!-- /box__inner -->
				</div>
				<!-- /box -->
			</div>
			<!-- /desktop-grid-one-third -->
		</div>
		<!-- /grid-wrap -->
	</div>
</main>
{{> partials/footer}}
