{{> partials/header}}
<main id="main" role="main" tabindex="-1">
	<div class="page-header slate slate--red">
		<div class="wrapper">
			{{> partials/breadcrumb}}
			<p class="page-header__title">
				Freedom of information (FOI)
			</p>
			<h1 class="page-header__title flush--half--bottom">{{description.title}}</h1>
			<div class="grid-wrap">
				<p class="grid-col tablet-grid-one-quarter">
					<span>Release date: </span><br/>{{df description.releaseDate}}
				</p>
			</div>
		</div>
	</div>
	<!-- /page-header 'slate' -->
	<div class="wrapper panel--mar print-links">
		<div class="grid-wrap">
			<article class="grid-col desktop-grid-two-thirds">
				{{#each markdown}}
					{{md this}}
				{{/each}}
			</article>
			<!-- /desktop-grid-two-thirds -->
			<div class="grid-col desktop-grid-one-third">
        <article>
					{{#if downloads}}
            <div class="box solid box--purple--separated--left">
              <div class="box__inner border box--padded">
                <h3 class="box__section__header">
                  Download data for this FOI
                </h3>
                <!-- /box__header -->
                <div class="box__content">
									{{#each downloads}}
                    <a href="{{uri}}">{{title}}</a>
									{{/each}}
                </div>
                <!-- /box__content -->
              </div>
              <!-- /box__inner -->
            </div>
            <!-- /box -->
					{{/if}}
        </article>
				<article>
					<div class="box solid box--purple--separated--left">
						<div class="box__inner border box--padded">
							<h3 class="box__section__header">
								Making an FOI request
							</h3>
							<!-- /box__header -->
							<div class="box__content">
								<a href="about/freedomofinformationact">Everything you need to know about Freedom of Information and how to go about making a request.</a>
							</div>
							<!-- /box__content -->
						</div>
						<!-- /box__inner -->
					</div>
        </article>
      </div>
		</div>
	</div>
	<!-- /wrapper -->
</main>
{{> partials/footer}}
