{{> templates/handlebars/partials/header}}
<main id="main" role="main" tabindex="-1">
	<div class="page-header slate slate--red">
		<div class="wrapper">
			{{> templates/handlebars/partials/breadcrumb}}
			<h1 class="page-header__title flush--half--bottom">{{name}}</h1>
			<div class="grid-wrap">
				<p class="grid-col tablet-grid-one-quarter">
					<span>Contact: </span><br/><a href="#">{{contact.name}}</a>
				</p>
				<p class="grid-col tablet-grid-one-quarter divider--border-left">
					<span>Last revised: </span>{{lastRevised}}<br/>
					<a href="#">previous versions</a>
				</p>
			</div>
			{{> templates/handlebars/partials/social-icons}}
		</div>
	</div>
	<!-- /page-header 'slate' -->
	<div class="wrapper panel--mar">
		<div class="grid-wrap">
			<div class="grid-col desktop-grid-full-width">
					{{md lede}}
			</div>
		</div>
		<!-- table of contents -->
		<div class="panel--separated--bottom panel--bottom-mar">
			<h2>In this section</h2>
				<ol class="table-of-contents-ordered-list">
					{{#each sections}}
					<li><a href="#{{this.uri}}" title="{{this.title}}">{{this.title}}</a></li>
					{{/each}}
				</ol>
		</div>
		<!-- /table of contents -->
		<div class="grid-wrap">
			<div class="grid-col desktop-grid-two-thirds">
				{{#each sections}}
				<h2 id="{{this.uri}}">{{this.title}}</h2>
				<p>{{this.markdown}}</p>
				{{/each}}
			</div><!-- /grid-two-thirds -->
			<div class="grid-col desktop-grid-one-third">
				<div class="box solid box--green--separated--left">
					<div class="box__inner border box--padded">
						<h3 class="box__section__header">
							Data related to this content
						</h3>
						<div class="box__content">
							<ul class="list--neutral">
								{{#each data}}
								<li class="flush--third--bottom"><a href="{{this.uri}}">{{this.title}}</a></li>
								{{/each}}
							</ul>
						</div>
						<!-- /box__content -->
					</div>
					<!-- /box__inner -->
				</div>
				<div class="box solid box--teal--separated--left">
					<div class="box__inner border box--padded">
						<h3 class="box__section__header">
							Statistical bulletins related to this content
						</h3>
						<div class="box__content">
							<ul class="list--neutral">
								{{#each relatedBulletins}}
								<li class="flush--third--bottom"><a href="{{this.uri}}">{{this.title}}</a></li>
								{{/each}}
							</ul>
						</div>
						<!-- /box__content -->
					</div>
					<!-- /box__inner -->
				</div>
				<div class="box solid box--purple--separated--left">
					<div class="box__inner border box--padded">
							<h3 class="box__section__header">
								Download our guide
							</h3>
						<!-- /box__header -->
						<div class="box__content">
							<ul class="list--neutral">
								{{#each downloads}}
								<li class="flush--third--bottom"><a href="{{this.uri}}">{{this.title}}</a></li>
								{{/each}}
							</ul>
						</div>
						<!-- /box__content -->
					</div>
					<!-- /box__inner -->
				</div>
				<div class="box box--padded lifted sectioned">
					<h3 class="box__section__header">
						Contact details for this methodology
					</h3>
					<!-- /box__header -->
					<div class="box__content">
						<address>
							{{contact.name}}<br/>
							<a href="mailto:{{contact.email}}">{{contact.email}}</a><br/>
							{{contact.telephone}}
						</address>
					</div>
					<!-- /box__content -->
				</div>
				<!-- /box--lifted -->
			</div><!-- /grid-one-third -->
		</div><!-- /grid-wrap -->
	</div>
	<!-- /wrapper -->
</main>
{{> templates/handlebars/partials/footer}}
