{{> partials/header}}
<main id="main" role="main" tabindex="-1">
	<div class="page-header slate slate--light-green">
		<div class="wrapper">
			{{> partials/breadcrumb}}
			<p class="page-header__title">
				Dataset
			</p>
			<h1 class="page-header__title flush--half--bottom">{{description.title}}</h1>
			<div class="grid-wrap">
				<p class="grid-col tablet-grid-one-quarter {{#if description.nationalStatistic}}page-header__meta-block-with-img{{/if}}">
					{{#if description.nationalStatistic}}
					<img src="/node_modules/ONS-Pattern-Library/ui/img/national-statistics.png" alt="National Statistics log">
					{{/if}}
					<span>Contact: </span><br/><a href="mailto:{{description.contact.email}}">{{#if description.contact.name}}{{description.contact.name}}{{else}}{{description.contact.email}}{{/if}}</a>
				<p class="grid-col tablet-grid-one-quarter divider--border-left">
					<span>Release date: </span><br/>{{df description.releaseDate}}
					</br>
					<a class="print-hidden" href="#">previous versions</a>
				</p>
				<p class="grid-col tablet-grid-one-quarter divider--border-left">
					<span>Next release: </span><br/>{{description.nextRelease}}
				</p>
				<p class="grid-col tablet-grid-one-quarter divider--border-left">
					<span>Dataset id: </span>{{description.datasetId}}
					<a href="#">what is this?</a>
				</p>
			</div>
			<!-- /grip-wrap -->
		</div>
		<!-- / wrapper -->
	</div>
	<!-- / page-header -->
	<div class="wrapper panel--mar print-links">
		<div class="grid-wrap">
			<div class="grid-col desktop-grid-full-width">
				<!-- /box -->
				<div class="lede">
					{{md description.summary}}
				</div>
			</div>
			<!-- /grid-col -->
			<div class="grid-col desktop-grid-two-thirds">
				<div class="wrapper panel--pad-small muted--dark">
				<h3>Your download options</h3>
					<ul class="list--neutral">
						{{#each datasets}}
						<li>
							<article class="box box--padded--med solid">
								<div class="box--content">
									<div class="grid-wrap">
										<div class="grid-col tablet-grid-one-quarter">
											{{title}}
										</div>
										<div class="grid-col tablet-grid-three-quarters">
											<a href="{{uri}}" title="{{title}}" class="btn btn--primary btn--block btn--thin">
												{{fileType}} ({{fileSize}})
												<span class="icon icon-download" role="presentation"></span>
											</a>
										</div>
									</div>
									<!-- /grid-wrap -->
								</div>
								<!-- /box--content -->
							</article>
							<!-- /box -->
						</li>
						{{/each}}
				</div>
				<div class="panel--top-pad">
					<h3>Important notes and usage information</h3>
					{{md notes.markdown}}
				</div>
			</div>
			<!-- /grid-col desktop-grid-two-thirds -->

			<div class="grid-col desktop-grid-one-third">
				<!-- RELATED DATASETS -->
				<article class="box solid box--green--separated--left">
					<div class="ox__inner border box--padded">
						<header class="box__header">
							<h3>Related datasets</h3>
						</header>
						<div class="box__content">
							<ul class="list--neutral">
								{{#each relatedData}}
								<li class="flush--third--bottom"><a href="{{uri}}" title="{{title}}">{{title}}</a></li>
								{{/each}}
							</ul>
						</div>
					</div>
					<!-- /box__inner -->
				</article>
				<!-- RELATED BULLETINS & ARTICLES -->
				<article class="box solid box--teal--separated--left">
					<div class="ox__inner border box--padded">
						<header class="box__header">
							<h3>Statistical bulletins and articles that use this time series</h3>
						</header>
						<div class="box__content">
							<ul class="list--neutral">
								{{#each relatedContent}}
								<li class="flush--third--bottom">
									<a href="{{uri}}" title="{{title}}">{{title}}</a>
								</li>
								{{/each}}
							</ul>
						</div>
					</div>
					<!-- /box__inner -->
				</article>
				<!-- /box -->
			</div>
			<!-- /grid-col -->
			<div class="grid-col desktop-grid-full-width">
				<div class="grid-wrap">
					<div class="grid-col desktop-grid-one-half">
						<article class="box box--padded sectioned">
							<header class="box__header">
								<h3>Methodology</h3>
							</header>
							<div class="box__content">
								<ul class="list--neutral">
									{{#each methodology}}
									<li class="flush--third--bottom">
										<a href="{{uri}}" title="{{title}}">{{title}}</a>
									</li>
									{{/each}}
								</ul>
							</div>
						</article>
					</div>
					<!-- /grid-desktop-one-half -->
					<div class="grid-col desktop-grid-one-half">
						<article class="box box--padded sectioned">
							<header class="box__header">
								<h3>Contact details</h3>
							</header>
							<div class="box__content">
								<address>
									{{#if description.contact.name}}{{description.contact.name}}</br>{{/if}}
		                      		<a href="mailto:{{description.contact.email}}">{{description.contact.email}}</a></br>
		                      		{{#if description.contact.telephone}}Telephone: {{description.contact.telephone}}{{/if}}
								</address>
							</div>
						</article>
					</div>
					<!-- /grid-desktop-one-half -->
				</div>
				<!-- /grid-wrap -->
			</div>
			<!--/grid-col desktop-grid-full-width -->
		</div>
		<!-- /grid-wrap -->
	</div>
	<!-- /wrapper -->
</main>
{{> partials/footer}}
