{{> templates/handlebars/partials/header}}
<main id="main" role="main" tabindex="-1">
	<div class="wrapper panel--top-mar">
		{{> templates/handlebars/partials/breadcrumb}}
		<h1 class="page-header__title flush--half--bottom">User requested data</h1>
		<p>
			{{#if contentSearchResult.results}}
			<span class="stand-out-text">{{contentSearchResult.numberOfResults}}</span> results for <strong>user requested data</strong> related to <strong>{{title}}</strong>.
			{{else}}
			Sorry, there is no <strong>user request data</strong> for <strong>{{title}}</strong>.
			{{/if}}
		</p>
	</div>
	<!-- /wrapper -->
	<div class="wrapper panel--mar">
		{{#if contentSearchResult.results}}
		<div class="grid-wrap panel--bottom-mar">
			<div class="grid-col mini desktop-grid-one-third desktop-grid-push-two-thirds">
				<p class="flush">
					Get updates to this list
					<a href="#" class="icon-mail">Email</a>
					<a href="#" class="icon-rss">RSS</a>
				</p>
			</div>
			<!-- /desktop-grid -->
		</div>
		<!-- /grid-wrap -->
		<div class="grid-wrap">
			<div class="grid-col desktop-grid-one-third">
				<article class="box box--padded sectioned">
					<form id="filters">
						<div class="panel panel--bottom-pad panel--separated--bottom flush">
							<h3 class="flush float-left">Refine results</h3>
							<button type="reset" value="Reset" class="btn btn--primary btn--small btn--thin btn--narrow btn--clear-results float-right">Clear</button>
						</div>
						<div class="box__content">
							<label class="field flush field--spaced field--text">
								<span class="panel panel--separated--bottom block">Contains</span>
								<input class="input input--med" type="text" placeholder="Keywords">
							</label>
							<p class="panel panel--separated--bottom field--text">Release date</p>
							<label class="field field--spaced field--text">
								<span class="flush">Published after</span>
								<input class="input input--med" type="text" placeholder="eg 01/01/2015">
							</label>
							<label class="field field--spaced field--text">
								<p class="flush">Published before</p>
								<input class="input input--med" type="text" placeholder="eg 01/02/2015">
							</label>
							<div class="panel panel--separated--bottom">
								<label for="select">Topics</label>
							</div>
							<div class="field field--spaced">
								<select class="input input--mini" id="select" name="Topics">
								<option value="1" selected>All</option>
								{{#each navigation.nodes}}
								<option value="{{@index}}">{{title}}</option>
								{{/each}}
							</select>
							</div>
							<!-- /field drop-down -->
						</div>
					</form>
					<!-- /box__content -->
				</article>
				<!-- /box 'refine results' -->
				<article class="box box--purple box--purple--separated--left">
					<div class="box__inner border box--padded">
						<header class="box__header">
							<h3 class="gamma">Need an earlier release?</h3>
						</header>
						<div class="box__content">
							<p>
								We moved them to <a href="#">The National Archives</a> website, to keep this website as responsive as possible.
							</p>
							<p>
								<strong>Please note: </strong>all historical data is still on this website.
							</p>
						</div>
					</div>
					<!-- /box__inner -->
				</article>
				<!-- /box -->
			</div>
			<!-- /desktop-grid-one-third -->
			<div class="grid-col desktop-grid-two-thirds">
				<ul class="list--neutral">
					{{#each contentSearchResult.results}}
					<li>
						<h3 class="flush"><a href="{{url}}">{{title}}</a></h3>
						<div class="grid-wrap">
							<p class="mini description flush grid-col desktop-grid-one-third">
								Released {{df releaseDate}}
							</p>
							<!-- /desktop-grid-one-quarter -->
							<p class="mini description flush grid-col desktop-grid-one-third">
								Ref: {{reference}}
							</p>
							<!-- /desktop-grid -->
						</div>
						<!-- grid-wrap -->
						{{md summary}}
					</li>
					{{/each}}
				</ul>
				<div class="panel panel--separated--top">
					<ul class="nav">
						<li>
							<a href="#">1</a>
						</li>
						<li>
							<a href="#">2</a>
						</li>
						<li>
							<a href="#">Next &gt;</a>
						</li>
					</ul>
				</div>
				<!-- /panel--seperated--top 'pagination' -->
			</div>
			<!-- /desktop-grid-two-thirds -->
			{{/if}}
		</div>
		<!-- /grid-wrap -->
	</div>
	<!-- /wrapper -->
</main>
{{> templates/handlebars/partials/footer}}
