
{{#partial "block-main"}}
	{{#block "block-alert"}}{{/block}}

	{{#block "block-title-wrapper"}}
		<div class="{{background}}">
			<div class="wrapper">
				<div class="col-wrap">
					<div class="col">
						{{#if showBreadcrumb}}
							{{> list/partials/list-page-breadcrumb label=breadcrumbLabel}}
						{{/if}}
						<h1 class="search-page__title{{#if tabs}} margin-bottom-md--3 margin-bottom-md--2{{/if}}">{{!-- {{#block "block-title"}}{{/block}} --}}{{> partials/page-title }}</h1>
						{{#if tabs}}
							{{> list/partials/tabs }}
						{{/if}}
					</div>
				</div>
			</div>
		</div>
	{{/block}}

	<div class="page-content border">
		<div class="wrapper">
			<div class="col-wrap print-hidden">
				<div class="col">
					{{#block "block-results-text"}}
						<div class="col col--md-28 col--lg-38">
							{{> list/partials/search-results-text-number result}}
						</div>
					{{/block}}
					{{#block "block-results-extra"}}
						{{#if result.results}}
							{{#unless hideSort}}
								<div class="float-right">
									{{> list/filters/sort}}
								</div>
							{{/unless}}
						{{/if}}
					{{/block}}
				</div>
			</div>
			<form id="form" class="js-auto-submit__form">
				{{!-- FILTERS --}}
				{{!-- {{#if_any result.results parameters.filter parameters.time_series}} --}}
				<div class="col col--md-12 col--lg-18 margin-bottom">
					<div class="margin-bottom-md--2 flush-col js-mobile-filters">
						<div class="background--gallery padding-top-md--2 padding-right-md--1 padding-bottom-md--4 padding-left-sm--1 padding-left-md--1 flush js-mobile-filters__title">
							<h3 class="inline-block flush">Refine results</h3>
							<a href="{{location.pathname}}{{#if parameters.q.0}}?q={{parameters.q.0}}{{/if}}" class="btn btn--primary btn--thin btn--narrow btn--small float-right">{{labels.search-refine-clear}}</a>
						</div>
						<div class="background--mercury border-top--iron-md padding-top-sm--2 padding-top-md--1 padding-right-sm--1 padding-right-md--1 padding-bottom-sm--2 padding-bottom-md--2 padding-left-sm--1 padding-left-md--1 js-mobile-filters__contents">
							<div class="filters js-filters">
								{{#block "block-filters"}}
								{{/block}}
							</div>
							<button type="submit" class="btn btn--primary btn--thick margin-top-sm--2 margin-top-md--2 js-submit-button">{{labels.search-filter}}</button>
						</div>
					</div>
					{{> partials/archives-box}}
				</div>
			</form>
			{{!-- {{/if_any}} --}}
				
			{{!-- RESULTS --}}
			<div class="col col--md-34 col--lg-40 margin-left-md--1">

				<div id="results" class="results">

				{{#block "block-featured-result"}}{{/block}}

				{{> list/partials/search-results-text-help result}}

				{{!-- MAIN RESULTS --}}
				<!-- /desktop-grid-one-third -->
				<div class="search-results">
					<ul class="list--neutral flush">
						{{#block "block-results"}}
							{{#each result.results}}
								<li class="search-results__item">
									{{> list/partials/results-title showEdition=true}}
									{{> list/partials/results-meta}}
									{{> list/partials/results-summary}}
									{{> list/partials/results-keywords}}
								</li>
							{{/each}}
						{{/block}}
					</ul>
				</div>
				{{> list/partials/paginator paginator=result.paginator}}
				<!-- /desktop-grid-two-thirds -->
				</div>
			</div>
		</div>
	</div>
{{/partial}}

{{!-- Inheriting from base template --}}
{{> base/base}}