<div class="col-wrap">
	<div class="col">
		<h3 class="section-subtitle">Datasets</h3>
	</div>
</div>
<ul class="tile--series-list-block">
	{{#each datasets}}
		<li class="col-wrap tile--series-list-block__item clickable-wrap">
			{{#resolve (absolute this.uri) filter="description"}}
			<div class="col col--lg-38">
				<h4 class="tile--series-list-block__title">
					<a href="{{absolute uri}}" title="{{description.title}}">
						{{description.title}}
					</a>
				</h4>
				<p class="tile--series-list-block__content">{{description.summary}}</p>
			</div>
			<div class="col col--lg-20">
				<h4 class="tile--series-list-block__title">Meta</h4>
				<p class="tile--series-list-block__content">Meta stuffs, maybe?</p>
			</div>
			{{/resolve}}
		</li>
	{{/each}}
</ul>
<a href="{{uri}}/datasets" class="btn btn--full-width">View all datasets related to {{description.title}}</a>