<div class="col-wrap">
	<div class="col">
		<h2 id="datasets">Datasets related to {{description.title}}</h2>
	</div>
</div>
<ul class="tiles__list margin-top--half">
	{{#loop datasets limit=6}}
		<li class="col-wrap tiles__item tiles__item--list-type tiles__item--list-type-mercury flush-col js-hover-click">
			{{#resolve (absolute this.uri) filter="description"}}
			<div class="col col--lg-38">
				<h4 class="tiles__title tiles__title-h4">
					<a href="{{absolute uri}}">
						{{description.title}}
					</a>
				</h4>
				<div class="tiles__content">
                    <p class="flush">{{description.summary}}</p>
                </div>
			</div>
			<div class="col col--lg-20">
				{{!-- <h4 class="tiles__title-h4">Meta</h4> --}}
				{{!-- <p class="tiles__content">Meta stuffs, maybe?</p> --}}
			</div>
			{{/resolve}}
		</li>
	{{/loop}}
</ul>
<a href="{{uri}}/datalist?filter=datasets" class="btn btn--primary btn--full-width">View all datasets related to {{description.title}}</a>
