<h2 id="datasets">{{labels.datasets-related-to}} <span class="lowercase">{{description.title}}</span></h2>
<ul class="list--neutral margin-top--half">

    {{#resolveDatasets (absolute this.uri)}}
        {{#loop this limit=6}}
        <li class="background--gallery flush-col padding-top--2 padding-bottom--4 padding-left--1 js-hover-click">
            <div class="box__content">
                <h3 class="font-size--h4">
                    <a class="underline-link" href="{{uri}}">
                        {{title}}
                    </a>
                </h3>
                <p class="flush">{{summary}}</p>
            </div>
        {{/loop}}

    {{/resolveDatasets}}

</ul>
<a href="{{uri}}/datalist?filter=datasets"
   class="btn btn--primary btn--full-width margin-bottom--2">{{labels.view-all-datasets-related-to}} {{description.title}}</a>
