<div class="panel flush">
	<div class="grid-wrap">
		<div class="grid-col desktop-grid-full-width">
			<h2 id="data" class="flush">Datasets related to {{description.title}}</h2>
			<div class="grid-wrap">
				<ul class="list--neutral">
					{{#each datasets}}
					{{#resolve (rootpath this.uri) filter="description"}}
					<li class="grid-col desktop-grid-one-third box--padded-vertical nav--block-landing">
						<h3>
						<a href="{{rootpath uri}}" title="{{title}}">
							{{title}}
						</a>
						</h3>
						<p>
							{{summary}}
						</p>
					</li>
					{{/resolve}}
					{{/each}}
				</ul>
			</div>
			<!-- /grid-col -->
		</div>
		<!-- /grid-wrap -->
	</div>
	{{!--<a href="#">View more datasets</a>--}}
	<!-- /grid-wrap -->
	<!-- /grid-col -->
</div>
<!-- /box__section -->