
<div class="background--gallery margin-top-md--1 margin-bottom-md--2 js-hover-click">
    <div class="background--white width-md--23 width-lg--29 height-md--26 height-lg--35 margin-top-sm--0 margin-top-md--0 overflow--hidden">
        <div class="width-md--23 width-lg--29 height-sm--35 height-md--26 height-lg--35 border-top--gallery-sm border-right--gallery-sm border-bottom--gallery-sm border-left--gallery-sm border-top--gallery-md border-right--gallery-md border-bottom--gallery-md border-left--gallery-md flush image-background">
            {{> partials/highcharts/sparkline highlighted}}
        </div>
    </div>
    <div class="js-equal-height box__content padding-top-sm--2 padding-right-sm--1 padding-bottom-sm--2 padding-left-sm--1 padding-top-md--2 padding-right-md--1 padding-bottom-md--2 padding-left-md--1">
        <h3>
            <a class="underline-link" href="{{highlighted.uri}}">{{highlighted.description.title}}</a>
        </h3>
        <p class="margin-bottom-md--1">
            {{#if highlighted.description.keyNote}}
                {{highlighted.description.keyNote}}
            {{/if}}
        </p>
        <p  class="stand-out">
            {{#if highlighted.description.preUnit}}
                {{highlighted.description.preUnit}}
            {{/if}}

            {{nf highlighted.description.number}}

            {{#if highlighted.description.unit}}
                {{highlighted.description.unit}}
            {{/if}}
        </p>
        {{#if highlighted.description.monthLabelStyle}}
            {{!-- Display custom label styles (eg Labour Market) --}}
            {{#last highlighted.months}}
                <p class="stand-out--list">
                    {{label}}
                </p>
            {{/last}}
        {{else}}
            {{#if highlighted.description.date}}
                <p class="stand-out--list">
                    {{highlighted.description.date}}
                </p>
            {{/if}}
        {{/if}}
        <dl>
            <dt>{{labels.release-date}}: </dt>
            <dd>{{df highlighted.description.releaseDate}}</dd>
            <dt>{{labels.next-release}}: </dt>
            <dd>{{highlighted.description.nextRelease}}</dd>
        </dl>
    </div>

    <div class="background--gallery box__content height--7 border-top--iron-sm border-top--iron-md padding-top-sm--1 padding-left-sm--1 padding-top-md--1 padding-left-md--1 more-link">
        <a href="{{highlighted.uri}}" class="block">{{labels.view-this-data}}</a>
    </div>

</div>

<a href="#timeseries" class="btn btn--primary btn--full-width margin-top margin-bottom-sm--4 js-scroll">{{labels.more-data}}</a>

