<h2 class="section-title">Latest data</h2>
<div class="tile--headline-block">
	<div class="tile--headline-block__sparkline" >
		<a href="{{data.uri}}">
		{{> partials/highcharts/sparkline data}}
		</a>
	</div>
	<h3 class="tile--headline-block__title">
		<a href="{{data.uri}}">{{data.description.title}}</a>
	</h3>
	<div class="tile--headline-block__content">
	{{#if data.description.keyNote}}
		<div class="tile--headline-block__keynote">{{data.description.keyNote}}</div>
	{{/if}}
	<div class="tile--headline-block__figure-container">
		{{#if data.description.preUnit}}
		<span class="tile--headline-block__preunit">{{data.description.preUnit}}</span>
		{{/if}}
		<span class="tile--headline-block__figure stat__figure-enhance">{{data.description.number}}</span>
		{{#if data.description.unit}}
		<span class="tile--headline-block__unit"> {{data.description.unit}}</span>
		{{/if}}
		<div class="tile--headline-block__date">A DATE{{description.date}}</div>
	</div>

	<dl>
		<dt>{{labels.product-last-updated}}</dt>
		<dd class="tile--headline-block__description">{{df data.description.releaseDate}}</dd>
		<dt>{{labels.product-next-update}}</dt>
		<dd class="tile--headline-block__description">{{data.description.nextRelease}}</dd>
	</dl>

</div>

	<a href="{{data.uri}}" class="tile--headline-block__more">View this data in more detail</a>
</div>

<a href="#timeseries" class="btn btn--full-width">More data</a>