<h2 id="datasets" class="section-title">Datasets related to {{description.title}}</h2>

<div class="background--iron-light padding-top-sm--1 padding-bottom-sm--2 padding-left-sm--1 padding-right-sm--1 padding-top-md--2 padding-bottom-md--2 padding-left-md--1 margin-bottom-sm--2">


    <ul class="list--neutral margin-top-md--0">
	    {{#loop datasets limit=6}}
        <!--<div class="clickable-wrap">-->
            <li class="col-wrap padding-top-md--0 padding-bottom-md-0 margin-top-md--0 margin-left-md--0">
                {{#resolve (absolute this.uri) filter="description"}}
                    <div class="col col--md-31 col--lg-39 background--white padding-top-md--1 js-hover-click">
                        <div class="box__content padding-top-sm--0 padding-bottom-sm--0 padding-left-sm--1 padding-right-sm--1 padding-top-md--0 padding-bottom-md--0 padding-left-md--1 padding-right-md--1">
                            <h3 class="font-size--h4">
                                <a href="{{absolute uri}}">
                                    {{description.title}}
                                </a>
                            </h3>
                            <p>{{description.summary}}</p>
                        </div>
                    </div>
                {{/resolve}}
            </li>
        <!--</div>-->
        {{/loop}}
    </ul>

    <a href="{{uri}}/datalist?filter=datasets" class="btn btn--primary">View all datasets related to {{description.title}}</a>

</div>
