
    <div class="background--iron-light margin-bottom-md--2 js-hover-click">
		<div class="background--white width-md--16 width-lg--20 height-md--24 height-lg--24 border-top--iron-light-sm border-top--iron-light-md border-left--iron-light-sm border-left--iron-light-md border-right--iron-light-sm border-right--iron-light-md margin-top-sm--0 margin-top-md--0 overflow--hidden">
                <div class="width-md--16 width-lg--20 height-md--24 height-lg--24">
			        {{> partials/highcharts/sparkline data}}
                </div>
		</div>
        <div class="equal-height box__content padding-top-sm--2 padding-right-sm--1 padding-bottom-sm--2 padding-left-sm--1 padding-top-md--2 padding-right-md--1 padding-bottom-md--2 padding-left-md--1">
			<h3>
				<a href="{{data.uri}}">{{data.description.title}}</a>
			</h3>
			<p class="margin-bottom-md--1">
				{{#if data.description.keyNote}}
					{{data.description.keyNote}}
				{{/if}}
            </p>
            <p  class="stand-out">
				{{#if data.description.preUnit}}
				    {{data.description.preUnit}}
				{{/if}}

				{{nf data.description.number}}

				{{#if data.description.unit}}
				    {{data.description.unit}}
				{{/if}}
            </p>
			{{#if data.description.date}}
                <p class="stand-out--list">
                    {{data.description.date}}
                </p>
            {{/if}}

				<dl>
					<dt>{{labels.product-last-updated}}</dt>
					<dd>{{df data.description.releaseDate}}</dd>
					<dt>{{labels.product-next-update}}</dt>
					<dd>{{data.description.nextRelease}}</dd>
				</dl>
			</div>

        <div class="background--iron-light box__content height--9 width--50 border-top--iron-sm border-top--iron-md padding-top-sm--2 padding-left-sm--1 padding-top-md--2 padding-left-md--1 more-link">
            <a href="{{bulletin.uri}}" class="block">Read this statistical bulletin</a>
        </div>

	</div>

<a href="#timeseries" class="btn btn--primary btn--full-width margin-top margin-bottom-sm--4 jsEnhanceAnimateScroll">More data</a>
