<h2 id="timeseries" class="section-title">Time series related to {{description.title}}</h2>

<div class="background--iron-light padding-top-sm--1 padding-bottom-sm--2 padding-left-sm--1 padding-right-sm--1 padding-top-md--2 padding-bottom-md--2 padding-left-md--1 margin-bottom-sm--2">

    <ul class="list--neutral margin-top-md--0">
        {{#loop items limit=6}}
            {{#resolve this.uri}}
                <!--<div class="clickable-wrap">-->
                    <li class="col-wrap padding-top-lg--0 padding-bottom-md-0 margin-top-md--0 margin-left-md--0">
                        <div class="col col--md-31 col--lg-39 background--white js-hover-click">
                            <div class="col col--md-31 col--lg-14">
                                <div class="box__content padding-top-sm--0 padding-bottom-sm--0 padding-left-sm--1 padding-right-sm--1 padding-top-md--2 padding-bottom-md--1 padding-left-md--1 padding-right-md--1">
                                    <h3 class="font-size--h4">
                                        <a href="{{uri}}">{{description.title}}</a>
                                    </h3>
                                    {{#if description.keyNote}}
                                        <p>{{description.keyNote}}</p>
                                    {{/if}}
                                </div>
                            </div>
                            <div class="col col--md-15 col--lg-12">
                                <div class="box__content padding-top-sm--0 padding-bottom-sm--0 padding-left-sm--1 padding-right-sm--1 padding-top-md--2 padding-bottom-md--1 padding-left-md--1 padding-right-md--1">
                                    <a href="{{uri}}">
                                        <div class="height--12">
                                            {{>partials/highcharts/sparkline}}
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col col--md-16 col--lg-13">
                                <div class="box__content padding-top-sm--0 padding-bottom-sm--1 padding-left-sm--1 padding-right-sm--1 padding-top-md--2 padding-bottom-md--1 padding-left-md--1 padding-right-md--1">

                                    <p class="stand-out--list margin-bottom-md--0">
                                        {{#if description.preUnit}}
                                            {{description.preUnit}}
                                        {{/if}}
                                            {{nf description.number}}
                                        {{#if description.unit}}
                                            {{description.unit}}
                                        {{/if}}
                                    </p>

                                    {{#if description.date}}
                                        <p class="margin-bottom-md--0 padding-top-md--0 padding-bottom-md--0">{{description.date}}</p>
                                    {{/if}}

                                    <dl>
                                        <dt>{{labels.release-date}}:</dt>
                                        <dd>{{df description.releaseDate}}</dd>
                                        <dt>{{labels.release-next}}:</dt>
                                        <dd>{{description.nextRelease}}</dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </li>
                <!--</div>-->
            {{/resolve}}
        {{/loop}}

    </ul>

    <a href="{{uri}}/datalist?filter=time_series" class="btn btn--primary">View all time series related to {{description.title}}</a>

</div>
