<h2 id="publications" class="section-title">Publications related to {{description.title}}</h2>

<div class="background--iron-light padding-top-sm--1 padding-bottom-sm--2 padding-left-sm--1 padding-right-sm--1 padding-top-md--2 padding-bottom-md--2 padding-left-md--1 margin-bottom-sm--2">

    <ul class="list--neutral margin-top-md--0">
        {{#loop statsBulletins limit=3}}
            {{#resolve this.uri}}
                <li class="col-wrap margin-top-md--0 margin-left-md--0">
                    <div class="col col--md-31 col--lg-39 background--white js-hover-click">
                        <div class="box__content padding-top-sm--0 padding-bottom-sm--0 padding-left-sm--1 padding-right-sm--1 padding-top-md--0 padding-bottom-md--0 padding-left-md--1 padding-right-md--1">
                            <p class="search-results__meta  margin-top-md--0 margin-bottom-md--0">
                                {{> type-label type_code=this.type }}:
                            </p>
                            <h3 class="font-size--h4">
                                <a href="{{uri}}">
                                    {{description.title}}{{#if description.edition}}: {{description.edition}}{{/if}}
                                </a>
                            </h3>
                            <p>
                                {{description.summary}}
                            </p>
                        </div>
                    </div>
                </li>
            {{/resolve}}
        {{/loop}}
        {{#loop relatedArticles limit=3}}
            {{#resolve this.uri}}
                <li class="col-wrap padding-top-lg--0 padding-bottom-md-0 margin-top-md--0 margin-left-md--0">
                    <div class="col col--md-31 col--lg-39 background--white js-hover-click">
                        <div class="box__content padding-top-sm--0 padding-bottom-sm--0 padding-left-sm--1 padding-right-sm--1 padding-top-md--0 padding-bottom-md--0 padding-left-md--1 padding-right-md--1">
                            <p class="search-results__meta margin-top-md--0 margin-bottom-md--0">
                            {{> type-label type_code=this.type }}:
                            </p>
                            <h3 class="font-size--h4">
                                <a href="{{uri}}">
                                    {{description.title}}{{#if description.edition}}: {{description.edition}}{{/if}}
                                </a>
                            </h3>
                            <p>
                                {{#if description._abstract}}{{description._abstract}}{{else}}{{description.summary}}{{/if}}
                            </p>
                        </div>
                    </div>
                </li>
            {{/resolve}}
        {{/loop}}
    </ul>

		<a href="{{uri}}/publications?filter=bulletin" class="btn btn--primary">View all statistical bulletins</a>

</div>

