<div class="col-wrap">
	<div class="col">
		<h3 class="section-subtitle">Articles</h3>
	</div>
</div>
<ul class="tile--list">
	{{#each relatedArticles}}
	{{#resolve this.uri filter="description"}}
	<li class="col-wrap tile--list__item clickable-wrap">
		<div class="col col--lg-38">
			<h4 class="tile--list__title">
				<a href="{{uri}}" title="{{description.title}}">
					{{description.title}}{{#if description.edition}}: {{description.edition}}{{/if}}
				</a>
			</h4>
			<p class="tile--list__content">
				{{description._abstract}}
			</p>
		</div>
	</li>
	{{/resolve}}
	{{/each}}

	<a href="{{uri}}/articles" class="btn btn--full-width">View all related articles</a>