<h3>Articles</h3>
<ul class="list--neutral">
    {{#loop relatedArticles limit=6}}
    {{#resolve this.uri}}
        <li class="background--white padding-top--2 padding-bottom--2 padding-left-sm--0  js-hover-click">
            <div class="col-wrap margin-left--1 padding-right-sm--2">
                {{#if imageUri}}
                    <div class="col col--md-13 col--lg-13 margin-left--0">
                        <img src="/resource?uri={{imageUri}}&width=208" />
                    </div>
                {{/if}}
                <div class="col col--md-30 col--lg-38 margin-left--0">
                    <div class="box__content {{#if imageUri}}padding-left-md--1{{/if}}">
                        <h4>
                            <a class="underline-link" href="{{absolute uri}}">
                                {{description.title}}
                            </a>
                        </h4>
                        <p class="flush">
                            {{#if description._abstract}}{{description._abstract}}{{else}}{{description.metaDescription}}{{/if}}
                        </p>
                    </div>
                </div>
            </div>
        </li>
    {{/resolve}}
    {{/loop}}
</ul>

<a href="{{uri}}/publications?filter=article&filter=compendia" class="btn btn--primary btn--full-width">{{labels.view-all-related-articles}}</a>
