<div class="col-wrap">
	<div class="col">
		<h3>{{labels.articles}}</h3>
	</div>
</div>
<div class="col-wrap">
	<div class="col col--lg-40">

	<ul class="tiles__list flush">
		{{#loop relatedArticles limit=6}}
		{{#resolve this.uri filter="description"}}
			<li class="tiles__item--list-type-simple flush-col">
				<h4 class="titles__title tiles__title-h4">
					<a href="{{uri}}">
						{{description.title}}{{#if description.edition}}: {{description.edition}}{{/if}}
					</a>
				</h4>
				<p class="tiles__content">
                {{#if description._abstract}}{{description._abstract}}{{else}}{{description.summary}}{{/if}}
				</p>
			</li>
		{{/resolve}}
		{{/loop}}
	</ul>

		<a href="{{uri}}/publications?filter=article&filter=compendia" class="btn btn--primary btn--full-width">{{labels.view-all-related-articles}}</a>

	</div>
</div>
