<div class="col-wrap">
	<div class="col">
		<h3>Articles</h3>
	</div>
</div>
<div class="col-wrap">
	<div class="col col--lg-40">

	<ul class="tiles__list">
		{{#each relatedArticles}}
		{{#resolve this.uri filter="description"}}
			<li class="tiles__item--list-type-simple flush-col">
				<h4 class="titles__title tiles__title-h4">
					<a href="{{uri}}" title="{{description.title}}">
						{{description.title}}{{#if description.edition}}: {{description.edition}}{{/if}}
					</a>
				</h4>
				<p class="tiles__content">
                {{#if description._abstract}}{{description._abstract}}{{else}}{{description.summary}}{{/if}}
				</p>
			</li>
		{{/resolve}}
		{{/each}}
	</ul>

		<a href="{{uri}}/publications?type=article&type=compendium_landing_page" class="btn btn--primary btn--full-width">View all related articles</a>

	</div>
</div>
