<div class="col-wrap">
	<div class="col">
		<h3>{{labels.related-bulletins}}</h3>
	</div>
</div>
<div class="col-wrap">
	<div class="col col--lg-40">
		<ul class="tiles__list margin-top--half">
			{{#loop statsBulletins limit=6}}
			{{#resolve this.uri filter="description"}}
			<li class="col-wrap tiles__item--list-type-simple flush-col">
				<h4 class="tiles__title tiles__title-h4">
					<a href="{{uri}}">
						{{description.title}}{{#if description.edition}}: {{description.edition}}{{/if}}
					</a>
				</h4>
				<p class="tiles__content">
					{{description.summary}}
				</p>
			</li>
			{{/resolve}}
			{{/loop}}
		</ul>

		<a href="{{uri}}/publications?filter=bulletin" class="btn btn--primary btn--full-width">{{labels.view-all-related-statistical-bulletins}}</a>

	</div>
</div>
