<div class="panel flush">
	<div class="grid-wrap">
		<div class="grid-col desktop-grid-full-width">
			<h2 id ="reports" class="flush">Latest statistical bulletins</h2>
			<div class="grid-wrap">
				<ul class="list--neutral">
					{{#each statsBulletins}}
					{{#resolve this.uri filter="description"}}
					<li class="grid-col desktop-grid-one-third box--padded-vertical nav--block-landing">
						<h3>
						<a href="{{uri}}" title="{{title}}">
							{{title}}{{#if edition}}: {{edition}}{{/if}}
						</a>
						</h3>
						<p>
							{{summary}}
						</p>
					</li>
					{{/resolve}}
					{{/each}}
				</ul>
			</div>
			<!-- /grid-col -->
		</div>
		<!-- /grid-wrap -->
	</div>
	{{!--<a href="#">View all statistical bulletins</a> --}}
	<!-- /grid-wrap -->
</div>