<div class="box__section">
	<header>
		<h2 class="list--table-header panel--pad">{{labels.product-timeseries-related-to}} {{description.title}}</h2>
	</header>
	<ol class="list--table list--table--complex table--striped-light table-light--sectioned">
		{{#each items}}
		{{#resolve this.uri filter="description"}}
		<li class="list--table__item list--table__body clickable-wrap">
			<div class="list--table__item__body list--table__item__body--caption">
				<h3 class="flush--half--bottom">
				<a href="{{uri}}">{{description.title}}</a>
				</h3>
				{{#if description.keyNote}}
				<p class="list--table__item__description">
					{{description.keyNote}}
				</p>
				{{/if}}
			</div>
			<div class="list--table__item__body list--table__item__body--chart">
				<a href="{{uri}}">
					<div style="height:160px;width:180px">
					{{>partials/highcharts/sparkline}}
					</div>
				</a>
			</div>
			<div class="list--table__item__body">
				<div class="list--table__item__body list--table__item__body--stat float-left">
					<div class="stat__figure">
						{{#if description.preUnit}}
						<span class="stat__figure__preunit">{{description.preUnit}}</span>
						{{/if}}
						<span class="stat__figure-enhance">{{description.number}}</span><span class="stat__figure__unit"> {{description.unit}}</span>
						<div class="stat__description">{{description.date}}</div>
					</div>
				</div>
				<div class="list--table__item__body list--table__item__body--update">
					<dl class="micro flush--half--vertical">
						<dt>{{labels.product-last-updated}}:</dt>
						<dd class="flush flush--third--bottom">{{df description.releaseDate}}</dd>
						<dt>{{labels.product-next-update}}:</dt>
						<dd class="flush flush--third--bottom">{{description.nextRelease}}</dd>
					</dl>
				</div>
			</div>
		</li>
		{{/resolve}}
		<!-- /list-table__item -->
		{{/each}}
		{{!--
		<li class="list--table__item list--table__footer">
			<div class="table__actions box--inline box__footer--right ">
				<a href="">{{labels.product-view-all}} 12,000 {{labels.product-timeseries-for}} {{description.title}} <span class="icon-right-open-big"></span> </a>
			</div>
		</li>--}}
	</ol>
	<!-- /list--table -->
</div>
<!-- /box-section -->
