<div class="col-wrap">
	<div class="col">
		<h2 id="timeseries">{{labels.time-series-related-to}} {{description.title}}</h2>
	</div>
</div>

<ul class="list--neutral margin-top--half">
	{{#loop items limit=6}}
        {{#resolve this.uri}}
            <li class="col-wrap background--white padding-top--2 padding-bottom--2 padding-left--1 flush-col js-hover-click">
                <div class="col col--md-15 col--lg-27">
                    <div class="box__content">
                        <h4>
                            <a href="{{uri}}">{{description.title}}</a>
                        </h4>
                        {{#if description.keyNote}}
                            <p class="flush">{{description.keyNote}}</p>
                        {{/if}}</div>
                </div>
                <div class="col col--md-15 col--lg-14">
                    <div style="height:96px;">
                    {{>partials/highcharts/sparkline}}
                    </div>
                </div>
                <div class="col col--md-13 col--lg-18">
                    <div class="tiles__content">
                        {{#if description.preUnit}}
                        <span class="tiles__preunit tiles__preunit--list">{{description.preUnit}}</span>
                        {{/if}}
                        <span class="tiles__figure tiles__figure--list">{{nf description.number}}</span>
                        {{#if description.unit}}
                        <span class="tiles__unit tiles__unit--list"> {{description.unit}}</span>
                        {{/if}}
                        {{#if description.monthLabelStyle}}
                        {{!-- Display custom label styles (eg Labour Market) --}}
                            {{#last months}}
                                <span class="stat__description">
                                    {{label}}
                                </span>
                            {{/last}}
                        {{else}}
                            {{#if description.date}}
                                <span class="stat__description">
                                    {{description.date}}
                                </span>
                            {{/if}}
                        {{/if}}
                        <dl class="tiles__dl">
                            <dt class="tiles__dt">{{labels.release-date}}:</dt>
                            <dd class="flush">{{df description.releaseDate}}</dd>
                            <dt class="tiles__dt">{{labels.next-release}}:</dt>
                            <dd class="flush">{{description.nextRelease}}</dd>
                        </dl>
                    </div>
                </div>
            </li>
        {{/resolve}}
	{{/loop}}
</ul>
<a href="/timeseriestool?topic={{uri}}" class="btn btn--primary btn--full-width">{{labels.view-all-time-series-related-to}} {{description.title}}</a>
