<div class="col-wrap">
	<div class="col">
		<h3 id="timeseries" class="section-subtitle">Time series</h3>
	</div>
</div>

<ul class="tile--series-list-block">
	{{#each items}}
	{{#resolve this.uri filter="description"}}
	<li class="col-wrap tile--series-list-block__item clickable-wrap">
		<div class="col col--md-15 col--lg-21">
			<h4 class="tile--series-list-block__title">
				<a href="{{uri}}">{{description.title}}</a>
			</h4>
			{{#if description.keyNote}}
			<p class="tile--series-list-block__content">
				{{description.keyNote}}
			</p>
			{{/if}}
		</div>
		<div class="col col--md-15 col--lg-18">
			<a href="{{uri}}">
				<div style="height:160px;width:240px">
				{{>partials/highcharts/sparkline}}
				</div>
			</a>
		</div>
		<div class="col col--md-13 col--lg-18">
			<div class="tile--series-list-block__figure-container">
				{{#if description.preUnit}}
				<span class="tile--series-list-block__preunit">{{description.preUnit}}</span>
				{{/if}}
				<span class="tile--series-list-block__figure">{{description.number}}</span>
				{{#if description.unit}}
				<span class="tile--series-list-block__unit"> {{description.unit}}</span>
				{{/if}}
				<span class="stat__description">A DATE {{description.date}}</span>
			</div>
			<dl>
				<dt class="tile--series-list-block__definition">{{labels.product-last-updated}}</dt>
				<dd class="tile--series-list-block__description">{{df description.releaseDate}}</dd>
				<dt class="tile--series-list-block__definition">{{labels.product-next-update}}</dt>
				<dd class="tile--series-list-block__description">{{description.nextRelease}}</dd>
			</dl>
		</div>
	</li>
	{{/resolve}}
	{{/each}}
</ul>
<a href="{{uri}}/datasets" class="btn btn--full-width">All timeseries related to {{description.title}}</a>