<div class="box__section">
	<header>
		<h2 class="list--table-header panel--pad">Time series related to {{description.title}}</h2>
	</header>
	<ol class="list--table list--table--complex table--striped-light table-light--sectioned">
		{{#each items}}
		<li class="list--table__item list--table__body">
			<div class="list--table__item__body list--table__item__body--caption">
				<h3 class="flush--half--bottom">
				<a href="{{data.uri}}">{{data.description.title}}</a>
				</h3>
				{{#if description}}
				<p class="list--table__item__description">
					{{data.description.summary}}
				</p>
				{{/if}}
			</div>
			<div class="list--table__item__body list--table__item__body--chart">
				<img class="full-width" src="{{data.uri}}/sparkline" alt="{{data.description.title}}">
			</div>
			<div class="list--table__item__body">
				<div class="list--table__item__body list--table__item__body--stat float-left">
					<div class="stat__figure">
						{{#if data.description.preUnit}}
						<span class="stat__figure__preunit">{{data.description.preUnit}}</span>
						{{/if}}
						<span class="stat__figure-enhance">{{data.description.number}}</span><span class="stat__figure__unit"> {{data.description.unit}}</span>
						<div class="stat__description">{{data.description.date}}</div>
					</div>
				</div>
				<div class="list--table__item__body list--table__item__body--update">
					<dl class="micro flush--half--vertical">
						<dt>Last updated:</dt>
						<dd class="flush flush--third--bottom">{{df data.description.releaseDate}}</dd>
						<dt>Next update:</dt>
						<dd class="flush flush--third--bottom">{{data.description.nextRelease}}</dd>
					</dl>
				</div>
			</div>
		</li>
		<!-- /list-table__item -->
		{{/each}}
		{{!--
		<li class="list--table__item list--table__footer">
			<div class="table__actions box--inline box__footer--right ">
				<a href="">View all 12,000 time series for inflation and price indices <span class="icon-right-open-big"></span> </a>
			</div>
		</li>--}}
	</ol>
	<!-- /list--table -->
</div>
<!-- /box-section -->