<div class="page-header">
    <div class="wrapper">
        <h1 class="page-header__title flush--half--bottom">Welcome to the Office for National Statistics</h1>
        <p>{{md description.summary}}</p>
    </div>
    <!-- / wrapper -->
</div>
<!-- panel -->

{{!-- Dynamic stastical highlights --}}
<div class="wrapper panel--mar">
    <!-- grid-wrap -->
    {{!-- <h2>Statistical highlights</h2> --}}
    <div class="grid-wrap grid-wrap--home-hero panel--separated--bottom">
        <!-- grid-col -->
        {{#each sections}}
        <div class="grid-col grid-col--home-hero tablet-wide-grid-one-fifth">
            <article class="nav-panel nav-panel--stats nav-panel--home-hero sectioned">
                {{#resolve statistics.uri filter="description"}}
                <div class="stat__wrap--home clickable-wrap">
                    <!-- add to dl -->
                    <!-- change to dt -->
                    <dl>
                        <dt class="nav-panel__header gamma flush equal-height">
                        {{description.title}}
                        </dt>
                        <!-- change to dd's -->
                        <dd>
                        <span class="stat__figure--home block">
                            {{description.preUnit}} <span class="stat__figure-enhance">{{description.number}}</span> {{description.unit}}
                        </span>
                        <span class="stat__description block">
                            {{description.date}}
                        </span>
                        <a class="js-enhance--hide" href="{{statistics.uri}}">More info</a>
                        <div style="height:155px;" >
                        {{> partials/highcharts/sparkline}}
                        </div>
                        </dd>
                    </dl>
                </div>
                {{/resolve}}
                <footer class="nav-panel__footer-home-hero">
                {{#resolve theme.uri filter="title"}}
                    <a href="{{theme.uri}}">Explore {{title}}</a>
                {{/resolve}}
                </footer>
            </article>
            <!-- grid-col -->
        </div>
        {{/each}}
        <!-- /grid-wrap -->
        <!-- /panel-->
    </div>
</div>
<div class="panel wrapper">
    <div class="panel--top-mar">
        <div class="grid-wrap">
            <article class="grid-col desktop-grid-one-third nav--block-home-highlighted-content">
                <h2 class="delta flush"><a href="/about/releasecalendar">What’s coming and when? <span class="img-block"><img src="../../img/t1-cal.png" alt=""></span></a></h2>
                <p>Find out when our statistics are released and sign-up to receive notifications.</p>
            </article>
            <article class="grid-col desktop-grid-one-third nav--block-home-highlighted-content">
                <h2 class="delta flush"><a class="hide-icon" href="https://www.gov.uk/government/statistics ">Other official statistics <span class="img-block"><img src="../../img/t1-gov-uk--black.png" alt="" class="no-border"></span></a></h2>
                <p>Find official statistics produced by other government departments.</p>
            </article>
            <article class="grid-col desktop-grid-one-third nav--block-home-highlighted-content">
                <h2 class="delta flush"><a href="/about/localstatistics">Looking for local statistics? <span class="img-block"><img src="../../img/t1-local.png" alt=""></span></a></h2>
                <p>A handy guide to let you know where to find local statistics.</p>
            </article>
            <article class="grid-col desktop-grid-one-half nav--block-home-highlighted-content oldie-clearleft">
                <h2 class="delta flush"><a href="http://www.ons.gov.uk/ons/guide-method/census/index.html">Census <span class="img-block"><img src="../../img/t1-census.png" alt=""></span></a></h2>
                <p>Discover how our census statistics help paint a picture of the nation and how we live.</p>
            </article>
            <article class="grid-col desktop-grid-one-half nav--block-home-highlighted-content">
                <h2 class="delta flush"><a href="http://visual.ons.gov.uk ">Visual.ONS <span class="img-block"><img src="../../img/t1-visual-ons.png" alt=""></span></a></h2>
                <p>Visual.ONS is a website exploring new approaches to making ONS statistics accessible and relevant to a wide public audience.</p>
            </article>
            <!-- /grid-wrap -->
        </div>
        <!-- /section -->
    </div>
</div>
<!-- wrapper -->