<div class="wrapper panel--top-mar">
	<h3 class="page-header__title">{{labels.search}}</h3>
</div>
<!-- /wrapper -->
<div class="wrapper panel--mar print-links">
	<div class="grid-wrap panel--bottom-mar print-hidden">
		<div class="grid-col desktop-grid-one-quarter desktop-grid-push-three-quarters tablet-grid-full-width">
			<label for="select" class="inline description">Sort by
					<select class="input inline width-auto" id="select" name="" disabled>
						<option value="1" selected>Relevance</option>
						<option value="2">Release date</option>
						<option value="3">Title</option>
					</select>
					<a href="#" class="btn btn--primary btn-tooltip tooltip nojs-hidden" title="This option will not be available on the prototype, however in the future you will be able to sort search results by relevance or release date" aria-label="This option will not be available on the prototype, however in the future you will be able to sort search results by relevance or release date">? </a>
			</label>
		</div>
	</div>
	<!-- /grid-wrap -->
	<div class="grid-wrap">
		<div class="grid-col desktop-grid-one-third">
			<article class="box box--padded sectioned print-hidden">
				<form id="fitlers" action="/search">
					<div class="panel panel--bottom-pad panel--separated--bottom flush">
						<h3 class="flush float-left">{{labels.search-refine}}</h3>
						<a href="/search?q={{searchTerm}}" value="Reset" class="btn btn--primary btn--small btn--thin btn--narrow btn--clear-results float-right">{{labels.search-refine-clear}}</a>
					</div>
					<div class="box__content">
						<p class="panel panel--separated--bottom">{{labels.search-refine-types}}</p>
						<ul class="list--neutral">
							<li>
								<input type="checkbox" name="type" value="bulletin" {{#contains types 'bulletin'}}checked{{/contains}} >
								<label for="checkbox-statsbulletin">
									{{labels.bulletin}}
								</label>
							</li>
							<li>
								<input type="checkbox" name="type" value="article" {{#contains types 'article'}}checked{{/contains}}>
								<label for="checkbox-article">
									{{labels.article}}
								</label>
							</li>
							<li>
								<input type="checkbox" name="type" value="dataset" {{#contains types 'dataset'}}checked{{/contains}}>
								<label for="checkbox-dataset">
									{{labels.dataset}}
								</label>
							</li>
							<li>
								<input type="checkbox" name="type" value="methodology" {{#contains types 'methodology'}}checked{{/contains}} >
								<label for="checkbox-methodology">
									{{labels.methodology}}
								</label>
							</li>
							{{!-- <li>
								<input type="checkbox" name="type" value="timeseries" {{#contains types 'timeseries'}}checked{{/contains}}>
								<label for="checkbox-timeseries">
									Time series and data slices
								</label>
							</li> --}}
						</ul>
						<p class="panel--mar-small">{{labels.search-expand}}:</p>
						<div class="panel--mar-small">
							<input type="checkbox" name="includeAllData" value="1" {{#if includeAllData}}checked{{/if}}>
							<label for="checkbox">
								{{labels.search-expand-data}}</br>
								{{!-- <span class="micro">(currently max 5 shown by default)</span> --}}
							</label>
						</div>
						<div class="panel--mar-small">
							<input type="checkbox" name="includeStatics" value="1" {{#if includeStatics}}checked{{/if}}>
							<label for="checkbox">
								{{labels.search-expand-all}}</br>
								<span class="micro">({{labels.search-expand-types}})</span>
							</label>
						</div>
					</div>
					<div>
						<button type="submit" name="q" value="{{searchTerm}}" class="btn btn--primary btn--small panel--mar-small">{{labels.search-filter}}</button>
					</div>
					<!-- /box__content -->
				</form>
			</article>
			<!-- /box 'refine results' -->
			{{!--
			<article class="box box--purple box--purple--separated--left">
				<div class="ox__inner border box--padded">
					<header class="box__header">
						<h3 class="gamma">Time series and data slice explorer</h3>
					</header>
					<div class="box__content">
						<p>
							<a href="#">Find and download multiple time series and data slices using our time series search tool</a>
						</p>
					</div>
				</div>
				<!-- /box__inner -->
			</article>
			<!-- /box -->
			--}}
		</div>
		<!-- /grid-desktop-one-third -->
		<div class="grid-col desktop-grid-two-thirds">
			{{#if statisticsSearchResult.results}}
			<p class="flush--half--bottom">
				{{#if statisticsSearchResult.results}}
					{{#if suggestionBased}}
						{{labels.search-no-results}} <strong>'{{searchTerm}}'</strong>.
						</br> {{labels.search-showing-lrg}} <span class="stand-out-text">{{statisticsSearchResult.numberOfResults}}</span> {{labels.search-result}} <strong>'{{suggestion}}'</strong> 
					{{#if types}}
						{{labels.search-showing-sml}}
						{{#each types}} <strong>
							{{#if_eq this 'bulletin'}}statistical bulletin
							{{/if_eq}}
							{{#if_ne this 'bulletin'}}{{this}}{{/if_ne}}</strong>
							<span class="icon-cancel"></span>
						{{/each}}
					{{/if}}.
				{{else}}
				<span class="stand-out-text">{{statisticsSearchResult.numberOfResults}}</span> {{labels.search-result}} 
				<span class="stand-out-text">'{{searchTerm}}'</span>
					{{#if types}}
						{{labels.search-showing-sml}}
							{{#each types}} 
								<strong>
									{{#if_eq this 'bulletin'}}statistical bulletins
									{{/if_eq}}
									{{#if_ne this 'bulletin'}}{{this}}{{/if_ne}}
								</strong>
								<span class="icon-cancel"></span>
							{{/each}}
						{{/if}}.
					{{/if}}
				{{else}}
				{{labels.search-no-results}} <span class="stand-out-text">'{{searchTerm}}'</span>.
				{{/if}}
			</p>
			{{!-- HEADLINE BOX --}}
			{{#resolve taxonomySearchResult.results.0.uri}}
			<article class="box box--padded--med sectioned clickable-wrap">
				<div class="box__content">
					<div class="grid-wrap">
						{{#resolve items.0.uri assign="series" filter="series"}}
						<div class="grid-col desktop-grid-one-half">
							<!-- <p class="alpha"> -->
								<a href="{{../uri}}">
								<div style="height:180px">
									{{>partials/highcharts/sparkline}}
								</div>
								</a>
							<!-- </p> -->
						</div>
						{{/resolve}}
						<div class="grid-col {{#if series}}desktop-grid-one-half box--padded--med-vertical{{/if}} nav--block-landing flush">
							<h3><a href="{{uri}}">{{description.title}}</a></h3>
							{{md description.summary}}
						</div>
						<!-- /desktop-grid -->
					</div>
					<!-- /grid-wrap -->
				</div>
				<!-- /box__content -->
			</article>
			{{/resolve}}
			{{!-- end of HEADLINE BOX --}}
			{{#each statisticsSearchResult.results}}
			<ul class="list--neutral">
				<li>
					<h3 class="flush inline">
						<a href="{{uri}}">{{description.title}}
						{{#if description.edition}}
							{{#if_ne description.edition 'yes'}}: {{description.edition}}{{/if_ne}}
						{{/if}}
						</a>
					</h3>
					<span class="lozenge">{{#if_eq type 'bulletin'}}statistical bulletin{{/if_eq}}{{#if_ne type 'bulletin'}}{{type}}{{/if_ne}}</span>
					{{#if partOf}}
					<p class="micro flush">
						<a href="{{uri}}">[{{description.title}}]</a><span class="icon-search-1"></span>
					</p>
					{{/if}}
					<p class="mini description flush">
						{{labels.released}} {{df description.releaseDate}}
					</p>
					{{md description.summary}}
				</li>
			</ul>
			{{/each}}
			{{!-- Paginator --}}
			{{#if_ne numberOfPages 1}}
			<nav>
				<ul class="nav nav--inline-block">
					{{#if_ne currentPage startPage}}
					<li>
						<a href="/search?q={{searchTerm}}{{#each types}}&type={{this}}{{/each}}&page={{decrement currentPage}}{{#if includeStatics}}&includeStatics=1{{/if}}{{#if includeAllData}}&includeAllData=1{{/if}}" class="page-link previous">Prev</a>
					</li>
					{{/if_ne}}
					{{#each pages}}
					<li>
						{{#if_eq this currentPage}}<span>{{this}}</span>{{/if_eq}}
						{{#if_ne this currentPage}}<a href="/search?q={{searchTerm}}{{#each types}}&type={{this}}{{/each}}&page={{this}}{{#if includeStatics}}&includeStatics=1{{/if}}{{#if includeAllData}}&includeAllData=1{{/if}}" class="page-link" >{{this}}</a>{{/if_ne}}
					</li>
					{{/each}}
					{{#if_ne currentPage endPage}}
					<li>
						<a href="/search?q={{searchTerm}}{{#each types}}&type={{this}}{{/each}}&page={{increment currentPage}}{{#if includeStatics}}&includeStatics=1{{/if}}{{#if includeAllData}}&includeAllData=1{{/if}}" class="page-link next" >{{labels.search-next}}</a>
					</li>
					{{/if_ne}}
				</ul>
			</nav>
			{{/if_ne}}
			{{else}}
			{{#if searchTerm}}
			<div>
				{{labels.search-no-results}} <strong>‘{{searchTerm}}’</strong></br></br>
				<strong>{{labels.search-try-other}}:</strong>
				<ul>
					<li>{{labels.search-diff-words}}</li>
					<li>{{labels.search-remove-filters}}</li>
					{{#unless includeAllData}}
					<li><a href="/search?q={{searchTerm}}{{#each types}}&type={{this}}{{/each}}&page={{currentPage}}{{#if includeStatics}}&includeStatics=1{{/if}}&includeAllData=1">{{labels.search-expand-data}}</a></li>
					{{/unless}}
					{{#unless includeStatics}}
					<li><a href="/search?q={{searchTerm}}{{#each types}}&type={{this}}{{/each}}&page={{currentPage}}{{#if includeAllData}}&includeAllData=1{{/if}}&includeStatics=1">{{labels.search-expand-all}}</a></li>
					{{/unless}}
				</ul>
			</div>
			{{/if}}
			{{/if}}
		</div>
		<!-- /desktop-grid-two-thirds -->
	</div>
	<!-- /grid-wrap -->
</div>
<!-- /wrapper -->