{{!-- Page header --}}
<div class="page-intro">
    <div class="wrapper">
        <div class="col-wrap">
            <div class="col">
                {{!-- Breadcrumb --}}
                {{> list/partials/list-page-breadcrumb label=description.edition}}

                {{!-- Title & summary --}}
                <h1 class="page-intro__title {{#unless description.summary}}margin-bottom{{/unless}}">
                    <span class="page-intro__type">Spreadsheet version:</span>
                    {{#each breadcrumb}}
                        {{#if @last}}
                            {{description.title}}
                        {{/if}}
                    {{/each}}
                    {{#if description.edition}}: {{description.edition}}{{/if}}
                </h1>

                {{#if description.summary}}
                    <p class="page-intro__content col col--md-47 col--lg-48">{{description.summary}}</p>
                {{/if}}

            </div>
        </div>
    </div> {{!-- /wrapper --}}

    <div class="meta-wrap">
        <div class="wrapper">

            {{!-- Meta info --}}
            <div class="col-wrap">

                {{!-- Contact & NS logo--}}
                <p class="col col--md-12 col--lg-15 meta__item">
                    {{#if description.nationalStatistic}}
                        <img class="meta__image" src="/node_modules/ONS-Pattern-Library/dist/img/national-statistics.png" alt="National Statistics logo" />
                    {{/if}}
                    <span>{{labels.meta-contact}}: </span><br/><a href="mailto:{{description.contact.email}}">{{#if description.contact.name}}{{description.contact.name}}{{else}}{{description.contact.email}}{{/if}}</a>
                </p>

                {{!-- Release date --}}
                <p class="col col--md-12 col--lg-15 meta__item">
                    <span>{{labels.release-date}}: </span><br/>{{df description.releaseDate}}<br/>
                </p>

                {{!-- Next release --}}
                <p class="col col--md-12 col--lg-15 meta__item">
                    <span>{{labels.release-next}}: </span><br/>{{#if description.nextRelease}}{{description.nextRelease}}{{else}}To be announced{{/if}}
                </p>

                {{!-- Dataset ID --}}
                {{#if description.datasetId}}
                    <p class="col col--md-12 col--lg-15 meta__item">
                        <span>{{labels.dataset-id}}: </span>{{description.datasetId}}&nbsp;
                        <span><a href="#" class="tooltip-npl" title="This series ID is a unique random identifier for this individual time series. The digits themselves do not have any specific meaning" aria-label="This series ID is a unique random identifier for this individual time series. The digits themselves do not have any specific meaning"> {{labels.dataset-what-is}} </a></span>
                    </p>
                {{/if}}
            </div>
        </div> {{!-- /wrapper --}}
    </div> {{!-- /meta-wrap --}}
</div> {{!-- /page-intro --}}

<div class="page-content">
    <div class="wrapper">
        <div class="col-wrap">
            <div class="col col--lg-one col--md-two-one">

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut a aliquet justo, condimentum faucibus lacus. Mauris quis blandit ipsum, sed euismod nunc. Mauris elit urna, imperdiet ut sagittis ut, ultricies sed dolor. Morbi sit amet fringilla elit, a mollis mauris. Duis feugiat, felis non elementum congue, lacus purus dignissim mi, ac pulvinar magna neque quis ligula. Integer rutrum nunc vel lorem facilisis viverra ut interdum lorem. Nullam semper convallis pharetra. Suspendisse sollicitudin erat ut diam interdum rutrum. Aliquam vitae ante ut metus molestie pellentesque eget vitae leo.</p>

                {{#if versions}}

                    <table class="margin-bottom-md--2">
                        <thead>
                        <tr>
                            <th>Date updated</th>
                            <th>Reason for update</th>
                            <th>View data</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#loop versions reverse=true}}
                            <tr>
                                <td>{{df updateDate}}</td>
                                <td>{{#if correctionNotice}}{{correctionNotice}}{{else}}Scheduled revision{{/if}}</td>
                                <td>

                                    {{#resolve this.uri}}

                                        <form method="get" action="/file">
                                            <button type="submit" title="Latest version" class="btn btn--primary btn--thin btn--narrow btn--small btn--full-width download-analytics">
                                                Download {{fe (lowercase (concat this.uri "/" downloads.0.file))}} ({{fs (lowercase (concat this.uri "/" downloads.0.file))}})
                                            </button>
                                            <input type="hidden" name="uri" value="{{absolute (concat this.uri "/" downloads.0.file)}}"/>
                                        </form>

                                    {{/resolve}}

                                </td>
                            </tr>
                        {{/loop}}
                        </tbody>
                    </table>

                {{/if}}





                {{!-- INFORMATION AND NOTES --}}
                {{#if section.markdown}}
                    <div class="section__content--static-markdown">
                        <section>
                            <h3>{{labels.dataset-notes}}</h3>
                            {{md section.markdown}}
                        </section>
                    </div>
                {{/if}}

            </div>
        </div>
    </div>
</div> {{!-- /page-content --}}

