<div class="wrapper panel--top-mar">
	{{> templates/handlebars/partials/breadcrumb}}
	<h1 class="page-header__title flush--half--bottom">{{description.title}}</h1>
	<p>
		<span class="stand-out-text">{{contentSearchResult.numberOfResults}}</span> results
	</p>
</div>
<!-- / wrapper -->
<div class="wrapper panel--mar print-links">
	<!-- /grid-wrap -->
	<div class="grid-wrap">
		<div class="grid-col desktop-grid-one-third">
			<article class="box box--padded lifted sectioned print-hidden">
				<header class="box__header">
					<h3 class="flush panel panel--separated--bottom">Refine results</h3>
				</header>
				<div class="box__content">
					<label class="field flush field--spaced field--text">
						<p class="panel panel--separated--bottom">Choose a letter to browse</p>
						<ul class="nav nav--az-side-bar">
							<li>
								<a href="#" class="box--az-item">A</a>
							</li>
							<li>
								<a href="#" class="box--az-item">B</a>
							</li>
							<li>
								<a href="#" class="box--az-item">C</a>
							</li>
							<li>
								<a href="#" class="box--az-item">D</a>
							</li>
							<li>
								<a href="#" class="box--az-item">E</a>
							</li>
							<li>
								<a href="#" class="box--az-item">F</a>
							</li>
							<li>
								<a href="#" class="box--az-item">G</a>
							</li>
							<li>
								<a href="#" class="box--az-item">H</a>
							</li>
							<li>
								<a href="#" class="box--az-item">I</a>
							</li>
							<li>
								<span class="box--az-item">J</span>
							</li>
							<li>
								<span class="box--az-item">K</span>
							</li>
							<li>
								<a href="#" class="box--az-item">I</a>
							</li>
							<li>
								<a href="#" class="box--az-item">M</a>
							</li>
							<li>
								<a href="#" class="box--az-item">N</a>
							</li>
							<li>
								<a href="#" class="box--az-item">O</a>
							</li>
							<li>
								<a href="#" class="box--az-item">P</a>
							</li>
							<li>
								<a href="#" class="box--az-item">Q</a>
							</li>
							<li>
								<a href="#" class="box--az-item">R</a>
							</li>
							<li>
								<a href="#" class="box--az-item">S</a>
							</li>
							<li>
								<a href="#" class="box--az-item">T</a>
							</li>
							<li>
								<a href="#" class="box--az-item">U</a>
							</li>
							<li>
								<a href="#" class="box--az-item">V</a>
							</li>
							<li>
								<a href="#" class="box--az-item">W</a>
							</li>
							<li>
								<span class="box--az-item">X</span>
							</li>
							<li>
								<span class="box--az-item">Y</span>
							</li>
							<li>
								<span class="box--az-item">Z</span>
							</li>
						</ul>
					</label>
				</div>
				<!-- /box__content -->
			</article>
			<!-- /box 'refine results' -->
			{{> templates/handlebars/partials/local-box}}
			<!-- /box -->
			<article class="box-purple box--purple--separated--left">
				<div class="box__inner border box--padded has-icon">
					<div class="box__content">
						<a href="#">
							Official statistics produced by other government departments.
						</a>
					</div>
				</div>
				<!-- /box__inner -->
			</article>
		</div>
		<!-- /desktop-grid-one-third -->
		<div class="grid-col desktop-grid-two-thirds">
			<ul class="list--neutral">
				{{#each contentSearchResult.results}}
				<li>
					<h3 class="flush"><a href="{{uri}}">{{title}}</a></h3>
					<p class="mini description flush">
						Frequency: {{frequency}}
					</p>
					{{md summary}}
				</li>
				{{/each}}
			</ul>
			<!-- /list -->
		</div>
		<!-- /desktop-grid-two-thirds -->
	</div>
	<!-- /grid-wrap -->
</div>
<!-- / wrapper panel--mar -->