

    {{!-- PAGE INTRO --}}
    <div class="page-intro">
        <div class="wrapper">
            <div class="col-wrap">
                <div class="col one">

                    {{!-- Breadcrumb --}}
                    {{> partials/breadcrumb}}

                    {{!-- Title & summary --}}
                    <h1 class="page-intro__title margin-bottom--double">{{description.title}}{{#if description.edition}}
                        : {{description.edition}}{{/if}}</h1>

                </div>
            </div>
        </div>

        {{#if description.cancelled}}
            <div class="alert">
                <div class="wrapper">
                    <div class="col-wrap">
                        <div class="col one">
                            <h2 class="alert__title flush-bottom">Cancelled</h2>
                            <p class="alert__content">
                                {{description.cancellationNotice.0}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        {{/if}}

        <div class="meta-wrap">
            <div class="wrapper">

                {{!-- Meta info --}}
                <div class="col-wrap">

					{{!-- NS logo --}}
					{{#if description.nationalStatistic}}
						<div class="col col--md-4 col--lg-4 padding-left">
							<img class="meta__image"
																   src="/node_modules/ONS-Pattern-Library/dist/img/national-statistics.png" alt="National Statistics logo"/>
						</div>
					{{/if}}

                    {{!-- Contact --}}
					<p class="col {{#if description.nationalStatistic}}col--md-11 col--lg-14{{else}}col--md-12 col--lg-15{{/if}} meta__item">
                        <span>{{labels.meta-contact}}: </span>
						<br/>
						{{#if description.contact.name}}
							{{description.contact.name}}
							<br/>
						{{/if}}
						<a href="mailto:{{description.contact.email}}">{{description.contact.email}}</a>
						{{#if description.contact.telephone}}
							<br/>
							{{labels.phone}}: {{description.contact.telephone}}
						{{/if}}
                    </p>

                    {{!-- Release date --}}
					<p class="col {{#if description.nationalStatistic}}col--md-11 col--lg-14{{else}}col--md-12 col--lg-15{{/if}} meta__item">
                        <span>{{#if description.cancelled}}Proposed release date{{else}}{{labels.release-date}}{{/if}}: </span><br/>{{df description.releaseDate}}<br/>
                    </p>

                    {{!-- Cancelled date --}}
					{{!-- Commented until we can get cancelled date information --}}
					{{!-- {{#if description.cancelled}}
						 <p class="col col--md-12 col--lg-15 meta__item">
							 <span>Cancellation date: </span><br/>
							 {{nf cancellationDate}}
						 </p>
					 {{else}} --}}

                    {{!-- Next release --}}
					<p class="col {{#if description.nationalStatistic}}col--md-11 col--lg-14{{else}}col--md-12 col--lg-15{{/if}} meta__item">
						<span>{{labels.release-next}}
							: </span><br/>{{#if description.nextRelease}}{{description.nextRelease}}{{else}}To be
						announced{{/if}}
					</p>

                    {{#if markdown}}
                        {{!-- Pre-release list link --}}
						<p class="col {{#if description.nationalStatistic}}col--md-11 col--lg-14{{else}}col--md-12 col--lg-15	{{/if}} print--hide meta__item">
                            <a href="#prereleaseaccesslist">Pre-release access list</a>
                        </p>
                    {{/if}}
                </div>
            </div> {{!-- /wrapper --}}
        </div> {{!-- /meta-wrap --}}
    </div>
    {{!-- /page-intro --}}


    {{!-- PAGE CONTENT --}}
    <div class="page-content">
        <div class="wrapper">

            {{!-- SUMMARY --}}
            {{#if description.summary}}
                 <div class="col-wrap">
                     <div class="col">
                         <p>{{description.summary}}</p>
                     </div>
                 </div>
             {{/if}}


            {{!-- RELATED PUBLICATIONS --}}
            {{#if relatedDocuments}}

                <div class="col-wrap">
                    <h2 class="col">Publications</h2>
                </div>

                <div class="col-wrap">
                    <ul class="tiles__list col col--lg-40">
                        {{#each relatedDocuments}}
                            {{#resolve this.uri}}
                                <li class="tiles__item--list-type-simple">
                                    <h3 class="tiles__title-h3">
                                        <a href="{{uri}}">{{description.title}}{{#if description.edition}}
                                            : {{description.edition}}{{/if}}</a>
                                    </h3>

                                    <p class="tiles__content">
                                        {{#if description.summary}}{{description.summary}}{{else}}{{description._abstract}}{{/if}}
                                    </p>
                                </li>
                            {{/resolve}}
                        {{/each}}
                    </ul>
                </div>
            {{/if}}

            {{!-- RELATED DATA --}}
            {{#if relatedDatasets}}
                <div class="col-wrap">
                    <h2 class="col">Data</h2>
                </div>

                <div class="col-wrap">
                    <ul class="tiles__list col col--lg-40 margin-bottom--double">
                        {{#each relatedDatasets}}
                            {{#resolve this.uri}}
                                <li class="tiles__item--list-type-simple">
                                    <h3 class="tiles__title-h3">
                                        <a href="{{uri}}">{{description.title}}</a>
                                    </h3>

                                    <p class="tiles__content">
                                        {{description.summary}}
                                    </p>
                                </li>
                            {{/resolve}}
                        {{/each}}
                    </ul>
                </div>
            {{/if}}

            {{#if_any description.nationalStatistic preRelease dateChanges}}
                <div class="col-wrap">
                    <div class="col one margin-bottom--double">
                        {{!-- RELEASE INFORMATION --}}
                        {{#if description.nationalStatistic}}
                            <section class="section__content--static-markdown margin-top">
                                <p> The United Kingdom Statistics Authority has designated these statistics as National
                                    Statistics, in accordance with the <a href="http://www.legislation.gov.uk/ukpga/2007/18/contents">Statistics and Registration Service
                                        Act 2007</a> and
                                    signifying compliance with the <a href="http://www.statisticsauthority.gov.uk/assessment/code-of-practice/">Code of Practice for Official
                                        Statistics</a>.
                                </p>

                                <p>
                                    Designation can be broadly interpreted to mean that the statistics:
                                </p>
                                <ul>
                                    <li>meet identified user needs;</li>
                                    <li>are well explained and readily accessible;</li>
                                    <li>are produced according to sound methods; and</li>
                                    <li>are managed impartially and objectively in the public interest</li>
                                </ul>
                                <p>
                                    Once statistics have been designated as National Statistics it is a statutory
                                    requirement that the Code of Practice shall continue to be observed.
                                </p>
                            </section>
                        {{/if}}

                        <div> {{!-- TODO Empty div needed for top border on first accordion --}}
                            {{!-- PRE-RELEASE ACCESS LIST --}}
                            {{#if markdown}}
                                <section id="prereleaseaccesslist"
                                         class="accordion is-collapsed section__content--static-markdown flush-col">
                                    <h2 class="accordion__title" aria-controls="content-1">
										Pre-release access list for {{description.title}}{{#if description.edition}}: {{description.edition}}{{/if}}
										<span class="icon icon-arrow-down"></span>
										<span class="icon icon-arrow-up"></span>
									</h2>

                                    <div class="accordion__content" aria-labelledby="sc-1">
                                        <p>
                                            The phrase 'Pre-release Access' refers to the practice whereby official
                                            statistics
                                            in their final form, and any accompanying written commentary, are made
                                            available
                                            to
                                            an eligible person in advance of their publication. The rules and principles
                                            which
                                            govern pre-release access are featured within the Pre-release Access to
                                            Official
                                            Statistics Order 2008.
                                        </p>

                                        <p>
                                            Besides ONS staff, the following persons are given pre-release access by the
                                            period
                                            indicated before release.
                                        </p>
                                        {{md markdown.0}}
                                    </div>
                                </section>
                            {{/if}}

                            {{!-- DATE CHANGES --}}
                            {{#if dateChanges}}
                                <section id="datechanges"
                                         class="accordion is-collapsed section__content--static-markdown flush-col">
                                    <h2 class="accordion__title" aria-controls="content-2">Changes to this release date</h2>
                                        <ul class="accordion__content list--neutral margin-top" aria-labelledby="sc-2">
                                            {{#each dateChanges}}
                                                <li class="margin-bottom overflow--hidden">
                                                    <dl>
                                                        <dt class="col col--md-10 col--lg-10">Previous date: </dt>
                                                        <dd class="col col--md-37 col--lg-49">{{df previousDate}}</dd>
                                                        <dt class="col col--md-10 col--lg-10">Reason for change: </dt>
                                                        <dd class="col col--md-37 col--lg-49">{{changeNotice}}</dd>
                                                    </dl>
                                                </li>
                                            {{/each}}
                                        </ul>
                                </section>
                            {{/if}}
                        </div>
                    </div>
                </div>
            {{/if_any}}
        </div>
    </div>
