<main id="main" role="main" tabindex="-1">

    {{!-- PAGE INTRO --}}
    <div class="page-intro">
        <div class="wrapper">
            <div class="col-wrap">
                <div class="col one">

                    {{!-- Breadcrumb --}}
                    {{> partials/breadcrumb}}

                    {{!-- Title & summary --}}
                    <h1 class="page-intro__title margin-bottom--double">{{description.title}}{{#if description.edition}}
                        : {{description.edition}}{{/if}}</h1>
                </div>
            </div>
        </div>

        <div class="meta-wrap">
            <div class="wrapper">

                {{!-- Meta info --}}
                <div class="col-wrap">

                    {{!-- Contact & NS logo--}}
                    <p class="col col--md-14 col--lg-17 meta__item">
                        {{#if description.nationalStatistic}}
                            <img class="meta__image" src="/node_modules/ONS-Pattern-Library/dist/img/national-statistics.png" alt="National Statistics logo" />
                        {{/if}}
                        <span>{{labels.meta-contact}}: </span><br/><a href="mailto:{{description.contact.email}}">{{#if description.contact.name}}{{description.contact.name}}{{else}}{{description.contact.email}}{{/if}}</a>
                        {{#if description.contact.telephone}}
                            <br/>
                        {{/if}}
                    </p>

                    {{!-- Release date --}}
                    <p class="col col--md-11 col--lg-14 meta__item">
                        <span>{{labels.release-date}}: </span><br/>{{df description.releaseDate}}<br/>
                    </p>

                    {{!-- Next release --}}
                    <p class="col col--md-11 col--lg-14 meta__item">
                        <span>{{labels.release-next}}: </span><br/>{{#if description.nextRelease}}{{description.nextRelease}}{{else}}To be announced{{/if}}
                    </p>

                    {{#if preRelease}}
                        {{!-- Print and download --}}
                        <p class="col col--md-11 col--lg-14 print--hide meta__item">
                            <a href="#prereleaseaccesslist">Pre-release access list</a>
                        </p>
                    {{/if}}
                </div>
            </div> {{!-- /wrapper --}}
        </div> {{!-- /meta-wrap --}}
    </div>
    {{!-- /page-intro --}}


    {{!-- PAGE CONTENT --}}
    <div class="page-content">
        <div class="wrapper">
            <div class="col-wrap">

                {{!-- SUMMARY --}}
                <div class="col one">
                    {{description.summary}}
                </div>

                {{!-- RELATED PUBLICATIONS --}}
                {{#if relatedDocuments}}
                    <div class="tiles">
                        <h2>Statistical bulletins and articles</h2>

                        <ul class="col-wrap col-span--lg-thirds list--neutral tiles__list">
                            {{#each relatedDocuments}}
                                {{#resolve this.uri}}
                                    <div class="clickable-wrap">
                                        <li class="col col--md-half col--lg-one-third tiles__item tiles__item--nav-type-fixed">
                                            <h3 class="tiles__title-h3 tiles__title-h3--nav">
                                                <a href="{{uri}}">{{description.title}}</a>
                                            </h3>
                                            <p class="tiles__content tiles__content--nav">
                                                {{description.summary}}
                                            </p>
                                        </li>
                                    </div>
                                {{/resolve}}
                            {{/each}}
                        </ul>
                    </div>
                {{/if}}

                {{!-- RELATED DATA --}}
                {{#if relatedDatasets}}
                    <div class="tiles">
                        <h2>Statistical bulletins and articles</h2>

                        <ul class="col-wrap col-span--lg-thirds list--neutral tiles__list">
                            {{#each relatedDatasets}}
                                {{#resolve this.uri}}
                                    <div class="clickable-wrap">
                                        <li class="col col--md-half col--lg-one-third tiles__item tiles__item--nav-type-fixed">
                                            <h3 class="tiles__title-h3 tiles__title-h3--nav">
                                                <a href="{{uri}}">{{description.title}}</a>
                                            </h3>
                                            <p class="tiles__content tiles__content--nav">
                                                {{description.summary}}
                                            </p>
                                        </li>
                                    </div>
                                {{/resolve}}
                            {{/each}}
                        </ul>
                    </div>
                {{/if}}

                {{#if_any nationalStatistic preRelease dateChanges}}
                    <div class="col one">
                        {{!-- RELEASE INFORMATION --}}
                        {{#if nationalStatistic}}
                            <section class="section__content--static-markdown">
                                <p> The United Kingdom Statistics Authority has designated these statistics as National
                                    Statistics, in accordance with the Statistics and Registration Service Act 2007 and
                                    signifying compliance with the Code of Practice for Official Statistics.
                                </p>

                                <p>
                                    Designation can be broadly interpreted to mean that the statistics:
                                </p>
                                <ul>
                                    <li>meet identified user needs;</li>
                                    <li>are well explained and readily accessible;</li>
                                    <li>are produced according to sound methods; and</li>
                                    <li>are managed impartially and objectively in the public interest</li>
                                </ul>
                                <p>
                                    Once statistics have been designated as National Statistics it is a statutory
                                    requirement that the Code of Practice shall continue to be observed.
                                </p>
                            </section>
                        {{/if}}

                        {{!-- PRE-RELEASE ACCESS LIST --}}
                        {{#if markdown}}
                            <div> {{!-- TODO Extra div required so top border shows on first/only accordion --}}
                                <section id="prereleaseaccesslist" class="accordion is-collapsed section__content--static-markdown">
                                    <h2 class="accordion__title" aria-controls="content-1">Pre-release access list
                                        for {{description.title}}{{#if description.edition}}
                                            : {{description.edition}}{{/if}}</h2>

                                    <div class="accordion__content" aria-labelledby="sc-1">
                                        <p>
                                            The phrase 'Pre-release Access' refers to the practice whereby official
                                            statistics
                                            in their final form, and any accompanying written commentary, are made
                                            available
                                            to
                                            an eligible person in advance of their publication. The rules and principles
                                            which
                                            govern pre-release access are featured within the Pre-release Access to
                                            Official
                                            Statistics Order 2008.
                                        </p>

                                        <p>
                                            Besides ONS staff, the following persons are given pre-release access by the
                                            period
                                            indicated before release.
                                        </p>
                                        {{md markdown.0}}
                                    </div>
                                </section>
                            </div>
                        {{/if}}

                        {{!-- DATE CHANGES --}}
                        {{#if dateChanges}}
                            <section id="datechanges" class="section__content--static-markdown">
                                <h3>
                                    The release date has changed
                                </h3>

                                <ul class="list--neutral">
                                    {{#each dateChanges}}
                                        <li class="margin-bottom">
                                            {{!-- TODO Indent properly --}}
                                            {{!-- <p><span class="col--lg-10">Previous date:</span><span
                                                     class="col--lg-48">{{df previousDate}}</span></p>
                                             <p><span class="col--lg 10">Reason for change:</span><span
                                                     class="col--lg-48">{{changeNotice}}</span></p> --}}
                                            <p>Previous date: {{df previousDate}}</p>
                                            <p>Reason for change: {{changeNotice}}</p>
                                        </li>
                                    {{/each}}
                                </ul>
                            </section>
                        {{/if}}
                    </div>
                {{/if_any}}
            </div>
        </div>
    </div>
</main>