
{{#partial "block-intro"}}
	<h1 class="page-intro__title margin-bottom-sm--4 margin-bottom-md--4"><span class="page-intro__type">Release:</span>{{description.title}}{{#if description.edition}}: {{description.edition}}{{/if}}</h1>
{{/partial}}

{{#partial "block-ns-contact"}}
    {{> content/partials/metadata/contact class="col--md-15 col--lg-18"}}
{{/partial}}


{{#partial "block-release-date"}}
    {{!-- Release date --}}
    <p class="col {{#if description.nationalStatistic}}col--md-11 col--lg-14{{else}}col--md-12 col--lg-15{{/if}} meta__item">
        {{#if description.cancelled}}
            Proposed release date:
            <br/>
            {{df description.releaseDate}}
        {{else}}
            {{#if description.finalised}}
                {{labels.release-date}}:
                <br>
                {{df description.releaseDate}}
            {{else}}
                Provisional release date:
                <br>
                {{#if description.provisionalDate}}
                    {{description.provisionalDate}}
                {{else}}
                    {{df description.releaseDate}}
                {{/if}}
            {{/if}}
        {{/if}}
    </p>
{{/partial}}


{{#partial "block-next-release"}}
    {{!-- Next release --}}
    {{#unless description.cancelled}}
        <p class="col {{#if description.nationalStatistic}}col--md-11 col--lg-14{{else}}col--md-12 col--lg-15{{/if}} meta__item">
                <span>{{labels.release-next}}: </span><br/>{{#if description.nextRelease}}{{description.nextRelease}}{{else}}To be
            announced{{/if}}
        </p>
    {{/unless}}
{{/partial}}


{{#partial "block-additonal-metadata"}}
    {{#if markdown}}
        {{!-- Pre-release list link --}}
        <p class="col {{#if description.nationalStatistic}}col--md-11 col--lg-14{{else}}col--md-12 col--lg-15	{{/if}} print--hide meta__item">
            <a href="#prereleaseaccesslist" class="jsEnhanceAnimateScroll expand-accordion">Pre-release access list</a>
        </p>
    {{/if}}
{{/partial}}


{{#partial "block-alert"}}
	{{#unless description.published}}
		<div class="alert">
			<div class="wrapper">
				<div class="col-wrap">
					<div class="col">

						{{#if description.cancelled}}
							{{!-- Cancelled notice --}}
							<h2 class="alert__title flush-bottom">Cancelled</h2>
							<p class="alert__content">
								{{description.cancellationNotice.0}}
							</p>
						{{else}}
							{{!-- Upcoming alert --}}
							<p class="alert__title margin-top-md--1">This release is not yet published</p>
						{{/if}}

					</div>
				</div>
			</div>
		</div>
	{{else}}
		{{#if_any description.cancelled}}
			<div class="alert">
				<div class="wrapper">
					<div class="col-wrap">
						<div class="col">

							{{!-- Cancelled notice --}}
							<h2 class="alert__title flush-bottom">Cancelled</h2>
							<p class="alert__content">
								{{description.cancellationNotice.0}}
							</p>

						</div>
					</div>
				</div>
			</div>
		{{/if_any}}
	{{/unless}}
{{/partial}}


{{#partial "block-content"}}
    {{!-- PAGE CONTENT --}}
    <div class="page-content">
        <div class="wrapper">

            {{!-- SUMMARY --}}
            {{#if description.summary}}
                 <div class="col-wrap">
                     <div class="col">
                         <p>{{description.summary}}</p>
                     </div>
                 </div>
             {{/if}}


            {{!-- RELATED PUBLICATIONS --}}
            {{#if relatedDocuments}}
                <div class="col-wrap">
                    <h2 class="col">Publications</h2>
                </div>
                <div class="col-wrap">
                    <ul class="tiles__list col col--lg-40">
                        {{#each relatedDocuments}}
                            {{#resolve this.uri}}
                                <li class="tiles__item--list-type-simple">
                                    <h3 class="tiles__title-h3">
                                        <a href="{{uri}}">{{description.title}}{{#if description.edition}}: {{description.edition}}{{/if}}</a>
                                    </h3>
                                    <p class="tiles__content">
                                        {{#if description.summary}}{{description.summary}}{{else}}{{description._abstract}}{{/if}}
                                    </p>
                                </li>
                            {{/resolve}}
                        {{/each}}
                    </ul>
                </div>
            {{/if}}

            {{!-- RELATED DATA --}}
            {{#if relatedDatasets}}
                <div class="col-wrap">
                    <h2 class="col">Data</h2>
                </div>
                <div class="col-wrap">
                    <ul class="tiles__list col col--lg-40 margin-bottom--double">
                        {{#each relatedDatasets}}
                            {{#resolve this.uri}}
                                <li class="tiles__item--list-type-simple">
                                    <h3 class="tiles__title-h3">
                                        <a href="{{uri}}">{{#if description.title}}{{description.title}}{{else}}{{#last breadcrumb}}{{description.title}}{{/last}}{{/if}}</a>
                                    </h3>

                                    <p class="tiles__content">
                                        {{#if description.summary}}{{description.summary}}{{else}}{{#last breadcrumb}}{{description.summary}}{{/last}}{{/if}}
                                    </p>
                                </li>
                            {{/resolve}}
                        {{/each}}
                    </ul>
                </div>
            {{/if}}

            {{#if_any description.nationalStatistic markdown dateChanges}}
                <div class="col-wrap">
                    <div class="col margin-bottom--double">
                        {{!-- RELEASE INFORMATION --}}
                        {{#if description.nationalStatistic}}
                            <section class="section__content--static-markdown">
                                <p> The United Kingdom Statistics Authority has designated these statistics as National
                                    Statistics, in accordance with the <a href="http://www.legislation.gov.uk/ukpga/2007/18/contents">Statistics and Registration Service
                                        Act 2007</a> and
                                    signifying compliance with the <a href="http://www.statisticsauthority.gov.uk/assessment/code-of-practice/">Code of Practice for Official
                                        Statistics</a>.
                                </p>

                                <p>
                                    Designation can be broadly interpreted to mean that the statistics:
                                </p>
                                <ul>
                                    <li>meet identified user needs</li>
                                    <li>are well explained and readily accessible</li>
                                    <li>are produced according to sound methods</li>
                                    <li>are managed impartially and objectively in the public interest</li>
                                </ul>
                                <p>
                                    Once statistics have been designated as National Statistics it is a statutory
                                    requirement that the Code of Practice shall continue to be observed.
                                </p>
                            </section>
                        {{/if}}

                        <div> {{!-- TODO Empty div needed for top border on first accordion --}}
                            {{!-- PRE-RELEASE ACCESS LIST --}}
                            {{#if markdown}}
                                <section id="prereleaseaccesslist"
                                         class="accordion is-collapsed section__content--static-markdown flush-col">
                                    <h2 class="accordion__title" aria-controls="content-1">
										Pre-release access list for {{description.title}}{{#if description.edition}}: {{description.edition}}{{/if}}
									</h2>

                                    <div class="accordion__content" aria-labelledby="sc-1">
                                        <p>
                                            The phrase 'Pre-release Access' refers to the practice whereby official
                                            statistics
                                            in their final form, and any accompanying written commentary, are made
                                            available
                                            to
                                            an eligible person in advance of their publication. The rules and principles
                                            which
                                            govern pre-release access are featured within the Pre-release Access to
                                            Official
                                            Statistics Order 2008.
                                        </p>

                                        <p>
                                            Besides ONS staff, the following persons are given pre-release access by the
                                            period
                                            indicated before release.
                                        </p>
                                        {{md markdown.0}}
                                    </div>
                                </section>
                            {{/if}}

                            {{!-- DATE CHANGES --}}
                            {{#if dateChanges}}
                                <section id="datechanges"
                                         class="accordion is-collapsed section__content--static-markdown flush-col">
                                    <h2 class="accordion__title" aria-controls="content-2">
										Changes to this release date
									</h2>
                                        <ul class="accordion__content list--neutral margin-top" aria-labelledby="sc-2">
                                            {{#loop dateChanges orderBy="previousDate" reverse=true}}
                                                <li class="margin-bottom overflow--hidden">
                                                    <dl>
                                                        <dt class="col col--md-10 col--lg-10">Previous date: </dt>
                                                        <dd class="col col--md-37 col--lg-49">{{df previousDate}}</dd>
                                                        <dt class="col col--md-10 col--lg-10">Reason for change: </dt>
                                                        <dd class="col col--md-37 col--lg-49">{{changeNotice}}</dd>
                                                    </dl>
                                                </li>
                                            {{/loop}}
                                        </ul>
                                </section>
                            {{/if}}
                        </div>
                    </div>
                </div>
            {{/if_any}}
        </div>
    </div>
{{/partial}}

{{!-- Inheriting from base statistics template --}}
{{> content/base/statistics}}




