{{#if highlightedLinks}}
{{#partial "block-intro"}}
<div class="col col--md-47 col--lg-38" >
	{{> content/partials/intro}}
</div>
<div class="nav-secondary--border-left-lg col col--md-47 col--lg-19 col--lg-offset-2 padding-left margin-top-lg--3">
	<h2 class="margin-top-lg--1">Highlighted content</h2>
	<ul class="list--neutral margin-top--negative-one-fix">
		{{#each highlightedLinks}}
		{{#resolve this.uri}}
		{{#if_any items datasets statsBulletins relatedArticles sections}}
		<li><a href="{{uri}}">{{description.title}}{{#if description.edition}}: {{description.edition}}{{/if}}</a></li>
		{{/if_any}}
		{{/resolve}}
		{{/each}}
	</ul>
</div>
{{/partial}}
{{/if}}

{{#partial "block-content"}}
<div class="wrapper">
	<div class="tiles">
		<h2 id="topics">{{labels.in-this-section}}</h2>
		<ul class="col-wrap col-span--lg-thirds tiles__list margin-bottom">
			{{!-- loop for children nodes --}}
			{{#each sections}}
			{{#resolve this.uri}}
			{{#if_any items datasets statsBulletins relatedArticles}}
			{{> partials/t2/t2-section}}
			{{else}}
			{{#if_eq type 'taxonomy_landing_page'}}
			{{!-- if child landing page has sections to show --}}
			{{#if sections}}
			{{> partials/t2/t2-section}}
			{{/if}}
			{{/if_eq}}
			{{/if_any}}
			{{/resolve}}
			{{#if @last}}
			<div class="col col--md-half col--lg-one-third">
				{{> partials/local-box}}
            </div>
			{{/if}}
			{{/each}}
		</ul>
	</div>
	{{!-- /grid-col --}}
</div>
{{!-- /wrapper --}}
{{/partial}}
{{!-- Inheriting from base content template --}}
{{> content/base/content}}