{{#partial "block-content"}}

<div class="border-top--iron-sm border-top--iron-md border-top--iron-lg overflow--hidden">
    <div class="wrapper">
        <div class="col-wrap">

            {{!-- On this page side bar--}}

            <div class="col col--md-13 col--lg-17 margin-left-md--1 min-height-md--1">

                <div class="side-bar js-sticky-sidebar">
                    <h2 class="">On this page:</h2>
                    <ul class="list--neutral border-bottom--iron-sm border-bottom--iron-md border-bottom--iron-lg">
                        {{resolve items.0.uri assign="data"}}
                        <li id="highlights-menu-item" class="side-bar__item"><a href="#highlights" class="jsEnhanceAnimateScroll side-bar__link">Highlights</a></li>
                        {{#if items}}<li id="timeseries-menu-item" class="side-bar__item"><a href="#timeseries" class="jsEnhanceAnimateScroll side-bar__link">Time series</a></li>{{/if}}
                        {{#if datasets}}<li id="datasets-menu-item" class="side-bar__item"><a href="#datasets" class="jsEnhanceAnimateScroll side-bar__link">Dataset(s)</a></li>{{/if}}
                        <li id="user-requested-menu-item" class="side-bar__item"><a href="#user-requested" class="jsEnhanceAnimateScroll side-bar__link">User requested data</a></li>
                        <li id="publications-menu-item" class="side-bar__item"><a href="#publications" class="jsEnhanceAnimateScroll side-bar__link">Publications</a></li>
                        {{#if relatedMethodology}}<li id="methodology-menu-item" class="side-bar__item padding-left-md--1 margin-bottom-md--4"><a href="#methodology" class="jsEnhanceAnimateScroll side-bar__link">Methodology</a></li>{{/if}}
                    </ul>

                    <div class="padding-top-sm--2 padding-bottom-sm--2 padding-left-sm--0 padding-right-sm--1 padding-top-md--2 padding-bottom-md--5 padding-left-md--0 padding-right-md--1 border-bottom--iron-sm border-bottom--iron-md">
                        <h2 class="flush">View all content related to this topic:</h2>
                        <ul class="nav-secondary__list">
                            {{#if_any items datasets}}<li class="nav-secondary__item"><a href="{{uri}}/datalist">All data</a></li>{{/if_any}}
                            <li class="nav-secondary__item"><a href="{{uri}}/publications">All publications</a></li>
                        </ul>
                    </div>

                </div>

            </div>

            {{!-- Page content --}}

            <div class="col col--md-34 col--lg-42 border-left--iron-md border-left--iron-lg">

                {{!-- Latest data/publication block --}}
                <div class="padding-left-md--1 padding-bottom-md--2 margin-left--negative-one-fix overflow--hidden">
                    <div id="highlights-container" class="section-container">
                        <h2 id="highlights" class="section-title">Highlights</h2>
                        <div class="overflow--hidden margin-left-lg--0">
                            {{resolve statsBulletins.0.uri filter="description" assign="bulletin"}}
                            {{#if bulletin}}
                                {{resolve items.0.uri assign="data"}}

                                {{!-- Check for data and print partial --}}
                                {{#if_any data.years data.quarters data.months}}
                                    <div class="col col--md-16 col--lg-20">
                                        {{> partials/t3/new-headline-data}}
                                    </div>
                                {{/if_any}}

                                {{!-- Latest publication block --}}
                                <div class="col {{#if_any data.years data.quarters data.months}}col--md-16 col--lg-20 margin-left-md--1{{else}}col--md -33 col--lg-41{{/if_any}}">
                                    <!--<div class="clickable-wrap">-->
                                        <div class="background--iron-light margin-bottom-md--2 js-hover-click">
                                            <div class="background--abbey height--24 overflow--hidden">

                                                <img src="{{#if_any (eq 'localhost' location.hostname) (eq '127.0.0.1' location.hostname)}}http://localhost:9000/dist/img/latest-publications.png{{else}}/node_modules/sixteens/dist/img/latest-publications.png{{/if_any}}" class="height--24 width--20" alt="" />
                                            </div>
                                            <div class="equal-height box__content padding-top-sm--2 padding-right-sm--1 padding-bottom-sm--2 padding-left-sm--1 padding-top-md--2 padding-right-md--1 padding-bottom-md--2 padding-left-md--1">
                                                <h3>
                                                    <a href="{{bulletin.uri}}">{{bulletin.description.title}}{{#if bulletin.description.edition}}: {{bulletin.description.edition}}{{/if}}</a>
                                                </h3>
                                                <h4>{{labels.product-whats-in-bulletin}}</h4>
                                                <ul>
                                                    {{#if bulletin.description.headline1}}
                                                        <li>{{bulletin.description.headline1}}</li>
                                                    {{/if}}
                                                    {{#if bulletin.description.headline2}}
                                                        <li>{{bulletin.description.headline2}}</li>
                                                    {{/if}}
                                                    {{#if bulletin.description.headline3}}
                                                        <li>{{bulletin.description.headline3}}</li>
                                                    {{/if}}
                                                </ul>
                                                </div>
                                            <div class="background--iron-light box__content height--9 width--50 border-top--iron-sm border-top--iron-md padding-top-sm--2 padding-left-sm--1 padding-top-md--2 padding-left-md--1">
                                                <a href="{{bulletin.uri}}" class="block">Read this statistical bulletin</a>
                                            </div>
                                        </div>
                                    <!--</div>-->
                                    <a href="#publications" class="btn btn--primary btn--full-width jsEnhanceAnimateScroll">More publications</a>
                                </div>
                            {{/if}}
                        </div>
                    </div>

                {{!-- Timeseries list --}}
                {{#if items}}
                    <div id="timeseries-container" class="section-container">
                    {{> partials/t3/new-timeseries-list}}
                    </div>
                {{/if}}

                {{!-- Datasets list --}}
                {{#if datasets}}
                    <div id="datasets-container" class="section-container">
                    {{> partials/t3/new-dataset-list}}
                    </div>
                {{/if}}


                    <div id="user-requested-container" class="section-container">
                        {{!-- User requested data --}}
                        <h2 id="user-requested" class="section-title">User requested data</h2>
                        <div class="background--iron-light margin-bottom-md--2 js-hover-click">

                            <div class="box__content padding-top-sm--3 padding-bottom-sm--2 padding-left-sm--1 padding-right-sm--1 padding-top-md--3 padding-right-md--1 padding-bottom-md--2 padding-left-md--1">
								<span class="icon icon-arrow-right--dark float-right margin-top-md--2 margin-top-sm--2"></span>
                                <h3>Looking for our user requested data?</h3>
                                <p><a href="{{uri}}/alladhocs">We also produce statistics not included in our standard publications</a></p>
                            </div>

                        </div>
                    </div>


                {{!-- Publications list --}}
                {{#if_any statsBulletins relatedArticles}}
                    <div id="publications-container" class="section-container">
                        {{> partials/t3/new-publications-list}}
                    </div>
                {{/if_any}}

        {{!-- Related methodology --}}
		{{#if relatedMethodology}}
        <section class="margin-top">
            <div id="methodology-container" class="section-container">
                <h2 id="methodology" class="section-title">Methodology related to {{description.title}}</h2>
                <div class="col-wrap">
                    <div class="col col--lg-41 margin-left-lg--1 margin-bottom-sm--4 margin-bottom-md--4">
                        <div class="background--iron">
                                <ul class="list--neutral padding-top-sm--3 padding-bottom-sm--2 padding-left-sm--1 padding-right-sm--1 padding-top-md--3 padding-right-md--1 padding-bottom-md--2 padding-left-md--1  background--mercury flush">
                                    {{#each relatedMethodology}}
                                    {{#resolve this.uri filter="description"}}
                                    <li class="flush-top"><a href="{{absolute uri}}">{{description.title}}</a></li>
                                    {{/resolve}}
                                    {{/each}}
                                </ul>
                            </div>
                        </div>
                    <div class="col col--lg-41 margin-left-md--1">
                        {{> partials/local-box}}
                    </div>
                </div> {{!-- /col-wrap --}}
            </div>
        </section> {{!-- /section --}}
		{{/if}}
    </div>
    </div>
</div>
</div> {{!-- /col-wrap --}}
</div>{{!-- /wrapper --}}
</div>
{{/partial}}
{{> content/base/content}}
