{{#partial "block-intro-secondary"}}
{{!-- On this page and quick links --}}
<div class="nav-secondary-wrap">
    <div class="wrapper">
        <div class="col-wrap">
            <nav class="nav-secondary nav-secondary--border-right-lg col col--lg-half">
                <h2 class="nav-secondary__title">{{labels.on-this-page}}:</h2>
                <ul class="nav-secondary__list">
                    {{resolve items.0.uri assign="data"}}
                    {{!-- <li class="nav-secondary__item"><a href="#latest-publication" class="jsEnhanceAnimateScroll">Highlights</a></li> --}}
                    {{#if items}}
                        <li class="nav-secondary__item"><a href="#timeseries" class="jsEnhanceAnimateScroll">{{labels.time-series}}</a></li>
                    {{/if}}
                    {{#if datasets}}
                        <li class="nav-secondary__item"><a href="#datasets" class="jsEnhanceAnimateScroll">{{labels.dataset}}</a></li>
                    {{/if}}
                    <li class="nav-secondary__item"><a href="#publications" class="jsEnhanceAnimateScroll">{{labels.publications}}</a></li>
                    {{#if_any relatedMethodology relatedMethodologyArticles}}
                        <li class="nav-secondary__item"><a href="#methodology" class="jsEnhanceAnimateScroll">{{labels.methodology}}</a></li>
                    {{/if_any}}
                </ul>
            </nav>
            <nav class="nav-secondary col col--lg-half">
                <h2 class="nav-secondary__title">{{labels.view-all-content-related-to-this-topic}}:</h2>
                <ul class="nav-secondary__list">
                    {{#if_any items datasets}}<li class="nav-secondary__item"><a href="{{uri}}/datalist">{{labels.all-data}}</a></li>{{/if_any}}
                    <li class="nav-secondary__item"><a href="{{uri}}/publications">{{labels.all-publications}}</a></li>
                </ul>
            </nav>
        </div> {{!-- /col-wrap --}}
    </div> {{!-- /wrapper --}}
</div> {{!-- /nav-secondary --}}
{{/partial}}

{{!-- Page Content --}}
{{#partial "block-content"}}
	{{!-- Hightlights block --}}
	{{#if_any statsBulletins items}}
		<section class="slate--alabaster">
			<div class="wrapper">
				<div class="tiles">
					<div class="col-wrap">
						<div class="col">
							<h2>{{labels.highlights}}</h2>
						</div>
						{{resolve statsBulletins.0.uri filter="description" assign="bulletin"}}
						{{#if bulletin}}
							{{resolve items.0.uri assign="data"}}
							<!-- <div id="latest" class="col col--md-half col--lg-half tiles__item tiles__item--image-type-headline"> -->
							{{!-- Check for data and print partial --}}
							{{#if_any data.years data.quarters data.months}}
								<div class="col col--md-half col--lg-half">
											{{> partials/t3/headline-data}}
								</div>
							{{/if_any}}
							<!-- </div> -->
							{{!-- Latest publication block --}}
							<div class="col {{#if_any data.years data.quarters data.months}}col--md-half col--lg-half{{/if_any}}">
                                <div class="background--iron-light margin-top-md--1 margin-bottom-md--2 js-hover-click">
                                    <div class="background--abbey height--35 overflow--hidden">

                                        <img src="{{#if_any (eq 'localhost' location.hostname) (eq '127.0.0.1' location.hostname)}}http://localhost:9000/dist/img/latest-publications.png{{else}}/assets/img/latest-publications.png{{/if_any}}" class="width-md--23 width-lg--29 height-md--35" alt="" />
                                    </div>
                                    <div class="js-equal-height box__content test--1 test--2 padding-top-sm--2 padding-right-sm--1 padding-bottom-sm--2 padding-left-sm--1 padding-top-md--2 padding-right-md--1 padding-bottom-md--2 padding-left-md--1">
                                        <h3>
                                            <a href="{{bulletin.uri}}">{{bulletin.description.title}}{{#if bulletin.description.edition}}: {{bulletin.description.edition}}{{/if}}</a>
                                        </h3>
                                        <h4>{{labels.product-whats-in-bulletin}}</h4>
                                        <ul>
                                            {{#if bulletin.description.headline1}}
                                                <li>{{bulletin.description.headline1}}</li>
                                            {{/if}}
                                            {{#if bulletin.description.headline2}}
                                                <li>{{bulletin.description.headline2}}</li>
                                            {{/if}}
                                            {{#if bulletin.description.headline3}}
                                                <li>{{bulletin.description.headline3}}</li>
                                            {{/if}}
                                        </ul>
                                    </div>
                                    <div class="background--iron-light box__content height--7{{#if_any data.years data.quarters data.months}} width--50{{/if_any}} border-top--iron-sm border-top--iron-md padding-top-sm--1 padding-left-sm--1 padding-top-md--1 padding-left-md--1">
                                        <a href="{{bulletin.uri}}" class="block">{{labels.read-this-stats-bulletin}}</a>
                                    </div>
                                </div>
								<a href="#publications" class="btn btn--primary btn--full-width margin-top--2 jsEnhanceAnimateScroll">{{labels.more-publications}}</a>
							</div>
						{{/if}}
					</div>
				</div>
			</div>{{!-- /wrapper --}}
		</section>
	{{/if_any}}
	{{!-- Timeseries --}}
	{{#if items}}
	<div class="slate--mercury">
		<section>
			<div class="wrapper">
				{{> partials/t3/timeseries-list}}
			</div>
		</section>
	</div>
	{{/if}}
	{{!-- Datasets --}}
	{{#if datasets}}
	<div class="slate--alabaster">
		<section class="padding-bottom-md--0">
			<div class="wrapper">
				{{> partials/t3/dataset-list}}
			</div>
		</section>
        <div class="wrapper">
            <div id="user-requested-container" class="section-container">
                {{!-- User requested data --}}
                <h2 id="user-requested" class="section-title">{{labels.user-requested-data}}</h2>
                <div class="background--iron-light margin-bottom-sm--4 margin-bottom-md--4 js-hover-click">
                    <div class="box__content padding-top-sm--3 padding-bottom-sm--2 padding-left-sm--1 padding-right-sm--1 padding-top-md--3 padding-right-md--1 padding-bottom-md--2 padding-left-md--1">
                        <span class="icon icon-arrow-right--dark float-right margin-top-md--2 margin-top-sm--2"></span>
                        <h3>{{labels.looking-for-our-user-requested-data}}</h3>
                        <p><a href="{{uri}}/datalist?sortBy=release_date&filter=user_requested_data">{{labels.we-also-produce-data-not-included-in-our-standard-publications}}</a></p>
                    </div>

                </div>
            </div>
        </div>
	</div>
	{{/if}}
	{{!-- Latest publications --}}
	{{#if_any statsBulletins relatedArticles}}
	<section class="{{#if datasets}}slate--mercury{{else}}slate--alabaster{{/if}}">
		<div class="wrapper">
			<div class="col-wrap">
				<div class="col">
					<h2 id="publications">{{labels.publications-related-to}} {{description.title}}</h2>
				</div>
			</div>
			{{!-- Latest statistical bulletins --}}
			{{#if statsBulletins}}
			{{> partials/t3/stats-bulletins}}
			{{/if}}
			{{!-- Latest articles --}}
			{{#if relatedArticles}}
			{{> partials/t3/related-articles}}
			{{/if}}
		</div>
	</section>
	{{/if_any}}
	{{!-- Related methodology --}}
	{{#if_any relatedMethodology relatedMethodologyArticle}}
	<section class="margin-top">
		<div class="wrapper">
			<div class="col-wrap">
				<div class="col col--lg-two-thirds">
                    <div class="background--mercury margin-top--0 margin-left-md--0 margin-bottom--2 padding-top--0 padding-right--0 padding-bottom--2 padding-left--0">
                        <div class="background--gallery padding-top--0 padding-left--0 padding-right--0">
						    <h2 id="methodology" class="tiles__title-h2 tiles__title-h2--nav font-size--h3">{{labels.methodology-related-to}} {{description.title}}</h2>
						</div>
                        <div class="border-top--iron-sm border-top--iron-md padding-right--1 padding-left--1">
                            <div class="box__content padding-top--1 padding-bottom--1">
                                <ul class="list--neutral">
                                    {{#each relatedMethodology}}
                                        {{#resolve this.uri filter="description"}}
                                            <li class="flush-top"><a href="{{absolute uri}}">{{description.title}}</a></li>
                                        {{/resolve}}
                                    {{/each}}
                                    {{#each relatedMethodologyArticle}}
                                        {{#resolve this.uri filter="description"}}
                                            <li class="flush-top"><a href="{{absolute uri}}">{{description.title}}</a></li>
                                        {{/resolve}}
                                    {{/each}}
                                </ul>
                            </div>
                            <a class="btn btn--primary btn--full-width" href="topicspecificmethodology">View all related methodology</a>
                        </div>

					</div>
				</div>
				<div class="col col--lg-one-third">
					{{> partials/local-box}}
				</div>
			</div> {{!-- /col-wrap --}}
		</div>
	</section> {{!-- /section --}}
	{{/if_any}}
{{/partial}}
{{!-- Inheriting from base content template --}}
{{> content/base/content}}