{{#partial "block-intro-secondary"}}
{{!-- On this page and quick links --}}
<div class="nav-secondary-wrap">
    <div class="wrapper">
        <div class="col-wrap">
            <nav class="nav-secondary nav-secondary--border-right-lg col col--lg-half">
                <h2 class="nav-secondary__title">On this page:</h2>
                <ul class="nav-secondary__list">
                    {{resolve items.0.uri assign="data"}}
                    {{!-- <li class="nav-secondary__item"><a href="#latest-publication" class="jsEnhanceAnimateScroll">Highlights</a></li> --}}
                    {{#if items}}<li class="nav-secondary__item"><a href="#timeseries" class="jsEnhanceAnimateScroll">Time series</a></li>{{/if}}
                    {{#if datasets}}<li class="nav-secondary__item"><a href="#datasets" class="jsEnhanceAnimateScroll">Datasets</a></li>{{/if}}
                    <li class="nav-secondary__item"><a href="#publications" class="jsEnhanceAnimateScroll">Publications</a></li>
                </ul>
            </nav>
            <nav class="nav-secondary col col--lg-half">
                <h2 class="nav-secondary__title">View all content related to this topic:</h2>
                <ul class="nav-secondary__list">
                    {{#if_any items datasets}}<li class="nav-secondary__item"><a href="{{uri}}/datalist">All data</a></li>{{/if_any}}
                    <li class="nav-secondary__item"><a href="{{uri}}/publications">All publications</a></li>
                </ul>
            </nav>
        </div> {{!-- /col-wrap --}}
    </div> {{!-- /wrapper --}}
</div> {{!-- /nav-secondary --}}
{{/partial}}

{{!-- Page Content --}}
{{#partial "block-content"}}
	{{!-- Hightlights block --}}
	{{#if_any statsBulletins items}}
		<section class="slate--alabaster">
			<div class="wrapper">
				<div class="tiles">
					<div class="col-wrap">
						<div class="col">
							<h2>Highlights</h2>
						</div>
						{{resolve statsBulletins.0.uri filter="description" assign="bulletin"}}
						{{#if bulletin}}
							{{resolve items.0.uri assign="data"}}
							<!-- <div id="latest" class="col col--md-half col--lg-half tiles__item tiles__item--image-type-headline"> -->
							{{!-- Check for data and print partial --}}
							{{#if_any data.years data.quarters data.months}}
								<div class="col col--md-half col--lg-half">
											{{> partials/t3/headline-data}}
								</div>
							{{/if_any}}
							<!-- </div> -->
							{{!-- Latest publication block --}}
							<div class="col {{#if_any data.years data.quarters data.months}}col--md-half col--lg-half{{/if_any}}">
                                <div class="background--iron-light margin-top-md--1 margin-bottom-md--2 js-hover-click">
                                    <div class="background--abbey height--35 overflow--hidden">

                                        <img src="{{#if_any (eq 'localhost' location.hostname) (eq '127.0.0.1' location.hostname)}}http://localhost:9000/dist/img/latest-publications.png{{else}}/node_modules/sixteens/dist/img/latest-publications.png{{/if_any}}" class="width-md--23 width-lg--29 height-md--35" alt="" />
                                    </div>
                                    <div class="equal-height box__content test--1 test--2 padding-top-sm--2 padding-right-sm--1 padding-bottom-sm--2 padding-left-sm--1 padding-top-md--2 padding-right-md--1 padding-bottom-md--2 padding-left-md--1">
                                        <h3>
                                            <a href="{{bulletin.uri}}">{{bulletin.description.title}}{{#if bulletin.description.edition}}: {{bulletin.description.edition}}{{/if}}</a>
                                        </h3>
                                        <h4>{{labels.product-whats-in-bulletin}}</h4>
                                        <ul>
                                            {{#if bulletin.description.headline1}}
                                                <li>{{bulletin.description.headline1}}</li>
                                            {{/if}}
                                            {{#if bulletin.description.headline2}}
                                                <li>{{bulletin.description.headline2}}</li>
                                            {{/if}}
                                            {{#if bulletin.description.headline3}}
                                                <li>{{bulletin.description.headline3}}</li>
                                            {{/if}}
                                        </ul>
                                    </div>
                                    <div class="background--iron-light box__content height--7 width--50 border-top--iron-sm border-top--iron-md padding-top-sm--1 padding-left-sm--1 padding-top-md--1 padding-left-md--1">
                                        <a href="{{bulletin.uri}}" class="block">Read this statistical bulletin</a>
                                    </div>
                                </div>
								<a href="#publications" class="btn btn--primary btn--full-width margin-top--2 jsEnhanceAnimateScroll">More
									publications</a>
							</div>
						{{/if}}
					</div>
				</div>
			</div>{{!-- /wrapper --}}
		</section>
	{{/if_any}}
	{{!-- Timeseries --}}
	{{#if items}}
	<div class="slate--mercury">
		<section>
			<div class="wrapper">
				{{> partials/t3/timeseries-list}}
			</div>
		</section>
	</div>
	{{/if}}
	{{!-- Datasets --}}
	{{#if datasets}}
	<div class="slate--alabaster">
		<section class="padding-bottom-md--0">
			<div class="wrapper">
				{{> partials/t3/dataset-list}}
			</div>
		</section>
        <div class="wrapper margin-bottom-md--2">
            <div id="user-requested-container" class="section-container">
                {{!-- User requested data --}}
                <h2 id="user-requested" class="section-title">User requested data</h2>
                <div class="background--iron-light margin-bottom-sm--2 margin-bottom-md--2 js-hover-click">

                    <div class="box__content padding-top-sm--3 padding-bottom-sm--2 padding-left-sm--1 padding-right-sm--1 padding-top-md--3 padding-right-md--1 padding-bottom-md--2 padding-left-md--1">
                        <span class="icon icon-arrow-right--dark float-right margin-top-md--2 margin-top-sm--2"></span>
                        <h3>Looking for our user requested data?</h3>
                        <p><a href="{{uri}}/datalist?sortBy=release_date&filter=user_requested_data">We also produce statistics not included in our standard publications</a></p>
                    </div>

                </div>
            </div>
        </div>
	</div>
	{{/if}}
	{{!-- Latest publications --}}
	{{#if_any statsBulletins relatedArticles}}
	<section class="{{#if datasets}}slate--mercury{{else}}slate--alabaster{{/if}}">
		<div class="wrapper">
			<div class="col-wrap">
				<div class="col">
					<h2 id="publications">Publications related to {{description.title}}</h2>
				</div>
			</div>
			{{!-- Latest statistical bulletins --}}
			{{#if statsBulletins}}
			{{> partials/t3/stats-bulletins}}
			{{/if}}
			{{!-- Latest articles --}}
			{{#if relatedArticles}}
			{{> partials/t3/related-articles}}
			{{/if}}
		</div>
	</section>
	{{/if_any}}
	{{!-- Related methodology --}}
	{{#if relatedMethodology}}
	<section class="margin-top">
		<div class="wrapper">
			<div class="col-wrap">
				<div class="col col--lg-two-thirds">
					<div class="tiles__item tiles__item--nav-type flush-col">
						<h3 class="tiles__title-h3 tiles__title-h3--nav">Methodology related to {{description.title}}</h3>
						<ul class="tiles__content tiles__content--nav list--neutral">
							{{#each relatedMethodology}}
							{{#resolve this.uri filter="description"}}
							<li class="flush-top"><a href="{{absolute uri}}">{{description.title}}</a></li>
							{{/resolve}}
							{{/each}}
						</ul>
					</div>
				</div>
				<div class="col col--lg-one-third">
					{{> partials/local-box}}
				</div>
			</div> {{!-- /col-wrap --}}
		</div>
	</section> {{!-- /section --}}
	{{/if}}
{{/partial}}
{{!-- Inheriting from base content template --}}
{{> content/base/content}}