<main id="main" role="main" tabindex="-1">
	{{!-- Page header --}}
	<div class="page-intro">
		<div class="wrapper">
			<div class="col-wrap">
				<div class="col">
					{{!-- Breadcrumb --}}
					{{> partials/breadcrumb}}

					{{!-- Title & summary --}}
					<h1 class="page-intro__title">{{description.title}}</h1>
					<p class="page-intro__content col col--md-47 col--lg-48">{{description.summary}}</p>

				</div> {{!-- /col --}}
			</div> {{!-- /col-wrap --}}
		</div> {{!-- /wrapper --}}

		{{!-- On this page and quick links --}}
		<div class="nav-secondary-wrap">
			<div class="wrapper">
				<div class="col-wrap">
					<nav class="nav-secondary nav-secondary--border-right-lg col col--lg-half">
						<h2 class="nav-secondary__title">On this page:</h2>
						<ul class="nav-secondary__list">
							<li class="nav-secondary__item"><a href="#latest">Latest data</a></li>
							<li class="nav-secondary__item"><a href="#latest">Latest publications</a></li>
							<li class="nav-secondary__item"><a href="#data">Highlighted data</a></li>
							<li class="nav-secondary__item"><a href="#publications">Highlighted publications</a></li>
						</ul>
					</nav>
					<nav class="nav-secondary col col--lg-half">
						<h2 class="nav-secondary__title">Quick links:</h2>
						<ul class="nav-secondary__list">
							<li class="nav-secondary__item"><a href="{{uri}}/datasets">All data in this section</a></li>
							<li class="nav-secondary__item"><a href="{{uri}}/publications">All publications in this section</a></li>
						</ul>
					</nav>
				</div> {{!-- /col-wrap --}}
			</div> {{!-- /wrapper --}}
		</div> {{!-- /quick-links--}}
	</div> {{!-- /page-intro --}}

	


	{{!-- Latest data/publication block --}}
	<div class="page-content">
		<section class="slate--alabaster">
			<div class="wrapper">
				{{resolve statsBulletins.0.uri filter="description" assign="bulletin"}}
				{{#if bulletin}}
					{{resolve items.0.uri assign="data"}}
					<div class="col-wrap">

						{{!-- Check for data and print partial --}}
						{{#if_any data.years data.quarters data.months}}
							<div class="col col--md-half col--lg-half">
								{{> partials/t3/headline-data}}
							</div>
						{{/if_any}}

						{{!-- Latest publication block --}}
						<div class="col {{#if_any data.years data.quarters data.months}}col--md-half col--lg-half{{/if_any}}">
							<h2 class="section-title">{{labels.product-latest-stats-bulletin}}</h2>
							<div class="tile--headline-block">
								<div class="tile--headline-block__image-container">
									<img src="http://localhost:9000/dist/img/latest-publications.png" alt="" />
								</div>
								<h3 class="tile--headline-block__title">
									<a href="{{statsBulletins.0.uri}}">{{bulletin.description.title}}{{#if bulletin.description.edition}}: {{bulletin.description.edition}}{{/if}}</a>
								</h3>
								<h4 class="tile--headline-block__sub-title">{{labels.product-whats-in-bulletin}}</h4>
								<ul class="tile--headline-block__list">
									<li class="tile--headline-block__item">
										{{bulletin.description.headline1}}
									</li>
									<li class="tile--headline-block__item">
										{{bulletin.description.headline2}}
									</li>
									<li class="tile--headline-block__item">
										{{bulletin.description.headline3}}
									</li>
								</ul>
								<a href="{{statsBulletins.0.uri}}" class="tile--headline-block__more">Read this statistical bulletin</a>
							</div>
						<a href="#publications" class="btn btn--full-width">More statistical bulletins</a>
					</div>
				</div>
			{{/if}}
		</div>{{!-- /wrapper --}}
	</section>

	{{!-- Timeseries & datasets --}}
	{{#if_any items datasets}}
	<section class="slate--iron-light">
		<div class="wrapper">
			<div class="col-wrap">
				<div class="col">
					<h2 id="data" class="section-title">Data related to {{description.title}}</h2>
				</div>
			</div>
			{{#if items}}
				{{> partials/t3/timeseries-list}}
			{{/if}}
			{{#if datasets}}
				{{> partials/t3/dataset-list}}
			{{/if}}
		</div> {{!-- /div.wrapper --}}
	</section>
	{{/if_any}}

	{{!-- Latest publications --}}
	{{#if_any statsBulletins relatedArticles}}
	<section class="slate--alabaster">
		<div class="wrapper">
			<div class="col-wrap">
				<div class="col">
					<h2 id="publications" class="section-title">Publications related to {{description.title}}</h2>
				</div>
			</div>
			{{!-- Latest statistical bulletins --}}
			{{#if statsBulletins}}
				{{> partials/t3/stats-bulletins}}
			{{/if}}
			{{!-- Latest articles --}}
			{{#if relatedArticles}}
				{{> partials/t3/related-articles}}
			{{/if}}
		</div>
	</section>
	{{/if_any}}

	{{!-- Related methodology --}}

	<section class="wrapper">
		<div class="col-wrap">
			<div class="col col--lg-half">
				<h2>Related methodology</h2>
				<ul>
					{{#each relatedMethodology}}
					{{#resolve this.uri filter="title"}}
					<li><a href="{{absolute uri}}">{{description.title}}</a></li>
					{{/resolve}}
					{{/each}}
				</ul>
			</div>
			<div class="col col--lg-half">
				{{> partials/local-box}}
			</div>
		</div> {{!-- /col-wrap --}}
	</section> {{!-- /section.wrapper --}}
	</div>
</main>