{{#partial "block-main"}}
    <div class="page-neutral-intro {{#if_eq type "home_page"}}background--astral{{else}}background--gallery{{/if_eq}}">
        <div class="wrapper">
            <div class="col-wrap">
                <div class="col">
                    <nav>
                        <div class="breadcrumb-neutral print--hide">
                            <ol class="breadcrumb-neutral__list">
                                {{#each breadcrumb}}
                                    <li class="breadcrumb-neutral__item">
                                        <a class="breadcrumb-neutral__link" href="{{uri}}">{{description.title}}</a>
                                    </li>
                                {{/each}}
                                <li class="breadcrumb-neutral__item">
                                    {{description.title}}
                                </li>
                            </ol>
                        </div>
                    </nav>

                    {{#block "block-intro"}}
                        <div class="col col--md-47 col--lg-46">
                            <div class="page-neutral-intro__type">Article</div>

                                <h1 class="page-neutral-intro__title {{#if_eq type "home_page_census"}}h1--census{{/if_eq}}">
                                {{description.title}}{{#if description.edition}}: {{description.edition}}{{/if}}
                            </h1>

                            {{#if description._abstract}}
                                <p class="page-neutral-intro__content">{{description._abstract}}</p>
                            {{/if}}
                            {{#if description.releaseDate}}
                                <p class="page-neutral-intro__meta margin-top--0 margin-bottom--3">{{df description.releaseDate}}</p>
                            {{/if}}
                        </div>
                    {{/block}}
                </div> {{!-- /col --}}
            </div> {{!-- /col-wrap --}}
        </div> {{!-- /wrapper --}}
    </div>
    <div class="wrapper margin-bottom--2">
        <div class="col-wrap">
            <article class="col col--md-40 col--lg-40 page-neutral-content__main-content margin-top--4 margin-left-md--1">
                {{#each sections}}
                    <div id="{{slugify title}}" class="section__content--markdown section__content--markdown--neutral-article">
                        <section>
                            {{#if title}}
                                <header>
                                    <h2>{{title}}</h2>
                                </header>
                            {{/if}}
                            {{md markdown}}
                        </section>
                    </div>
                {{/each}}
            </article>
        </div>

        {{!-- Related items ---}}
        {{#if relatedData}}
            <a class="btn btn--primary btn--full-width width-md--40 margin-bottom--2" href="{{this.uri}}/relateddata" >
                View all data used in this article
            </a>
        {{/if}}

        {{#if relatedDocuments}}
        <div class="tile-neutral width-md--40 margin-bottom--2">
            <h2 class="tile-neutral__heading">Related</h2>
                <ul class="list--neutral margin-bottom--0">
                {{#each relatedDocuments}}
                    {{#resolve this.uri}}
                        <li class="{{#if @last}}margin-bottom--0{{else}}margin-bottom--3{{/if}}">
                            <a href="{{this.uri}}" class="tile-neutral-content__title">{{this.description.title}}</a>
                            <p class="tile-neutral-content__meta">
                                {{> type-label type_code=this.type }}
                                {{#if this.description.releaseDate}}
                                    <span class="text--aluminium">|</span> Released on {{df this.description.releaseDate}}
                                {{/if}}
                            </p>
                            <p class="tile-neutral-content__description margin-top--0 margin-bottom--0 ">{{this.description.summary}}</p>
                        </li>
                    {{/resolve}}
                {{/each}}
                </ul>
        </div>
        {{/if}}

        {{#if links}}
            <div class="tile-neutral width-md--40 margin-bottom--2">
                <h2 class="tile-neutral__heading">You might also be interested in</h2>
                <ul class="list--neutral margin-bottom--0">
                    {{#each links}}
                        <li class="{{#if @last}}margin-bottom--0{{else}}margin-bottom--3{{/if}}">
                            <a href="{{this.uri}}" class="tile-neutral-content__title">{{this.title}}</a>
                        </li>
                    {{/each}}
                </ul>
            </div>
        {{/if}}

        {{#if description.contact}}
            <div class="tile-neutral width-md--40 margin-bottom--6">
                <h2 class="tile-neutral__heading">Contact</h2>
                <address class="tile-neutral-content__description">
                    {{#if description.contact.name}}{{description.contact.name}}<br/>{{/if}}
                    <a href="mailto:{{description.contact.email}}">{{description.contact.email}}</a><br/>
                    {{#if description.contact.telephone}}{{labels.telephone}}: {{description.contact.telephone}}{{/if}}
                </address>
            </div>
        {{/if}}



    </div>
{{/partial}}


{{> base/base}}
