{{#partial "block-additonal-metadata"}}
	{{!-- Print and download --}}
	<p class="col col--md-12 col--lg-15 print-hidden meta__item">
		{{#if description.cdid}}Series ID: {{description.cdid}}
        <a href="#" class="tooltip-npl" title="This series ID is a unique random identifier for this individual time series. The digits themselves do not have any specific meaning" aria-label="This series ID is a unique random identifier for this individual time series. The digits themselves do not have any specific meaning">what is this?</a><br/>{{/if}}
        {{#if description.unit}}Units: {{description.preUnit}} {{description.unit}}<br/>{{/if}}
        {{seasonalAdjustment}}
	</p>
{{/partial}}


{{#partial "block-content"}}
{{!-- Hide chart section if no data to draw the chart with --}}
{{!-- TODO: Add isdatavailable to timeseries to do this check --}}
	{{#if_any years quarters months}}
		<div class="wrapper">
			<h2>Time series data</h2>
			<div class="col-wrap">
				<div class="col col--lg-one tiles__item flush-bottom">

					{{> partials/highcharts/linechart}}

					{{!-- Chart footer --}}
					<div class="tiles__content nojs-hidden">
						<!-- <div class="chart-area__footer nojs-hidden js-enhance--show" data-chart-custom=""> -->
							<h3>Download this data</h3>
							<div class="chart-area__footer__actions">
								<form method="post" action="/chartimage" class="inline dlCustomData">
								   {{!--  <button id="download-custom-image" type="submit" class="btn btn--primary btn--small download-analytics" target="_blank" name="uri" value="{{uri}}">
									Image
									</button> --}}
									<input type="hidden" name="fileName" value="{{description.title}}" />
								</form>
								<form method="get" action="/generator" class="inline dlCustomData">
									<button id="download-custom-csv" type="submit" name="format" value="csv" class="btn btn--primary btn--small download-analytics">
									.csv
									</button>
									<button id="download-custom-excel" type="submit" name="format" value="xls" class="btn btn--primary btn--small download-analytics">
									.xls
									</button>
									<input type="hidden" name="uri" value="{{uri}}" />
									{{!-- Series filter input --}}
									<input type="hidden" name="series" value="" />
								</form>
							</div>
						<!-- </div> -->
					</div> {{!-- /tiles__content --}}
					{{#unless cookies.jsEnhanced}}
					<div class="tiles__content js-enhance--hide">
						<h3>Table</h3>
						<table class="tablesaw">
							<thead>
								<tr>
									<th>Period</th>
									<th>Value</th>
								</tr>
							</thead>
							<tbody>
								{{#each years}}
								<tr>
									<td>{{date}}</td>
									<td>{{value}}</td>
								</tr>
								{{/each}}
								{{#each quarters}}
								<tr>
									<td>{{date}}</td>
									<td>{{value}}</td>
								</tr>
								{{/each}}
								{{#each months}}
								<tr>
									<td>{{date}}</td>
									<td>{{value}}</td>
								</tr>
								{{/each}}
							</tbody>
						</table>
					</div>
					{{/unless}}
				</div> {{!-- /col --}}
			</div> {{!-- /col-wrap --}}
		{{/if_any}}

		{{!-- Info & notes, contact sidebar--}}
		<div class="meta-wrap meta-wrap--gallery margin-bottom">
			<div class="col-wrap">
				{{#if_any section.markdown notes}}
					<div class="col col--lg-two-thirds meta__item">
						{{md section.markdown}}
						<h3>Notes</h3>
						{{md notes.0}}
					</div>
				{{/if_any}}

				<div class="col col--md-one-third col--lg-one-third {{#if_any section.markdown notes.0}}{{else}}meta__item{{/if_any}}">
					<h3>
						Contact details for this data
					</h3>
					<address>
						{{#if description.contact.name}}{{description.contact.name}}<br/>{{/if}}
						<a href="mailto:{{description.contact.email}}">{{description.contact.email}}</a></br>
						{{#if description.contact.telephone}}{{labels.phone}}
							: {{description.contact.telephone}}{{/if}}
					</address>
				</div>{{!-- col --}}

				{{!-- <div class="col col--md-one-third col--lg-one-third">
					 {{> partials/local-box}}
				 </div> --}}
			</div>
		</div>
	</div>

	{{!-- Related link and local box --}}
	{{#if_any relatedDocuments relatedData relatedDatasets relatedMethodology}}
		<div class="wrapper">
			<h2>Related</h2>
			<div class="col-wrap flexbox__item">
				{{#if_any relatedData relatedDatasets}}
					<div class="col {{#if_all relatedDocuments relatedData relatedDatasets relatedMethodology}}col--lg-one-third {{else}}col--lg-half {{/if_all}} tiles__item tiles__item--nav-type">
						<h3 class="tiles__title-h3 tiles__title-h3--nav">Time series data</h3>
						<div class="tiles__content tiles__content--nav">
							<ul class="list--neutral">
								{{#each relatedData}}
									{{#resolve this.uri filter="description"}}
									<li class="flush"><a href="{{uri}}">{{#if description.cdid}}{{description.cdid}}: {{/if}}{{description.title}}</a></li>
									{{/resolve}}
								{{/each}}
								{{#each relatedDatasets}}
									{{#resolve this.uri filter="description"}}
									<li class="flush"><a href="{{uri}}">{{#if description.datasetId}}{{description.datasetId}}: {{/if}}{{description.title}}</a></li>
									{{/resolve}}
								{{/each}}
							</ul>
						</div>
						<div class="tiles__extra">
							<a href="{{#each breadcrumb}}{{#if @last}}{{uri}}/datalist?filter=single_time_series{{/if}}{{/each}}">View all related time series data</a>
						</div>
					</div>
				{{/if_any}}
				{{#if relatedDocuments}}
					<div class="col {{#if_all relatedDocuments relatedData relatedDatasets relatedMethodology}}col--lg-one-third {{else}}col--lg-half {{/if_all}} tiles__item tiles__item--nav-type">
						<h3 class="tiles__title-h3 tiles__title-h3--nav">Publications</h3>
						<div class="tiles__content tiles__content--nav">
							<ul class="list--neutral">
								{{#each relatedDocuments}}
									{{#resolve this.uri filter="title"}}
									<li class="flush"><a href="{{uri}}">{{title}}{{#if edition}}{{#if_ne edition 'yes'}}: {{edition}}{{/if_ne}}{{/if}}</a></li>
									{{/resolve}}
								{{/each}}
							</ul>
						</div>
						{{!-- <div class="tiles__extra">
 							<a href="{{#each breadcrumb}}{{#if @last}}{{uri}}/publications{{/if}}{{/each}}">View all related publications</a>
 						</div> --}}
					</div>
				{{/if}}
				{{#if relatedMethodology}}
					<div class="col {{#if_all relatedDocuments relatedData relatedDatasets relatedMethodology}}col--lg-one-third {{else}}col--lg-half {{/if_all}} tiles__item tiles__item--nav-type">
						<h3 class="tiles__title-h3 tiles__title-h3--nav">Methodology</h3>
						<div class="tiles__content tiles__content--nav">
							<ul class="list--neutral">
								{{#each relatedMethodology}}
									{{#resolve this.uri filter="title"}}
									<li class="flush"><a href="{{uri}}" title="{{title}}">{{title}}</a></li>
									{{/resolve}}
								{{/each}}
							</ul>
						</div>
						{{!-- <div class="tiles__extra">
 							<a href="{{#each breadcrumb}}{{#if @last}}{{uri}}/allmethodologies{{/if}}{{/each}}">View all related methodology</a>
 						</div> --}}
					</div>
				{{/if}}
			</div>
		</div>
	{{/if_any}}
{{/partial}}

{{> content/base/statistics typeLabel="Time series data"}}