{{#partial "block-metadata"}}
    <div class="wrapper">
        <div class="col-wrap">
            {{> content/partials/metadata/contact class="col--md-12 col--lg-15"}}

            {{#block "block-release-date"}}
                {{> content/partials/metadata/release-date class="col--md-12 col--lg-15"}}
            {{/block}}

            {{#block "block-next-release"}}
                {{> content/partials/metadata/next-release class="col--md-12 col--lg-15"}}
            {{/block}}

            {{#block "block-additonal-metadata"}}{{/block}}
        </div>
    </div>
{{/partial}}

{{#partial "block-additonal-metadata"}}
	{{!-- Print and download --}}
	<p class="col col--md-12 col--lg-15 print-hidden meta__item">
		{{#if description.cdid}}Series ID: {{description.cdid}}
        <a href="#" class="tooltip-npl" title="This series ID is a unique random identifier for this individual time series. The digits themselves do not have any specific meaning" aria-label="This series ID is a unique random identifier for this individual time series. The digits themselves do not have any specific meaning">what is this?</a><br/>{{/if}}
        {{#if description.unit}}Units: {{description.preUnit}} {{description.unit}}<br/>{{/if}}
        {{seasonalAdjustment}}
	</p>
{{/partial}}


{{#partial "block-content"}}
{{!-- Hide chart section if no data to draw the chart with --}}
{{!-- TODO: Add isdatavailable to timeseries to do this check --}}
	{{#if_any years quarters months}}
		<div class="wrapper">
			<div class="col-wrap">
				<div class="col col--lg-one tiles__item margin-top-sm--4 margin-top-md--5 flush-bottom">

					{{> partials/highcharts/linechart}}

					{{!-- Chart footer --}}
					<div class="tiles__content nojs-hidden">
						<h2>Download this data test</h2>
						<div class="chart-area__footer__actions">
							<form method="get" action="{{uri}}/linechartimage" class="inline dlCustomData">
							    <button id="download-custom-image" type="submit" class="btn btn--primary btn--small download-analytics" target="_blank">
								Image
								</button>
								<input type="hidden" name="fileName" value="{{description.title}}" />
							</form>
							<form method="get" action="/generator" class="inline dlCustomData">
								<button id="download-custom-csv" type="submit" name="format" value="csv" class="btn btn--primary btn--small download-analytics">
								.csv
								</button>
								<button id="download-custom-excel" type="submit" name="format" value="xls" class="btn btn--primary btn--small download-analytics">
								.xls
								</button>
								<input type="hidden" name="uri" value="{{uri}}" />
								{{!-- Series filter input --}}
								<input type="hidden" name="series" value="" />
							</form>
						</div>
						<!-- </div> -->
					</div> {{!-- /tiles__content --}}
					<noscript>
						<div class="tiles__content js-enhance--hide">
							<h2>Table</h2>
							<table class="tablesaw">
								<thead>
									<tr>
										<th>Period</th>
										<th>Value</th>
									</tr>
								</thead>
								<tbody>
									{{#each years}}
									<tr>
										<td>{{date}}</td>
										<td>{{value}}</td>
									</tr>
									{{/each}}
									{{#each quarters}}
									<tr>
										<td>{{date}}</td>
										<td>{{value}}</td>
									</tr>
									{{/each}}
									{{#each months}}
									<tr>
										<td>{{date}}</td>
										<td>{{value}}</td>
									</tr>
									{{/each}}
								</tbody>
							</table>
						</div>
					</noscript>
				</div> {{!-- /col --}}
			</div> {{!-- /col-wrap --}}
		{{/if_any}}

		<div class="meta-wrap meta-wrap--gallery margin-bottom padding-right-sm--1">
			<div class="col-wrap">
				{{#if_any section.markdown notes}}
					<div class="col col--md-two-thirds col--lg-two-thirds meta__item padding-right-sm--1 padding-right-md--1">
						{{md section.markdown}}
						<h2>Notes</h2>
						{{md notes.0}}
					</div>
				{{/if_any}}
				<div class="col {{#if_any section.markdown notes}}col--md-one-third col--lg-one-third{{else}}col--md-one col--lg-one padding-left-md--1{{/if_any}} padding-right-md--1 padding-left-sm--1">
					{{#if_any relatedData relatedDatasets}}
						<h2>Related time series</h2>
						<ul class="list--neutral box__content">
							{{#each relatedData}}
								{{#resolve this.uri filter="description"}}
									<li class="flush"><a href="{{uri}}">{{#if description.cdid}}{{description.cdid}}
										: {{/if}}{{description.title}}</a></li>
								{{/resolve}}
							{{/each}}
							{{#each relatedDatasets}}
								{{#resolve this.uri filter="description"}}
									<li class="flush"><a
											href="{{uri}}">{{#if description.datasetId}}{{description.datasetId}}
										: {{/if}}{{description.title}}</a></li>
								{{/resolve}}
							{{/each}}
						</ul>
					{{/if_any}}
					<div class="col col--md-14 col--lg-18">
						{{#assign "path"}}
						/timeseriestool?topic={{parentPath (parentPath uri)}}{{/assign}}
						{{> partials/related/new-data relatedTitle="View and download all related time series" relatedUri=path}}
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="wrapper">
		<div class="col-wrap flexbox__item">
			{{#if relatedDocuments}}
				<div class="col {{#if_all relatedDocuments relatedMethodology}}col--md-one-third col--lg-one-third{{else}}col--md-half col--lg-half{{/if_all}} background--mercury margin-bottom-md--2">
					{{#partial "block-documents-title"}}
						<h2 class="tiles__title-h2 tiles__title-h2--nav">Publications that use this data</h2>
					{{/partial}}
					{{> partials/related/documents}}
				</div>
			{{/if}}
			{{#if relatedMethodology}}
				<div class="col {{#if_all relatedDocuments relatedMethodology}}col--md-one-third col--lg-one-third{{else}}col--md-half col--lg-half{{/if_all}} background--mercury margin-bottom-sm--2 margin-bottom-md--2">
					<div class="background--gallery padding-top-md--2 padding-top-sm--2 padding-right-md--1 padding-right-sm--1 padding-bottom-sm--3 padding-bottom-md--4 padding-left-md--1 padding-left-sm--1 border-bottom--iron-md border-bottom--iron-sm">
						<h2 class="flush">
							Methodology
						</h2>
					</div>
					<div class="box__content padding-top-sm--1 padding-top-md--1 padding-bottom-sm--1 padding-bottom-md--2 padding-left-sm--1 padding-left-md--1 padding-right-sm--1 padding-right-md--1">
						<ul class="list--neutral">
							{{#each relatedMethodology}}
								{{#resolve this.uri filter="title"}}
									<li class="flush"><a href="{{uri}}" title="{{title}}">{{title}}</a></li>
								{{/resolve}}
							{{/each}}
						</ul>
					</div>
				</div>
			{{/if}}
			<div class="col {{#if_all relatedDocuments relatedMethodology}}col--md-one-third col--lg-one-third{{else}}col--md-half col--lg-half{{/if_all}} background--mercury margin-bottom-sm--2 margin-bottom-md--2">
				<div class="background--gallery padding-top-md--2 padding-top-sm--2 padding-right-md--1 padding-right-sm--1 padding-bottom-sm--3 padding-bottom-md--4 padding-left-md--1 padding-left-sm--1">
					<h2 class="flush">
						Contact details for this data
					</h2>
				</div>
				<div class="box__content padding-top-sm--1 padding-top-md--1 padding-bottom-sm--1 padding-bottom-md--2 padding-left-sm--1 padding-left-md--1 padding-right-sm--1 padding-right-md--1 border-top--iron-sm border-top--iron-md">
					<address>
						{{#if description.contact.name}}{{description.contact.name}}<br/>{{/if}}
						<a href="mailto:{{description.contact.email}}">{{description.contact.email}}</a></br>
						{{#if description.contact.telephone}}{{labels.phone}}
							: {{description.contact.telephone}}{{/if}}
					</address>
				</div>
			</div>
		</div>
	</div>
{{/partial}}

{{> content/base/statistics typeLabel="Time series data"}}