{{#partial "block-additonal-metadata"}}
{{!-- Print and download --}}
<p class="col col--md-12 col--lg-15 print--hide meta__item">
	<a href="" id="jsEnhancePrintCompendium" class="nojs-hidden js-enhance--show">
		Print all chapters
	</a>
</p>
{{/partial}}


{{#partial "block-content"}}
<div class="wrapper">
	<div class="col-wrap print--avoid-break">
        <div class="col col--md-two-thirds col--lg-two-thirds">
		<h2 class="margin-bottom ">{{labels.compendium-whats-in}}</h2>
		{{!-- Chapters --}}
		{{#if chapters}}
		<section class="accordion is-collapsed">
			<h3 id="sc-1" class="accordion__title" aria-controls="content-1">
			{{labels.compendium-chapters}}
			</h3>
			<div id="content-1" class="accordion__content" aria-labelledby="sc-1">
				<ul class="list--neutral">
					{{#each chapters}}
					{{#resolve uri filter="description"}}
					<li class="flush">
						<h4><a href="{{uri}}" class="chapter">{{description.title}}</a></h4>
						{{#if description.headline}}
						<p>{{description.headline}}</p>
						{{/if}}
					</li>
					{{/resolve}}
					{{/each}}
				</ul>
			</div>
		</section>
		{{/if}}
		{{!-- /Chapters --}}
		{{!-- Data --}}
		{{#if datasets}}
		<section class="">
			<h3>{{labels.data}}</h3>
			<ul class="list--neutral">
				{{#each datasets}}
				{{#resolve uri filter="title"}}
				<li>
					<h4 class="flush-bottom"><a href="{{uri}}">{{description.title}}</a></h4>
					<p class="flush">{{labels.compendium-time-series}}</p>
				</li>
				{{/resolve}}
				{{/each}}
			</ul>
		</section>
		{{/if}}
		{{!-- /Data --}}
        </div>
        <div class="col col--md-one-third col--lg-one-third padding-top-md--3">
            {{>partials/contact}}
        </div>
    </div>


    {{!-- Related boxes --}}
    {{#if_any relatedDocuments relatedData relatedMethodology}}
        <div class="wrapper">
            <h2>Related</h2>
            <div class="col-wrap">
                {{#if_any relatedData relatedDatasets}}
                    <div class="col {{#if_all relatedDocuments relatedData relatedMethodology}}col--lg-one-third {{else}}col--lg-half{{/if_all}}">
                        <div class="equal-height">
                            {{>partials/related/data}}
                        </div>
                    </div>
                {{/if_any}}
                {{#if relatedDocuments}}
                    <div class="col {{#if_all relatedDocuments relatedData relatedMethodology}}col--lg-one-third {{else}}col--lg-half{{/if_all}}">
                        <div class="equal-height">
                            {{>partials/related/documents}}
                        </div>
                    </div>
                {{/if}}
                {{#if relatedMethodology}}
                    <div class="col {{#if_all relatedDocuments relatedData relatedMethodology}}col--lg-one-third {{else}}col--lg-half{{/if_all}}">
                        <div class="equal-height">
                            {{>partials/related/methodology}}
                        </div>
                    </div>
                {{/if}}
            </div>
        </div>
    {{/if_any}}



</div>
<div id="print-here"></div>
{{/partial}}

{{!-- Inheriting from statistics template --}}
{{> content/base/statistics typeLabel="Compendium"}}