{{#partial "block-alert" no-versions=true}}{{/partial}}


{{#partial "block-content"}}
<div class="wrapper">
	<div class="col-wrap print--avoid-break">
        <div class="col col--md-two-thirds col--lg-two-thirds padding-md-right--2">
            <div class="table-of-contents print--avoid-break margin-top--negative-one-fix">
                <h2 class="table-of-contents__title">{{labels.chapters-in-this-compendium}}:</h2>
                {{!-- Chapters --}}
                {{#if chapters}}
                    <ol class="padding-left-md--0 margin-bottom-md--4">
                    {{#each chapters}}
                        {{#resolve uri filter="description"}}
                        <li class="table-of-contents__item">
                            <a href="{{uri}}" class="chapter">{{description.title}}</a>

                        </li>
                        {{/resolve}}
                    {{/each}}
                    </ol>
                {{/if}}
            </div>
        </div>
        {{!-- /Chapters --}}
        <div class="col col--md-one-third col--lg-one-third padding-top-md--3">
            {{!-- Print options --}}
                <p class="text-right js--show padding-top-md--0 padding-bottom-md--0 height--5 margin-top-md--3 print--hide">
                    <a href="" class="js-print-chapters">
                        {{labels.print-all-chapters-in-this-compendium}}
                    </a>
                    <span class="icon icon-print--dark-small"></span>
                </p>

            {{!-- Related data --}}
            {{#if datasets}}
                {{!-- <div class="tiles__item tiles__item--nav-type flush-col print--hide">
                    <h3 class="tiles__title-h3 tiles__title-h3--nav">Data in this {{> type-label type_code=type }}</h3>
                    <div class="tiles__extra margin-bottom-md--2">
                        {{#each datasets}}
                            <a href="{{uri}}">View all data in this {{> type-label type_code=type }}</a>
                        {{/each}}
                    </div>
                </div> --}}

                {{#each datasets}}
                    {{>partials/related/new-data relatedUri=uri relatedTitle="self"}}
                {{/each}}

            {{/if}}

            {{!-- Contact --}}
            {{>partials/contact}}
        </div>
    </div>


    {{!-- Related boxes --}}
    {{#if_any relatedDocuments relatedData relatedMethodology}}
        <h2>{{labels.related}}</h2>
        <div class="col-wrap margin-bottom-sm--2 margin-bottom-md--4">
            {{#if_any relatedData relatedDatasets}}
                <div class="col {{#if_all relatedDocuments relatedData relatedMethodology}}col--lg-one-third {{else}}col--lg-half{{/if_all}}">
                    <div class="js-equal-height">
                        {{>partials/related/data}}
                    </div>
                </div>
            {{/if_any}}
            {{#if relatedDocuments}}
                <div class="col {{#if_all relatedDocuments relatedData relatedMethodology}}col--lg-one-third {{else}}col--lg-half{{/if_all}}">
                    <div class="js-equal-height">
                        {{>partials/related/documents}}
                    </div>
                </div>
            {{/if}}
            {{#if relatedMethodology}}
                <div class="col {{#if_all relatedDocuments relatedData relatedMethodology}}col--lg-one-third {{else}}col--lg-half{{/if_all}}">
                    <div class="js-equal-height">
                        {{>partials/related/methodology}}
                    </div>
                </div>
            {{/if}}
        </div>
    {{/if_any}}



</div>
<div id="print-here"></div>
{{/partial}}

{{!-- Inheriting from statistics template --}}
{{> content/base/statistics typeLabel=labels.compendium}}