
	{{!-- Page header --}}
	<div class="page-intro">
		<div class="wrapper">
			<div class="col-wrap">
				<div class="col">
					{{!-- Breadcrumb --}}
					{{> partials/breadcrumb}}

					{{!-- Title & summary --}}
					<h1 class="page-intro__title {{#unless description.summary}}margin-bottom--double{{/unless}}">{{description.title}}{{#if description.edition}}: {{description.edition}}{{/if}}</h1>

					{{#if description.summary}}
						<p class="page-intro__content col col--md-47 col--lg-48">{{description.summary}}</p>
					{{/if}}

				</div>
			</div>
		</div> {{!-- /wrapper --}}

		{{!-- FIX WHEN LATEST FUNCTION WORKING ON COMPENDIUM --}}
		<!-- <div class="alert">
			<div class="wrapper">
				<div class="col-wrap">
					<div class="col">

						{{!-- Latest info --}}
						{{#resolve (concat (parentPath uri) "/latest") filter="title"}}
							{{#if_eq uri ../uri}}
							<p class="alert__content">This is the latest release</p> <a class="btn print--hide" href="{{parentPath uri}}/previousReleases">view previous releases</a>
							{{else}}
							<p class="alert__content">This is not the latest release</p> <a class="btn print--hide" href="{{uri}}">view latest release</a>
							{{/if_eq}}
						{{/resolve}}

					</div>
				</div>
			</div> {{!-- /wrapper --}}
		</div> {{!-- /slate--ship-gray --}} -->

		<div class="meta-wrap">
			<div class="wrapper">

				{{!-- Meta info --}}
				<div class="col-wrap">

					{{!-- Contact & NS logo--}}
					<p class="col col--md-12 col--lg-15 meta__item">
						{{#if description.nationalStatistic}}
						<img class="meta__image" src="/node_modules/ONS-Pattern-Library/dist/img/national-statistics.png" alt="National Statistics logo" />
						{{/if}}
						<span>{{labels.meta-contact}}: </span><br/><a href="mailto:{{description.contact.email}}">{{#if description.contact.name}}{{description.contact.name}}{{else}}{{description.contact.email}}{{/if}}</a>
					</p>

					{{!-- Release date --}}
					<p class="col col--md-12 col--lg-15 meta__item">
						<span>{{labels.release-date}}: </span><br/>{{df description.releaseDate}}<br/>
					</p>

					{{!-- Next release --}}
					<p class="col col--md-12 col--lg-15 meta__item">
						<span>{{labels.release-next}}: </span><br/>{{#if description.nextRelease}}{{description.nextRelease}}{{else}}To be announced{{/if}}
					</p>


					{{!-- Print and download --}}
					<p class="col col--md-12 col--lg-15 print--hide meta__item">
						<a href="" id="jsEnhancePrintCompendium" class="nojs-hidden js-enhance--show">
							Print all chapters
						</a>
						{{!-- <br class="nojs-hidden js-enhance--show"/>
						<a href="{{uri}}/pdf" class="link-complex">
							{{labels.dl-pdf}}
						</a> --}}
					</p>
				</div>
			</div> {{!-- /wrapper --}}
		</div> {{!-- /meta-wrap --}}
	</div> {{!-- /page-intro --}}

	<div class="wrapper">
		<div class="col-wrap print--avoid-break">
			<h2 class="margin-bottom col col--lg-one">{{labels.compendium-whats-in}}</h2>

			{{!-- Chapters --}}
			{{#if chapters}}
				<section class="col col--lg-one accordion is-collapsed">
					<h3 id="sc-1" class="accordion__title" aria-controls="content-1">
						{{labels.compendium-chapters}}
					</h3>

					<div id="content-1" class="accordion__content" aria-labelledby="sc-1">
						<ul class="list--neutral">
							{{#each chapters}}
								{{#resolve uri filter="description"}}
									<li class="flush">
										<h4><a href="{{uri}}" class="chapter">{{description.title}}</a></h4>
										{{#if description.headline}}
											<p>{{description.headline}}</p>
										{{/if}}
									</li>
								{{/resolve}}
							{{/each}}
						</ul>
					</div>
				</section>
			{{/if}}
			{{!-- /Chapters --}}

			{{!-- Data --}}
			{{#if datasets}}
				<section class="col col--lg-one">
					<h3>{{labels.data}}</h3>
					<ul class="list--neutral">
						{{#each datasets}}
							{{#resolve uri filter="title"}}
								<li>
									<h4 class="flush-bottom"><a href="{{uri}}">{{description.title}}</a></h4>

									<p class="flush">{{labels.compendium-time-series}}</p>
								</li>
							{{/resolve}}
						{{/each}}
					</ul>
				</section>
			{{/if}}
			{{!-- /Data --}}
		</div>

		<div class="col-wrap tiles">

			{{!-- Methodology --}}
			{{#if relatedMethodology}}
				<div class="col col--lg-half col--md-half tiles__item tiles__item--nav-type">
					<h3 class="tiles__title-h3 tiles__title-h3--nav">{{labels.methodology}}</h3>
					<ul class="tiles__content tiles__content--nav list--neutral">
					{{#each relatedMethodology}}
						{{#resolve uri filter="description"}}
						<li>
							<a href="{{uri}}" title="{{description.title}}">{{description.title}}</a>
						</li>
						{{/resolve}}
					{{/each}}
					</ul>
				</div>
			{{/if}}

			{{!-- Contact details --}}
			<div class="col col--lg-half col--md-half tiles__item">
				<h3 class="tiles__title-h3 tiles__title-h3--nav">{{labels.contact-details}}</h3>
				<address class="tiles__content--nav">
					{{#if description.contact.name}}
						{{description.contact.name}}<br/>
					{{/if}}
                  	<a href="mailto:{{description.contact.email}}">{{description.contact.email}}</a><br/>
                  	{{#if description.contact.telephone}}
                  		{{labels.phone}}: {{description.contact.telephone}}
              		{{/if}}
				</address>
			</div>
		</div>
	</div>
	<div id="print-here"></div>
