{{#partial "block-alert" no-versions=true}}{{/partial}}


{{#partial "block-content"}}
<div class="wrapper">
	<div class="col-wrap print--avoid-break">
        <div class="col col--md-two-thirds col--lg-two-thirds padding-md-right--2">
            <div class="table-of-contents print--avoid-break margin-top--negative-one-fix">
                <h2 class="table-of-contents__title">{{labels.chapters-in-this-compendium}}:</h2>
                {{!-- Chapters --}}
                {{#if chapters}}
                    <ol class="padding-left-md--0 margin-bottom-md--4">
                    {{#each chapters}}
                        {{#resolve uri filter="description"}}
                        <li class="table-of-contents__item">
                            <a href="{{uri}}" class="chapter">{{description.title}}</a>
                        </li>
                        {{/resolve}}
                    {{/each}}
                    </ol>
                {{/if}}
            </div>
        </div>
        {{!-- /Chapters --}}
        <div class="col col--md-one-third col--lg-one-third margin-top-md--5">
            {{!-- Print & PDF options --}}
            <p class="text-right--md js--show margin-top--0 margin-bottom--0 print--hide">
                <a href="" class="js-print-chapters">
                    {{labels.print-all-chapters-in-this-compendium}}
                </a>
                <span class="icon icon-print--dark-small"></span>
            </p>
            <p class="text-right--md margin-top--0 margin-bottom-md--3 print--hide">
                <a href="{{uri}}/pdf" class="js-pdf-dl-link" aria-label="Download {{description.title}} as PDF">
                    {{labels.download-as-pdf}}
                </a>
                <span class="icon icon-download--dark-small"></span>
            </p>

            {{!-- Related data --}}
            {{#if datasets}}
                {{#each datasets}}
                    {{>partials/related/new-data relatedUri=uri relatedTitle="self"}}
                {{/each}}
            {{/if}}

            {{!-- Contact --}}
            {{>partials/contact}}
        </div>
    </div>


    {{!-- Related boxes --}}
    {{#if_any relatedDocuments relatedData relatedMethodology}}
        <h2>{{labels.related}}</h2>
        <div class="margin-bottom-sm--2 margin-bottom-md--4 flex stretch flex-wrap-wrap content-space-between">
            {{#if_any relatedData relatedDatasets}}
                <div class="{{#if_all relatedDocuments relatedData relatedMethodology}}col--lg-one-third {{else}}col--lg-half{{/if_all}}">
                    {{>partials/related/data}}
                </div>
            {{/if_any}}
            {{#if relatedDocuments}}
                <div class="{{#if_all relatedDocuments relatedData relatedMethodology}}col--lg-one-third {{else}}col--lg-half{{/if_all}}">
                    {{>partials/related/documents}}
                </div>
            {{/if}}
            {{#if relatedMethodology}}
                <div class="{{#if_all relatedDocuments relatedData relatedMethodology}}col--lg-one-third {{else}}col--lg-half{{/if_all}}">
                    {{>partials/related/methodology}}
                </div>
            {{/if}}
        </div>
    {{/if_any}}



</div>
<div id="print-here"></div>
{{/partial}}

{{!-- Inheriting from statistics template --}}
{{> content/base/statistics typeLabel=labels.compendium}}