{{#partial "block-additonal-metadata"}}
{{!-- Print and download --}}
<p class="col col--md-12 col--lg-15 print--hide meta__item">
	<a href="" id="jsEnhancePrintCompendium" class="nojs-hidden js-enhance--show">
		Print all chapters
	</a>
</p>
{{/partial}}


{{#partial "block-content"}}
<div class="wrapper">
	<div class="col-wrap print--avoid-break">
		<h2 class="margin-bottom col col--lg-one">{{labels.compendium-whats-in}}</h2>
		{{!-- Chapters --}}
		{{#if chapters}}
		<section class="col col--lg-one accordion is-collapsed">
			<h3 id="sc-1" class="accordion__title" aria-controls="content-1">
			{{labels.compendium-chapters}}
			</h3>
			<div id="content-1" class="accordion__content" aria-labelledby="sc-1">
				<ul class="list--neutral">
					{{#each chapters}}
					{{#resolve uri filter="description"}}
					<li class="flush">
						<h4><a href="{{uri}}" class="chapter">{{description.title}}</a></h4>
						{{#if description.headline}}
						<p>{{description.headline}}</p>
						{{/if}}
					</li>
					{{/resolve}}
					{{/each}}
				</ul>
			</div>
		</section>
		{{/if}}
		{{!-- /Chapters --}}
		{{!-- Data --}}
		{{#if datasets}}
		<section class="col col--lg-one">
			<h3>{{labels.data}}</h3>
			<ul class="list--neutral">
				{{#each datasets}}
				{{#resolve uri filter="title"}}
				<li>
					<h4 class="flush-bottom"><a href="{{uri}}">{{description.title}}</a></h4>
					<p class="flush">{{labels.compendium-time-series}}</p>
				</li>
				{{/resolve}}
				{{/each}}
			</ul>
		</section>
		{{/if}}
		{{!-- /Data --}}
	</div>
	<div class="col-wrap tiles">
		{{!-- Methodology --}}
		{{#if relatedMethodology}}
		<div class="col col--lg-half col--md-half">
			{{> partials/related/methodology }}
		</div>
		{{/if}}
		{{!-- Contact details --}}
		<div class="col col--lg-half col--md-half">
			{{> partials/contact }}
		</div>
	</div>
</div>
<div id="print-here"></div>
{{/partial}}

{{!-- Inheriting from statistics template --}}
{{> content/base/statistics typeLabel="Compendia"}}