
{{#partial "block-content"}}
    <div class="wrapper">
        <div class="col-wrap">
            <div class="col">
                {{!-- Return to parent landing page --}}
                <p>
                    {{#each breadcrumb}}
                        {{#if @last}}
                            <a class="underline-link" href="{{uri}}"><span class="icon icon-return--dark-small margin-right-sm--1 margin-right-md--1"></span>{{labels.return-to}} '{{description.title}}'</a>
                        {{/if}}
                    {{/each}}
                </p>
                {{!-- Number of results --}}
                <p>
				<span class="stand-out-text">
                    {{#each downloads}}
                        {{#if @last}}
                            {{#if_eq @index_1 '1'}}
                                {{@index_1}}</span> result
                            {{/if_eq}}
                            {{#if_ne @index_1 '1'}}
                                {{@index_1}}</span> results
                            {{/if_ne}}
                        {{/if}}
                    {{/each}}
                </p>
            </div>
        </div>
        {{!-- LIST OF DOWNLOADS --}}
        <div class="col col--md-36 col--lg-39">
            <ul class="list--neutral">
                {{#if downloads}}
                    <h2>{{labels.downloads}}</h2>
                    {{#each downloads}}
                        <li>
                            <h3><a href="/file?uri={{concat uri "/" (fn file)}}" data-ga-event data-ga-event-category='download-{{fe (concat uri "/" (fn file))}}' data-ga-event-label="{{title}}>{{title}}</a> ({{fs (concat uri "/" (fn file))}}, {{fe (concat uri "/" (fn file))}})</h3>
                            <p class="flush">{{fileDescription}}</p>
                        </li>
                    {{/each}}
                {{/if}}
                {{#if relatedDatasets}}
                    <h2>{{labels.related-data}}</h2>
                    <ul class="list--neutral">
                        {{#each relatedDatasets}}
                            {{#resolve this.uri filter="description"}}
                                <li><h3><a href="{{absolute uri}}">{{description.title}}</a></h3></li>
                                <p class="flush">{{description.summary}}</p>
                            {{/resolve}}
                        {{/each}}
                    </ul>
                {{/if}}
            </ul>
        </div>
        {{!-- CONTACT --}}
        <div class="col col--md-11 col--lg-20">
            {{> partials/contact }}
        </div>
        {{!-- METHODOLOGY AND LOCAL --}}
        <div class="col-wrap">
            {{!-- Related methodology --}}
            {{#if_any relatedMethodology}}
                <div class="col col--lg-half col--md-half">
                    {{> partials/related/methodology }}
                </div>
            {{/if_any}}
            {{!-- Local --}}
            <div class="col col--md-half col--lg-one-third">
                {{> partials/local-box}}
            </div>
        </div>
{{/partial}}
{{!-- Inheriting from statistics template --}}
{{> content/base/statistics typeLabel=labels.compendium}}