{{#partial "block-intro-secondary"}}
<div class="meta-wrap">
    <div class="wrapper">
        {{!-- Meta info --}}
        <div class="col-wrap">
            {{!-- Release date --}}
            <p class="col col--md-12 col--lg-15 meta__item">
                <span>{{labels.release-date}}: </span><br/>{{df description.releaseDate}}<br/>
            </p>
        </div>
    </div> {{!-- /wrapper --}}
</div> {{!-- /meta-wrapper --}}
{{/partial}}

{{#partial "block-content"}}
<div class="wrapper">
    <div class="col-wrap">
        <div class="col col--md-two-thirds col--lg-two-thirds margin-bottom">
            <div class="section__content--static-markdown">
                {{#each markdown}}
                {{md this}}
                {{/each}}
            </div>
        </div>
        <div class="col col--md-one-third col--lg-one-third margin-top">
            {{!-- DOWNLOADS --}}
            {{#if downloads}}
            <div class="tiles__item tiles__item--nav-type">
                <h2 class="tiles__title-h2 tiles__title-h2--nav">{{#if_eq downloads.size 1}}Download associated
                with request{{/if_eq}} {{#if_ne downloads.size 1}}Downloads associated with
                request{{/if_ne}}</h2>
                <div class="tiles__content tiles__content--nav">
                    <ul class="list--neutral">
                        {{#each downloads}}
                        <li>
                            <a href="/file?uri={{concat uri "/" (fn file)}}">{{title}}</a>
                            ({{fs (concat uri "/" (fn file))}} {{fe (concat uri "/" (fn file))}})
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
            {{/if}}
            {{!-- FOI INFORMATION TILE --}}
            <div class="tiles__item tiles__item--nav-type">
                <h2 class="tiles__title-h2 tiles__title-h2--nav">{{labels.foi-request}}</h2>
                <div class="tiles__content tiles__content--nav">
                    <p>
                        <a href="/aboutus/transparencyandgovernance/freedomofinformationfoi/makingarequest">Everything you need to know about Freedom of
                        Information and how to go about making a request.</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div> {{!-- /wrapper --}}
{{/partial}}
{{!-- Inheriting from base content template --}}
{{> content/base/content typeLabel="Freedom of Information (FOI)"}}