
    <div class="page-intro">
        <div class="wrapper">
            <div class="col-wrap">
                <div class="col">
                    {{> partials/breadcrumb}}
                    <h1 class="page-intro__title">{{description.title}}</h1>
                    <p class="page-intro__content col col--md-47 col--lg-48">
                        {{description.summary}}
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="page-content">
        <div class="wrapper">

            {{!-- SECTIONS --}}
            {{#if sections}}
                <ul class="col-wrap col-span--lg-thirds tiles__list margin-top--double">
                    {{#each sections}}
                        <div class="clickable-wrap">
                            <li class="col col--md-half col--lg-one-third tiles__item tiles__item--nav-type-fixed">
                                <h2 class="tiles__title-h2 tiles__title-h2--nav"><a href="{{uri}}">{{title}}</a></h2>

                                <div class="tiles__content tiles__content--nav">
                                    <p>{{summary}}</p>
                                </div>
                            </li>
                        </div>
                    {{/each}}
                </ul>
            {{/if}}

            {{!-- MARKDOWN --}}
            <div class="section__content--static-markdown">
                {{#if markdown}}
                    {{md markdown.0}}
                {{/if}}
            </div>

            {{#if links}}
                <div class="col-wrap">
                    <div class="col col--md-half col--lg-one-third">
                        <div class="tiles__item flush-col">
                            <h2 class="tiles__title-h2 tiles__title-h2--nav">Related links</h2>

                            <div class="tiles__content tiles__content--nav">
                                <ul class="list--neutral">
                                    {{#each links}}
                                        <li>
                                            <a href="{{uri}}">{{title}}</a>
                                        </li>
                                    {{/each}}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            {{/if}}

        </div>
    </div>
