
{{#partial "block-metadata"}}
    <div class="meta-wrap">
        <div class="wrapper">
            <div class="col-wrap">

                {{!-- Contact --}}
                {{#if_any description.contact.email description.contact.telephone description.contact.name}}
                    <p class="col col--md-12 col--lg-15 meta__item">
                        <span>{{labels.meta-contact}}: </span><br/><a
                            href="mailto:{{description.contact.email}}">{{#if description.contact.name}}{{description.contact.name}}{{else}}{{description.contact.email}}{{/if}}</a>
                    </p>
                {{/if_any}}
                {{!-- Release date --}}
                {{#if_eq type "static_methodology_download"}}
                    {{#block "block-release-date"}}
                        {{> content/partials/metadata/release-date class="col--md-12 col--lg-15"}}
                    {{/block}}
                {{else}}
                    <p class="col col--md-12 col--lg-15 meta__item">
                        <span>Last revised: </span><br/>{{df description.releaseDate}}<br/>
                    </p>
                {{/if_eq}}

                {{#block "block-additonal-metadata"}}{{/block}}

            </div>
        </div>
    </div>
{{/partial}}



{{#partial "publication-sidebar"}}
{{!-- Related data --}}
    {{#if relatedDatasets}}
	    {{>partials/related/datasets}}
    {{else}}
        {{>partials/related/data}}
    {{/if}}
	{{!-- Related publications --}}
	{{>partials/related/documents}}
	{{!-- Related articles --}}
	{{>partials/related/articles}}
	{{!-- Contact details --}}
	{{#if_any description.contact.email description.contact.telephone description.contact.name}}
		{{>partials/contact}}
	{{/if_any}}
	{{!-- Related links --}}
	{{> partials/related/related-links }}
    {{!-- Related downloads --}}
    {{> partials/related/downloads }}
{{/partial}}

{{!-- Inheriting from base content template --}}
{{#if_eq type "static_methodology"}}
    {{> content/base/publication typeLabel="Methodology"}}
{{/if_eq}}
{{#if_eq type "static_methodology_download"}}
    {{> content/base/publication-download typeLabel="Methodology"}}
{{/if_eq}}
{{#if_eq type "static_article"}}
    {{#partial "block-metadata"}} {{/partial}} {{!-- Remove metadata block --}}
	{{> content/base/publication hideMeta=true hidePrint=true tocTitle="In this section"}}
{{/if_eq}}