{{> content/partials/metadata/dataset-id}}

{{#partial "block-content"}}
<div class="wrapper">
		<div class="col-wrap">
			<div class="col">
				
				{{!-- Number of results --}}
				<p>
					<span class="stand-out-text">
						{{#each downloads}}
						{{#if @last}}
						{{#if_eq @index_1 '1'}}
					{{@index_1}}</span> result
					{{/if_eq}}
					{{#if_ne @index_1 '1'}}
				{{@index_1}}</span> results
				{{/if_ne}}
				{{/if}}
				{{/each}}
			</p>
		</div>
	</div>
	<div class="col {{#if_any relatedDatasets relatedDocuments}}col--md-36 col--lg-39{{else}}col--md-47 col--lg-59{{/if_any}}">
		{{!-- LIST OF DOWNLOADS --}}
		<ul class="list--neutral">
			{{#each downloads}}
			<li>
				<h3><a href="/file?uri={{file}}" data-ga-event data-ga-event-category='download-{{fe file}}' data-ga-event-label="{{title}}">{{title}}</a></h3>
				<p class="flush">{{fileDescription}}</p>
			</li>
			{{/each}}
		</ul>
	</div>
	{{!-- RELATED DATA AND DOCUMENTS --}}
	<div class="col col--md-11 col--lg-20">
		{{!-- Related data --}}
		{{> partials/related/datasets }}
		{{!-- Related publications --}}
		{{> partials/related/documents }}
		{{!-- Local stats tile --}}
		{{> partials/local-box}}
	</div>
	{{!-- METHODOLOGY AND CONTACT DETAILS --}}
	<div class="col-wrap">
		{{!-- Related methodology --}}
		{{#if_any relatedMethodology}}
		<div class="col col--md-half col--lg-half">
			{{> partials/related/methodology }}
		</div>
		{{/if_any}}
		{{!-- Contact details --}}
		<div class="col col--md-half col--lg-half">
			{{> partials/contact }}
		</div>
	</div>
{{/partial}}

{{!-- Inheriting from statistics template --}}
{{> content/base/statistics typeLabel="Dataset(s)"}}