


{{!-- Page header --}}
<div class="page-intro">
    <div class="wrapper">
        <div class="col-wrap">
            <div class="col">
                {{!-- Breadcrumb --}}
                {{> partials/breadcrumb}}

                {{!-- Title & summary --}}
                <h1 class="page-intro__title margin-bottom">{{description.title}}{{#if description.edition}}: {{description.edition}}{{/if}}</h1>

                {{#if description.summary}}
                    <p class="page-intro__content col col--md-47 col--lg-48">{{description.summary}}</p>
                {{/if}}

            </div>
        </div>
    </div> {{!-- /wrapper --}}

    <div class="meta-wrap">
        <div class="wrapper">

            {{!-- Meta info --}}
            <div class="col-wrap">

                {{!-- Contact & NS logo--}}
                <p class="col col--md-12 col--lg-15 meta__item">
                    {{#if description.nationalStatistic}}
                    <img class="meta__image" src="/node_modules/ONS-Pattern-Library/dist/img/national-statistics.png" alt="National Statistics logo" />
                    {{/if}}
                    <span>{{labels.meta-contact}}: </span><br/><a href="mailto:{{description.contact.email}}">{{#if description.contact.name}}{{description.contact.name}}{{else}}{{description.contact.email}}{{/if}}</a>
                </p>

                {{!-- Release date --}}
                <p class="col col--md-12 col--lg-15 meta__item">
                    <span>{{labels.release-date}}: </span><br/>{{df description.releaseDate}}<br/>
                </p>

                {{!-- Next release --}}
                <p class="col col--md-12 col--lg-15 meta__item">
                    <span>{{labels.release-next}}: </span><br/>{{#if description.nextRelease}}{{description.nextRelease}}{{else}}To be announced{{/if}}
                </p>

                {{!-- Dataset ID --}}
                {{#if description.datasetId}}
                <p class="col col--md-12 col--lg-15 meta__item">
                    <span>{{labels.dataset-id}}: </span>{{description.datasetId}}&nbsp;
                    <span><a href="#" class="tooltip-npl" title="This series ID is a unique random identifier for this individual time series. The digits themselves do not have any specific meaning" aria-label="This series ID is a unique random identifier for this individual time series. The digits themselves do not have any specific meaning"> {{labels.dataset-what-is}} </a></span>
                </p>
                {{/if}}
            </div>
        </div> {{!-- /wrapper --}}
    </div> {{!-- /meta-wrap --}}
</div> {{!-- /page-intro --}}

<div class="page-content">
    <div class="wrapper">
        <div class="col-wrap">
            <div class="col col--lg-two-thirds col--md-two-thirds">


                {{#if downloads}}
                    <h2>{{labels.dataset-downloads}}</h2>
                    {{#if downloads.0.cdids}}
                        {{!-- TIME SERIES DATASETS --}}
                        <h3 class="flush-bottom">Latest</h3>
                        {{#if previousVersions}}
                            <p class="flush"><a href="#">Previous versions</a> of this data are available</p>
                        {{/if}}
                        <div class="col-wrap flush">
                        {{#each downloads}}
                            {{#if file}}
                                <div class="col col--md-8 col--lg-9 margin-right">
                                    <form method="get" action="/file" class="margin-bottom">
                                        <button type="submit" title="Latest version" class="btn btn--primary btn--full-width btn--thick download-analytics">
                                        {{fe (lowercase file)}} ({{fs (lowercase file)}})
                                        </button>
                                        <input type="hidden" name="uri" value="{{lowercase file}}"/>
                                    </form>
                                </div>
                            {{/if}}
                        {{/each}}
                        </div>
                        {{#if supportingFiles}}
                        <h5 class="flush-bottom">Supporting files you may find useful</h5>
                        <ul class="list--neutral flush-top">
                            {{#each supportingFiles}}
                                <li class="flush"><a href="{{uri}}">{{title}}</a> (filesize)</li>
                            {{/each}}
                        </ul>
                        {{/if}}
                    {{else}}
                        {{#each downloads}}
                            {{#if file}}
                            {{!-- NON-TIME SERIES DATASETS --}}
                                {{#if_ne downloads.size 1}}
									<section id="{{title}}" class="accordion {{#if @first}}is-expanded{{else}}is-collapsed{{/if}}">
										<h3 class="accordion__title" aria-controls="content-{{@index}}">
											{{title}} {{#if @first}}(latest){{/if}}
										</h3>
										<div class="accordion__content" aria-labelledby="sc-{{@index}}">

                                {{else}}

                                    <section>
                                        <h3>{{title}}</h3>
                                        <div>
                                {{/if_ne}}

                                        {{#if previousVersions}}
                                            <p class="flush"><a href="#">Previous versions</a> of this data are available</p>
                                        {{/if}}
                                        <div class="col-wrap flush-col {{#unless supportingFiles}}margin-bottom{{/unless}}">

                                            <div class="col col--md-8 col--lg-9 margin-right">
                                                <form method="get" action="/file">
                                                    <button type="submit" title="Latest version" class="btn btn--primary btn--thick download-analytics">
                                                    {{fe (lowercase file)}} ({{fs (lowercase file)}})
                                                    </button>
                                                    <input type="hidden" name="uri" value="{{lowercase file}}"/>
                                                </form>
                                            </div>

                                        </div>
									{{#if supportingFiles}}
											<h5 class="flush-bottom">Supporting files you may find useful</h5>
											<ul class="list--neutral flush-top">
												{{#each supportingFiles}}
													<li class="flush"><a href="{{uri}}">{{title}}</a> (filesize)</li>
												{{/each}}
											</ul>
									{{/if}}
                                    </div>
                                </section>
                            {{/if}}
                        {{/each}}
                    {{/if}}
                {{/if}}

                {{!-- INFORMATION AND NOTES --}}
                {{#if section.markdown}}
                    <div class="section__content--static-markdown">
						<section>
							<h3>{{labels.dataset-notes}}</h3>
							{{md section.markdown}}
						</section>
                    </div>
                {{/if}}

            </div>

            {{!-- RELATED DATA AND DOCUMENTS --}}
            <div class="col col--lg-one-third col--md-one-third margin-top margin-bottom">

                {{!-- Related data --}}
                {{#if relatedDatasets}}
                    <div class="tiles__item tiles__item--nav-type flush">
                        <h3 class="tiles__title-h3 tiles__title-h3--nav">Related data</h3>
                        <div class="tiles__content tiles__content--nav">
                            <ul class="list--neutral">
                                {{#each relatedDatasets}}
                                    {{#resolve this.uri filter="title"}}
                                        <li><a href="{{absolute uri}}" title="{{title}}">{{title}}</a></li>
                                    {{/resolve}}
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                    <div class="tiles__extra margin-bottom-md--2">
                        <a href="{{parentPath (parentPath uri)}}/datalist?filter=large_dataset">View all data related to {{breadcrumb.2.description.title}}</a>
                    </div>
                {{/if}}

                {{!-- Related articles and bulletins --}}
                {{#if relatedDocuments}}
                    <div class="tiles__item tiles__item--nav-type flush-col">
                        <h3 class="tiles__title-h3 tiles__title-h3--nav">Statistical bulletins and articles that use this data</h3>
                        <ul class="tiles__content tiles__content--nav list--neutral">
                            {{#each relatedDocuments}}
                                {{#resolve this.uri filter="title"}}
                                <li>
                                    <a href="{{uri}}" title="{{title}}">
                                    {{title}}
                                    {{#if edition}}
                                        {{#if_ne edition 'yes'}}
                                            : {{edition}}
                                        {{/if_ne}}
                                    {{/if}}
                                    </a>
                                </li>
                                {{/resolve}}
                            {{/each}}
                        </ul>
                    </div>
                {{/if}}

                {{!-- Related methodology --}}
                {{#if_any relatedMethodology}}
					<div class="tiles__item tiles__item--nav-type flush-col">
						<h3 class="tiles__title-h3 tiles__title-h3--nav">{{labels.methodology}}</h3>
						<div class="tiles__content tiles__content--nav">
							<ul class="list--neutral">
								{{#each relatedMethodology}}
									{{#resolve this.uri filter="title"}}
										<li>
											<a href="{{uri}}" title="{{title}}">{{title}}</a>
										</li>
									{{/resolve}}
								{{/each}}
							</ul>
						</div>
					</div>
                {{/if_any}}

                <div class="tiles__item tiles__item--nav-type flush-col">
                    <h3 class="tiles__title-h3 tiles__title-h3--nav">{{labels.contact-details}}</h3>
                    <address class="tiles__content tiles__content--nav">
                        {{#if description.contact.name}}{{description.contact.name}}<br/>{{/if}}
                        <a href="mailto:{{description.contact.email}}">{{description.contact.email}}</a><br/>
                        {{#if description.contact.telephone}}Telephone: {{description.contact.telephone}}{{/if}}
                    </address>
                </div>

                {{> partials/local-box}}

            </div>
        </div>
    </div>
</div> {{!-- /page-content --}}
