{{#partial "block-metadata"}}
    <div class="meta-wrap">
        <div class="wrapper">
            <div class="col-wrap">
                {{> content/partials/metadata/contact class="col--md-12 col--lg-15"}}

                {{#block "block-release-date"}}
                    {{> content/partials/metadata/release-date class="col--md-12 col--lg-15"}}
                {{/block}}

                {{#block "block-next-release"}}
                    {{> content/partials/metadata/next-release class="col--md-12 col--lg-15"}}
                {{/block}}

                {{#block "block-additonal-metadata"}}{{/block}}
            </div>
        </div>
    </div>
{{/partial}}

{{> content/partials/metadata/dataset-id}}


{{#partial "block-intro"}}
    <h1 class="page-intro__title margin-bottom-sm--4 margin-bottom-md--4"><span class="page-intro__type">{{labels.dataset}}:</span>{{description.title}}{{#if description.edition}}: {{description.edition}}{{/if}}</h1>
{{/partial}}

{{#partial "block-alert" no-versions=true}}{{/partial}}


{{#partial "block-content"}}
    <div class="wrapper">
        <div class="col-wrap margin-bottom--4">
            <div class="col col--lg-two-thirds col--md-two-thirds">

                <div class="col col--md-31 col--lg-39">

                    {{#if description.summary}}

                        <h2>About this dataset</h2>
                        <div class="margin-top-sm--0 margin-top-md--0">{{{description.summary}}}</div>

                    {{/if}}

                    {{#if datasets}}
                        <h2 class="margin-top-sm--0 margin-top-md--0 margin-bottom-sm--1 margin-bottom-md--1">{{labels.dataset-downloads}}</h2>

                        {{#each datasets}}

                            {{#resolve this.uri}}

                                {{#if timeseries}}

                                    <div class="col-wrap margin-left-sm--0 margin-left-md--0">

                                        {{#each downloads}}
                                            {{#if file}}

                                            {{!-- TIMESERIES DATASETS --}}
                                            {{!-- <div class="col col--md-8 col--lg-9"> --}}
                                                <a href="/file?uri={{concat uri "/" this.file}}"
                                                   title="Download as {{fe (lowercase (concat uri "/" this.file))}}"
                                                   class="btn btn--primary btn--thick" data-ga-event
                                                   data-ga-event-category='download-{{fe (lowercase (concat uri "/" this.file))}}'
                                                   data-ga-event-label="{{../../../description.title}} - {{description.edition}}">
                                                    {{#if_eq (fe file) 'csdb'}}structured text{{else}}{{fe (lowercase (concat uri "/" file))}}{{/if_eq}}
                                                    ({{fs (lowercase (concat uri "/" this.file))}})
                                                </a>
                                            {{!-- <form method="get" action="/file">
                                                 <button type="submit" title="Latest version" class="btn btn--primary btn--thick download-analytics">
                                                     {{fe (lowercase (concat uri "/" this.file))}} ({{fs (lowercase (concat uri "/" this.file))}})
                                                 </button>
                                                 <input type="hidden" name="uri" value="{{concat uri "/" this.file}}"/>
                                             </form> --}}
                                            {{!-- </div> --}}

                                            {{/if}}
                                        {{/each}}

                                    </div>

                                    {{#if versions}}
                                        <p class="flush"><span class="icon icon-info--inline"></span> <a class="underline-link margin-left-sm--3 margin-left-md--3" href="{{uri}}">Previous versions</a> of this data are available</p>
                                    {{/if}}

                                    {{#if supplementaryFiles}}
                                        <h4 class="flush-bottom">Supporting files you may find useful</h4>
                                        <ul class="list--neutral flush-top">
                                            {{#each supplementaryFiles}}
                                                <li class="flush">
                                                    <a href="/file?uri={{concat uri "/" this.file}}" data-ga-event data-ga-event-category='download-supporting-file' data-ga-event-label="{{title}}">{{title}}</a>
                                                    ({{fs (concat uri "/" this.file)}}, {{fe (concat uri "/" this.file)}})
                                                </li>
                                            {{/each}}
                                        </ul>
                                    {{/if}}

                                {{else}}

                                {{!-- Store if-first or if-last or loop for use within child loop --}}
                                    {{#if @first}}
                                        {{#assign "is-first"}}
                                            true
                                        {{/assign}}
                                    {{else}}
                                        {{#assign "is-first"}}
                                            false
                                        {{/assign}}
                                    {{/if}}

                                    {{#if @last}}
                                        {{#assign "is-last"}}
                                            true
                                        {{/assign}}
                                    {{else}}
                                        {{#assign "is-last"}}
                                            false
                                        {{/assign}}
                                    {{/if}}

                                    {{#each downloads}}

                                        {{#if file}}

                                        {{!-- NON-TIMESERIES DATASETS --}}
                                            <div class="show-hide show-hide--light border-top--abbey-sm border-top--abbey-md border-top--abbey-lg {{#if_eq is-last "true"}}border-bottom--abbey-sm border-bottom--abbey-md border-bottom--abbey-lg margin-top--negative-two-fix margin-bottom--6{{/if_eq}} js-show-hide">
                                                <div class="js-show-hide__title {{#if_eq is-first "true"}}is-shown{{/if_eq}}">
                                                    <h3 class="margin-top-sm--0 margin-top-md--0 margin-bottom-sm--0 margin-bottom-md--0">{{description.edition}}{{#if description.versionLabel}}: {{description.versionLabel}}{{/if}}</h3>
                                                </div>

                                                <div class="js-show-hide__content">

                                                    <div class="col-wrap margin-left-sm--0 margin-left-md--0">

                                                        <div class="col col--md-8 col--lg-9 margin-bottom-sm--2 margin-bottom-md--2">
                                                            <a href="/file?uri={{concat uri "/" this.file}}" title="Download as {{fe (lowercase (concat uri "/" this.file))}}" class="btn btn--primary btn--thick" data-ga-event data-ga-event-category='download-{{fe (lowercase (concat uri "/" this.file))}}' data-ga-event-label="{{../../../description.title}} - {{description.edition}}">
                                                                {{fe (lowercase (concat uri "/" this.file))}} ({{fs (lowercase (concat uri "/" this.file))}})
                                                            </a>
                                                            {{!-- <form method="get" action="/file">
                                                                 <button type="submit" title="Latest version" class="btn btn--primary btn--thick download-analytics">
                                                                     {{fe (lowercase (concat uri "/" this.file))}} ({{fs (lowercase (concat uri "/" this.file))}})
                                                                 </button>
                                                                 <input type="hidden" name="uri" value="{{concat uri "/" this.file}}"/>
                                                             </form> --}}
                                                        </div>

                                                    </div>

                                                    {{#if versions}}
                                                        <p class="margin-top-sm--0 margin-top-md--0"><span class="icon icon-info--inline"></span> <a class="underline-link margin-left-sm--3 margin-left-md--3" href="{{uri}}">Previous versions</a> of this data are available</p>
                                                    {{/if}}

                                                    {{#if supplementaryFiles}}
                                                        <h4 class="flush-bottom">Supporting files you may find useful</h4>
                                                        <ul class="list--neutral flush-top">
                                                            {{#each supplementaryFiles}}
                                                                <li class="flush">
                                                                    <a href="/file?uri={{concat uri "/" this.file}}" data-ga-event data-ga-event-category='download-supporting-file' data-ga-event-label="{{title}}">{{title}}</a>
                                                                    ({{fs (concat uri "/" this.file)}}, {{fe (concat uri "/" this.file)}})
                                                                </li>
                                                            {{/each}}
                                                        </ul>
                                                    {{/if}}
                                                </div>

                                            </div>

                                        {{/if}}
                                    {{/each}}
                                {{/if}}
                            {{/resolve}}
                        {{/each}}
                    {{/if}}

                    {{!-- DATA DISCOVERY JS ENHANCEMENT --}}
                    <div id="js-dd-block" style="display:none">


                        {{!-- DIMENSIONS --}}
                        <div id="js-dd-dimensions"></div>

                        {{!-- LATEST EDITION --}}
                        <h2 class="border-bottom--iron-sm border-bottom--iron-md">Latest edition</h2>
                        <h3><span id="dataset-edition"></span></h3>
                        <p class="flush">Release date: {{df description.releaseDate}}<br/>
                        Last updated: {{df description.releaseDate}}</p>

                        <a class="btn btn--primary btn--thick btn--wide font-size--17 margin-top--1" id="dataset-link" href="">Filter and download</a>

                        <p class="font-size--16"><a id="full-dataset-link">Download the complete dataset</a> | <a id="view-dataset-details">View details</a></p>


                        {{!-- PREVIOUS EDITIONS --}}
                        <h2 class="border-bottom--iron-sm border-bottom--iron-md">Previous editions</h2>

                        {{#loop 6}}
                            <div class="js-show-hide border-bottom--iron-sm border-bottom--iron-md" id="js-show-hide--{{@index}}" style="display: none; margin-bottom: 0;">
                                <div class="show-hide show-hide--light">
                                    <div class="js-show-hide__title">
                                        <h3 class="show-hide__title" id="js-show-hide__title--{{@index}}">

                                        </h3>
                                    </div>
                                    <div class="js-show-hide__content" >
                                        <div id="js-show-hide__content--{{@index}}"></div>
                                    </div>
                                </div>
                            </div>
                        {{/loop}}

                    </div>
                </div>


                {{!-- INFORMATION AND NOTES --}}
                {{#if section.markdown}}
                    <div class="section__content--static-markdown float-left">
                        <section>
                            <h3>{{labels.dataset-notes}}</h3>
                            {{md section.markdown}}
                        </section>
                    </div>
                {{/if}}

            </div>

            {{!-- RELATED DATA AND DOCUMENTS --}}
            <div class="col col--lg-one-third col--md-one-third margin-top margin-bottom">

                {{!-- Related data --}}
                <h3 class="tiles__title-h3 tiles__title-h3--nav">More data on this topic</h3>
                {{> partials/related/new-data showDataList=true relatedUri="../datalist?filter=datasets" relatedTitle="parent"}}

                {{!-- Time series explorer --}}
                {{#if timeseries}}
                    <div class="background--iron-light margin-bottom-sm--2 margin-bottom-md--2 js-hover-click box__content padding-top-sm--2 padding-bottom-sm--2 padding-left-sm--1 padding-right-sm--1 padding-top-md--2 padding-right-md--1 padding-bottom-md--2 padding-left-md--1">
                        <h3>Looking to create a custom download?</h3>
                        <p>
                            <a href="/timeseriestool?topic={{parentPath (parentPath uri)}}">Try our time series
                                explorer</a>
                        </p>
                    </div>
                {{/if}}

                {{!-- Contact details --}}
                {{> partials/contact }}

                {{!-- Related articles and bulletins --}}
                {{> partials/related/documents }}

                {{!-- Related methodology --}}
                {{> partials/related/methodology }}

                {{!-- Related links --}}
                {{>partials/related/related-links}}

                {{!-- Local stats tile --}}
                {{!-- {{> partials/local-box}} --}}

            </div>
        </div>
    </div>
{{/partial}}

<script>
    function enhanceDDBlock() {
        var dataset = document.getElementById('dataset-id');

        if (!dataset) {
            console.warn('No dataset ID found for a DD page. Please add it as the attribute "data-id" in a matching <span id="dataset-id" class="hidden">');
            return;
        }

        var datasetID = dataset.getAttribute('data-id');
        var datasetEdition = dataset.getAttribute('data-edition');
        var datasetVersion = dataset.getAttribute('data-version');

        if (!datasetID) {
            console.log('No dataset ID included in <span>');
            return;
        }
        if (!datasetEdition) {
            console.log('No dataset edition included in <span>');
            return
        }
        if (!datasetVersion) {
            console.log('No dataset version included in <span>');
            return
        }

        var datasetPath = datasetID + '/editions/' + datasetEdition + '/versions/' + datasetVersion;
        var apiPath = '/dd/api/datasets/' + datasetID;

        function getData(callback, url) {
            fetch(apiPath, {method: 'GET', credentials: 'include'})
                    .then(function(response){
                        return response.json()
                    })
                    .then(function(response){
                        callback(response);
                    });
        }

        function getAndBuildVersions(url, index, button) {
            fetch(url, {method: 'GET', credentials: 'include'})
                    .then(function(response){
                        return response.json()
                    })
                    .then(function(response){
                        var title = response.edition;
                        var body = '<p class="flush">Release date: ' + response.metadata.releaseDate + ' <br/>' +
                                'Last updated: ' + response.metadata.releaseDate + ' </p>' +
                                '<a class="btn btn--primary btn--thick btn--wide font-size--17 margin-top--1" href="'+button.customise+'">' +
                                'Filter and download</a>' +
                                '<p class="font-size--16"><a href="'+button.downloadFull+'">Download the complete dataset</a> | <a href="'+button.viewDetails+'">View details</a></p>';
                        document.getElementById('js-show-hide__title--' + index).innerHTML = title;
                        document.getElementById('js-show-hide__content--' + index ).innerHTML = body;
                        document.getElementById('js-show-hide--' + index).style.display = 'block';
                    });
        }

        function buildVersions(data) {
            var versionsLength = data.length;
            var i = 1;

            for (i; i < versionsLength; i++) {
                var datasetAPIUrl = '/dd/api/datasets/' + datasetID + '/editions/' + data[i].label + '/versions/' + data[i].versions[0];
                var datasetPath = '/dd/datasets/' + datasetID + '/editions/' + data[i].label + '/versions/' + data[i].versions[0];
                var buttons = {
                    customise:  datasetPath + '/dimensions',
                    downloadFull: datasetPath + '/download',
                    viewDetails: datasetPath
                };

                getAndBuildVersions(datasetAPIUrl, i, buttons);

            }
        }

        function getDimensions(uri, callback) {
            fetch(uri, {method: 'GET', credentials: 'include'})
                    .then(function(response){
                        return response.json()
                    })
                    .then(function(response){
                        callback(response);
                    });
        }

        function buildDimensions(data) {
            var HTML = ['<h3>Dimensions</h3><ul>'];
            var dimensionsLength = data.dimensions.length;
            var i = 0;

            for (i; i < dimensionsLength; i++) {
                HTML.push(
                    '<li class="flush">' + data.dimensions[i].name+ '</li>'
                )
            }

            HTML.push('</ul>');
            return HTML.join('');
        }

        function renderDDBlock() {
            if (!window.fetch) {
                var fetchPolyfill = document.createElement('script');
                fetchPolyfill.src = 'https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.2/fetch.min.js';
                fetchPolyfill.onload = function() {
                    renderDDBlock();
                };
                fetchPolyfill.onerror = function() {
                    console.log('Error getting fetch API polyfill');
                };
                document.head.appendChild(fetchPolyfill);
                return;
            }
            if (!window.promise) {
                var fetchPromise = document.createElement('script');
                fetchPromise.src = 'https://cdnjs.cloudflare.com/ajax/libs/es6-promise/4.1.0/es6-promise.min.js';
                fetchPromise.onload = function() {
                    renderDDBlock();
                };
                fetchPromise.onerror = function() {
                    console.log('Error getting promise API polyfill');
                };
                document.head.appendChild(fetchPromise);
                return;
            }

            getData(function(response){
                if (response.editions.length > 1) {
                    buildVersions(response.editions);
                }

                getDimensions(response.latest.url, function(response) {
                    document.getElementById('js-dd-dimensions').innerHTML = buildDimensions(response);
                });
            });

            document.getElementById('dataset-edition').innerHTML = datasetEdition;
            document.getElementById('view-dataset-details').setAttribute('href', '/dd/datasets/' + datasetPath);
            document.getElementById('dataset-link').setAttribute('href', '/dd/datasets/' + datasetPath + '/dimensions');
            document.getElementById('full-dataset-link').setAttribute('href', '/dd/datasets/' + datasetPath + '/download');


        }

        renderDDBlock();

        /// show DD block
        document.getElementById('js-dd-block').style.display = "block";

    }

    document.addEventListener('DOMContentLoaded', enhanceDDBlock, false);

</script>

{{!-- Inheriting from statistics template --}}
{{> content/base/statistics typeLabel=labels.dataset}}