{{#partial "block-metadata"}}
    <div class="meta-wrap">
        <div class="wrapper">
            <div class="col-wrap">
                {{> content/partials/metadata/contact class="col--md-12 col--lg-15"}}

                {{#block "block-release-date"}}
                    {{> content/partials/metadata/release-date class="col--md-12 col--lg-15"}}
                {{/block}}

                {{#block "block-next-release"}}
                    {{> content/partials/metadata/next-release class="col--md-12 col--lg-15"}}
                {{/block}}

                {{#block "block-additonal-metadata"}}{{/block}}
            </div>
        </div>
    </div>
{{/partial}}

{{> content/partials/metadata/dataset-id}}


{{#partial "block-intro"}}
    <h1 class="page-intro__title margin-bottom-sm--4 margin-bottom-md--4"><span class="page-intro__type">{{labels.dataset}}:</span>{{description.title}}{{#if description.edition}}: {{description.edition}}{{/if}}</h1>
{{/partial}}

{{#partial "block-alert" no-versions=true}}{{/partial}}


{{#partial "block-content"}}
    <div class="wrapper">
        <div class="col-wrap">
            <div class="col col--lg-two-thirds col--md-two-thirds">

                <div class="col col--md-31 col--lg-39">

                    {{#if description.summary}}

                        <h2>About this dataset</h2>
                        <div class="margin-top-sm--0 margin-top-md--0">{{{description.summary}}}</div>

                    {{/if}}

                    {{#if datasets}}
                        <h2 class="margin-top-sm--0 margin-top-md--0 margin-bottom-sm--1 margin-bottom-md--1">{{labels.dataset-downloads}}</h2>

                        {{#each datasets}}

                            {{#resolve this.uri}}

                                {{#if timeseries}}

                                    <div class="col-wrap margin-left-sm--0 margin-left-md--0">

                                        {{#each downloads}}
                                            {{#if file}}

                                            {{!-- TIMESERIES DATASETS --}}
                                            {{!-- <div class="col col--md-8 col--lg-9"> --}}
                                                <a href="/file?uri={{concat uri "/" this.file}}"
                                                   title="Download as {{fe (lowercase (concat uri "/" this.file))}}"
                                                   class="btn btn--primary btn--thick" data-ga-event
                                                   data-ga-event-category='download-{{fe (lowercase (concat uri "/" this.file))}}'
                                                   data-ga-event-label="{{../../../description.title}} - {{description.edition}}">
                                                    {{#if_eq (fe file) 'csdb'}}structured text{{else}}{{fe (lowercase (concat uri "/" file))}}{{/if_eq}}
                                                    ({{fs (lowercase (concat uri "/" this.file))}})
                                                </a>
                                            {{!-- <form method="get" action="/file">
                                                 <button type="submit" title="Latest version" class="btn btn--primary btn--thick download-analytics">
                                                     {{fe (lowercase (concat uri "/" this.file))}} ({{fs (lowercase (concat uri "/" this.file))}})
                                                 </button>
                                                 <input type="hidden" name="uri" value="{{concat uri "/" this.file}}"/>
                                             </form> --}}
                                            {{!-- </div> --}}

                                            {{/if}}
                                        {{/each}}

                                    </div>

                                    {{#if versions}}
                                        <p class="flush"><span class="icon icon-info--inline"></span> <a class="underline-link margin-left-sm--3 margin-left-md--3" href="{{uri}}">Previous versions</a> of this data are available</p>
                                    {{/if}}

                                    {{#if supplementaryFiles}}
                                        <h4 class="flush-bottom">Supporting files you may find useful</h4>
                                        <ul class="list--neutral flush-top">
                                            {{#each supplementaryFiles}}
                                                <li class="flush">
                                                    <a href="/file?uri={{concat uri "/" this.file}}" data-ga-event data-ga-event-category='download-supporting-file' data-ga-event-label="{{title}}">{{title}}</a>
                                                    ({{fs (concat uri "/" this.file)}}, {{fe (concat uri "/" this.file)}})
                                                </li>
                                            {{/each}}
                                        </ul>
                                    {{/if}}

                                {{else}}

                                {{!-- Store if-first or if-last or loop for use within child loop --}}
                                    {{#if @first}}
                                        {{#assign "is-first"}}
                                            true
                                        {{/assign}}
                                    {{else}}
                                        {{#assign "is-first"}}
                                            false
                                        {{/assign}}
                                    {{/if}}

                                    {{#if @last}}
                                        {{#assign "is-last"}}
                                            true
                                        {{/assign}}
                                    {{else}}
                                        {{#assign "is-last"}}
                                            false
                                        {{/assign}}
                                    {{/if}}

                                    {{#each downloads}}

                                        {{#if file}}

                                        {{!-- NON-TIMESERIES DATASETS --}}
                                            <div class="show-hide show-hide--light border-top--abbey-sm border-top--abbey-md border-top--abbey-lg {{#if_eq is-last "true"}}border-bottom--abbey-sm border-bottom--abbey-md border-bottom--abbey-lg margin-top--negative-two-fix margin-bottom--6{{/if_eq}} js-show-hide">
                                                <div class="js-show-hide__title {{#if_eq is-first "true"}}is-shown{{/if_eq}}">
                                                    <h3 class="margin-top-sm--0 margin-top-md--0 margin-bottom-sm--0 margin-bottom-md--0">{{description.edition}}{{#if description.versionLabel}}: {{description.versionLabel}}{{/if}}</h3>
                                                </div>

                                                <div class="js-show-hide__content">

                                                    <div class="col-wrap margin-left-sm--0 margin-left-md--0">

                                                        <div class="col col--md-8 col--lg-9 margin-bottom-sm--2 margin-bottom-md--2">
                                                            <a href="/file?uri={{concat uri "/" this.file}}" title="Download as {{fe (lowercase (concat uri "/" this.file))}}" class="btn btn--primary btn--thick" data-ga-event data-ga-event-category='download-{{fe (lowercase (concat uri "/" this.file))}}' data-ga-event-label="{{../../../description.title}} - {{description.edition}}">
                                                                {{fe (lowercase (concat uri "/" this.file))}} ({{fs (lowercase (concat uri "/" this.file))}})
                                                            </a>
                                                            {{!-- <form method="get" action="/file">
                                                                 <button type="submit" title="Latest version" class="btn btn--primary btn--thick download-analytics">
                                                                     {{fe (lowercase (concat uri "/" this.file))}} ({{fs (lowercase (concat uri "/" this.file))}})
                                                                 </button>
                                                                 <input type="hidden" name="uri" value="{{concat uri "/" this.file}}"/>
                                                             </form> --}}
                                                        </div>

                                                    </div>

                                                    {{#if versions}}
                                                        <p class="margin-top-sm--0 margin-top-md--0"><span class="icon icon-info--inline"></span> <a class="underline-link margin-left-sm--3 margin-left-md--3" href="{{uri}}">Previous versions</a> of this data are available</p>
                                                    {{/if}}

                                                    {{#if supplementaryFiles}}
                                                        <h4 class="flush-bottom">Supporting files you may find useful</h4>
                                                        <ul class="list--neutral flush-top">
                                                            {{#each supplementaryFiles}}
                                                                <li class="flush">
                                                                    <a href="/file?uri={{concat uri "/" this.file}}" data-ga-event data-ga-event-category='download-supporting-file' data-ga-event-label="{{title}}">{{title}}</a>
                                                                    ({{fs (concat uri "/" this.file)}}, {{fe (concat uri "/" this.file)}})
                                                                </li>
                                                            {{/each}}
                                                        </ul>
                                                    {{/if}}
                                                </div>

                                            </div>

                                        {{/if}}
                                    {{/each}}
                                {{/if}}
                            {{/resolve}}
                        {{/each}}
                    {{/if}}



                    {{!-- DATA DISCOVERY JS ENHANCEMENTS TO GET DIMENSION DATA FROM DD API --}}
                    {{#if_any
                            (eq uri "/peoplepopulationandcommunity/housing/datasets/membersofthearmedforcesbyresidencetypebysexbyageaf001ew")
                            (eq uri "/economy/inflationandpriceindices/datasets/consumerpricesindexcoicop")
                    }}
                        <div id="js-dd-dimensions"></div>
                        <h2 class="margin-bottom--1">Editions</h2>
                        <div class="js-show-hide margin-bottom--6">
                            <div class="show-hide show-hide--light border-top--iron-sm border-top--iron-md border-bottom--iron-sm border-bottom--iron-md">
                                <div class="js-show-hide__title is-shown">
                                    <h3 class="show-hide__title flush">Current</h3>
                                </div>
                                <div class="js-show-hide__content">
                                    <p class="flush">Release date: {{df description.releaseDate}}</p>
                                    <a class="btn btn--primary btn--thick btn--wide font-size--17 margin-bottom--3" id="dataset-link" href="">View details and download options</a>
                                </div>
                            </div>
                        </div>

                        <script>
                            function enhanceDataset() {
                                var dataset = document.getElementById('dataset-id');

                                if (!dataset) {
                                    console.warn('No dataset ID found for a DD page. Please add it as the attribute "data-id" in a matching <span id="dataset-id" class="hidden">');
                                    return;
                                }

                                var datasetID = dataset.getAttribute('data-id');
                                var datasetEdition = dataset.getAttribute('data-edition');
                                var datasetVersion = dataset.getAttribute('data-version');

                                if (!datasetID) {
                                    console.log('No dataset ID included in <span>');
                                    return;
                                }
                                if (!datasetEdition) {
                                    console.log('No dataset edition included in <span>');
                                    return
                                }
                                if (!datasetVersion) {
                                    console.log('No dataset version included in <span>');
                                    return
                                }

                                var apiPath = '/dd/api/datasets/' + datasetID + '/editions/' + datasetEdition + '/versions/' + datasetVersion;

                                function buildDimensions(callback) {
                                    //TODO possibly need to polyfill fetch
                                    fetch(apiPath, {method: 'GET', credentials: 'include'})
                                            .then(function(response){
                                                return response.json()
                                            })
                                            .then(function(response){
                                                var HTML = ['<h3>Dimensions</h3><ul>'];
                                                var dimensionsLength = response.dimensions.length;
                                                var i = 0;

                                                for (i; i < dimensionsLength; i++) {
                                                    HTML.push(
                                                            '<li class="flush">' + response.dimensions[i].name+ '</li>'
                                                    )
                                                }

                                                HTML.push('</ul>');

                                                callback(HTML.join(''));
                                            });
                                }

                                function renderDimensions() {
                                    document.getElementById('dataset-link').setAttribute('href', '/dd/datasets/' + datasetID);

                                    buildDimensions(function(HTML) {
                                        document.getElementById('js-dd-dimensions').innerHTML = HTML;
                                    });
                                }

                                document.addEventListener('DOMContentLoaded', renderDimensions, false);
                            }

                            enhanceDataset();

                        </script>
                    {{/if_any}}
                </div>

                {{!-- INFORMATION AND NOTES --}}
                {{#if section.markdown}}
                    <div class="section__content--static-markdown float-left">
                        <section>
                            <h3>{{labels.dataset-notes}}</h3>
                            {{md section.markdown}}
                        </section>
                    </div>
                {{/if}}

            </div>

            {{!-- RELATED DATA AND DOCUMENTS --}}
            <div class="col col--lg-one-third col--md-one-third margin-top margin-bottom">

                {{!-- Related data --}}
                {{> partials/related/new-data showDataList=true relatedUri="../datalist?filter=datasets" relatedTitle="parent"}}

                {{!-- Time series explorer --}}
                {{#if timeseries}}
                    <div class="background--iron-light margin-bottom-sm--2 margin-bottom-md--2 js-hover-click box__content padding-top-sm--2 padding-bottom-sm--2 padding-left-sm--1 padding-right-sm--1 padding-top-md--2 padding-right-md--1 padding-bottom-md--2 padding-left-md--1">
                        <h3>Looking to create a custom download?</h3>
                        <p>
                            <a href="/timeseriestool?topic={{parentPath (parentPath uri)}}">Try our time series
                                explorer</a>
                        </p>
                    </div>
                {{/if}}

                {{!-- Contact details --}}
                {{> partials/contact }}

                {{!-- Related articles and bulletins --}}
                {{> partials/related/documents }}

                {{!-- Related methodology --}}
                {{> partials/related/methodology }}

                {{!-- Related links --}}
                {{>partials/related/related-links}}

                {{!-- Local stats tile --}}
                {{!-- {{> partials/local-box}} --}}

            </div>
        </div>
    </div>
{{/partial}}

{{!-- Inheriting from statistics template --}}
{{> content/base/statistics typeLabel=labels.dataset}}