{{#partial "block-metadata"}}
    <div class="meta-wrap">
        <div class="wrapper">
            <div class="col-wrap">
                {{> content/partials/metadata/contact class="col--md-12 col--lg-15"}}

                {{#block "block-release-date"}}
                    {{> content/partials/metadata/release-date class="col--md-12 col--lg-15"}}
                {{/block}}

                {{#block "block-next-release"}}
                    {{> content/partials/metadata/next-release class="col--md-12 col--lg-15"}}
                {{/block}}

                {{#block "block-additonal-metadata"}}{{/block}}
            </div>
        </div>
    </div>
{{/partial}}

{{> content/partials/metadata/dataset-id}}


{{#partial "block-intro"}}
    <h1 class="page-intro__title margin-bottom-sm--4 margin-bottom-md--4"><span class="page-intro__type">{{labels.dataset}}:</span>{{description.title}}{{#if description.edition}}: {{description.edition}}{{/if}}</h1>
{{/partial}}

{{#partial "block-alert" no-versions=true}}{{/partial}}


{{#partial "block-content"}}
    <div class="wrapper margin-bottom-sm--2 margin-bottom-md--4">
        <div class="col-wrap">
            <div class="col col--lg-two-thirds col--md-two-thirds">
                {{#if description.summary}}
                    <section>
                        <h2>About this dataset</h2>
                        <p class="margin-top-sm--0 margin-top-md--0">{{description.summary}}</p>
                    </section>
                {{/if}}

                {{#if datasets}}
                    <section>
                        <h2 class="margin-top-sm--0 margin-top-md--0 margin-bottom-sm--1 margin-bottom-md--1">{{labels.dataset-downloads}}</h2>

                        {{#each datasets}}

                            {{#resolve this.uri}}

                                {{#if timeseries}}

                                <div class="col-wrap margin-left-sm--0 margin-left-md--0">

                                    {{#each downloads}}
                                        {{#if file}}

                                                {{!-- TIMESERIES DATASETS --}}
                                        {{!-- <div class="col col--md-8 col--lg-9"> --}}
                                                    <a href="/file?uri={{concat uri "/" this.file}}"
                                                        title="Download as {{fe (lowercase (concat uri "/" this.file))}}"
                                                        class="btn btn--primary btn--thick">
                                                        {{#if_eq (fe file) 'csdb'}}structured text{{else}}{{fe (lowercase (concat uri "/" file))}}{{/if_eq}}
                                                        ({{fs (lowercase (concat uri "/" this.file))}})
                                                    </a>
                                                    {{!-- <form method="get" action="/file">
                                                            <button type="submit" title="Latest version" class="btn btn--primary btn--thick download-analytics">
                                                                {{fe (lowercase (concat uri "/" this.file))}} ({{fs (lowercase (concat uri "/" this.file))}})
                                                            </button>
                                                            <input type="hidden" name="uri" value="{{concat uri "/" this.file}}"/>
                                                        </form> --}}
                                        {{!-- </div> --}}

                                        {{/if}}
                                    {{/each}}

                                </div>

                                {{#if versions}}
                                    <p class="flush"><span class="icon icon-info--inline"></span> <a class="underline-link margin-left-sm--3 margin-left-md--3" href="{{uri}}">Previous versions</a> of this data are available</p>
                                {{/if}}

                                {{#if supplementaryFiles}}
                                    <h4 class="flush-bottom">Supporting files you may find useful</h4>
                                    <ul class="list--neutral flush-top">
                                        {{#each supplementaryFiles}}
                                            <li class="flush">
                                                <a href="/file?uri={{concat uri "/" this.file}}">{{title}}</a>
                                                ({{fs (concat uri "/" this.file)}}, {{fe (concat uri "/" this.file)}})
                                            </li>
                                        {{/each}}
                                    </ul>
                                {{/if}}

                                {{else}}

                                {{!-- Store if-first or if-last or loop for use within child loop --}}
                                    {{#if @first}}
                                        {{#assign "is-first"}}
                                            true
                                        {{/assign}}
                                    {{else}}
                                        {{#assign "is-first"}}
                                            false
                                        {{/assign}}
                                    {{/if}}

                                    {{#if @last}}
                                        {{#assign "is-last"}}
                                            true
                                        {{/assign}}
                                    {{else}}
                                        {{#assign "is-last"}}
                                            false
                                        {{/assign}}
                                    {{/if}}

                                    {{#each downloads}}

                                        {{#if file}}

                                            {{!-- NON-TIMESERIES DATASETS --}}
                                            <div id="{{slugify description.edition}}" class="show-hide show-hide--light border-top--abbey-sm border-top--abbey-md border-top--abbey-lg {{#if_eq is-last "true"}}border-bottom--abbey-sm border-bottom--abbey-md border-bottom--abbey-lg margin-top--negative-two-fix margin-bottom--1{{/if_eq}} js-show-hide">
                                                <div class="js-show-hide__title {{#if_eq is-first "true"}}is-shown{{/if_eq}}">
                                                    <h3 class="margin-top--0 margin-bottom--0 margin-right--3">{{description.edition}}{{#if description.versionLabel}}: {{description.versionLabel}}{{/if}}</h3>
                                                </div>

                                                <div class="js-show-hide__content">

                                                    <div class="col-wrap margin-left-sm--0 margin-left-md--0">

                                                        <div class="col col--md-8 col--lg-9 margin-bottom-sm--2 margin-bottom-md--2">
                                                            <a href="/file?uri={{concat uri "/" this.file}}" title="Download as {{fe (lowercase (concat uri "/" this.file))}}" class="btn btn--primary btn--thick">
                                                                {{fe (lowercase (concat uri "/" this.file))}} ({{fs (lowercase (concat uri "/" this.file))}})
                                                            </a>
                                                            {{!-- <form method="get" action="/file">
                                                                    <button type="submit" title="Latest version" class="btn btn--primary btn--thick download-analytics">
                                                                        {{fe (lowercase (concat uri "/" this.file))}} ({{fs (lowercase (concat uri "/" this.file))}})
                                                                    </button>
                                                                    <input type="hidden" name="uri" value="{{concat uri "/" this.file}}"/>
                                                                </form> --}}
                                                        </div>

                                                    </div>

                                                    {{#if versions}}
                                                        <p class="margin-top-sm--0 margin-top-md--0"><span class="icon icon-info--inline"></span> <a class="underline-link margin-left-sm--3 margin-left-md--3" href="{{uri}}">Previous versions</a> of this data are available</p>
                                                    {{/if}}

                                                    {{#if supplementaryFiles}}
                                                        <h4 class="flush-bottom">Supporting files you may find useful</h4>
                                                        <ul class="list--neutral flush-top">
                                                            {{#each supplementaryFiles}}
                                                                <li class="flush">
                                                                    <a href="/file?uri={{concat uri "/" this.file}}">{{title}}</a>
                                                                    ({{fs (concat uri "/" this.file)}}, {{fe (concat uri "/" this.file)}})
                                                                </li>
                                                            {{/each}}
                                                        </ul>
                                                    {{/if}}
                                                </div>
                                            </div>
                                        {{/if}}
                                    {{/each}}
                                {{/if}}
                            {{/resolve}}
                        {{/each}}
                    </section>
                {{/if}}

                {{!-- INFORMATION AND NOTES --}}
                {{#if section.markdown}}
                    <div class="section__content--static-markdown margin-top-sm--2 margin-top-md--3">
                        <section>
                            <h3>{{labels.dataset-notes}}</h3>
                            {{md section.markdown}}
                        </section>
                    </div>
                {{/if}}
            </div>

            {{!-- RELATED DATA AND DOCUMENTS --}}
            <div class="col col--lg-one-third col--md-one-third margin-top margin-bottom">

                {{!-- Related data --}}
				{{> partials/related/new-data showDataList=true relatedUri="../datalist?filter=datasets" relatedTitle="parent"}}

                {{!-- Time series explorer --}}
                {{#if timeseries}}
                    <div class="background--iron-light margin-bottom-sm--2 margin-bottom-md--2 js-hover-click box__content padding-top-sm--2 padding-bottom-sm--2 padding-left-sm--1 padding-right-sm--1 padding-top-md--2 padding-right-md--1 padding-bottom-md--2 padding-left-md--1">
                        <h3>Looking to create a custom download?</h3>
                        <p>
                            <a href="/timeseriestool?topic={{parentPath (parentPath uri)}}">Try our time series
                                explorer</a>
                        </p>
                    </div>
                {{/if}}

                {{!-- Contact details --}}
                {{> partials/contact }}

                {{!-- Related articles and bulletins --}}
                {{#if relatedDocuments}}
                    <div class="tiles__item tiles__item--nav-type flush-col print--hide">
                            <h3 class="tiles__title-h3 tiles__title-h3--nav">{{labels.publications-that-use-this-data}}</h3>
                        <div class="tiles__content tiles__content--nav">
                            <ul class="list--neutral">
                                {{#each relatedDocuments}}
                                    {{#resolve this.uri filter="title"}}
                                        {{#assign "fullTitle"}}{{title}}{{#if edition}}{{#if_ne edition 'yes'}}: {{edition}}{{/if_ne}}{{/if}}{{/assign}}
                                        <li>
                                            <a href="{{uri}}" data-gtm-type="publications-using-data" data-gtm-title="{{fullTitle}}">
                                                {{fullTitle}}
                                            </a>
                                        </li>
                                    {{/resolve}}
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                {{/if}}

                {{!-- Related methodology --}}
                {{> partials/related/methodology }}

                {{!-- Related links --}}
                {{>partials/related/related-links}}

				{{!-- Local stats tile --}}
                {{!-- {{> partials/local-box}} --}}

            </div>
        </div>
    </div>
{{/partial}}

{{!-- Inheriting from statistics template --}}
{{> content/base/statistics typeLabel=labels.dataset}}