{{#partial "block-metadata"}}
    <div class="meta-wrap">
        <div class="wrapper">
            <div class="col-wrap">
                {{> content/partials/metadata/contact class="col--md-12 col--lg-15"}}

                {{#block "block-release-date"}}
                    {{> content/partials/metadata/release-date class="col--md-12 col--lg-15"}}
                {{/block}}

                {{#block "block-next-release"}}
                    {{> content/partials/metadata/next-release class="col--md-12 col--lg-15"}}
                {{/block}}

                {{#block "block-additonal-metadata"}}{{/block}}
            </div>
        </div>
    </div>
{{/partial}}

{{> content/partials/metadata/dataset-id}}


{{#partial "block-intro"}}
    <h1 class="page-intro__title margin-bottom-sm--4 margin-bottom-md--4"><span class="page-intro__type">Dataset(s):</span>{{description.title}}{{#if description.edition}}: {{description.edition}}{{/if}}</h1>
{{/partial}}

{{#partial "block-alert" no-versions=true}}{{/partial}}


{{#partial "block-content"}}
    <div class="wrapper">
        <div class="col-wrap">
            <div class="col col--lg-two-thirds col--md-two-thirds">

                <div class="col col--md-31 col--lg-39">

                    {{#if description.summary}}

                        <h2>About this dataset(s)</h2>
                        <p class="margin-top-sm--0 margin-top-md--0">{{description.summary}}</p>

                    {{/if}}

                    {{#if datasets}}
                        <h2 class="margin-top-sm--0 margin-top-md--0 margin-bottom-sm--1 margin-bottom-md--1">{{labels.dataset-downloads}}</h2>

                        {{#each datasets}}

                            {{#resolve this.uri}}

                                {{#if timeseries}}

                                <div class="col-wrap margin-left-sm--0 margin-left-md--0">

                                    {{#each downloads}}

                                        {{#if file}}


                                            {{!-- TIMESERIES DATASETS --}}

                                            <div class="col col--md-8 col--lg-9">
                                                <form method="get" action="/file">
                                                    <button type="submit" title="Latest version" class="btn btn--primary btn--thick download-analytics">
                                                        {{fe (lowercase (concat uri "/" this.file))}} ({{fs (lowercase (concat uri "/" this.file))}})
                                                    </button>
                                                    <input type="hidden" name="uri" value="{{concat uri "/" this.file}}"/>
                                                </form>
                                            </div>

                                        {{/if}}

                                    {{/each}}

                                </div>

                                {{#if versions}}
                                    <p class="flush"><span class="icon icon-info--inline"></span> <a class="underline-link margin-left-sm--3 margin-left-md--3" href="{{uri}}">Previous versions</a> of this data are available</p>
                                {{/if}}

                                {{#if supplementaryFiles}}
                                    <h4 class="flush-bottom">Supporting files you may find useful</h4>
                                    <ul class="list--neutral flush-top">
                                        {{#each supplementaryFiles}}
                                            <li class="flush"><a href="{{concat uri "/" this.file}}">{{title}}</a> ({{fs (concat uri "/" this.file)}}, {{fe (concat uri "/" this.file)}})</li>
                                        {{/each}}
                                    </ul>
                                {{/if}}

                                {{else}}

                                    {{#each downloads}}

                                        {{#if file}}

                                            {{!-- NON-TIMESERIES DATASETS --}}

                                            <div class="show-hide show-hide--light border-top--abbey-sm border-top--abbey-md border-top--abbey-lg {{#if ../@last}}border-bottom--abbey-sm border-bottom--abbey-md border-bottom--abbey-lg margin-top--negative-two-fix{{/if}} js-show-hide">
                                                <div class="js-show-hide__title {{#if ../@first}}is-shown{{/if}}">
                                                    <h3 class="margin-top-sm--0 margin-top-md--0 margin-bottom-sm--0 margin-bottom-md--0">{{description.edition}}{{#if description.versionLabel}}: {{description.versionLabel}}{{/if}}</h3>
                                                </div>

                                                <div class="js-show-hide__content">

                                                    <div class="col-wrap margin-left-sm--0 margin-left-md--0">

                                                        <div class="col col--md-8 col--lg-9 margin-bottom-sm--2 margin-bottom-md--2">
                                                            <form method="get" action="/file">
                                                                <button type="submit" title="Latest version" class="btn btn--primary btn--thick download-analytics">
                                                                    {{fe (lowercase (concat uri "/" this.file))}} ({{fs (lowercase (concat uri "/" this.file))}})
                                                                </button>
                                                                <input type="hidden" name="uri" value="{{concat uri "/" this.file}}"/>
                                                            </form>
                                                        </div>

                                                    </div>

                                                    {{#if versions}}
                                                        <p class="margin-top-sm--0 margin-top-md--0"><span class="icon icon-info--inline"></span> <a class="underline-link margin-left-sm--3 margin-left-md--3" href="{{uri}}">Previous versions</a> of this data are available</p>
                                                    {{/if}}

                                                    {{#if supplementaryFiles}}
                                                        <h4 class="flush-bottom">Supporting files you may find useful</h4>
                                                        <ul class="list--neutral flush-top">
                                                            {{#each supplementaryFiles}}
                                                                <li class="flush"><a href="{{concat uri "/" this.file}}">{{title}}</a> ({{fs (concat uri "/" this.file)}}, {{fe (concat uri "/" this.file)}})</li>
                                                            {{/each}}
                                                        </ul>
                                                    {{/if}}
                                                </div>

                                            </div>

                                        {{/if}}
                                    {{/each}}
                                {{/if}}
                            {{/resolve}}
                        {{/each}}
                    {{/if}}
                </div>


                {{!-- TIME SERIES DATASETS --}}

                {{!--

                <h2>{{labels.dataset-downloads}}</h2>
                    <h3 class="flush-bottom">Current</h3>
                {{#if previousVersions}}
                        <p class="flush"><a href="#">Previous versions</a> of this data are available</p>
                {{/if}}
                    <div class="col-wrap flush">
                        {{#each downloads}}
                            {{#if file}}
                                <div class="col col--md-8 col--lg-9 margin-right-md--1">
                                    <form method="get" action="/file" class="margin-bottom">
                                        <button type="submit" title="Latest version" class="btn btn--primary btn--thick download-analytics">
                                            {{fe (lowercase file)}} ({{fs (lowercase file)}})
                                        </button>
                                        <input type="hidden" name="uri" value="{{file}}"/>
                                    </form>
                                </div>
                            {{/if}}

                            {{#if file}}
                                <div class="col col--md-8 col--lg-9 margin-right">
                                    <form method="get" action="/file" class="margin-bottom">
                                        <button type="submit" title="Latest version" class="btn btn--primary btn--thick download-analytics">
                                            {{fe (lowercase (concat this.uri "/" downloads.0.file))}} ({{fs (lowercase (concat this.uri "/" downloads.0.file))}})
                                        </button>
                                        <input type="hidden" name="uri" value="{{concat this.uri "/" file}}"/>
                                    </form>
                                </div>
                            {{/if}}

                            {{/each}}
                        </div>
                    {{#if supportingFiles}}
                            <h5 class="flush-bottom">Supporting files you may find useful</h5>
                            <ul class="list--neutral flush-top">
                                {{#each supportingFiles}}
                                    <li class="flush"><a href="{{uri}}">{{title}}</a> (filesize)</li>
                                {{/each}}
                            </ul>
                    {{/if}}

                {{else}}


                    {{#if datasets}}
                        <h2>{{labels.dataset-downloads}}</h2>
                        {{#each datasets}}
                            {{#resolve this.uri}}
                                {{#if_ne datasets.size 1}}
                                    <section id="{{description.edition}}" class="accordion {{#if @first}}is-expanded{{else}}is-collapsed{{/if}}">
                                        <h3 class="accordion__title" aria-controls="content-{{@index}}">
                                            {{description.edition}} {{#if @first}}(latest){{/if}}
                                        </h3>
                                    <div class="accordion__content" aria-labelledby="sc-{{@index}}">

                                {{else}}

                                    <section>
                                        <h3>{{description.edition}}</h3>
                                    <div>
                                {{/if_ne}}

                                {{#if versions}}
                                    <p class="flush"><a href="{{uri}}">Previous versions</a> of this data are available</p>
                                {{/if}}

                                <div class="col-wrap flush-col {{#unless supplementaryFiles}}margin-bottom{{/unless}}">

                                    <div class="col col--md-8 col--lg-9 margin-right">
                                        <form method="get" action="/file">
                                            <button type="submit" title="Latest version" class="btn btn--primary btn--thick download-analytics">
                                                {{fe (lowercase (concat this.uri "/" downloads.0.file))}} ({{fs (lowercase (concat this.uri "/" downloads.0.file))}})
                                            </button>
                                            <input type="hidden" name="uri" value="{{concat this.uri "/" downloads.0.file}}"/>
                                        </form>
                                    </div>

                                </div>
                                {{#if supplementaryFiles}}
                                        <h5 class="flush-bottom">Supporting files you may find useful</h5>
                                        <ul class="list--neutral flush-top">
                                            {{#each supplementaryFiles}}
                                                <form method="get" action="/file">
                                                    <button type="submit" title="Latest version" class="btn btn--simple download-analytics">
                                                        {{title}} ({{fe (lowercase file)}}, {{fs (lowercase file)}})
                                                    </button>
                                                    <input type="hidden" name="uri" value="{{absolute file}}"/>
                                                </form>
                                            {{/each}}
                                        </ul>
                                {{/if}}
                                </div>
                                </section>
                            {{/resolve}}
                        {{/each}}
                    {{/if}}


                {{!-- OLD FOR REFERENCE
                {{#if downloads}}
                    <h2>{{labels.dataset-downloads}}</h2>
                    {{#if downloads.0.cdids}}
                        <h3 class="flush-bottom">Latest</h3>
                        {{#if previousVersions}}
                            <p class="flush"><a href="#">Previous versions</a> of this data are available</p>
                        {{/if}}
                        <div class="col-wrap flush">
                        {{#each downloads}}
                            {{#if file}}
                                <div class="col col--md-8 col--lg-9 margin-right">
                                    <form method="get" action="/file" class="margin-bottom">
                                        <button type="submit" title="Latest version" class="btn btn--primary btn--full-width btn--thick download-analytics">
                                        {{fe (lowercase file)}} ({{fs (lowercase file)}})
                                        </button>
                                        <input type="hidden" name="uri" value="{{lowercase file}}"/>
                                    </form>
                                </div>
                            {{/if}}
                        {{/each}}
                        </div>
                        {{#if supportingFiles}}
                        <h5 class="flush-bottom">Supporting files you may find useful</h5>
                        <ul class="list--neutral flush-top">
                            {{#each supportingFiles}}
                                <li class="flush"><a href="{{uri}}">{{title}}</a> (filesize)</li>
                            {{/each}}
                        </ul>
                        {{/if}}
                    {{else}}
                        {{#each downloads}}
                            {{#if file}}
                                {{#if_ne downloads.size 1}}
									<section id="{{title}}" class="accordion {{#if @first}}is-expanded{{else}}is-collapsed{{/if}}">
										<h3 class="accordion__title" aria-controls="content-{{@index}}">
											{{title}} {{#if @first}}(latest){{/if}}
										</h3>
										<div class="accordion__content" aria-labelledby="sc-{{@index}}">

                                {{else}}

                                    <section>
                                        <h3>{{title}}</h3>
                                        <div>
                                {{/if_ne}}

                                        {{#if previousVersions}}
                                            <p class="flush"><a href="#">Previous versions</a> of this data are available</p>
                                        {{/if}}
                                        <div class="col-wrap flush-col {{#unless supportingFiles}}margin-bottom{{/unless}}">

                                            <div class="col col--md-8 col--lg-9 margin-right">
                                                <form method="get" action="/file">
                                                    <button type="submit" title="Latest version" class="btn btn--primary btn--thick download-analytics">
                                                    {{fe (lowercase file)}} ({{fs (lowercase file)}})
                                                    </button>
                                                    <input type="hidden" name="uri" value="{{lowercase file}}"/>
                                                </form>
                                            </div>

                                        </div>
									{{#if supportingFiles}}
											<h5 class="flush-bottom">Supporting files you may find useful</h5>
											<ul class="list--neutral flush-top">
												{{#each supportingFiles}}
													<li class="flush"><a href="{{uri}}">{{title}}</a> (filesize)</li>
												{{/each}}
											</ul>
									{{/if}}
                                    </div>
                                </section>
                            {{/if}}
                        {{/each}}
                    {{/if}}
                {{/if}} --}}

                {{!-- INFORMATION AND NOTES --}}
                {{#if section.markdown}}
                    <div class="section__content--static-markdown float-left">
                        <section>
                            <h3>{{labels.dataset-notes}}</h3>
                            {{md section.markdown}}
                        </section>
                    </div>
                {{/if}}

            </div>

            {{!-- RELATED DATA AND DOCUMENTS --}}
            <div class="col col--lg-one-third col--md-one-third margin-top margin-bottom">

                {{!-- Related data --}}
				{{> partials/related/new-data showDataList=true relatedUri="../datalist?filter=large_dataset" relatedTitle="parent"}}

                {{!-- Related articles and bulletins --}}
                {{> partials/related/documents }}

                {{!-- Related methodology --}}
                {{> partials/related/methodology }}

				{{!-- Contact details --}}
				{{> partials/contact }}

				{{!-- Local stats tile --}}
                {{> partials/local-box}}

            </div>
        </div>
    </div>
{{/partial}}

{{!-- Inheriting from statistics template --}}
{{> content/base/statistics typeLabel="Dataset(s)"}}