{{#partial "block-metadata"}}
    <div class="meta-wrap">
        <div class="wrapper">
            <div class="col-wrap">
                {{> content/partials/metadata/contact class="col--md-12 col--lg-15"}}

                {{#block "block-release-date"}}
                    {{> content/partials/metadata/release-date class="col--md-12 col--lg-15"}}
                {{/block}}

                {{#block "block-next-release"}}
                    {{> content/partials/metadata/next-release class="col--md-12 col--lg-15"}}
                {{/block}}

                {{#block "block-additonal-metadata"}}{{/block}}
            </div>
        </div>
    </div>
{{/partial}}

{{> content/partials/metadata/dataset-id}}


{{#partial "block-intro"}}
    <h1 class="page-intro__title margin-bottom-sm--4 margin-bottom-md--4"><span class="page-intro__type">Dataset(s):</span>{{description.title}}{{#if description.edition}}: {{description.edition}}{{/if}}</h1>
{{/partial}}

{{#partial "block-alert" no-versions=true}}{{/partial}}


{{#partial "block-content"}}
    <div class="wrapper">
        <div class="col-wrap">
            <div class="col col--lg-two-thirds col--md-two-thirds">

                <div class="col col--md-31 col--lg-39">

                    {{#if description.summary}}

                        <h2>About this dataset(s)</h2>
                        <p class="margin-top-sm--0 margin-top-md--0">{{description.summary}}</p>

                    {{/if}}

                    {{#if datasets}}
                        <h2 class="margin-top-sm--0 margin-top-md--0 margin-bottom-sm--1 margin-bottom-md--1">{{labels.dataset-downloads}}</h2>

                        {{#each datasets}}

                            {{#resolve this.uri}}

                                {{#if timeseries}}

                                <div class="col-wrap margin-left-sm--0 margin-left-md--0">

                                    {{#each downloads}}

                                        {{#if file}}


                                            {{!-- TIMESERIES DATASETS --}}

                                            <div class="col col--md-8 col--lg-9">
                                                <a href="/file?uri={{concat uri "/" this.file}}" title="Download as {{fe (lowercase (concat uri "/" this.file))}}" class="btn btn--primary btn--thick">
                                                    .{{fe (lowercase (concat uri "/" this.file))}} ({{fs (lowercase (concat uri "/" this.file))}})
                                                </a>
                                                {{!-- <form method="get" action="/file">
                                                     <button type="submit" title="Latest version" class="btn btn--primary btn--thick download-analytics">
                                                         {{fe (lowercase (concat uri "/" this.file))}} ({{fs (lowercase (concat uri "/" this.file))}})
                                                     </button>
                                                     <input type="hidden" name="uri" value="{{concat uri "/" this.file}}"/>
                                                 </form> --}}
                                            </div>

                                        {{/if}}

                                    {{/each}}

                                </div>

                                {{#if versions}}
                                    <p class="flush"><span class="icon icon-info--inline"></span> <a class="underline-link margin-left-sm--3 margin-left-md--3" href="{{uri}}">Previous versions</a> of this data are available</p>
                                {{/if}}

                                {{#if supplementaryFiles}}
                                    <h4 class="flush-bottom">Supporting files you may find useful</h4>
                                    <ul class="list--neutral flush-top">
                                        {{#each supplementaryFiles}}
                                            <li class="flush"><a href="/file?uri={{concat uri "/" this.file}}">{{title}}</a> ({{fs (concat uri "/" this.file)}}, {{fe (concat uri "/" this.file)}})</li>
                                        {{/each}}
                                    </ul>
                                {{/if}}

                                {{else}}

                                    {{#each downloads}}

                                        {{#if file}}

                                            {{!-- NON-TIMESERIES DATASETS --}}

                                            <div class="show-hide show-hide--light border-top--abbey-sm border-top--abbey-md border-top--abbey-lg {{#if ../@last}}border-bottom--abbey-sm border-bottom--abbey-md border-bottom--abbey-lg margin-top--negative-two-fix{{/if}} js-show-hide">
                                                <div class="js-show-hide__title {{#if ../@first}}is-shown{{/if}}">
                                                    <h3 class="margin-top-sm--0 margin-top-md--0 margin-bottom-sm--0 margin-bottom-md--0">{{description.edition}}{{#if description.versionLabel}}: {{description.versionLabel}}{{/if}}</h3>
                                                </div>

                                                <div class="js-show-hide__content">

                                                    <div class="col-wrap margin-left-sm--0 margin-left-md--0">

                                                        <div class="col col--md-8 col--lg-9 margin-bottom-sm--2 margin-bottom-md--2">
                                                            <a href="/file?uri={{concat uri "/" this.file}}" title="Download as {{fe (lowercase (concat uri "/" this.file))}}" class="btn btn--primary btn--thick">
                                                                {{fe (lowercase (concat uri "/" this.file))}} ({{fs (lowercase (concat uri "/" this.file))}})
                                                            </a>
                                                            {{!-- <form method="get" action="/file">
                                                                 <button type="submit" title="Latest version" class="btn btn--primary btn--thick download-analytics">
                                                                     {{fe (lowercase (concat uri "/" this.file))}} ({{fs (lowercase (concat uri "/" this.file))}})
                                                                 </button>
                                                                 <input type="hidden" name="uri" value="{{concat uri "/" this.file}}"/>
                                                             </form> --}}
                                                        </div>

                                                    </div>

                                                    {{#if versions}}
                                                        <p class="margin-top-sm--0 margin-top-md--0"><span class="icon icon-info--inline"></span> <a class="underline-link margin-left-sm--3 margin-left-md--3" href="{{uri}}">Previous versions</a> of this data are available</p>
                                                    {{/if}}

                                                    {{#if supplementaryFiles}}
                                                        <h4 class="flush-bottom">Supporting files you may find useful</h4>
                                                        <ul class="list--neutral flush-top">
                                                            {{#each supplementaryFiles}}
                                                                <li class="flush"><a href="/file?uri={{concat uri "/" this.file}}">{{title}}</a> ({{fs (concat uri "/" this.file)}}, {{fe (concat uri "/" this.file)}})</li>
                                                            {{/each}}
                                                        </ul>
                                                    {{/if}}
                                                </div>

                                            </div>

                                        {{/if}}
                                    {{/each}}
                                {{/if}}
                            {{/resolve}}
                        {{/each}}
                    {{/if}}
                </div>

                {{!-- INFORMATION AND NOTES --}}
                {{#if section.markdown}}
                    <div class="section__content--static-markdown float-left">
                        <section>
                            <h3>{{labels.dataset-notes}}</h3>
                            {{md section.markdown}}
                        </section>
                    </div>
                {{/if}}

            </div>

            {{!-- RELATED DATA AND DOCUMENTS --}}
            <div class="col col--lg-one-third col--md-one-third margin-top margin-bottom">

                {{!-- Related data --}}
				{{> partials/related/new-data showDataList=true relatedUri="../datalist?filter=datasets" relatedTitle="parent"}}

                {{!-- Time series explorer --}}
                {{#if timeseries}}
                    <div class="background--iron-light margin-bottom-sm--2 margin-bottom-md--2 js-hover-click box__content padding-top-sm--2 padding-bottom-sm--2 padding-left-sm--1 padding-right-sm--1 padding-top-md--2 padding-right-md--1 padding-bottom-md--2 padding-left-md--1">
                        <h3>Looking to create a custom download?</h3>
                        <p>
                            <a href="/timeseriestool?topic={{parentPath (parentPath uri)}}">Try our time series
                                explorer</a>
                        </p>
                    </div>
                {{/if}}

                {{!-- Related articles and bulletins --}}
                {{> partials/related/documents }}

                {{!-- Related methodology --}}
                {{> partials/related/methodology }}

				{{!-- Contact details --}}
				{{> partials/contact }}

				{{!-- Local stats tile --}}
                {{!-- {{> partials/local-box}} --}}

            </div>
        </div>
    </div>
{{/partial}}

{{!-- Inheriting from statistics template --}}
{{> content/base/statistics typeLabel="Dataset(s)"}}