<main id="main" role="main" tabindex="-1">

{{!-- Page header --}}
<div class="page-intro">
    <div class="wrapper">
        <div class="col-wrap">
            <div class="col">
                {{!-- Breadcrumb --}}
                {{> partials/breadcrumb}}

                {{!-- Title & summary --}}
                <h1 class="page-intro__title margin-bottom">{{description.title}}{{#if description.edition}}: {{description.edition}}{{/if}}</h1>

                {{#if description.summary}}
                    <p class="page-intro__content col col--md-47 col--lg-48">{{description.summary}}</p>
                {{/if}}

            </div>
        </div>
    </div> {{!-- /wrapper --}}

    <div class="meta-wrap">
        <div class="wrapper">

            {{!-- Meta info --}}
            <div class="col-wrap">

                {{!-- Contact & NS logo--}}
                <p class="col col--md-14 col--lg-17 meta__item">
                    {{#if description.nationalStatistic}}
                    <img class="meta__image" src="/node_modules/ONS-Pattern-Library/dist/img/national-statistics.png" alt="National Statistics logo" />
                    {{/if}}
                    <span>{{labels.meta-contact}}: </span><br/><a href="mailto:{{description.contact.email}}">{{#if description.contact.name}}{{description.contact.name}}{{else}}{{description.contact.email}}{{/if}}</a>
                </p>

                {{!-- Release date --}}
                <p class="col col--md-11 col--lg-14 meta__item">
                    <span>{{labels.release-date}}: </span><br/>{{df description.releaseDate}}<br/>
                </p>

                {{!-- Next release --}}
                <p class="col col--md-11 col--lg-14 meta__item">
                    <span>{{labels.release-next}}: </span><br/>{{#if description.nextRelease}}{{description.nextRelease}}{{else}}To be announced{{/if}}
                </p>

                {{!-- Dataset ID --}}
                {{#if description.datasetId}}
                <p class="col col--md-11 col--lg-14 meta__item">
                    <span>{{labels.dataset-id}}: </span>{{description.datasetId}}
                    <a href="#" class="tooltip" title="This series ID is a unique random identifier for this individual time series. The digits themselves do not have any specific meaning" aria-label="This series ID is a unique random identifier for this individual time series. The digits themselves do not have any specific meaning">{{labels.dataset-what-is}} </a>
                </p>
                {{/if}}
            </div>
        </div> {{!-- /wrapper --}}
    </div> {{!-- /meta-wrap --}}
</div> {{!-- /page-intro --}}

<div class="page-content">
    <div class="wrapper">
        <div class="col-wrap">
            <h3 class="col">{{labels.dataset-downloads}}</h3>
            {{!-- LIST OF DOWNLOADS --}}
            <div class="col col--lg-two-thirds col--md-two-thirds">
                <ul class="tiles__list">
                    {{#each downloads}}
                    {{#if file}}
                        <li class="tiles__item--list-type-simple flush-col">
                                    <form method="get" action="/file">
                                        <!-- link to given uris of given files-->
                                        <div class="col col--md-15 col--lg-23 margin-top--half">
                                            <label class="label inline">{{#if_eq type 'timeseries_dataset'}}{{labels.dataset-latest}}{{else}}{{title}}{{/if_eq}}</label>
                                        </div>
                                        <button type="submit" title="Latest version" class="btn btn--wide btn--thick download-analytics">
                                        {{fe (lowercase file)}} ({{fs (lowercase file)}})
                                        </button>
                                        <input  type="hidden" name="uri" value="{{lowercase file}}"/>
                                    </form>
                        </li>
                    {{/if}}
                    {{/each}}
                </ul>
            </div>

            {{!-- RELATED DATA AND DOCUMENTS --}}
            <div class="col col--lg-one-third col--md-one-third">

                {{!-- Related data --}}
                {{#if relatedDatasets}}
                    <div class="tiles__item tiles__item--nav-type">
                        <h3>Related datasets</h3>
                        <ul class="list--neutral">
                            {{#each relatedDatasets}}
                                <li><a href="{{absolute uri}}" title="{{description.title}}">{{description.title}}</a></li>
                            {{/each}}
                        </ul>
                    </div>
                {{/if}}

                {{!-- Related articles and bulletins --}}
                {{#if relatedDocuments}}
                    <div class="tiles__item tiles__item--nav-type">
                        <h3 class="tiles__title-h3 tiles__title-h3--nav">Statistical bulletins and articles that use this data</h3>
                        <ul class="tiles__content tiles__content--nav list--neutral">
                            {{#each relatedDocuments}}
                                <li>
                                    <a href="{{uri}}" title="{{description.title}}">
                                    {{description.title}}
                                        {{#if description.edition}}
                                            {{#if_ne description.edition 'yes'}}: {{description.edition}}
                                            {{/if_ne}}
                                        {{/if}}
                                    </a>
                                </li>
                            {{/each}}
                        </ul>
                    </div>
                {{/if}}

                {{!-- At the moment local box has no margin so extra div required --}}
                <div class="margin-left"> 
                    {{> partials/local-box}}
                </div>

            </div>
        </div>


        {{!-- METHODOLOGY AND CONTACT DETAILS --}}
        <div class="col-wrap">
            {{!-- Related methodology --}}
            {{#if_any relatedMethodology}}
                <div class="col col--lg-half col--md-half">
                    <div class="tiles__item tiles__item--nav-type">
                        <h3 class="tiles__title-h3 tiles__title-h3--nav">{{labels.methodology}}</h3>
                        <ul class="tiles__content tiles__content--nav">
                            {{#each relatedMethodology}}
                                <li>
                                    <a href="{{uri}}" title="{{description.title}}">{{description.title}}</a>
                                </li>
                            {{/each}}
                        </ul>   
                    </div>
                </div>
            {{/if_any}}

            {{!-- Contact details --}}
            <div class="col col--lg-half col--md-half">
                <div class="tile__item tiles__item--nav-type margin-bottom">
                    <h3 class="tiles__title-h3 tiles__title-h3--nav">{{labels.contact-details}}</h3>
                    <address class="tiles__content tiles__content--nav">
                        {{#if description.contact.name}}{{description.contact.name}}</br>{{/if}}
                        <a href="mailto:{{description.contact.email}}">{{description.contact.email}}</a></br>
                        {{#if description.contact.telephone}}Telephone: {{description.contact.telephone}}{{/if}}
                    </address>
                </div>
            </div>
        </div>

        {{!-- </div> --}}
    </div>
</div> {{!-- /page-content --}}

</main>