<main id="main" role="main" tabindex="-1">
	<div class="wrapper panel--top-mar">
		{{> templates/handlebars/partials/breadcrumb}}
		<p class="page-header__title">
			Datasets
		</p>
		<h1 class="page-header__title flush--half--bottom">{{description.title}} datasets</h1>
		<p>
		{{#if contentSearchResult.results}}
		<span class="stand-out-text">{{contentSearchResult.numberOfResults}}</span> results for <strong>datasets</strong> related to <strong>{{description.title}}</strong>.
		{{else}}
		Sorry, there are no <strong>statistical bulletins</strong> for <strong>{{description.title}}</strong> articles.
		{{/if}}
		</p>
	</div>
	<!-- /wrapper -->
	<div class="wrapper panel--mar print-links">
		{{#if contentSearchResult.results}}
		<div class="grid-wrap panel--bottom-mar print-hidden">
	    	<div class="grid-col desktop-grid-one-quarter desktop-grid-push-three-quarters tablet-grid-full-width">
	        	<label for="select">Sort by
	        		<div class="field">
						<select class="input " id="select" name="">
							<option value="1" selected>Relevance</option>
							<option value="2">Release date</option>
							<option value="3">Title</option>
						</select>
	            	</div>
	        	</label>
	        </div>
	    </div>
		{{/if}}
		<div class="grid-wrap">
			<div class="grid-col desktop-grid-two-thirds">
				<ul class="list--neutral">
					{{#each contentSearchResult.results}}
					<li>
						<h3 class="flush"><a href="{{url}}">{{title}}</a></h3>
						<p class="flush description">
		                	Released: {{df releaseDate}}
		            	</p>
						{{md summary}}
					</li>
					{{/each}}
				</ul>
			</div>
			<!-- /grid-desktop-two-thirds -->
		</div>
		<!-- /grid-wrap -->
	</div>
	<!-- /wrapper -->
</main>