{{!-- Unique alerts/corrections system for dataset landing page - only shown when no-versions=true --}}
{{#if no-versions}}

	{{!-- Store whether dataset has correction and/or alerts --}}
	{{#each alerts}}
		{{#if_eq type "correction"}}
			{{#assign "has-corrections"}}
				true
			{{/assign}}
		{{/if_eq}}

		{{#if_eq type "alert"}}
			{{#assign "has-alerts"}}
				true
			{{/assign}}
		{{/if_eq}}
	{{/each}}

	{{!-- Show those alerts/corrections --}}
	{{#if alerts}}
		<div class="alert">
			<div class="wrapper">
				<div class="col-wrap">
					<div class="col">

						<div class="show-hide show-hide--dark background--astral margin-top-sm--1 margin-top-md--1 js-show-hide">
							<div class="js-show-hide__title">
								<div class="alert--warning__icon"></div>
								<h2 class="show-hide__title alert--warning__title">

									{{!-- Lots of 'if's to handle combinations of corrections or notices --}}
									{{#if_all has-corrections has-alerts}}
										Corrections and notices
									{{else}}
										{{#if has-corrections}}
											Correction{{#if_ne alerts 1}}s{{/if_ne}}
										{{else}}
											Notice{{#if_ne alerts 1}}s{{/if_ne}}
										{{/if}}
									{{/if_all}}
								</h2>
							</div>

							<div class="js-show-hide__content">
								{{> partials/notice}}
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	{{/if}}

{{else}}

	{{#if_any description.latestRelease versions alerts (eq type "bulletin") (eq type "article") (eq type "compendium_landing_page") (endsWith (parentPath uri) "previous")}} {{!-- Must always show on bulletin & article for 'not latest release' alert or for 'previous versions' alert on dataset-landing-pages --}}
		{{#unless (eq type "timeseries")}} {{!-- Use a different type of alert block if it is a timeseries page --}}
			<div class="alert">
				<div class="wrapper">
					<div class="col-wrap">
						<div class="col">

							{{!-- Latest info --}}
							{{> partials/latest-release}}

							{{!-- Corrections & alerts --}}
							{{#if_any versions alerts}}
								<div class="show-hide show-hide--dark background--astral margin-top-sm--3 margin-top-md--3 js-show-hide">
									<div class="js-show-hide__title">
										<div class="alert--warning__icon"></div>

										<h2 class="show-hide__title alert--warning__title">
											{{!-- Lots of 'if's to handle plurals and combinations of corrections or notices --}}
											{{#if_all versions alerts}}
												Corrections and notices
											{{else}}
												{{#if versions}}
													Correction{{#if_ne versions.size 1}}s{{/if_ne}}
												{{else}}
													Notice{{#if_ne alerts.size 1}}s{{/if_ne}}
												{{/if}}
											{{/if_all}}
										</h2>
									</div>

									<div class="js-show-hide__content">
										{{> partials/correction}}
										{{> partials/notice}}
									</div>

								</div>
							{{/if_any}}
						</div>
					</div>
				</div>
			</div>

		{{else}}

			{{!-- Set whether there are any corrections --}}
			{{#each versions}}
				{{#if correctionNotice}}
					{{#assign "has-corrections"}}true{{/assign}}
				{{/if}}
			{{/each}}

			{{!-- Alert block for timeseries --}}
			{{#if_any has-corrections (endsWith (parentPath uri) "previous")}}
				<div class="alert">
					<div class="wrapper">
						<div class="col-wrap">
							<div class="col">

								{{!-- 'This is an old versions' alert --}}
								{{#if (endsWith (parentPath uri) "previous")}}
									<div class="alert--warning">
										<div class="alert--warning__icon"></div>
										<h2 class="alert--warning__title">This has been superseded</h2> <a class="btn btn--primary print--hide alert--warning__content" href="{{parentPath (parentPath uri)}}">View corrected version</a>
									</div>
								{{/if}}


								{{!-- Corrections --}}
								{{#if has-corrections}}
									<div class="show-hide show-hide--dark background--astral {{#if (endsWith (parentPath uri) "previous")}}margin-top-sm--3 margin-top-md--3{{else}}margin-top-sm--1 margin-top-md--1{{/if}} js-show-hide">
										<div class="js-show-hide__title">
											<div class="alert--warning__icon"></div>
											<h2 class="show-hide__title alert--warning__title">Correction</h2>
										</div>

										<div class="js-show-hide__content">
											<section class="show-hide__content alert--warning__content section__content--markdown">
												{{#each versions}}
													{{#if correctionNotice}}
														<p class="alert__date">{{df updateDate}}</p>
														{{md correctionNotice}}
														<a class="btn btn--tertiary margin-bottom-sm--3 margin-bottom-md--3 print--hide"
														   href="{{uri}}">View superseded version</a>
													{{/if}}
												{{/each}}
											</section>
										</div>
									</div>
								{{/if}}
							</div>
						</div>
					</div>
				</div>
			{{/if_any}}
		{{/unless}}
	{{/if_any}}
{{/if}}