{{!-- Unique alerts/corrections system for dataset landing page - only shown when no-versions=true --}}
{{#if no-versions}}

	{{!-- Store whether dataset has correction and/or alerts --}}
	{{#each alerts}}
		{{#if_eq type "correction"}}
			{{#assign "has-corrections"}}
				true
			{{/assign}}
		{{/if_eq}}

		{{#if_eq type "alert"}}
			{{#assign "has-alerts"}}
				true
			{{/assign}}
		{{/if_eq}}
	{{/each}}

	{{!-- Show those alerts/corrections --}}
	{{#if alerts}}
		<div class="alert">
			<div class="wrapper">
				<div class="col-wrap">
					<div class="col">

						<div class="show-hide show-hide--dark info-box margin-top-sm--1 margin-top-md--1 js-show-hide">
							<div class="js-show-hide__title">
                                <span class="icon icon-info icon-info--info-box"></span>
								<h2 class="show-hide__title alert--warning__title">

									{{!-- Lots of 'if's to handle combinations of corrections or notices --}}
									{{#if_all has-corrections has-alerts}}
										{{labels.corrections-and-notices}}
									{{else}}
										{{#if has-corrections}}
                                            {{#if_ne alerts 1}}{{labels.correction}}{{else}}{{labels.corrections}}{{/if_ne}}
										{{else}}
                                            {{#if_ne alerts 1}}{{labels.notice}}{{else}}{{labels.notices}}{{/if_ne}}
										{{/if}}
									{{/if_all}}
								</h2>
							</div>

							<div class="js-show-hide__content">
								{{> partials/notice}}
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	{{/if}}

{{else}}

	{{#if_any description.latestRelease versions alerts (eq type "bulletin") (eq type "article") (eq type "timeseries") (eq type "compendium_landing_page") (endsWith (parentPath uri) "previous")}} {{!-- Must always show on bulletin & article for 'not latest release' alert or for 'previous versions' alert on dataset-landing-pages --}}
		{{#unless (eq type "timeseries")}} {{!-- Use a different type of alert block if it is a timeseries page --}}
			<div class="alert">
				<div class="wrapper">
					<div class="col-wrap">
						<div class="col">

							{{!-- Latest info --}}
							{{> partials/latest-release}}

							{{!-- Corrections & alerts --}}
							{{#if_any versions alerts}}
								<div class="show-hide show-hide--dark info-box margin-top-sm--3 margin-top-md--3 js-show-hide">
									<div class="js-show-hide__title">
                                        <span class="icon icon-info icon-info--info-box"></span>

										<h2 class="show-hide__title alert--warning__title">
											{{!-- Lots of 'if's to handle plurals and combinations of corrections or notices --}}
											{{#if_all versions alerts}}
												{{labels.corrections-and-notices}}
											{{else}}
												{{#if versions}}
                                                    {{#if_ne versions.size "1"}}{{labels.correction}}{{else}}{{labels.corrections}}{{/if_ne}}
												{{else}}
                                                    {{#if_ne alerts.size "1"}}{{labels.notice}}{{else}}{{labels.notices}}{{/if_ne}}
												{{/if}}
											{{/if_all}}
										</h2>
									</div>

									<div class="js-show-hide__content">
										{{> partials/correction}}
										{{> partials/notice}}
									</div>

								</div>
							{{/if_any}}
						</div>
					</div>
				</div>
			</div>

		{{else}}

			{{!-- Set whether there are any corrections --}}
			{{#each versions}}
				{{#if correctionNotice}}
					{{#assign "has-corrections"}}true{{/assign}}
				{{/if}}
			{{/each}}

			{{!-- Alert block for timeseries --}}
            {{!-- {{#if_any has-corrections (endsWith (parentPath uri) "previous")}} --}}
				<div class="alert">
					<div class="wrapper">
						<div class="col-wrap">
							<div class="col">

                                <h2 class="alert__title inline-block margin-bottom--0 margin-right-md--1">
                                    Source dataset: {{#if description.datasetUri}}{{#resolve description.datasetUri}}<a href="{{uri}}">{{description.title}} ({{description.datasetId}})</a>{{/resolve}}{{else}}{{description.datasetId}}{{/if}}
                                </h2>
                                {{#resolveTimeSeriesList (parentPath uri) }}
                                    {{#if_ne result.results.size 1}}
                                        <a class="alert__link js-scroll" href="#othertimeseries">View other variations of this time series</a>
                                    {{/if_ne}}
                                {{/resolveTimeSeriesList}}

                                {{#if alerts}}
                                    <div class="show-hide show-hide--dark info-box margin-top-sm--3 margin-top-md--3 js-show-hide">
                                        <div class="js-show-hide__title">
                                            <span class="icon icon-info icon-info--info-box"></span>

                                            <h2 class="show-hide__title alert--warning__title">
                                                {{#if_ne alerts.size 1}}{{labels.notices}}{{else}}{{labels.notice}}{{/if_ne}}
                                            </h2>
                                        </div>

                                        <div class="js-show-hide__content">
                                            {{> partials/notice}}
                                        </div>

                                    </div>
                                {{/if}}

								{{!-- 'This is an old versions' alert --}}
								{{#if (endsWith (parentPath uri) "previous")}}
									<div class="alert--warning">
										<div class="alert--warning__icon"></div>
										<h2 class="alert--warning__title">{{labels.this-has-been-superseded}}</h2> <a class="btn btn--primary print--hide alert--warning__content" href="{{parentPath (parentPath uri)}}">{{labels.view-corrected-version}}</a>
									</div>
								{{/if}}


								{{!-- Corrections --}}
								{{#if has-corrections}}
									<div class="show-hide show-hide--dark info-box {{#if (endsWith (parentPath uri) "previous")}}margin-top-sm--3 margin-top-md--3{{else}}margin-top-sm--1 margin-top-md--1{{/if}} js-show-hide">
										<div class="js-show-hide__title">

                                            <span class="icon icon-info icon-info--info-box"></span>
											<h2 class="show-hide__title alert--warning__title">{{labels.correction}}</h2>
										</div>

										<div class="js-show-hide__content">
											<section class="show-hide__content alert--warning__content section__content--markdown">
												{{#each versions}}
													{{#if correctionNotice}}
                                                        <p class="alert__date">{{df updateDate}}</p>
														{{md correctionNotice}}
														<a class="btn btn--tertiary margin-bottom-sm--3 margin-bottom-md--3 print--hide"
														   href="{{uri}}">{{labels.view-superseded-version}}</a>
													{{/if}}
												{{/each}}
											</section>
										</div>
									</div>
								{{/if}}
							</div>
						</div>
					</div>
				</div>
        {{!-- {{/if_any}} --}}
		{{/unless}}
	{{/if_any}}
{{/if}}