{{!-- Used in .tiles and .filters so {{parent}} passed through so rest of code can be re-used --}}
<ul class="{{parent}}__a-z-list">
 	<li class="{{parent}}__a-z-list-item"><a href="{{uri}}?az=a">A</a></li>
 	<li class="{{parent}}__a-z-list-item"><a href="{{uri}}?az=b">B</a></li>
 	<li class="{{parent}}__a-z-list-item"><a href="{{uri}}?az=c">C</a></li>
 	<li class="{{parent}}__a-z-list-item"><a href="{{uri}}?az=d">D</a></li>
 	<li class="{{parent}}__a-z-list-item"><a href="{{uri}}?az=e">E</a></li>
 	<li class="{{parent}}__a-z-list-item"><a href="{{uri}}?az=f">F</a></li>
 	<li class="{{parent}}__a-z-list-item"><a href="{{uri}}?az=g">G</a></li>
 	<li class="{{parent}}__a-z-list-item"><a href="{{uri}}?az=h">H</a></li>
 	<li class="{{parent}}__a-z-list-item"><a href="{{uri}}?az=i">I</a></li>
 	<li class="{{parent}}__a-z-list-item"><a href="{{uri}}?az=j">J</a></li>
 	<li class="{{parent}}__a-z-list-item"><a href="{{uri}}?az=k">K</a></li>
 	<li class="{{parent}}__a-z-list-item"><a href="{{uri}}?az=l">L</a></li>
 	<li class="{{parent}}__a-z-list-item"><a href="{{uri}}?az=m">M</a></li>
 	<li class="{{parent}}__a-z-list-item"><a href="{{uri}}?az=n">N</a></li>
 	<li class="{{parent}}__a-z-list-item"><a href="{{uri}}?az=o">O</a></li>
 	<li class="{{parent}}__a-z-list-item"><a href="{{uri}}?az=p">P</a></li>
 	<li class="{{parent}}__a-z-list-item"><a href="{{uri}}?az=q">Q</a></li>
 	<li class="{{parent}}__a-z-list-item"><a href="{{uri}}?az=r">R</a></li>
 	<li class="{{parent}}__a-z-list-item"><a href="{{uri}}?az=s">S</a></li>
 	<li class="{{parent}}__a-z-list-item"><a href="{{uri}}?az=t">T</a></li>
 	<li class="{{parent}}__a-z-list-item"><a href="{{uri}}?az=u">U</a></li>
 	<li class="{{parent}}__a-z-list-item"><a href="{{uri}}?az=v">V</a></li>
 	<li class="{{parent}}__a-z-list-item"><a href="{{uri}}?az=w">W</a></li>
 	<li class="{{parent}}__a-z-list-item"><a href="{{uri}}?az=x">X</a></li>
 	<li class="{{parent}}__a-z-list-item"><a href="{{uri}}?az=y">Y</a></li>
 	<li class="{{parent}}__a-z-list-item"><a href="{{uri}}?az=z">Z</a></li>
 </ul>