<div id="{{uri}}" class="markdown-chart-container">
    {{title}}
  </br>
    {{subtitle}}
  </br>
  <div class="markdown-chart">
    <img src={{uri}}/image" alt="{{alt-text}}">
  </div>
  </br>
    {{source}}
  </br>
    {{md notes}}
</div>