<div class="markdown-chart-container">
    <h4>{{title}}</h4>
    <h5>{{subtitle}}</h5>
  </br>
  <div id="chart-{{filename}}" data-uri="{{uri}}" class="markdown-chart">
    {{#unless jsEnhanced}}
      <img src="{{uri}}/image" alt="{{alt-text}}">
    {{/unless}}

  </div>
  {{#if source}}<h6>Source: {{source}}</h6>{{/if}}
  </br>
  {{#if notes}}
  <h6>Notes:</h6>
    {{md notes}}
  {{/if}}
</div>