{{#unless CookiesPreferencesSet}}
    <form action="/cookies/accept-all" method="GET" id="global-cookie-message" class="cookies-banner js-cookies-banner-form clearfix"
            aria-label="cookie banner" style="display: block;">
        <div class="cookies-banner__wrapper wrapper js-cookies-banner-inform">
            <div class="col col--md-two-thirds col--lg-two-thirds">
                <div class="cookies-banner__message">
                    <h3 class="cookies-banner__heading">{{labels.cookies-banner-title}}</h3>
                    <p class="cookies-banner__body">{{{labels.cookies-banner-info}}}</p>
                    <p class="cookies-banner__body">{{labels.cookies-banner-why-we-use}}</p>
                </div>
                <div class="cookies-banner__buttons">
                    <div class="cookies-banner__button cookies-banner__button--accept">
                        <button class="btn btn--primary btn--full-width js-accept-cookies" type="submit">{{labels.cookies-banner-accept-action}}</button>
                    </div>
                    <div class="cookies-banner__button">
                        <a role="button" href="/cookies/edit" class="btn btn--primary btn--full-width">{{labels.cookies-banner-set-preferences-action}}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="cookies-banner__confirmation cookies-banner hidden js-cookies-banner-confirmation" tabindex="-1">
            <div class="cookies-banner__wrapper wrapper">
                <div class="col">
                    <div class="cookies-banner__message">
                        <p class="cookies-banner__confirmation-message">
                            {{{labels.cookies-banner-success}}}
                            <button type="button" class="cookies-banner__button--hide js-hide-cookies-banner">{{labels.cookies-banner-hide-action}}</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </form>
{{/unless}}