<header>
	{{!-- Skip to main content accessibility link --}}
	<div class="wrapper">
		<a class="skiplink visuallyhidden focusable" href="#main" tabindex="0">
			Skip to main content
		</a>
	</div>
	{{!-- produced for download analytics function --}}
	<div id="pagePath" class="hide">{{uri}}</div>
	{{!-- Prototype banner --}}
	<div class="beta-banner">
		<div class="wrapper">
			<p class="beta-banner__content">This is a test website, so may be inaccurate or misleading. The official website remains <a href="http://ons.gov.uk/">ons.gov.uk</a></p>
		</div>
	</div>
	{{!-- LANGUAGE TOGGLE AND SECONDARY NAV - DESKTOP --}}
	<nav>
		<div class="wrapper">
			<div class="header col-wrap">
				<div class="col col--lg-one-third col--md-one-third">
					<a href="/">
						<img class="main-logo" src="/node_modules/ONS-Pattern-Library/dist/img/ons-logo.png"
						alt="Office for National Statistics">
					</a>
				</div>
				{{!-- <nav> --}}
					<div class="col col--lg-two-thirds col--md-two-thirds hide--mobile print--hide">
						{{!-- Need space to keep secondary links from vertically aligning at top --}}
						&nbsp;
						{{!-- Show different block depending on whether JS or not - saves enhancing <dl> to look and behave like a <select> --}}
						{{!-- <dl class="language js-enhance--hide">
 							<dt class="language__title">Language: </dt>
 							<dd class="language__item">
 								<a href="https://{{replace location.hostname "cy." ""}}{{uri}}" class="language__link icon--hide">English (EN)</a>
 							</dd>
 							<dd class="language__item">
 								<a href="https://cy.{{replace location.hostname "cy." ""}}{{uri}}" class="language__link icon--hide">Cymraeg (CY)</a>
 							</dd>
 						</dl>
 						<form class="language language--js js-enhance--show">
 							<label class="language--js__label" for="lang">Language:</label>
 							<select class="language--js__select" id="lang" name="lang">
 								<option value="english" class="language-js__option" data-url="https://{{replace location.hostname "cy." ""}}{{uri}}">English (EN)</option>
 								<option value="welsh" class="language-js__option" data-url="https://cy.{{replace location.hostname "cy." ""}}{{uri}}">Cymraeg (CY)</option>
 							</select>
 						</form> --}}
					</div>
				{{!-- </nav> --}}
				<nav class="secondary-nav col col--lg-two-thirds col--md-two-thirds print--hide">
					<ul class="secondary-nav__list">
						{{!-- <li class="secondary-nav__item">
 							<a class="secondary-nav__link"
 							href="/releasecalendar">{{labels.release-calendar}}</a>
 						</li> --}}
						<li class="secondary-nav__item">
							<a class="secondary-nav__link" href="/methodology">{{labels.methodology}}</a>
						</li>
						<li class="secondary-nav__item">
							<a class="secondary-nav__link" href="/aboutus">{{labels.about}}</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</nav>
	{{!-- /wrapper --}}
	{{!-- MAIN NAV --}}
	<div class="primary-nav print--hide">
		<nav>
			{{!-- MENU AND SEARCH TOGGLES ON MOBILE --}}
			<ul class="nav--controls">
				<li class="nav--controls__item">
					<a href="#nav-primary" id="menu-toggle" aria-controls="nav-primary" class="nav--controls__menu">
						<span class="nav--controls__text">{{labels.dropdown-menu}}</span>
					</a>
				</li>
				<li class="nav--controls__item {{#if_any (eq listType "search") (eq listType "searchpublication") (eq listType "searchdata")}}search-is-expanded{{/if_any}}">
					<a href="#nav-search" id="search-toggle" aria-controls="nav-search" class="nav--controls__search">
						<span class="nav--controls__text">{{labels.search}}</span>
					</a>
				</li>
			</ul>
			{{!-- PRIMARY NAVIGATION --}}
			<div class="wrapper">
				<ul class="primary-nav__list nav-main--hidden" id="nav-primary">
					<li class="primary-nav__item {{#if_eq uri '/'}}primary-nav__item--active{{/if_eq}} hide--mobile old-ie--display-block"><a class="primary-nav__link col col--md-7 col--lg-9" href="/">{{labels.home}}</a></li>
					{{!-- loop each top node --}}
					{{#each navigation}}
					{{#if_eq this.type "taxonomy_landing_page"}}
					<li class="primary-nav__item js-expandable nav__expandable {{#if_any (eq uri breadcrumb.1/uri)  (eq uri ../../uri) }}primary-nav__item--active{{/if_any}}">
						<a class="primary-nav__link col col--md-8 col--lg-10" href="{{uri}}" aria-haspopup="true">{{description.title}}</a>
						<ul class="primary-nav__child-list col col--md-16 col--lg-20 nav--primary__sub js-expandable__content js-nav-hidden jsEnhance" aria-expanded="false" aria-label="submenu">
							{{!-- loop each child node --}}
							{{#each children}}
							<li class="primary-nav__child-item {{#if_any (eq uri breadcrumb.2/uri) (eq uri ../../uri)}}primary-nav__child-item--active{{/if_any}}">
								<a class="primary-nav__child-link" href="{{uri}}" >{{description.title}}</a>
							</li>
							{{/each}}
						</ul>
					</li>
					{{/if_eq}}
					{{/each}}
					{{!-- SECONDARY NAV - PRIMARY --}}
					<li class="primary-nav__item {{#if_eq uri '/surveys'}}primary-nav__item--active{{/if_eq}}">
						<a class="primary-nav__link  col col--md-8 col--lg-10" href="/surveys">
							{{labels.survey-respondents}}
						</a>
					</li>
					{{!-- Has to be in individal div so JS adds classes correctly on mobile --}}
					<div class="primary-nav--secondary__list">
						{{!-- TODO clean up or remove this content from HTML --}}
						<!--<li class="primary-nav__item {{#if_eq uri '/about/releasecalendar'}}primary-nav__item--active{{/if_eq}}">-->
						<!--<a class="primary-nav__link col" href="/about/releasecalendar">{{labels.release-calendar}}</a>-->
						<!--</li>-->
						<li class="primary-nav__item {{#if_eq uri '/methodology'}}primary-nav__item--active{{/if_eq}}">
							<a class="primary-nav__link col" href="/methodology">{{labels.methodology}}</a>
						</li>
						<li class="primary-nav__item {{#if_eq uri '/aboutus'}}primary-nav__item--active{{/if_eq}}">
							<a class="primary-nav__link col" href="/aboutus">{{labels.about}}</a>
						</li>
					</div>
				</ul>
			</div>
		</nav>
	</div>
	{{!-- SEARCH BAR --}}
	{{#block "block-search-bar"}}
		<div class="search nav-search--hidden print--hide" id="searchBar">
			<div class="wrapper">
				<form class="col-wrap search__form" {{#if_any (eq listType "searchdata") (eq listType "searchpublication")}}action="{{location.pathname}}"{{else}}action="/search"{{/if_any}}>
					<label class="search__label col col--md-24 col--lg-24" for="nav-search">Search for keyword(s) or time series ID</label>
					<input type="search" autocomplete="off" class="search__input col col--md-20 col--lg-32" id="nav-search" name="q" value="{{parameters.q.0}}">
					<button type="submit" class="search__button col--md-3 col--lg-3" id="nav-search-submit">
					<span class="visuallyhidden">{{labels.search}}</span>
					<span class="icon icon-search--light"></span>
					</button>
				</form>
			</div>
		</div>
	{{/block}}
</header>