{{#if files}}
    <div class="markdown-chart-container panel--bottom-mar print--avoid-break">
        <h4 class="flush--third--vertical">{{{sub (sup title)}}}</h4>

        {{#if subtitle}}
            <h5 class="flush--third--bottom">{{{sub (sup subtitle)}}}</h5>
        {{/if}}

        {{#each files}}
            {{#if (eq type "uploaded-image")}}
                <img src="/resource?uri={{uri}}.{{fileType}}" alt="{{altText}}">
            {{/if}}
        {{/each}}

        {{#if source}}<h6 class="flush--third--bottom">Source: {{source}}</h6>{{/if}}
        {{#if notes}}
            <h6 class="flush--third--bottom">Notes:</h6>
            {{md notes}}
        {{/if}}

        <h6 class="print--hide">Download this image</h6>
        {{#each files}}
            {{#if (eq type "uploaded-image")}}
                <a class="btn btn--primary print--hide" title="Download as {{fileType}}"
                   data-gtm-title="{{{sub (sup title)}}}" data-gtm-type="download-{{fileType}}"
                   href="/file?uri={{uri}}.{{fileType}}" aria-label="Download {{title}} as {{fileType}}">.{{fileType}}</a>
            {{/if}}
        {{/each}}

        {{#each files}}
            {{#if (eq type "uploaded-data")}}
                <a class="btn btn--primary print--hide" title="Download as {{fileType}}"
                   data-gtm-title="{{{sub (sup title)}}}" data-gtm-type="download-{{fileType}}"
                   href="/file?uri={{uri}}.{{fileType}}" aria-label="Download {{title}} as {{fileType}}">.{{fileType}}
                </a>
            {{/if}}
        {{/each}}
    </div>
{{/if}}

{{#unless files}}
    <img src="/resource?uri={{uri}}">
{{/unless}}