{{!--Not having line breaks before and after the div markups breaks tables displaying on the page--}}
<div class="markdown-table-container print--avoid-break">
    <h4>{{{sub (sup title)}}}</h4>
    {{#resolveResource (concat uri ".html")}}
    <div class="markdown-table-wrap">
        {{{resource}}}
    </div>
    {{/resolveResource}}
    <h5 class="print--hide font-size--h6">Download this table</h5>
    <a href="/file?uri={{uri}}.xls" title="Download as xls" class="btn btn--primary print--hide" data-ga-event="" data-ga-event-category="download-xls" data-ga-event-label="{{{sub (sup title)}}}">.xls</a>
    {{!-- <form method="get" action="/file" class="inline print--hide">
         <button type="submit" title="Download XLS" class="btn btn--primary btn--thick download-analytics">
         .xls
         </button>
         <input type="hidden" name="format" value="xls"/>
         <input type="hidden" name="uri" value="{{absolute uri}}.xls"/>
     </form> --}}
</div>