{{!--Not having line breaks before and after the div markups breaks tables displaying on the page--}}

<div class="markdown-table-container print--avoid-break">
    <h4>{{title}}</h4>

    <div class="markdown-table-wrap">
        {{{html}}}
    </div>

    <h6>Download this table</h6>

    <form method="get" action="/file">
        <button type="submit" title="csv" class="btn btn--primary btn--thick download-analytics">
            {{fe (lowercase uri)}} ({{fs (lowercase uri)}})
        </button>
        <input type="hidden" name="uri" value="{{uri}}.xls"/>
    </form>

</div>
