<!--<fieldset class="filters__fieldset">-->
    <!--<legend class="filters__title">Release date</legend>-->
    <!--<ul class="list--neutral margin-top--0">-->
        <!--{{!-- Using date format to ensure entered date is correct date format and gibberish does not end up in input box, which should make user understand date filter did not take affect --}}-->
        <!--<li class="filters__item">-->
            <!--<div class="filters__field">-->
                <!--<label for="input-start-date">Published after</label><input type="text" autocomplete="off" id="input-start-date" name="fromDate" value="{{df parameters.fromDate.0 outputFormat="dd/MM/yyyy" inputFormat="dd/MM/yyyy"}}" placeholder="e.g. 23/01/2015" class="input width-lg--13 js-auto-submit__input">-->
                <!--<button class="btn btn--secondary btn--narrow btn--small padding-top--0 padding-bottom--0" id="bn_date"><span class="icon icon-calendar--light-small"></span></button>-->
                <!--<div id="dp1" class="datepicker" aria-hidden="true">-->
                    <!--<div id="month-wrap">-->
                        <!--<button id="bn_prev" aria-labelledby="bn_prev-label" tabindex="0">Prev</button>-->
                        <!--<div id="month" role="heading" aria-live="assertive" aria-atomic="true">February 2011</div>-->
                        <!--<button id="bn_next" aria-labelledby="bn_next-label" tabindex="0">Next</button>-->
                    <!--</div>-->
                    <!--<table id="cal" role="grid" aria-activedescendant="errMsg" aria-labelledby="month" tabindex="0">-->
                        <!--<thead>-->
                        <!--<tr id="weekdays">-->
                            <!--<th id="Sunday"><abbr title="Sunday">Su</abbr></th>-->
                            <!--<th id="Monday"><abbr title="Monday">Mo</abbr></th>-->
                            <!--<th id="Tuesday"><abbr title="Tuesday">Tu</abbr></th>-->
                            <!--<th id="Wednesday"><abbr title="Wednesday">We</abbr></th>-->
                            <!--<th id="Thursday"><abbr title="Thursday">Th</abbr></th>-->
                            <!--<th id="Friday"><abbr title="Friday">Fr</abbr></th>-->
                            <!--<th id="Saturday"><abbr title="Saturday">Sa</abbr></th>-->
                        <!--</tr>-->
                        <!--</thead>-->
                        <!--<tbody>-->
                        <!--<tr>-->
                            <!--<td id="errMsg" colspan="7">Javascript must be enabled</td>-->
                        <!--</tr>-->
                        <!--</tbody>-->
                    <!--</table>-->
                    <!--<div id="bn_prev-label">Go to previous month</div>-->
                    <!--<div id="bn_next-label">Go to next month</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</li>-->
        <!--<li class="filters__item">-->
            <!--<div class="filters__field">-->
                <!--<label for="input-end-date">Published before</label>-->
                <!--<input type="text" autocomplete="off" id="input-end-date" name="toDate"-->
                       <!--value="{{df parameters.toDate.0 outputFormat="dd/MM/yyyy" inputFormat="dd/MM/yyyy"}}"-->
                       <!--placeholder="e.g. 23/02/2015" class="input js-auto-submit__input">-->
            <!--</div>-->
        <!--</li>-->
    <!--</ul>-->
<!--</fieldset>-->

<!--<h4>{{labels.release-date}}</h4>-->
<fieldset class="filters__fieldset">
    <legend class="filters__title">
        Published after
        {{!-- Hidden text to help screen reader users when they focus on first input --}}
        <span class="hide" id="date-hint">For example, 29 4 2016</span>
    </legend>
    <div id="inputs-start-date">
        <div class="filters__date filters__date--day">
            <label for="fromDateDay">Day</label>
            <input type="number" autocomplete="off" name="fromDateDay"
                   value="{{df parameters.fromDateDay.0 outputFormat="dd" inputFormat="dd"}}"
                   class="js-auto-submit__input"
                   min="0" max="31" pattern="[0-9]*" placeholder="dd" aria-describedby="date-hint">
        </div>
        <div class="filters__date filters__date--month">
            <label for="fromDateMonth">Month</label>
            <input type="number" autocomplete="off" name="fromDateMonth"
                   value="{{df parameters.fromDateMonth.0 outputFormat="MM" inputFormat="MM"}}"
                   class="js-auto-submit__input"
                   min="1" max="12" maxlength="2" pattern="[0-9]*" placeholder="mm">
        </div>
        <div class="filters__date filters__date--year">
            <label for="fromDateYear">Year</label>
            <input type="number" autocomplete="off" name="fromDateYear"
                   value="{{df parameters.fromDateYear.0 outputFormat="yyyy" inputFormat="yyyy"}}"
                   class="js-auto-submit__input"
                   min="1900" max="2050" maxlength="4" pattern="[0-9]*" placeholder="yyyy">
        </div>
    </div>

    {{> list/partials/date-picker buttonId="js-start-date" datepickerId="dp1"}}
    <!--<button class="btn btn--secondary btn--narrow btn--small padding-top--0 padding-right--0 padding-bottom--0 padding-left--0 margin-top--3 margin-left--2 width--2 nojs--hide" id="js-start-date" type="button"><span class="icon icon-calendar--light-small"></span></button>-->
    <!--<div id="dp1" class="datepicker" aria-hidden="true">-->
            <!--<button class="datepicker__btn datepicker__btn--prev js-datepicker__prev" aria-labelledby="bn_prev-label"-->
                    <!--tabindex="0"></button>-->
            <!--<div class="datepicker__month js-datepicker__month" role="heading" id="start-month-year" aria-live="assertive"-->
                 <!--aria-atomic="true">February 2011-->
            <!--</div>-->
            <!--<button class="datepicker__btn datepicker__btn--next js-datepicker__next" aria-labelledby="bn_next-label"-->
                    <!--tabindex="0"></button>-->
        <!--<table class="datepicker__grid js-datepicker__grid" role="grid" aria-activedescendant="errMsg" aria-labelledby="start-month-year" tabindex="0">-->
            <!--<thead>-->
            <!--<tr id="weekdays">-->
                <!--<th class="datepicker__grid-header  " id="Sunday"><abbr title="Sunday">Sun</abbr></th>-->
                <!--<th class="datepicker__grid-header  " id="Monday"><abbr title="Monday">Mon</abbr></th>-->
                <!--<th class="datepicker__grid-header  " id="Tuesday"><abbr title="Tuesday">Tue</abbr></th>-->
                <!--<th class="datepicker__grid-header  " id="Wednesday"><abbr title="Wednesday">Wed</abbr></th>-->
                <!--<th class="datepicker__grid-header  " id="Thursday"><abbr title="Thursday">Thu</abbr></th>-->
                <!--<th class="datepicker__grid-header  " id="Friday"><abbr title="Friday">Fri</abbr></th>-->
                <!--<th class="datepicker__grid-header  " id="Saturday"><abbr title="Saturday">Sat</abbr></th>-->
            <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
            <!--<tr>-->
                <!--<td class="errMsg" colspan="7">Javascript must be enabled</td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
        <!--<div id="bn_prev-label" class="visuallyhidden">Go to previous month</div>-->
        <!--<div id="bn_next-label" class="visuallyhidden">Go to next month</div>-->
    <!--</div>-->
</fieldset>

<fieldset class="filters__fieldset">
    <legend class="filters__title">
        Published before
    </legend>
    <div id="inputs-end-date">
        <div class="filters__date filters__date--day">
            <label for="toDateDay">Day</label>
            <input type="number" autocomplete="off" name="toDateDay"
                   value="{{df parameters.toDateDay.0 outputFormat="dd" inputFormat="dd"}}"
                   class="js-auto-submit__input"
                   min="0" max="31" pattern="[0-9]*" placeholder="dd" aria-describedby="date-hint">
        </div>
        <div class="filters__date filters__date--month">
            <label for="toDateMonth">Month</label>
            <input type="number" autocomplete="off" name="toDateMonth"
                   value="{{df parameters.toDateMonth.0 outputFormat="MM" inputFormat="MM"}}"
                   class="js-auto-submit__input"
                   min="1" max="12" maxlength="2" pattern="[0-9]*" placeholder="mm">
        </div>
        <div class="filters__date filters__date--year">
            <label for="toDateYear">Year</label>
            <input type="number" autocomplete="off" name="toDateYear"
                   value="{{df parameters.toDateYear.0 outputFormat="yyyy" inputFormat="yyyy"}}"
                   class="js-auto-submit__input"
                   min="1900" max="2050" maxlength="4" pattern="[0-9]*" placeholder="yyyy">
        </div>
    </div>

    {{> list/partials/date-picker buttonId="js-end-date" datepickerId="dp2"}}
</fieldset>
