<fieldset class="filters__fieldset">
    <legend class="filters__title">
        Published after
        {{!-- Hidden text to help screen reader users when they focus on first input --}}
        <span class="hide" id="date-hint">For example, 29 4 2016</span>
    </legend>
    <div id="inputs-start-date">
        <div class="filters__date filters__date--day">
            <label for="fromDateDay">Day</label>
            <input type="number" autocomplete="off" name="fromDateDay"
                   value="{{df parameters.fromDateDay.0 outputFormat="d" inputFormat="d"}}"
                   class="js-auto-submit__input"
                   min="0" max="31" pattern="[0-9]*" aria-describedby="date-hint">
        </div>
        <div class="filters__date filters__date--month">
            <label for="fromDateMonth">Month</label>
            <input type="number" autocomplete="off" name="fromDateMonth"
                   value="{{df parameters.fromDateMonth.0 outputFormat="M" inputFormat="M"}}"
                   class="js-auto-submit__input"
                   min="1" max="12" maxlength="2" pattern="[0-9]*">
        </div>
        <div class="filters__date filters__date--year">
            <label for="fromDateYear">Year</label>
            <input type="number" autocomplete="off" name="fromDateYear"
                   value="{{df parameters.fromDateYear.0 outputFormat="yyyy" inputFormat="yyyy"}}"
                   class="js-auto-submit__input"
                   min="1900" max="2050" maxlength="4" pattern="[0-9]*">
        </div>
    </div>

    {{> list/partials/date-picker buttonId="js-start-date" datepickerId="dp1"}}

    <div class="js-auto-submit__error" id="from-date-error">
        {{#each errors}}
            {{#if_eq  @key 'publishedFrom'}}
                <p>{{@value}}</p>
            {{/if_eq }}
        {{/each}}
    </div>
</fieldset>

<fieldset class="filters__fieldset">
    <legend class="filters__title">
        Published before
    </legend>
    <div id="inputs-end-date">
        <div class="filters__date filters__date--day">
            <label for="toDateDay">Day</label>
            <input type="number" autocomplete="off" name="toDateDay"
                   value="{{df parameters.toDateDay.0 outputFormat="d" inputFormat="d"}}"
                   class="js-auto-submit__input"
                   min="0" max="31" pattern="[0-9]*" aria-describedby="date-hint">
        </div>
        <div class="filters__date filters__date--month">
            <label for="toDateMonth">Month</label>
            <input type="number" autocomplete="off" name="toDateMonth"
                   value="{{df parameters.toDateMonth.0 outputFormat="M" inputFormat="M"}}"
                   class="js-auto-submit__input"
                   min="1" max="12" maxlength="2" pattern="[0-9]*">
        </div>
        <div class="filters__date filters__date--year">
            <label for="toDateYear">Year</label>
            <input type="number" autocomplete="off" name="toDateYear"
                   value="{{df parameters.toDateYear.0 outputFormat="yyyy" inputFormat="yyyy"}}"
                   class="js-auto-submit__input"
                   min="1900" max="2050" maxlength="4" pattern="[0-9]*">
        </div>
    </div>

    {{> list/partials/date-picker buttonId="js-end-date" datepickerId="dp2"}}

    <div class="js-auto-submit__error" id="to-date-error">
        {{#each errors}}
            {{#if_eq  @key 'publishedBefore'}}
                <p>{{@value}}</p>
            {{/if_eq }}
        {{/each}}
    </div>
</fieldset>
