<div class="sort-results">
	<form id="form-sort" class="js-auto-submit__form">

        {{!-- Include existing parameters in form. Exclude 'sortBy' and 'q' (this needs slightly different markup for the JS auto-submit to work)  --}}
        {{#each parameters}}
            {{#if_all this.0 (ne @key "sortBy") (ne @key "q")}}
                <input type="hidden" name="{{@key}}" value="{{this.0}}">
            {{/if_all}}
        {{/each}}

        {{!-- Add auto-submit class to 'q' input so that it is included in serialised form on JS --}}
        {{#if parameters.q.0}}
            <input type="hidden" name="q" value="{{parameters.q.0}}" class="js-auto-submit__input">
        {{/if}}

		<div class="js-mobile-filters__sort">
			<label for="sort" class="sort__label">{{labels.sort-by}}
				<select class="input select select--thin width-auto js-auto-submit__input" id="sort" name="sortBy">
					<option class="sort__option" value="relevance" {{#if_eq result.sortBy "relevance"}}selected{{/if_eq}}>{{labels.relevance}}
					</option>
					<option class="sort__option" value="release_date"
							{{#if_eq result.sortBy "release_date"}}selected{{/if_eq}} >{{labels.release-date}}
					</option>
					<option class="sort__option" value="title" {{#if_eq result.sortBy "title"}}selected{{/if_eq}}>
						{{labels.title}}
					</option>
				</select>
			</label>
            <button type="submit" class="btn btn--primary btn--thin btn--small js--hide">{{labels.sort}}</button>
        </div>
	</form>
</div>