{{#if this.title}}
    {{!-- Ordinary link --}}
    {{#if this.image}}
        {{#resolve this.image}}
            <div class="height--19 overflow--hidden">
                <img class="{{#if_eq width "third"}}width-sm--27 width-md--27 width-lg--27{{else}}width-sm--27 width-md--27{{/if_eq}}"
                     src="/resource?uri={{uri}}.{{files.0.fileType}}" alt="{{altText}}">
            </div>
        {{/resolve}}
    {{/if}}
    <h3 {{#if this.image}}class="margin-top-md--3"{{/if}}><a
            href="{{this.uri}}">{{this.title}}</a></h3>
    <p class="margin-top--0">{{this.text}}</p>
{{else}}
    {{!-- Link to timeseries --}}
    {{#resolve this.uri filter="description"}}
        <dl class="box__content box__content--homepage padding-top-md--21">
            <dt class="tiles__title-dt margin-left-sm--1 margin-left-md--1">
                <a href="{{uri}}">{{description.title}}</a>
            </dt>
            <!-- TODO change to dd's -->
            <dd class="margin-left-sm--1 margin-left-md--1">
                <span class="tiles__preunit--home">{{description.preUnit}}</span>
                <span class="tiles__figure--home stat__figure-enhance">{{description.number}}</span>
                <span class="tiles__unit--home">{{description.unit}}</span>
                                        <span class="tiles__date--home">
                                            {{description.date}}
                                        </span>
                <a class="js-enhance--hide" href="{{statistics.uri}}">More info</a>
                <div class="sparkline-holder">
                    {{> partials/highcharts/sparkline}}
                </div>
            </dd>
        </dl>
    {{/resolve}}
{{/if}}