{{!-- home figure --}}
{{#if_eq ratio "1:1"}}
    <article class="">

        <div class="">
            {{#resolve this.theme.uri filter="title"}}
            {{!-- <h2 class="tiles__title-h2"><a href="{{uri}}">{{title}}</a></h2> --}}
            {{!-- <h2 class="tiles__title-h2">{{title}}</h2> --}}
            {{/resolve}}

            {{#resolve this.statistics.uri filter="description"}}

                <dl class="box__content box__content--homepage padding-top-md--14 padding-right-md--1 padding-bottom-md--0 padding-left-md--0 height--23">
                    <dt class="tiles__title-dt margin-left-sm--1 margin-left-md--1">
                        <a href="{{uri}}">{{description.title}}</a>
                    </dt>
                    <!-- change to dd's -->
                    <dd class="margin-left-sm--1 margin-left-md--1">
                <span class="tiles__date--home">
                    {{description.date}}
                </span>
                        <a class="js-enhance--hide" href="{{statistics.uri}}">More info</a>
                        <div class="sparkline-holder width--14 height--16">
                            {{> partials/highcharts/sparkline}}
                        </div>
                    </dd>
                </dl>
            {{/resolve}}
        </div>

        {{!-- <footer class="nav-panel__footer-home-hero">
        {{#resolve sections.0.theme.uri filter="title"}}
            <a href="{{theme.uri}}">Explore {{title}}</a>
        {{/resolve}}
        </footer> --}}
    </article>
{{/if_eq}}

{{#if_eq ratio "1:2"}}
	<article class="">

        <div class="">
            {{#resolve this.theme.uri filter="title"}}
            {{!-- <h2 class="tiles__title-h2"><a href="{{uri}}">{{title}}</a></h2> --}}
            {{!-- <h2 class="tiles__title-h2">{{title}}</h2> --}}
            {{/resolve}}

            {{#resolve this.statistics.uri filter="description"}}

            <dl class="box__content box__content--homepage  padding-top-sm--24 padding-top-md--24 padding-right-md--1 padding-bottom-md--0 padding-left-md--0 height--46">
                <dt class="tiles__title-dt margin-left-sm--1 margin-left-md--1">
                <a href="{{uri}}">{{description.title}}</a>
                </dt>
                <!-- change to dd's -->
                <dd class="margin-left-sm--1 margin-left-md--1">
                    <span class="tiles__preunit--home">{{description.preUnit}}</span>
                    <span class="tiles__figure--home stat__figure-enhance">{{description.number}}</span>
                    <span class="tiles__unit--home">{{description.unit}}</span>
                </span>
                <span class="tiles__date--home">
                    {{description.date}}
                </span>
                <a class="js-enhance--hide" href="{{statistics.uri}}">More info</a>
                <div class="sparkline-holder">
                {{> partials/highcharts/sparkline}}
                </div>
                </dd>
            </dl>
            {{/resolve}}
        </div>

        {{!-- <footer class="nav-panel__footer-home-hero">
        {{#resolve sections.0.theme.uri filter="title"}}
            <a href="{{theme.uri}}">Explore {{title}}</a>
        {{/resolve}}
        </footer> --}}
    </article>
{{/if_eq}}

{{#if_eq ratio "2:1"}}
    <article class="">

        <div class="">
            {{#resolve this.theme.uri filter="title"}}
            {{!-- <h2 class="tiles__title-h2"><a href="{{uri}}">{{title}}</a></h2> --}}
            {{!-- <h2 class="tiles__title-h2">{{title}}</h2> --}}
            {{/resolve}}

            {{#resolve this.statistics.uri filter="description"}}

                <dl class="box__content box__content--homepage padding-right-md--1 padding-bottom-md--0 padding-left-md--14 height--23">
                    <dt class="tiles__title-dt margin-left-sm--1 margin-left-md--1">
                        <a href="{{uri}}">{{description.title}}</a>
                    </dt>
                    <!-- change to dd's -->
                    <dd class="margin-left-sm--1 margin-left-md--1">
                        <span class="tiles__preunit--home">{{description.preUnit}}</span>
                        <span class="tiles__figure--home stat__figure-enhance">{{description.number}}</span>
                        <span class="tiles__unit--home">{{description.unit}}</span>
                        </span>
                <span class="tiles__date--home">
                    {{description.date}}
                </span>
                        <a class="js-enhance--hide" href="{{statistics.uri}}">More info</a>
                        <div class="sparkline-holder width--14">
                            {{> partials/highcharts/sparkline}}
                        </div>
                    </dd>
                </dl>
            {{/resolve}}
        </div>

        {{!-- <footer class="nav-panel__footer-home-hero">
        {{#resolve sections.0.theme.uri filter="title"}}
            <a href="{{theme.uri}}">Explore {{title}}</a>
        {{/resolve}}
        </footer> --}}
    </article>
{{/if_eq}}
