{{#partial "block-content"}}
    <div class="wrapper">
        <div class="col-wrap border-bottom--iron-md">
            {{!--Table of Contents --}}
            {{> content/partials/toc}}
            {{!-- Print & PDF --}}
            {{#unless hidePrint}}
            	{{> partials/print-options}}
            {{/unless}}
        </div>

		{{!-- Show extra cta to related data on mobile --}}
		<div class="hide--md margin-top-sm--1">{{> partials/related/new-data relatedUri=(concat uri "/relateddata") relatedTitle="self" }}</div>

        {{!-- Content --}}
        <article class="col col--md-36 col--lg-39 page-content__main-content js-sticky-toc__trigger">
            {{#each sections}}
                <section id="{{slugify title}}" class="section__content--markdown">
                    <header>
                        <h2><span class="section__content-number">{{@index_1}}.</span> {{title}}</h2>
                    </header>
                    {{md markdown}}
                    <a class="print--hide jsEnhanceAnimateScroll" href="#toc">{{labels.back-to-toc}}</a>
                </section>
            {{/each}}
            <!-- Accordion -->
            {{#if_any accordion relatedMethodology}}
                <div class="margin-top--4 margin-bottom--4">
                    {{#each accordion}}
                        <section id="{{slugify title}}" class="js-show-hide section__content--markdown border-top--iron-sm border-top--iron-md{{#if @last}}{{#unless relatedMethodology}} border-bottom--iron-sm border-bottom--iron-md{{/unless}}{{/if}}">
                            <div class="show-hide show-hide--light">
                                <div class="js-show-hide__title">
                                    <h2 class="show-hide__title flush">
                                        <span class="section__content-number">{{nf (add sections.size @index_1)}}.</span>{{title}}
                                    </h2>
                                </div>
                                <div class="js-show-hide__content margin-bottom--4">
                                    {{md markdown}}
                                    <a class="print--hide jsEnhanceAnimateScroll" href="#toc">{{labels.back-to-toc}}</a>
                                </div>
                            </div>
                        </section>
                    {{/each}}
                    {{#if relatedMethodology}}
                        <section id="methodology" class="js-show-hide section__content--markdown border-top--iron-sm border-top--iron-md border-bottom--iron-sm border-bottom--iron-md">
                            <div class="show-hide show-hide--light">
                                <div class="js-show-hide__title">
                                    <h2 class="show-hide__title flush">
                                        {{!-- Make section number by adding accordion and section size if accordions exist --}}
                                        {{#if accordion}}
                                            <span class="section__content-number">{{nf (increment (add sections.size accordion.size))}}
                                                .</span>
                                        {{else}}
                                        {{!-- If no accordions then add index to number of sections --}}
                                            <span class="section__content-number">{{nf (increment sections.size)}}
                                                .</span>{{title}}
                                        {{/if}}
                                        Methodology
                                    </h2>
                                </div>
                                <div class="js-show-hide__content margin-bottom--3">
                                    <ul class="list--neutral">
                                        {{#each relatedMethodology}}
                                            {{#resolve this.uri filter="description"}}
                                                <li><a href="{{absolute uri}}">{{description.title}}</a></li>
                                            {{/resolve}}
                                        {{/each}}
                                        {{#each relatedMethodologyArticle}}
                                            {{#resolve this.uri filter="description"}}
                                                <li><a href="{{absolute uri}}">{{description.title}}</a></li>
                                            {{/resolve}}
                                        {{/each}}
                                    </ul>
                                    <a class="print--hide jsEnhanceAnimateScroll" href="#toc">{{labels.back-to-toc}}</a>
                                </div>
                            </div>
                        </section>
                    {{/if}}
                </div>
            {{/if_any}}
        </article>
        {{!-- Sidebar --}}
        <div class="col col--md-11 col--lg-20 margin-top-md--3">
            {{#block "publication-sidebar"}}
            {{/block}}
        </div>
    </div> {{!-- /wrapper --}}
{{/partial}}
{{!-- Inheriting from statistics template--}}
{{> content/base/statistics}}