{{!-- Contact --}}
<p class="col {{class}} meta__item">
    {{#if description.nationalStatistic}} <a
            href="https://www.statisticsauthority.gov.uk/national-statistician/types-of-official-statistics/"><img
            class="meta__image" src="/img/national-statistics.png"
            alt="National Statistics logo"/></a>{{/if}}
	<span>{{labels.contact}}: </span><br/><a href="mailto:{{description.contact.email}}" data-ga-event data-ga-event-category="mailto" data-ga-event-label="{{description.contact.email}}">{{#if description.contact.name}}{{description.contact.name}}{{else}}{{description.contact.email}}{{/if}}</a>
</p>